.to-right {
    float: right;
}
.to-left {
    float: left;
}
.inline-block-top {
    display: inline-block;
    vertical-align: top;
}
.in-10 {
    width: 100%;
    padding: 0 10px;
}
.in-20 {
    padding: 0 20px;
}

// Flex box layout
.flex-box {
    display: flex;
}
.flex-row-start-center {
    .flex-container(row, flex-start, center)
}
.flex-row-start-stretch {
    .flex-container(row, flex-start, stretch)
}
.flex-row-start {
    width: 100%;
    .flex-container(row, space-between, flex-start);
}
.flex-row-end {
    width: 100%;
    .flex-container(row, flex-end, center);
}
.flex-row-center {
    width: 100%;
    .flex-container(row, center, center);
}
.flex-row-stretch {
    width: 100%;
    .flex-container(row, space-between, stretch);
}

// Loop for creating flex layout
.flex(@n, @i: 1) when (@i =< @n) {
    .f-@{i} {
        flex-basis: (@i * 100% / @n);
    }
    .flex(@n, (@i + 1));
}
.width(@n, @i: 1) when (@i =< @n) {
    .w-@{i} {
        width: (@i * 100% / @n);
    }
    .width(@n, (@i + 1));
}

// Launch flex layout
.flex(100);

// Launch width layout
.width(100);

.no-indent {
    margin: 0 !important;
    padding: 0 !important;
}

.go-right {
    text-align: right;
}
.center {
    text-align: center;
}
.go-left {
    text-align: left;
}
