h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @montserratBlack;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1px;
    opacity: .78;
}

h1 {
    font-size: 24px;
    margin: 0 0 25px;

    @media (max-width: 1024px) {
        margin: 0 0 10px;
        font-size: 22px;
    }
}

h2 {
    font-size: 22px;
    margin: 26px 0 20px;

    @media (max-width: 1024px) {
        margin: 14px 0 6px;
        font-size: 20px;
    }
}

h3 {
    font-size: 20px;
    margin: 20px 0 14px;

    @media (max-width: 1024px) {
        margin: 12px 0 4px;
        font-size: 16px;
    }
}

h4 {
    font-size: 18px;
    margin: 10px 0 8px;

    @media (max-width: 1024px) {
        margin: 8px 0 2px;
        font-size: 14px;
    }
}

h5 {
    font-size: 16px;
    margin: 8px 0 2px;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
}

h6 {
    margin: 2px 0;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: none;

    @media (max-width: 1024px) {
        font-size: 9px;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {

    &.title {
        color: @white;
        &.white {
            color: @white;
        }
        &.black {
            color: #000000;
        }
        &.gray {
            color: @grayFont;
        }
        &.centered {
            text-align: center;
        }
        &.opacity {
            opacity: .8;
        }
        &.dark {
            color: @black;
        }
        &.blue {
            color: @blueFont;
        }

        &.size-30 {
            font-size: 30px;
            margin: 20px 0 10px;
        }
        &.right {
            text-align: right;
        }
    }
}

.title {
    &__small {
        font: 300 23px @latoMedium;
    }
}
