/* MIXINS
==================================*/

// Colors
@bg: #000d12;
@balticSea: #383b3f;
@bunker: #27292d;
@gray: #cccccc;
@white: #ffffff;
@black: #000000;
@dimGray: #6d6d6d;
@primaryColor: #333;
@siteBlueLight: #7bb5e7;
@blueBackground: #00aaeb;
@blueBorder: #a1d3e6;
@separator: lighten(#5b6d75, 5);
@brown: #241101;
@activeBlue: #143c64;
@lightBlue: #1482c8;
@lightSlateGray: #898f96;
@mariner: #3c5ca5;



// Fonts
@regular: 'Open Sans', sans-serif;
@kelson: 'Kelson Sans Regular', @regular;
@roboto: 'Roboto', @regular;
@arial: Arial, sans-serif;


/*** NFL variables ***/
@orange: #ff921e;
@redDark: #bd3234;
@greenDark: #229a54;
@backgroundColorInactive: #17232c;
@grayDark: #626b72;
@grayLight: #a1a7ac;
@red: #bd2f2f;
@green: #2cd071;
@blue: #4d68a7;
@highLighted: #0c527d;
@whisper: #ebebeb;

//Transition
@transition: all .3s ease-in-out;



// backgrounds for table rows and player items
@baseRowBackground: @white;
@grayRowBackground: @white;
@baseRowBackgroundHover: #344e89;
@baseRowBackgroundInactive: #2d303b;
@baseRowBackgroundSelected: #33405b;

@tableHeadBackground: #e1e1e1;

// font colors
@grayFont: #808080;
@blueFont: #4d68a7;

// font families
@latoBlack: 'latoblack', @regular;
@latoRegular: 'latoregular', @regular;
@latoHeavy: 'latoheavy', @regular;
@latoMedium: 'latomedium', @regular;
@montserratBlack: 'montserratblack', @regular;

/*** NFL variables END ***/




// Platform stylistic
@capitalBasic: #24353d;
@bodyMedium: #092b34;
@highLighted: #0c527d;
@brand-danger: #d9534f;



// Forms
@form-bgc: @white;
@form-bdc: #cccccc;
@form-focus: #ee5f5b;

// Media queries breakpoints
// --------------------------------------------------
// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet:              @screen-sm;

// Medium screen / desktop
@screen-md:                  992px;
@screen-desktop:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-desktop:          @screen-lg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);


