.auth {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 50;
    background: url("/static/img/landing-background.png") -100px -211px no-repeat;

    &__in {
        position: relative;
        margin: 0 auto;
        .logo {
            margin: 0 50px 0 10px;
        }
    }
    &__logo {
        flex-basis: 13%;

        .logo {

            &__el {
                top: 18px;
                max-width: 100%;
            }
        }
    }

//    Adaptive
    @media (max-width: 1500px) {
        background-position: -280px -211px;
    }
    @media (max-width: 1026px) {
        background-position: -450px -211px;

        &__in {
            .logo {
                margin: 0 20px 0 10px;
            }
        }

    }
    @media (max-width: 770px) {
        &__in {
            .logo {
                width: 23%;
            }
        }
    }
    @media (max-height: 820px) {
        background-position: -100px -369px;
    }
    @media (max-width: 1026px) and (max-height: 820px) {
        background-position: -340px -370px;
    }
}
