.badge {
    font: 300 13px/1 @kelson;
    margin: 0 3px;
    padding: 2px 6px 1px;
    text-transform: uppercase;
    color: @white;

    &.light-violet {
        background-color: #b71cff;
    }
    &.dark-violet {
        background-color: #641cdd;
    }
    &.green {
        background-color: #0aa641;
    }
    &.red {
        background-color: #b02d04;
    }
    &.orange {
        background-color: @orange;
    }

    &--yellow {
        color: yellow;
    }

    &--orange {
        color: orange;
    }

    &--red {
        color: red;
    }

    &.green-diff {
        background-color: @white;
        border: 3px #0aa641 solid;
        color: #0aa641;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
    }
    &.red-diff {
        background-color: @white;
        border: 3px #ff3c00 solid;
        color: #ff3c00;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
    }
    &.orange-diff {
        background-color: @white;
        border: 3px @orange solid;
        color: @orange;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
    }

    &.light-violet-type {
        background-color: @white;
        border: 3px #b71cff solid;
        color: #b71cff;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
    }
    &.dark-violet-type {
        background-color: @white;
        border: 3px #641cdd solid;
        color: #641cdd;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
    }
}

.menu-badge {
    display: inline-block;
    margin: 0 5px;
    padding: 3px 5px;
    background-color: #cccccc;
    font: 400 14px/1 @regular;
    border-radius: 10px;
    color: #444;
}

.place-badge {
    display: inline-block;
    width: 32px;
    height: 30px;
    padding: 0 2px;
    font: 700 14px/30px @regular;
    border-radius: 3px;
    box-shadow: 1px 1px 1px @blue;
    text-align: center;
    color: @blue;
    z-index: 100;

    &.green {
        background-color: #0ad35f;
    }
    &.yellow {
        background-color: #ffb820;
    }

    // Adaptive
    @media (min-width: 760px) and (max-width: 1024px) {
        width: 23px;
        height: 22px;
        padding: 0 1px;
        font-size: 80%;
        line-height: 1.6;
    }
}

.status-badge {
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    background-color: transparent;
    font: 400 12px/1 @regular;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: @white;
    z-index: 2;

    &.red {
        background-color: #bf1a17;
    }
    &.orange {
        background-color: #ff840c;
        color: #000000;
    }
    &.white {
        background-color: @white;
        color: #444;
        text-shadow: none;
    }
    &.big {
        font-size: 20px;
    }
    &.x-big {
        width: 168px;
        height: 44px;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.1;
        text-align: center;
        border-radius: 0;
    }
//    Adaptive
    @media (max-width: 1024px) {
        padding: 4px 5px;
        &.big {
            font-size: 18px;
        }
    }
}

.profile-badge {
    position: relative;
    top: -1px;
    margin: 0 0 4px;
    line-height: 1;

    &__text {
        display: inline-block;
        padding: 3px 6px;
        background-color: #36524f;
        font: 400 11px/1 @regular;
        text-transform: uppercase;
        border-radius: 3px;
        color: @white;
    }
}

.round-badge {
    position: relative;
    right: -5px;
    padding: 6px 5px 6px 10px;
    background-color: #052840;
    font: 400 12px/1 @regular;
    border-radius: 5px;
    text-transform: uppercase;
    color: @white;
    z-index: 1;

    b {
        position: relative;
        top: 2px;
        margin: 0 10px 0 1px;
        font-weight: 600;
        font-size: 18px;
    }

    //    Adaptive
    @media (max-width: 1024px) {
        padding: 2px 5px 2px 10px;
    }
}
.game-color-badges {
    .flex-container(row, flex-start, center);
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
    font: 500 12px/1 @regular;
    text-transform: uppercase;
    color: #060d10;

    span {
        margin: 0 10px 8px 0;
        padding: 5px 8px;
        border-radius: 3px;
    }
}

.albatross {
    background-color: #f13901;
}

.eagle {
    background-color: #f6f832;
}

.birdie {
    background-color: #57f832;
}

.par {
    background-color: #32f6f8;
}

.bogey {
    background-color: #e28ee5;
}

.two-bogey {
    background-color: #f832ff;
}

.handicap {
    background-color: #f39500;
}
