.choose-stake {

    &__btn {
        margin: 10px 0;
    }
    &__stakerooms {

    }
    &__rooms-switcher {
        padding: 10px 0;
        text-align: right;

        span {
            color: @white;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
