.competitions {
    width: 100%;
    margin: 2px 0 25px;
    color: @white;
    font: 400 16px/1.4 @regular;

    &__title {

        a {
            font: 400 14px/1.2 @regular;
            text-transform: none;
            color: @white;

            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }

    &__no-rooms {
        font-size: 15px;
        color: #000000;
        text-transform: none;
        text-align: center;
        padding: 10px 30px 8px;
        background-color: #42606c;
        border-radius: 3px;
    }

    // Adaptive
    @media (max-width: 1026px) {
        font-size: 12px;

//        .icon {
//
//            &-tokens,
//            &-dollars {
//                background-size: 70%;
//            }
//        }
    }
}

// Required for sticky header
.competitions {
    &__head { z-index: 2; }
    &__list { z-index: 1; }
}

.competition {
    padding: 6px 0;
    &__action {
        .flex-container(row, space-around, center);
        width: 100%;
        margin: 10px 0 5px;
    }

    // Adaptive
    @media (max-width: 770px) {

        section:first-child {
            padding-left: 10px;
        }
    }
}


.competition-place {
    .flex-container(row, flex-start ,flex-end);
    margin: 0 0 5px;
    text-shadow: 1px 1px 1px @blue;
    color: @white;
    font: 600 17px/1 @regular;
    line-height: 1;

    &.yellow {
        color: #ffc21d;
    }

    &__data {
        .flex-container(row, center, flex-end);
    }
    &__number {
        font-size: 19px;
        font-weight: 900;
    }
    &__icon {

    }
    &__text {
        text-align: center;
        margin-left: 5px;
    }

    // Adaptive
    @media (max-width: 1150px) {
        font-size: 15px;

        &__number {
            font-size: 17px;
        }
    }
    @media (max-width: 800px) {
        font-size: 14px;

        &__number {
            font-size: 16px;
        }
    }
}
