.countdown {
    margin: 2px 0;
    font: 600 36px/1 @regular;
    text-shadow: 1px 1px 2px @blue;
    color: @white;

    &__text {
        margin-right: 5px;
        font-size: 18px;
    }
    &__dots {
        position: relative;
        margin: 0 3px;
        top: -2px;
    }
    &__els {
        display: block;
    }
    &__el {
        line-height: 1;

        small {
            margin: 0 5px;
            font-size: 20px;
            line-height: 1;
        }
        &:first-child {
            margin-right: 5px;

            small {
                margin-left: 0 !important;
                vertical-align: baseline;
            }
        }
    }

    &.column {
        flex-direction: column;
    }
    &.regular {
        font-size: 18px;

        small {
            margin-right: 3px;
            margin-left: 3px;
            font-size: 15px;
        }
    }
    &.bold {
        font-weight: 600;
    }
    &.small {

        .countdown {

            &__els {
                line-height: 10px;
            }
            &__el {
                font-size: 25px;

                small {
                    font-size: 25px;
                    line-height: 0;
                }
            }
        }
    }
    &.smaller {
        margin: 0 0 0 5px;
        .countdown {
            &__els {
                line-height: 0;

            }
            &__el {
                font-size: 20px;
                &:first-child {
                    small {
                        font-size: 20px;
                    }
                }
                small {
                    font-size: 20px;
                }
            }
        }
    }
    &.orange {
        color: #ffb820;
    }
    &.big {
        font-size: 25px;
        color: #ffb820;
    }


    // Adaptive
    @media (max-width: 1026px) {

        &.small {
            .countdown {
                &__el {
                    font-size: 18px;

                    small {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    @media (max-width: 770px) {
        font-size: 13px;

        &__text {
            font-size: 14px;
        }
        &.small {
            font-size: 12px;
        }
    }
}