.faq {
    margin-top: 80px;
}

.faq-content {
    &__column {
        vertical-align: top;
        display: inline-block;
        width: 50%;
    }
}

.faq-item {

    &__question {
        color: #0000EE;
        background: fade(white, 50%);
        padding: 5px;
        padding-left: 10px;
        margin: 5px;
        margin-left: 10px;
    }

    &__answer {
        background: fade(white, 25%);
        padding: 5px;
        padding-left: 10px;
        margin: 5px;
        margin-left: 10px;
    }

    &__link {
        text-decoration: none;
    }

    &__icon {
        height: 1em;
        fill: red;
        vertical-align: middle;

        &--down {
            -webkit-transform:   rotate(90deg);
            -moz-transform:      rotate(90deg);
            -ms-transform:       rotate(90deg);
            -o-transform:        rotate(90deg);
        }
    }
}

.faq-section {
    &__title {
        color: white;
        margin: 10px;
    }
}