.filters-nav {
    margin: 0 0 3px;
    color: @white;

    &__top,
    &__bottom {
        height: 50px;
        .flex-container(row, space-between, stretch);
        box-sizing: border-box;
        margin: 3px 0;
        background-color: #0b1c2e;
    }
    &__top {
        .flex-container(row, space-between, center);
        padding: 10px 10px 10px 50px;

        .filters-nav__el {
            margin: 0 auto;
        }
    }
    &__el {
        .flex-container(row, space-between, stretch);
        font: 600 11px/1.3 @regular;
        text-transform: uppercase;
        flex-grow: 1;
        &.centered {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &.left {
            text-align: left;
        }
    }

    &.items-centered {

        .filters-nav__el {
            margin: auto;
        }
    }

    // Adaptive
    @media (max-width: 1026px) {

        &__el {
            font-size: 10px;
        }
    }
}

.filter {
    .flex-container(row, space-between, center);
    border: 1px solid @white;
    position: relative;
    padding: 5px 10px;
    color: @white;

    .navbar-search {
        width: 65%;
    }
}


