.flash {
    position: fixed;
    top: 40%;
    width: 60%;
    left: 20%;
    z-index: @zindex-modal-background;
    transition: 2s ease-in-out;
}

.flash-message {
    position: relative;
    padding: 10px 50px 11px 20px;
    color: #000;
    font: 400 125%/1.4 @kelson;
    border: 1px solid #fff;
    transition: 1s ease-in-out;
    z-index: 777;

    .btn_close {
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -15px;
        background-color: @white;

        .icon {
            color: #ffdc33;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @white;
        }
    }
}

.flash-notification {
    background: #ffdc33;
}

.flash-error {
    background-color: @brand-danger;
    color: #fff;
}
