.game-settings {
    .flex-container(row, space-between, stretch);
    width: 100%;

    &__l {
        .flex-container(column, center, center);
        margin: 5px 0;
        text-align: center;
        &.wide {
            width: 45%;
        }
    }
    &__badge {
        margin: 3px 0 9px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px @blue;

        .status-badge {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .round-badge {
            margin-left: -5px;
        }
    }
    &__date {
        margin: 0 10px;
        font: 400 12px/1 @regular;
        color: @white;

        span {
            display: block;
            min-height: 16px;
        }
    }
    &__r {
        .flex-container(column, center, flex-start);
        &.wide {
            width: 48%;
        }
    }
    &.row {
        .flex-container(row, space-around, stretch);
    }


    // Adaptive
    @media (max-width: 770px) {

        &__date {
            font-size: 11px;

            span {
                display: block;
                min-height: 12px;
            }
        }
        &__counter {
            min-width: 100px;
        }
    }
}