.arrow-game {
    height: 70px;
    width: 45px;
    position: absolute;
    cursor: pointer;
    background: linear-gradient(to bottom, #4b8fa4, #004059);
    box-shadow: inset 0 -3px 0 #002c3d, 0 3px 10px -5px #000000;
    &:hover {
        background: linear-gradient(to bottom, #004059, #4b8fa4);
    }
    span {
        display: block;
        width: 29px;
        height: 28px;
        margin: 21px auto 0;
    }
}
.games {
    width: 900px;
    margin: 0 auto;
    .flex-container(column, center, stretch);

    &.vertical {
        padding: 140px 0 0;
        position: relative;
        height: 100%;
        .games {
            &__switcher-wrap {
                top: 35px;
                right: 0;
            }
        }
    }
    &.horizontal {
        padding: 140px 0 0;
        position: relative;
        height: 100%;

        .games {

            &__r {
                .flex-container(row, space-between, stretch);
            }
            &__bottom {
                margin-top: 65px;
            }
            &__in {
                position: relative;
                width: 100%;
            }
            &__left-arrow {
                .arrow-game;
                left: -108px;
                bottom: 135px;
                border-radius: 5px 0 0 5px;
                span {
                    background: url("/static/img/game-arrow-left.png") no-repeat center center;
                }
            }
            &__right-arrow {
                .arrow-game;
                right: -90px;
                bottom: 135px;
                border-radius: 0 5px 5px 0;
                span {
                    background: url("/static/img/game-arrow-right.png") no-repeat center center;
                }
            }
            &__switcher-wrap {
                top: 35px;
                right: 0;
            }
        }
    }

    &__top {
        .flex-container(row, center, stretch);
    }
    &__in {
        .flex-container(row, center, stretch);
    }
    &__l {
        flex-basis: 69%;
    }
    &__r {
        flex-basis: 29%;

    }
    &__switcher-wrap {
        position: absolute;
        padding: 4px;
        border-radius: 5px;
        background: rgba(28, 43, 54, .5);
    }
    &__orient-switcher {
        .flex-container(row, space-between, center);
        width: 100px;
        height: 32px;
        border: 1px solid #000000;
        border-radius: 5px;
        overflow: hidden;
    }
    &__filters {
        .flex-container(row, flex-end, flex-start);
    }

    // Adaptive
    @media (max-width: 1150px) {
        &.horizontal {
            .games {
                &__left-arrow,
                &__right-arrow{
                    display: none;
                }
                &__switcher-wrap{
                    right: 0;
                }
            }
        }
    }
    @media (max-width: 770px) {

        .games {

            &__r {
                margin-right: 45px;
            }
        }
    }
}


.game {
    position: relative;
    width: 100%;

    &__in {
        position: relative;
    }
    &__top {
        display: flex;
        align-items: stretch;
        position: relative;
        margin: 0 0 10px;
        padding: 50px 0 15px;
        background-color: rgba(0, 33, 45, 0.8);
        border-radius: 3px;

        &.row {
            flex-direction: row;
        }
    }
    &__l {
        position: relative;
        flex-basis: 40%;
        padding-right: 1.5%;
    }
    &__r {
        flex-basis: 56%;
        padding-left: 1.5%;
    }
    &__logo {
        width: 100%;
        text-align: center;
    }
    &__badges {
        display: inline-flex;
        position: relative;
        z-index: 3;
    }
    &__badge {
        margin: 1px 3px;
        .badge {
            margin: 0;
            border-radius: 0 3px 3px 0;
            padding: 0 6px 0;
        }
    }
    &__actions {
        padding: 0 18px;
    }
    &__announce {

    }
    &__desc {
        margin: 0 0 15px;
        font: 400 13px @regular;
        color: @white;
    }
    &__bottom {
        position: relative;
    }
    &__info-table {
        min-height: 105px;
    }
    &__diff {
        border-radius: 3px 0 0 3px;
        padding: 3px 6px 3px;
        box-sizing: border-box;
        &.green {
            background-color: #0aa641;
        }
        &.red {
            background-color: #ff3c00;
        }
        &.orange {
            background-color: @orange;
        }
    }
    &__type {
        border-radius: 3px 0 0 3px;
        padding: 3px 6px 3px;
        box-sizing: border-box;
        &.light-violet {
            background-color: #b71cff;
        }
        &.dark-violet {
            background-color: #641cdd;
        }
    }


    // Modifications
    &.vertical {
        width: 230px;
        margin: 0 18px;

        .game {

            &__top {
                flex-direction: column;
                justify-content: center;
                padding: 60px 0 0;
                background: linear-gradient(to bottom, #0a3f94, #1856af);
                box-shadow: 0 5px 20px -11px #000000;
            }
            &__logo {
                position: absolute;
                top: -105px;
                left: 0;
            }
            &__announce {
                text-align: center;
            }
            &__badges {
                flex-direction: column;
                align-items: center;
            }
            &__badge {
                margin: 3px 3px;
            }
            &__actions {
                margin: 5px 0 15px;

                .btn {
                    width: 100%;
                    margin: 15px 0 0;
                }
            }
            &__tour-info {
                padding: 13px 0 8px;
                background: #114792;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                box-shadow: inset 0 -4px 0 #0e356c, inset 0 5px 35px -20px #000000;
            }
        }
    }
    &.horizontal {

        .game {

            &__in {
                .flex-container(column, space-around, stretch);
                height: 325px;
                padding: 10px 20px 10px 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                z-index: 11;
                box-shadow: inset 0 -4px 0 #134283, 8px 0 10px -10px #003c7e;
                background: #124ca4 linear-gradient(to bottom, #0a3f95, #1b5bb5);

            }
            &__top,
            &__bottom {
                background-color: transparent;
                .flex-container(row, space-between, stretch);
            }
            &__top {
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                flex-direction: row;
                justify-content: space-between;
            }
            &__logo {
                position: absolute;
                top: -50px;
                left: -38px;
            }
            &__announce {
                margin: 0 0 0 30px;
                .flex-container(column, space-between, center);
            }
            &__mid {
                .flex-container(row, flex-end, center);
            }
            &__tour-info{
                align-self: center;
            }
            &__actions {
                text-align: right;
                padding: 0 0 0 10px;
                .flex-container(row, space-between, center);
                flex-basis: 59%;

                .btn {
                    width: 49%;
                }
            }
            &__badges {
                justify-content: flex-end;
            }
        }
    }

    // Adaptive
    @media (max-width: 1026px) {
        &.horizontal {

            .game {
                &__logo {
                    top: -40px;
                    left: 0;
                }
            }
        }
    }
    @media (max-width: 770px) {

        &.vertical {

            .game {

            }
        }
        &.horizontal {

            .game {

                &__in {
                    margin-left: 45px;
                }
                &__mid {
                    flex-direction: column;
                }
                &__actions {
                    text-align: center;
                }
                &__logo {
                    top: 5px;
                    left: 0;
                }
            }
        }
    }
}


.my-games {
    position: relative;

    &__tables {
        margin: 1px 0 0;
    }
    &__buttons {
        position: relative;
        width: 100%;
        .flex-container(row, center, center);
        background: linear-gradient(to bottom, #0197EB, #005997);
        box-shadow: -20px 0 90px -5px rgba(0,0,0,.6);

        .btn {
            margin: 0 10px;
        }
    }
    &__title {
        color: @white;
        font: 400 17px @kelson;
        text-align: center;
        margin: 35px 0 20px;
    }
    &__button-wrap {
        .flex-container(row, center, center);
        .btn {
            margin: 0 10px;
        }
    }
}
