.games-counter {
    margin: 0 0 30px;

    &__in {
        position: relative;
        min-height: 70px;
        padding: 10px 0;
    }
    &__l {
        width: 55%;
        padding-right: 5%;
    }
    &__r {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
    }
    &__row {
        position: relative;
        min-height: 29px;
        margin: 15px 0 10px;
        padding: 0 5px 0 75px;
        font-size: 130%;
        font-weight: 600;

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -18px;
            left: 0;
            width: 60px;
            height: 30px;
            font-size: 60%;
            line-height: 2.4;
        }

    }
    &__text {
        vertical-align: middle;
    }
    .btn {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -22px;
    }

    // Adaptive
    @media (min-width: 768px) and (max-width: 960px) {
        &__text {
            font-size: 70%;
        }

        .btn {
            font-size: 70%;
        }
    }

}