.hello-user-triangle {
    position: absolute;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgba(18, 34, 58, 0.8) transparent transparent transparent;
}


.hello-user {
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 50;


    &__top {
        height: 735px;
        .container();
        margin: 0 auto;
        position: relative;

        .title {
            font-size: 48px;
            margin: 0 0 14px;
            text-shadow: 0 4px 0  black;
        }
    }
    &__title {
        .flex-container(row, flex-start, center);
    }
    &__l {
        position: relative;
        background-color: rgba(18, 34, 58, 0.8);
        width: 50%;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;

        .title {
            margin-top: 47px;
        }

        &:before {
            left: -43px;
            border-width: 143px 0 0 43px;
            .hello-user-triangle;
        }

        &:after {
            .hello-user-triangle;
            right: -43px;
            border-width: 143px 43px 0 0;
        }
    }
    &__r {
        .flex-container(row, flex-end, flex-start);
        width: 85%;
        margin: 10px auto 0;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
    &__content {
        height: 145px;
        padding: 16px 0 10px;
        font: 300 16px @regular;
        color: @white;

        ul {
            list-style: disc;
            padding-left: 30px;
        }
        li {
            margin-bottom: 5px;
            line-height: 1.3;
        }
    }
    &__video {
        width: 100%;
        margin: 15px 0;
    }
    &__try-it {
        position: absolute;
        top: 0;
        left: 100px;
    }
    &__sign-up {
        margin: 0;
    }
    &__info-top {
        background: linear-gradient(to bottom, #0b252f, #021c26);
    }
    &__tab {
        background: linear-gradient(to bottom, #0b252f, #021c26);
    }
    &__tab-wrap {
        .flex-container(row, flex-start, stretch);
        margin: 0 auto;
        .container(850px);
    }
    &__info {
        .container(850px);
        margin: 0 auto;
        padding: 40px 40px;
        background-color: rgba(9,43,52,0.8);
        font: 300 17px/1.4 @regular;
        color: @white;

        p {
            margin-bottom: 20px;
        }
    }
    &__popup {
        position: absolute;
        top: -16px;
        left: -450px;
        text-align: center;
        animation: drive-from-left 2s linear;
        z-index: 999;

        .blue-popup {
            width: 420px;
        }
    }

    &__diamond {
        position: absolute;
        right: -60px;
        top: 40px;
        z-index: 10;
    }

    // Adaptive
    @media (max-height: 820px) {
        &__top {
            height: 575px;
        }
        &__content {
            height: 120px;
            font-size: 14px;
            li {
                margin-bottom: 4px;
            }
        }
        &__center {
            .flex-container(row, space-between, flex-start);
        }
        &__l {
            margin: 0 0 0 50px;
            width: 45%;

            &:before {
                border-width: 120px 0 0 28px;
                left: -28px;
            }

            &:after {
                border-width: 120px 28px 0 0;
                right: -28px;
            }
        }
        &__r {
            width: 49%;
            margin: 0 10px 0 0;
        }
    }
    @media (max-width: 1200px) {
        &__content {
            font-size: 13px;
            li {
                margin-bottom: 2px;
            }
        }
        &__top {
            .title {
                font-size: 32px;
            }
        }
        &__try-it {
            margin: 5px auto;
        }
    }
    @media (max-width: 1024px) and (max-height: 820px) {
        &__l {
            margin: 0;
            width: 58%;

            &:before,
            &:after {
                display: none;
            }
        }
        &__r {
            margin: 0 0 0 10px;
            width: 40%;
        }
        &__content {
            padding: 16px 10px 10px 0;
        }
        &__diamond {
            display: none;
        }
    }
}

.about {
    .flex-container(row, space-between, center);

    &__l {
        flex-basis: 70%;
    }
    &__r {
        flex-basis: 29%;
    }
}
