.hint-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.guide-header {
    width: 100%;
    height: 40px;
    background: #ffe426;
    .flex-container(row, center, center);

    &__close {
        position: absolute;
        top: 2px;
        right: 10px;
    }
}



.guide-hint {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    opacity: 1;

    &__inner {
        position: relative;
        padding: 10px;
        background: #F1E6DC;
        border-radius: 4px;
    }
    &__title {
        text-align: center;
        font: 600 20px @regular;
        color: #000000;
        text-transform: none;
    }
    &__content {
        padding: 5px 0;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        color: #000000;
        text-transform: none;
    }
    &__foot {
        .flex-container(row, center, center);
        margin: 10px 0 0 0;
    }
    &__pointer {
        position: absolute;
        &.top {
            top: -18px;
            left: 15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 20px 10px;
            border-color: transparent transparent #F1E6DC transparent;
        }
        &.bottom {
            bottom: -18px;
            left: 140px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 10px 0 10px;
            border-color: #F1E6DC transparent transparent transparent;
        }
        &.right {
            right: -18px;
            top: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 20px;
            border-color: transparent transparent transparent #F1E6DC;
        }
        &.left {
            left: -18px;
            top: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 20px 10px 0;
            border-color: transparent #F1E6DC transparent transparent;
        }
    }
}
