.leader-board {
    padding: 80px 0 0;

    &__head {
        position: relative;
        height: 60px;
        width: 100%;
        background: linear-gradient(to bottom,#0b252f,#021c26);
        border-top: 1px dashed #667a83;
        border-bottom: 1px dashed #667a83;
        margin-bottom: 20px;
    }
    &__title {
        max-width: 1200px;
        height: 60px;
        margin: 0 auto;
        padding: 0;
        .flex-container(row, space-between, center);
    }
    &__tour {
        .flex-container(row, space-between, center);
        max-width: 1200px;
        width: 100%;
        margin: 1px auto 0;
        padding: 10px 30px;
        background: #142c41;
        border-top: 1px dashed @separator;
        border-bottom: 1px dashed @separator;

        &_no-indent {
            margin: 0;
            padding: 0;
        }
    }
    &__no-players {
        padding: 0 35px;
    }
    &__golfers {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__bottom {
        height: 70px;
        padding: 5px;
        background-color: #0b1c2e;
        .flex-container(row, center, center);
    }

    &.mini {
        padding-top: 0;
    }

    // Adaptive
    @media (max-width: 1026px) {
        &__tour {
            padding: 10px 5px;
        }
    }
    @media (max-width: 770px) {

    }
}