.logo {
    position: relative;
    display: inline-block;
    transition: all 0.6s ease;
    cursor: pointer;
    z-index: 100;

    &__el {
        position: relative;
        z-index: 5;
        max-width: 300px;
    }
    &.hole-by-hole-promo,
    &.handicap-the-pros-promo,
    &.five-ball-promo,


    &.hole-by-hole-promo {
        top: 25px;
    }
    &.handicap-the-pros-promo {

    }
    &.five-ball-promo {
        top: 15px;
    }
    &_small {
        width: 200px;

        .logo__el {
            max-width: 100%;
        }
    }
    &.disabled {
        cursor: default;
    }

    // Adaptive
    @media (max-width: 1026px) {

        &__el {
            max-width: 100%;
        }
    }
}

.logo-title {
  .flex-container(row, flex-start, center);

  .logo {
    top: 10px;
    margin-right: 20px;
  }
}

