.non-auth-game {

    &__head {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
    &__hint {
        margin: 5px 0;
        padding: 15px 20px;
        border: 1px solid @white;
        border-radius: 3px;
        font: 400 100% @regular;
        color: @white;
    }
    &__table {
        position: relative;
        margin: 5px 0;

        .actionbar {
            position: absolute;
            top: 20%;
            border-top: none;
        }
        .table {
            margin-bottom: 0 !important;
        }
    }
    &__golfer {
        .game-table {
            border: 1px solid #2d474b;

            .f-51 {
                flex-basis: 100%;
            }
        }
    }
    &__error {
        font: 400 26px/58px @kelson;
        text-align: center;
        color: @white;
        margin: auto;
    }
    &__bottom {
        display: flex;
        height: 60px;
        margin: 10px 0;
        text-align: center;
        
        .btn {
            margin: auto;
        }
    }
}