.notifications-box {
    position: relative;
    cursor: default;
}

.notifications {
    position: absolute;
    top: 40px;
    left: -144px;
    margin-left: -190px;
    width: 380px;
    padding: 10px 10px 10px;
    background: #16232c;
    cursor: default;
    z-index: 100;

    &__list {
        margin: 0;
        padding: 5px 0;
        max-height: 460px;
        font-family: @arial;
        text-align: left;
        color: @white;
        list-style: none;
        overflow-y: scroll;
    }
    &__top {
        color: #ffa91b;
        text-transform: uppercase;
        text-align: right;
        font-size: 17px;
        font-family: @kelson;
        margin-right: 30px;
    }
    &__actions {
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 100%;
        text-align: center;

        .btn {
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 110%;
            background: inherit;
            text-transform: none;
            border: 1px solid rgba(255, 255, 255, .7);
            color: #808080;

            &:hover,
            &:active {
                background: inherit;
            }
        }
    }
    &__el {
        margin: 20px 0;
        padding: 10px 15px 5px;
        background-color: #1d2e3b;

        &:first-child {
            margin-top: 10px;
            border-top: none;
        }
        .icon-tokens,
        .icon-dollars {
            width: 13px;
            height: 13px;
            margin-right: 3px;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;
        color: #ffa91b;
        text-transform: inherit;
    }
    &__text {
        margin-bottom: 5px;
        font: 400 14px/1.4 @regular;
        line-height: 1.3;
        color: @white;

    }
    &__created {
        font-style: italic;
        color: #3c5f7a;
        font-size: 11px;
    }
    &__close {
        position: relative;
        top: 5px;
    }
    .money {
        margin-left: 2px;
    }
    .tokens,
    .dollars {
        margin-right: 0;
    }
}

.notification-popup {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    opacity: 1;

    &__inner {
        position: relative;
        padding: 10px;
        background: #16232c;
    }
}

.notification-item {
    &--unread {
        background: cyan;
    }
}
