#pageslide-body-wrap {
    position: relative;
    width: 100%;
}

#pageslide-slide-wrap {

}

.pageslide-slide-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #1B3247;
    overflow-y: scroll;
    z-index: 1005;
    box-shadow: -5px 0 30px -10px #000000;
    color: @white;
}

.pageslide-slide-option {
    .flex-container(row, flex-start, center);
    width: 100%;
    height: 74px;
    padding: 0 0 30px;
}
.pageslide-slide-text {
    .flex-container(row, flex-start, center);
    flex-basis: 85%;
    background: #1c2b36;
    padding: 0 0 0 15px;
    align-self: stretch;
    border-bottom: 4px solid #17232c;
}

.pageslide-slide-header {
    .flex-container(column, space-around, center);
    padding: 0 25px 5px;
}
.pageslide-slide-top {
    .flex-container(row, flex-start, center);
    font: 600 18px/1 @regular;
    width: 100%;
    margin: 0 0 20px;

    img {
        margin-right: 15px;
        float: left;
    }

    .btn_close-aside-menu {
        margin: 0 5px 0;
        padding: 2px;
    }
}
.pageslide-slide-button {
    .flex-container(column, space-between, stretch);
    width: 100%;
    padding: 20px 0 25px;
    .btn {
        margin: 5px 0;
    }
}
.pageslide-slide-date {
    height: 95px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #3fa9f5;
    padding: 10px 10px 20px;
    text-align: center;
    color: #3fa9f5;
    margin: 20px 0 0;
    &__date {
        font-size: 10px;
        margin: 0 0 15px;
        &.to-start {
            font-size: 24px;
            opacity: 0.2;
            &.go {
                font-size: 10px;
                opacity: 1;
                transition: 0.5s;
            }
        }
    }
    &__time {
        font-size: 36px;
        margin: 0 0 0 30px;
    }
    &__time-small {
        font-size: 10px;
        padding: 0 5px;
    }
}
.pageslide-slide-current-time-img {
    .flex-container(row, space-between, center);
    width: 100%;
    height: 40px;
    background-color: #3fa9f5;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 0 0 20px;
    font: 300 12px @latoBlack;
    color: #123148;
    letter-spacing: 1px;
}

.pageslide-slide__restart-block {
    .flex-container(row, space-between, center);
    width: 100%;
    height: 40px;
    background-color: #3fa9f5;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 20px 0;
    font: 300 12px @latoBlack;
    color: #123148;
    letter-spacing: 1px;
    cursor: pointer;

    &.disabled {
        background-color: #cccccc;
        cursor: default;
        pointer-events: none;
    }
}

.pageslide-slide-current-switcher {
    .flex-container(row, space-between, center);
    width: 100%;
    margin: 20px 0;
    font: 300 14px @latoRegular;
    color: #ffffff;
}


.aside-menu {
    padding: 0 0 15px;

    .menu-button {
        .flex-container(row, flex-start, center);
        padding: 7px 0;
        font-size: 18px;
        text-align: left;

        &:hover {
            background-color: lighten(@highLighted, 10);
        }
    }
    .label {
        .flex-container(row, flex-start, center);
        padding: 7px 25px;
        font-size: 18px;
        text-align: left;
        color: yellow;
    }
    &__hfg-link {
        margin: 0 5px;
        .href(@white,@white, @white, @white);

        &:hover {
            text-decoration: none;
        }
    }
    .icon-outer {
        margin-right: 10px;
    }
    &__select-games {
        .flex-container(column, space-between, stretch);
        background-color: #0b2032;
        margin: 35px 0 35px;
        padding: 20px 25px;
        height: 205px;
    }
    &__fake-tour-btn {
        .flex-container(row, space-between, center);
        padding: 0 25px;
        margin: 20px 0;
    }
    &__dates {
        padding: 0 20px;
    }
}

.aside-nav {
    width: 100%;

    .menu-button {
        .flex-container(row, flex-start, center);
        padding: 7px 0 7px 15px;
        font-size: 18px;
        text-align: left;

        &:hover {
            background-color: lighten(@highLighted, 10);
        }
    }
}

.account-info {
    .flex-container(column, space-between, stretch);

    &__item {
        background-color: #0b2032;
        padding: 20px 20px 20px;
        border-bottom: 2px solid #152e45;
        .flex-container(row, flex-start, center);

        .stroke {
            margin: 0 0 0 5px;
        }
    }
}
