.prizes-stats {
    position: relative;
    font: normal 100% @regular;

    &__in {
        margin: 0 2.5%;
        padding: 10px 0;
    }
    &__row {
        position: relative;
        margin: 15px 0 0;
        padding: 0 0 0 60px;
        line-height: 1.2;

        .icon-gift,
        .icon-moneybag {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            left: 0;
        }
        &:first-child {
            margin-top: 5px;
        }
    }
    &__badges {
        margin: 0;
        color: #979797;

        b {
            color: #5d5d5d;
        }
    }
    &__token-icon {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        left: -5px;

        img {
            width: 30px;
            height: 30px;
        }
    }
    &__token-list {
        padding: 4px 0 0;
        font: 600 85% @regular;
    }
    &__correct-item {
        min-width: 150px;
        padding: 2px 1px 3px 11px;
        background: #1a292b;
        border-radius: 3px;
        text-transform: uppercase;
        line-height: 1.2;
    }
    &__par-counter {
        float: left;
        padding: 4px 0 0;
        color: @orange;
    }
    &__token-counter {
        float: right;
        margin: 1px 1px 0 8px;
        padding: 0 6px 1px;
        background: #060d10;
        color: @white;
        text-align: center;

        .icon {
            position: relative;
            font-size: 1.3em;
            top: 1px;
            color: @white;
        }
    }

    // Icons positioning
    .icon-moneybag {
        left: 5px;
    }

    // Adaptive
    @media (max-width: 760px) {
        font-size: 80%;
    }
}



