.profile {
    position: relative;
    .flex-container(row, flex-start, center);
    width: 100%;
    padding: 10px 5px 10px 10px;

    &__index {
        margin: 0 12px 0 6px;
    }
    &__avatar {
        min-width: 60px;
        text-align: center;
        margin-right: 10px;
    }
    &__person-info {
        margin: 0 5px;
        width: 80%;
    }
    &__my-badge {
        background: #06a0b5;
        border-radius: 2px;
        min-width: 35px;
        height: 14px;
        margin: -25px 0 3px;
        font: 400 12px/1 @regular;
        text-transform: uppercase;
        text-align: center;
        padding: 2px;
        color: @white;
    }
    &__handler {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 17px;
        background: transparent;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 31px;
            width: 19px;
            height: 29px;
            .radial-gradient(center, center, circle, contain,
            #ffffff, 2px, transparent, 3px);
            background-size: 100% 10px;
        }
        &.mygames {
            width: 22px;
            background: transparent;
        }
        &.close {
            background: url("/static/img/close-small.png") 3px 40px no-repeat;
            &:after {
                display: none;
            }
        }
    }

    .person-name {
        top: -12px;
    }

    &.multi {
        height: 91px;
        background: linear-gradient(to bottom, #0197eb, #005997);
        border-bottom: 1px solid #085d8e;
    }
    &.five-ball {
        min-width: 240px;
        .profile {
            &__person-info {
                width: 35%;
            }
        }
    }
    &.two-golfers {
        background: #1b3c5a;
        cursor: pointer;
        border-right: 2px solid #00070a;
        border-left: 1px solid #00070a;
        max-width: 230px;
    }
    &.active {
        border-top: 2px solid #ffdd0d;
        background: linear-gradient(to bottom, lighten(#ffb008, 10), darken(#f79306, 10));
        color: #241101;
    }
    &.handicap-the-pros {
        max-width: 230px;
    }

    // Adaptive
    @media (max-width: 770px) {

        &__handler {
            display: none;
        }
    }
}

.multi-profile {
    .flex-container(row, space-between, stretch);
    width: 100%;
    background: #1b3c5a;

    .profile {
        border-left: 1px solid #00070a;
        border-right: 2px solid #00070a;

        &.opened {
            flex-basis: 35%;
            max-width: 200px;
        }
        &.closed {
            flex-basis: 20%;
            justify-content: center;

            &.profile {
                position: relative;
            }
        }
        &:last-child {
            border-right: 2px solid #00070a;
        }
    }
    &.lefted {
        justify-content: flex-start;

        img {
            margin: 0 5px 0 0;
        }
    }
    &.five-ball {
        min-width: 650px;
    }

    // Adaptive
    @media (max-width: 770px) {

        .person-info {
            font-size: 12px;
        }
        .stroke {
            font-size: 10px;
        }
    }
}

.profile-index {
    font: 700 16px/1 @regular;
    color: @white;
}
