.rounds-switcher {
    &__btn-text {
        margin: 3px 2px 0;
    }

    &__buttons {
        .flex-container(row, center, center);
    }
}
.rounds-score-card {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    background: #0b1c2e;
    .flex-container (row, space-between, center);
}