.round-switch {
    .flex-container(column, space-between, center);
    margin: 1px 0;
    text-transform: uppercase;
    text-align: center;

    .header {
        padding: 0 30px;
    }
    &__els {
        width: 100%;
        .flex-container(row, space-between, center);
        flex-wrap: wrap;
    }

    &__el {
        position: relative;
        .flex-container(row, space-around, center);
        background: #1b3c5a;
        flex-basis: 49.8%;
        padding: 15px 20px;
        font: 600 25px @regular;
        color: @white;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background: #0c5a99;
        }

        &.active {
            color: yellow;

            .round-switch {

                &__text,
                &__round {
                    text-shadow: inherit;
                }
            }
        }

        &.inactive {
            cursor: default;
            opacity: 0.4;
            pointer-events: none;
        }

        .btn_select {
            margin: 0;
        }
    }
    &__content {
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
    }
    &__text {
        text-shadow: 1px 1px 2px #000;
    }
    &__round {
        margin: 0 15px;
        font-size: 50px;
        text-shadow: 1px 1px 2px #000;
    }
}
