.sorting-table {
    color: @white;
    height: 50px;
    .flex-container(row, space-between, stretch);
    box-sizing: border-box;
    background-color: #0b1c2e;

    &__el {
        .flex-container(row, space-between, stretch);
        font: 600 11px/1.3 @regular;
        text-transform: uppercase;
        flex-grow: 1;
        margin: 0 auto;

        &:hover {
            background-color: #1b2c3b;
        }

        .menu-button {
            width: 100%;
            .flex-container(row, flex-start, center);
        }
        .icon {
            background-size: 80%;
            margin-right: 6px;
        }
        &.centered {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &.left {
            justify-content: flex-start;
            align-items: center;
        }
    }
}
