.stakerooms {

    &__head {
        position: relative;
        padding: 55px 0;
        z-index: 100;

        .app__title-btn {
            .flex-container(row, flex-end, center);
        }
    }
    &__content {
        position: relative;
        max-width: 1200px;
        margin: auto;
        .flex-container(column, center, flex-start);

        &.row-reverse {
            flex-direction: row-reverse;
        }
    }
    &__row {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__region {
        width: 100%;

        .card-table {
            margin-top: 0;
        }
    }
    &__title {
        position: relative;
        .flex-container(row, space-between, center);
        padding-left: 130px;

        .title {
            flex-basis: 59%;
            margin-top: 0;
            margin-bottom: 0;
        }
        .btn-inline {
            flex-basis: 39%;
            margin-bottom: 0;
        }
        .play-with-friends {
            width: auto;
            margin: 0 10px 0 0;
        }
        .logo {
            position: absolute;
            top: -25px;
            left: 0;
            cursor: default;
        }
    }
    &__close {
        position: relative;
        right: -45px;
        top: -10px;

        .ui-close {
            padding: 5px 15px;
            background-color: #1a292b;

            .icon-close {

                &:before {
                    color: #1a292b;
                }
            }
        }
    }
    &__prizes {
        margin: 10px 0 0;
        border-top: 2px dotted @separator;
    }

    // Adaptive
    @media (max-width: 770px) {
        &__head {

            .app__title {
                padding-right: 10px;
            }
        }
    }
}

.stake-room {
    .flex-container(row, space-between, flex-start);
    font-family: @regular;
    padding: 35px 0 0;

    &__head {
        margin-bottom: 10px;
        line-height: 1;
        .flex-container(row, flex-start, center);
        .icon-gift {
            margin: 0 5px;
        }
    }
    &__tour-name {
        margin-right: 10px;
        font: 400 30px/1 @regular;
        color: @white;
        max-width: 540px;
    }
    &__round {
        min-width: 130px;
    }
    &__el {
        margin: 0 10px 5px 0;
        color: #1ca2fd;
    }
    &__tour-time {
        max-width: 450px;
        margin-bottom: 30px;
    }
    &__prizes {
        margin: 10px 0;
        line-height: 1;
    }
    &__prize-img {
        float: left;
        margin: 0 15px 15px 0;
        position: relative;
        top: 2px;
        line-height: 1px;

        .icon-gift {
            font-size: 3em;
        }
    }
    &__prize-desc {
        margin: 0 60px 0 15px;
        font-weight: 300;
        font-family: @regular;
        color: #fff;

        .data-item {
            margin-bottom: 8px;
        }
    }
    &__prize-icon {
        position: relative;
        top: -2px;
        margin: 0 5px 0 0;

        .icon {
            font-size: 1em;
        }
    }

    // Adaptive
    @media (max-width: 1100px) {
        &__tour-name {
            font-size: 40px;
        }
        &__round {
            .round-badge {
                padding: 6px 0 6px 0;
            }
            .status-badge {
                padding: 8px 4px;
            }
        }
    }
    @media (max-width: 770px) {
        padding-left: 10px;
        padding-right: 10px;

        &__tour-name {
            font-size: 35px;
        }
        &__tour-data {
            margin-top: 10px;
        }
    }
}


.pick-desc {
    &__top,
    &__bottom {
        font-size: 15px;
    }
    @media (max-width: 1100px) {

    }
}
.holein-desc {
    &__top,
    &__bottom {
        font-size: 15px;
    }
    @media (max-width: 1100px) {

    }
}
.five-desc {
    &__top,
    &__bottom {
        font-size: 15px;
    }
    @media (max-width: 1100px) {

    }
}
