.steps {
    width: 100%;

    &__list {
        position: relative;
        .flex-container(row, space-between, stretch);
        height: 70px;
        background: linear-gradient(to bottom, #0d5480, #06335e);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: lighten(#1275af, 5);
        }
    }
}

.step {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px 0 10px;
    border-top: 2px solid #1484c6;
    font: 600 16px/1 @regular;
    text-transform: uppercase;
    color: @white;
    text-shadow: 1px 0 1px #001522;
    cursor: pointer;

    &:hover {
        background: linear-gradient(to bottom, #0d5fa3, #003b7d );
        border-top-color:  #1495d6;
    }
    &__number {
        margin: 0 9px 0 0;
        font-size: 24px;
    }
    &__text {

    }
    &__help-btn {
        position: absolute;
        top: 26px;
        right: 9px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    &.active {
        background: linear-gradient(to bottom, #ff4749, #ff2324);
        border-top-color: #ff7071;
        box-shadow: 10px 0 80px 0 #111111;
        &:hover {
            background: linear-gradient(to bottom, #ff4749, #ff2324);
            border-top-color: #ff7071;
        }
    }
}
