.survey {
    padding: 0 0 10px;

    &__content {
        position: relative;
        margin: 10px 0;
    }
    &__actions {
        padding-bottom: 60px;
    }
    &__col-left {
        float: left;

        &_w_30 {
            width: 30%;
        }
    }
    &__col-right {
        float: right;

        &_w_70 {
            width: 70%;
        }
    }
    &__text {
        position: relative;
        top: -8px;
        padding: 0 0 0 6%;
        font: normal 100% Arial, serif;
        color: #5f5f5f;
        line-height: 1.3;
    }
    &__icon-area {
        text-align: center;
    }
    &__button-group {
        margin: 10px 0;

        .btn-inline {
            .flex-container(row, space-between, center);

            .btn {
                flex-basis: 49%;
            }
        }
    }
    &__submit-email {
        padding: 37px 0 0;
        border-top: 1px solid #ededed;
    }
    &__put-email {
        float: left;
        width: 78%;
    }
    &__submit {
        float: right;
        width: 20%;
    }
    &__skip {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 50px;
        padding: 10px;
        background-color: #c2c2c2;
        background-color: rgba(177, 177, 177, 0.6);
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
    }

    // Icons positions
    .icon {
        &-blue-list {
            position: absolute;
            top: 50%;
            margin-top: -37px;
            left: 50%;
            margin-left: -27px;
        }
    }

    // Adaptive
    @media (max-width: 480px) {

        &__put-email {
            width: 100%;
            float: none;
        }

        &__submit {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
}