.tab-panel {
    &__controls {
        .flex-container(row, space-between, stretch);
        text-align: center;
        line-height: 1.5;
    }

    &__tab {
        display: block;
        width: 100%;

        font-family: @roboto;
        font-size: 18px;
        font-weight: 400;
        color: @primaryColor;
        text-decoration: none;

        [role=label] {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }

        [role=underline] {
            display: block;
            width: 100%;
            height: 3px;
            background: transparent;
        }

        &--active {
            font-weight: 500;

            [role=underline] {
                background: @orange;
            }
        }

    }
}
