.filter-tabs {
    .flex-container(row, space-between, center);
    margin: 0;

    &__item {
        position: relative;
        flex-grow: 1;
        margin: 0 5px 0 0;
        padding: 18px 28px 18px 8px;
        font: 300 18px/1 @regular;
        text-align: center;
        text-transform: uppercase;
        background: transparent;
        border-bottom: 5px solid @capitalBasic;
        border-top: 1px solid transparent;
        color: @white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:active {
            background: linear-gradient(to top, #09323d, #012935);
        }

        &.active {
            border-top-color: lighten(#1a404a, 5);
            background: linear-gradient(to bottom, #09323d, #012935);
            border-bottom-color: @red;
            cursor: default;
        }
        &:last-child {
            margin-right: 0;
        }
        &.red {
            color: #ff3d3e;

            &.active {
                color: @white;
            }
        }
        .icon-info {
            position: absolute;
            top: 50%;
            margin-top: -34px;
            right: -10px;
            cursor: pointer;
        }

        &.waiting {
            border-bottom-color: lighten(@highLighted, 15);
            cursor: default;
            pointer-events: none;
            opacity: 0.7;
        }
        &.passed {
            border-bottom-color: lighten(@highLighted, 15);
        }
    }

    &.narrow {
        margin-top: 0;

        .filter-tabs {

            &__item {
                padding: 8px 20px 5px;
                border: none;
                border-radius: 5px 5px 0 0;
            }
        }
    }
    &.dark {

        .filter-tabs {

            &__item {
                background-color: #042f72;
                color: #2d6279;

                &:hover {
                    background: #17448d;
                    color: @white;
                }
                &.active {
                    color: @white;
                    background: #17448d;
                }
            }
        }
    }
    &.kelson {

        .filter-tabs {

            &__item {
                font-family: @kelson;
            }
        }
    }
    &.bottom-15 {
        margin-bottom: 15px;
    }
    &.top-0 {
        margin-top: 0;
    }
    &.light {

        .filter-tabs {

            &__item {
                background-color: lighten(@capitalBasic, 10);

                &:hover,
                &:active {
                    background-color: lighten(@capitalBasic, 20);
                }
                &.active {
                    background-color: lighten(@capitalBasic, 15);
                }
            }
        }
    }

    // Adaptive
    @media (max-width: 1026px) {

        .icon-info {
            top: -8px;
            right: -8px;
            margin-top: 0;
        }
    }
    @media (max-width: 770px) {

        &__item {
            font-size: 13px;
        }
    }
}

.round-tabs {
    .flex-container(row, flex-start, center);
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 15px;
    background: @white;
    font: 400 16px @regular;

    &__item {
        margin-right: 50px;
        padding: 8px 16px;
        color: @primaryColor;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:active {
            background-color: @orange;
            color: @white;
        }
        &.active {
            background-color: @siteBlueLight;
            color: @white;
            cursor: default;
            pointer-events: none;
        }
        .status-badge {
            margin: 0 5px;
        }
    }
    
    // Adaptive
    @media (max-width: 770px) {
        font-size: 14px;
    }
}