.team-results {
    position: relative;
    width: 100%;
    min-height: 175px;
    padding: 7px 0;
    margin-bottom: 17px;

    &__title {
        margin: 5px 0 10px;
        font: 400 120% @regular;
    }
    &__row {
        width: 100%;
        margin: 0 0 20px;
        padding: 0 0 20px;
        border-bottom: 2px dotted @separator;

        .title {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    &__box {
        .flex-container(row, space-between, center);
        padding: 20px 0 0;
    }
    &__tables {
        position: relative;
        background-color: #061d31;
        padding: 0 5px;

        .pred-readme {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    &__tour-info {
        .flex-container(row, space-between, center);
    }
    .data-item {
        font-size: 100%;
    }
    &:last-child {
        margin-bottom: 5px;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    // Adaptive
    @media (max-width: 770px) {

        &__box {
            padding: 10px 0 0;
        }
    }
}

.team-result {
    padding: 10px 0 5px;

    &__title {
        margin: 10px 0;
        padding: 0 10px;
        font: 400 120% @regular;
    }
}

