.tour-switch {

    .header {
        padding: 0 30px;
    }
    &__els {
        width: 100%;
        .flex-container(row, space-between, center);
        flex-wrap: wrap;
    }
    &__top {
        margin: 0 0 18px;
    }
    &__el {
        .flex-container(row, space-between, center);
        flex-basis: 49.8%;
        padding: 5px 20px 5px 10px;
        font: 600 18px/1 @regular;
        color: @white;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background: #0c5a99;
        }
    }
    &__btn {
        margin: 0 0 0 10px;
    }
    &__flag {
        min-width: 75px;
    }

//    Adaptive
    @media (max-width: 1024px) {
        &__el {
            padding: 5px 20px 5px 0;
        }
    }
}
