.promo-triangle {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
.tournament-promo {
    position: relative;
    margin: 14px 0 7px;
    color: @white;

    &.under-games {
        height: 120px;
        width: 84%;
        position: relative;
        margin: 20px auto 0;
        border-radius: 3px;
        background: linear-gradient(to bottom, #0a3f95, #1b5ab5);
        box-shadow: inset 0 -4px 0 #134283, 0 7px 20px -10px #000000;

        .tournament-promo {
            &__in {
                .flex-container(row, space-between, stretch);
                padding: 0;
                height: 100%;
                background: url("/static/img/promo-man-border.png")
                10px 23px no-repeat;
                background-size: auto;
            }
            &__name {
                font-size: 15px;
                color: #4bb5ff;
                text-shadow: 0 2px 0 #000868;
                position: absolute;
                top: 10px;
                left: 125px;
            }
            &__l {
                .flex-container(column, space-between, flex-start);
                margin: 35px 0 0 125px;
                max-width: 300px;
                .stroke {
                    text-shadow: 0 2px 0 #000868;
                }
            }
            &__r {
                .flex-container(row, flex-end, flex-end);
                padding: 0 22px 0 0;

                &.next-tour {
                    .flex-container(row, space-between, flex-end);
                }
            }
            &__time {
                .flex-container(column, center, center);
                position: absolute;
                top: 21px;
                right: 22px;
                height: 55px;
                width: 195px;
                border-radius: 3px;
                background: #4099ff;
                z-index: 10;
                text-shadow: 0 4px 0 rgba(0,0,0,0.4);
                font: bold 30px @kelson;

                &.live {
                    position: absolute;
                    top: 21px;
                    right: 22px;
                    height: 60px;
                    width: 190px;
                    z-index: 10;
                    background: url("/static/img/Live-big.gif") no-repeat center center;
                    box-shadow: none;
                    border: none;
                    border-radius: 0;
                }
            }
        }
    }
    &.right-oriented {
        .flex-container(row, flex-start, stretch);
        margin-top: 30px;
        margin-bottom: 0;
        padding: 15px 0 15px 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #094488 linear-gradient(to bottom, #013779, #125299);
        height: 326px;
        box-shadow: inset 0 -4px 0 #0d3565;

        .tournament-promo {

            &__in {
                .flex-container(row, flex-start, stretch);
                width: 255px;
                position: relative;
                background: transparent url('/static/img/promo-man.png')
                no-repeat 2px 150px;
                background-size: 34%;
                &.center {
                    .flex-container(column, center, stretch);
                }
            }
            &__content {
                .flex-container(column, flex-start, stretch);
                padding: 0 15px 10px 0;
                background: url('/static/img/tournament-promo-back.png')
                no-repeat 50px 90px;
                &.center {
                    .flex-container(column, center, stretch);
                }
            }
            &__l {
                .flex-container(column, space-between, flex-start);
                padding: 0 0 0 20px;
                min-height: 60px;
            }
            &__r {
                padding: 0 0 30px 90px;
                p.offset {
                    padding: 0 0 5px 0;
                }

            }
            &__name {
                .flex-container(column, center, flex-start);
                padding-left: 20px;
                height: 70px;
                width: 300px;
                background: #d7eaff;
                color: #003f86;
                position: absolute;
                z-index: 10;
                top: 40px;
                left: 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                &.offset {
                    top: 10px;
                }
            }
            &__time {
                .flex-container(column, center, center);
                position: absolute;
                padding-left: 20px;
                height: 70px;
                width: 275px;
                bottom: 13px;
                left: 0;
                background: #4099ff;
                z-index: 10;
                text-shadow: 0 3px 1px #0057cd;
                font: bold 40px @kelson;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;

                &.live-right {
                    background: url('/static/img/Live-big.gif')
                    center center no-repeat;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }

    &__in {
        width: 100%;
        background: transparent url('/static/img/promo-man.png') 0 0 no-repeat;
        background-size: 10%;
        font: 400 100% @regular;
        overflow: hidden;
        &.no-img {
            background: none;
        }
    }
    &__content {
        width: 100%;
        .flex-container(row, space-between, stretch);
        padding: 0 0 10px;
    }
    &__l,
    &__r {
        flex-grow: 1;
    }
    &__l {
        .flex-container(column, space-around, flex-start);
    }
    &__r {
        .flex-container(column, center, flex-end);
    }

//    Adaptive
    @media (max-width: 1200px) {
        &.right-oriented {
            .tournament-promo {
                &__name {
                    width: 90%;
                }
                &__time {
                    width: 85%;
                    font-size: 30px;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        &.right-oriented {
            &:after {
                display: none;
            }
        }
    }
    @media (max-width: 770px) {
        &.right-oriented {
            margin-top: 25px;
        }
    }

// Helpers
    .nowrap {
        white-space: nowrap;
    }
}
