.tutorial {
    position: relative;
    margin: 0 auto;
    z-index: 150;
    width: 100%;

    .title {
        text-shadow: 1px 1px 1px #1c4751;
    }
    .stroke {
        line-height: 1.2;
    }
    &__head {
        position: relative;
        margin: 0 auto 30px;
        width: 90%;
        color: @white;
        text-align: center;
    }
    &__story {

        .stroke {
            font-size: 16px;
        }
    }
    &__sections {
        .flex-container(row, space-around, stretch);
        max-width: 1200px;
        margin: auto;
        &.small {
            max-width: 1024px;
        }
    }
    &__section {
        .flex-container(column, space-between, center);
        flex-basis: auto;
        width: 250px;
        text-align: center;
        background: linear-gradient(to bottom, #012747, #134367);
        border-radius: 5px;
        box-shadow: inset 0 -5px 0 #0e304a, 0 5px 20px -10px #000000;
    }
    &__section-name {
        padding: 20px 7px 0;
        height: 40px;
        margin: 0 auto;

        .title {
            margin: auto;
        }
    }
    &__img {
        min-height: 300px;
        max-height: 330px;

        img {
            animation: appearance 2.5s linear;
            max-width: 340px;
            height: auto;
        }
    }
    &__text-box {
        height: 180px;
        margin: 15px 20px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width 2s ease-out;
        box-sizing: border-box;
        .stroke {
            font-size: 16px;
            margin: auto;
        }
    }
    &__flag {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent url('/static/img/tutorial-back-img.png')
        left top no-repeat;
        transition: all 0.3s ease-in-out;
        animation: fadeIn 3s linear;
        z-index: 100;
    }
    &__back {
        margin: 31px auto 0;
        width: 500px;
        .flex-container(row, space-around, center);
    }
    
    // Adaptive
    @media (max-height: 790px ) {
        &__img {
            img {
                max-width: 100%;
            }
        }
        &__section {
            width: 190px;
        }
        &__head {
            width: 100%;
            margin: 0 auto 20px;
        }
        &__section-name {
           .title {
                font-size: 15px;
            }
        }
        &__text-box {

            .stroke {
                font-size: 14px;
            }
        }
        &__img {
            min-height: 160px;
            .flex-container(column, center, center);
        }
        &__story {
            .stroke {
                font-size: 15px;
            }
        }
    }
    @media (max-width: 1282px) {
        &__flag {
            left: 0;
        }
    }
    @media (max-width: 1050px) {
        &__img {
            img {
                max-width: 100%;
            }
        }
        &__section {
            width: 190px;
        }
        &__head {
            width: 100%;
            margin: 0 auto 20px;
        }
        &__text-box {

            .stroke {
                font-size: 14px;
            }
        }
        &__img {
            min-height: 160px;
            .flex-container(column, center, center);
        }
        &__story {
            .stroke {
                font-size: 15px;
            }
        }

    }
    @media (max-width: 770px) {
        &__section {

        }
        &__img {
            
            img {
                max-width: 100%;
            }
        }
        &__section-name {
            height: 95px;
            padding-left: 5%;
            padding-right: 5%;

            .title {
                font-size: 24px;
            }
        }
        &__text-box {
            padding-left: 25px;
            padding-right: 25px;

            .stroke {
                font-size: 14px;
            }
        }
        &__flag {
            background-image: none;
        }
    }
}