.user-point {
  .flex-container(column, space-around, flex-start);
  width: 100%;
  color: @white;
  padding: 5px 0 5px 15px;
  &__number {
    font: 600 14px/1 @regular;
  }
  &__position {
    font: 900 15px @regular;
  }

  &__info {
    font: 600 14px/1 @regular;
    margin-bottom: 5px;
  }

  &__amount {
    font: 600 14px/1 @regular;
    margin-bottom: 5px;
  }
  &__num {
    font-size: 15px;
    font-weight: 900;
  }

//  Modification
  &.active {
    color: @brown;
  }

//  Adaptive
  @media (max-width: 1100px) {
    padding: 2px 0 1px 2px;

  }
  @media (max-width: 770px) {

  }
}

.user-pos {
  .flex-container(column, center ,center);
  width: 30%;
  min-width: 35px;
  &__square {
    background-color: #ffb820;
    border-radius: 3px;
    width: 35px;
    height: 30px;
    color: #000000;
    text-align: center;
    box-shadow: 2px 2px 4px -2px #000000;
  }
  &__num {
    line-height: 2;
  }
}

.user-country {
  .flex-container(column, center, center);
}


