.user-account-wrap {
    width: 100%;
    position: relative;
    padding: 100px 0 50px;
    background: url('/static/img/tutorial-back-img.png') left top no-repeat,
    url('/static/img/bg.png');
    z-index: 30;
}

.user-account-title {
    .flex-container(row, flex-start,center);
    height: 50px;
    padding: 0 0 0 30px;
    background: #142b3f;
    margin: 26px 0 3px;
}

.user-account {
    .flex-container(row, space-between, flex-start);
    max-width: 1200px;
    margin: 20px auto 0;
    font: 300 16px @regular;
    color: @white;

    &__left {
        flex-basis: 48%;
        width: 49%;
    }
    &__right {
        flex-basis: 48%;
        width: 49%;
    }
    &__save {
        .flex-container(row, center, center);
    }
}

.account-settings {
    margin: 0 0 35px;

    &__content {
        background: #142b3f;
        padding: 15px 20px 30px;
        .flex-container(row,space-between,flex-start);
    }
    &__upload {
        flex-basis: 28%;
        .flex-container(column, flex-start, center);
    }
    &__img {
        margin-bottom: 10px;
        background: #667b8d;
        border: 5px solid @white;
        border-radius: 2px;
    }
    &__info {
        flex-basis: 67%;
    }
    &__select {

    }
    &__input {
        .ui-input {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 930px) {
        &__img {
            width: 100px;
            height: 100px;
        }
    }
}

.anonymous {
    margin: 0 0 35px;

    &__content {
        background: #142b3f;
    }

    &__name {
        height:85px;
        padding: 10px 20px 15px;
        margin: 3px 0;
        .flex-container(column, space-between, stretch);

        .ui-input {
            width: 85%;
        }
    }
    &__info {
        padding: 15px 45px 10px 30px;
    }
    &__input-text {
        padding-left: 10px;
    }
    &__img {
        padding: 15px 20px 15px;
        background: #142b3f;
        .flex-container(row, space-between, center);
    }
    &__photo {
        cursor: pointer;
        width: 75px;
        height: 75px;
        border: 5px solid #0d4f85;
        background: #051f35;
        &.active {
            border: 5px solid lighten(green, 20%);
        }
    }
    &__choose-img {
        .flex-container(row, space-between, center);
        padding: 20px;
        position: relative;

        &--inactive {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: fade(black, 20%);
            cursor: not-allowed;
        }
    }
}

.security {
    margin: 0 0 35px;
    &__controls {
        padding: 20px;
        .flex-container(row, flex-start, stretch);
        background: #142b3f;

        &--vertical {
            .flex-container(column, flex-start, stretch)
        }
    }
    &__id {
        margin-left: 40px;
        .flex-container(column, space-between, flex-start);
    }

}

.social-network {
    margin: 0 0 35px;

    &__item {
        width: 100%;
        margin: 3px 0;
        background: #142b3f;
        padding: 15px 0;
        .flex-container(row, center, center);

        .btn {
            flex-basis: 60%;
        }
    }
}

.delete-account {
    &__btn-wrap {
        background: #142b3f;
        padding: 15px 0;
        .flex-container(row, center, center);

        .btn {
            flex-basis: 60%;
        }
    }
    &__info {
        padding: 15px 45px 10px 30px;
    }
}

.subscription {

    &__item {
        margin: 2px 0;
    }
    &__item-head {
        padding: 15px 20px;
        .flex-container(row, space-between, center);
        background: #142b3f;
        cursor: pointer;
    }
    &__item-name {
        font: 600 25px @regular;
    }
    &__item-arrow {
        display: block;
        transition: all .3s ease-in-out;
        &.right {
            background: url("/static/img/checkbox-arrow-right.png") center center;
            width: 11px;
            height: 21px;
        }
        &.down {
            background: url("/static/img/checkbox-arrow-down.png") center center;
            width: 21px;
            height: 11px;
        }
    }
    &__content {
        margin: 3px 0;
        background: #0b1c2e;
        padding: 20px;
    }
}
