.want-to-play {
    width: 100%;
    .flex-container(row, space-between, center);
    padding: 25px 31px 25px 24px;
    background: #142b3f;

    &__btn {
        width: 116px;
        .flex-container(row, space-between, center);
        color: @orange;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        font-family: @regular;
        cursor: pointer;
        transition: all 0.4s ease-in-out;

        &:hover,
        &:active {
            color: @red;

            .want-to-play__btn-icon {
                color: @red;
            }
        }
    }
    &__btn-icon {
        display: inline-block;
        width: 59px;
        height: 59px;
        border: 2px dashed @orange;
        font-size: 34px;
        overflow: hidden;
        text-align: center;
        color: @orange;
        background: #102333;
        transition: all 0.4s ease-in-out;
    }
    &__square {
        background-color: #2d455a;
        border-radius: 3px;
        width: 35px;
        height: 30px;
        color: #000;
        text-align: center;
        box-shadow: 2px 2px 4px -2px #000;
    }

    &.offset {
        padding: 25px 62px 25px 34px;
        .want-to-play__btn {
            width: 131px;
        }
    }
}