.withdraw {
    &__form-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: @zindex-modal-background;
        transition: 2s ease-in-out;
        background-color: rgba(16, 64, 77, 0.6);
        overflow-y: scroll;
    }
    &__form-window {
        margin: 90px auto 0;
        width: 600px;
        background-color: #113C4E;
        padding-bottom: 20px;
        border-radius: 2px;
    }
    &__title {
        margin: 0 auto 40px;
        font-size: 24px;
        color: white;
        text-align: center;
        width: 400px;
        padding-top: 20px;
    }
    &__request {
        width: 400px;
        margin: 0 auto;
    }
    &__group {
        width: 250px;
        margin: 0 auto 5px;
    }
    &__button {
        .flex-container(row, space-between, center);
        margin: 30px 0
    }
    .error {
        color: #EF8A8A;
        margin: 0 auto 20px;
        text-align: center;
        font-size: 17px;
        position: initial;
    }
}

