.wizard {
    background: transparent url('/static/img/bg-triangles.png') top right no-repeat;
    padding: 80px 0 0 0;

    &__inner {
        max-width: 1200px;
        min-height: 1024px;
        margin: 0 auto;
        padding: 0;
    }
    &__head {
        width: 100%;
        height: 60px;
        .flex-container(row, space-between, center);
    }
    &__steps {
        margin: 50px 0 0;
    }
    &__row {
        width: 100%;
    }
    &__regions {
        position: relative;
        .flex-container(row, space-between, flex-start);
    }
    &__participants {
        flex-basis: 50%;
    }
    &__sidebar {
        position: relative;
        flex-basis: 50%;
        max-height: 100%;
        overflow-y: auto;
        z-index: 20;

        .statistics {
            padding-bottom: 150px;
        }
    }
    &__game-rules {
        padding-right: 15px;
    }
    &__empty {
        background-color: #03222c;
        padding: 32px 20px 31px;
        border-top: 1px dashed #5b6d75;
        border-bottom: 1px dashed #5b6d75;
    }

    // Adaptive
    @media (max-width: 1282px) {
        &__inner {
            padding-left: 0;
            padding-right: 0;
        }
    }
}