.block-screen {
    .flex-container(column, space-between, center);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #243667 url(/static/img/blocked-bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;

    &__header {
        padding-top: 32px;
    }

    &__content {
        flex-grow: 2;
        font-family: @latoMedium;
        padding: 100px 0 32px;

        h1 {
            color: @white;
            font-family: @montserratBlack;
            font-size: 30px;
            margin-bottom: 24px;
            text-transform: uppercase;
            opacity: 1;
        }

        p {
            color: @white;
            margin-bottom: 16px;
        };
    }

    &__footer {
        color: rgba(255, 255, 255, .6);
        font-size: 14px;
        padding-bottom: 32px;

        > * {
            max-width: 750px;
            font-size: 14px;
        }

        .links {
            margin: 20px 0;

            a {
                color: #65718a;
                font-weight: bold;
                padding: 0 32px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.contact-email-form {
    text-align: center;

    .ui-input {
        display: inline-block;
        margin-right: 20px;
        width: 280px;

        input[disabled] {
            background: #d8d8d8;
        }
    }

    .btn[disabled] {
        background: #d8d8d8;
        border-color: #b8b8b8;
        color: #989898;
        pointer-events: none;
    }
}
