.flag-wrap {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 31px;
    height: 31px;
    border: 2px solid #c6c6c6;
}
.flag {
    position: relative;
    top: -3px;
    left: -13px;
    display: inline-block;
    width: 56px;
    min-width: 56px;
    height: 33px;
    background: url(/static/img/flags.png) no-repeat;

    &.no-flag { background: #7ea6c0; }
    &.centered { margin: auto; }

    &.sgp { background-position: 0 0; }
    &.sct { background-position: 0 -33px; }
    &.pry { background-position: 0 -66px; }
    &.pri { background-position: 0 -99px; }
    &.phl { background-position: 0 -132px; }
    &.nzl { background-position: 0 -165px; }
    &.nld { background-position: 0 -198px; }
    &.nir { background-position: 0 -231px; }
    &.nam { background-position: 0 -264px; }
    &.mys { background-position: 0 -296px; }
    &.mex { background-position: 0 -329px; }
    &.kor2 { background-position: 0 -362px; }
    &.kor1 { background-position: 0 -395px; }
    &.jpn { background-position: 0 -428px; }
    &.ita { background-position: 0 -461px; }
    &.irl { background-position: 0 -494px; }
    &.ind { background-position: 0 -527px; }
    &.fra { background-position: 0 -560px; }
    &.fji { background-position: 0 -593px; }
    &.fin { background-position: 0 -626px; }
    &.esp { background-position: 0 -659px; }
    &.eng { background-position: 0 -692px; }
    &.dnk { background-position: 0 -725px; }
    &.deu { background-position: 0 -758px; }
    &.col { background-position: 0 -792px; }
    &.chn { background-position: 0 -824px; }
    &.can { background-position: 0 -857px; }
    &.bra { background-position: 0 -890px; }
    &.bel { background-position: 0 -923px; }
    &.aut { background-position: 0 -956px; }
    &.aus { background-position: 0 -989px; }
    &.arg { background-position: 0 -1022px; }
    &.zwe { background-position: 0 -1055px; }
    &.zaf { background-position: 0 -1087px; }
    &.wls2 { background-position: 0 -1122px; }
    &.wls1 { background-position: 0 -1154px; }
    &.ven { background-position: 0 -1187px; }
    &.usa { background-position: 0 -1220px; }
    &.tza { background-position: 0 -1253px; }
    &.twn { background-position: 0 -1286px; }
    &.tha { background-position: 0 -1319px; }
    &.swe { background-position: 0 -1352px; }
}
