.error404-wrapper {
    align-items: center;
    background: #192221;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.error404 {
    background-size: cover;
    background: transparent url(./img/404/404.jpg) no-repeat bottom center;
    color: #ffffff;
    font: normal 14px 'LatoMedium', Helvetica, Arial, sans-serif;
    height: 570px;
    padding: 1px;
    position: relative;
    width: 1024px;

    &__header {
        font: normal 24px 'MontserratBlack', Helvetica, Arial, sans-serif;
        margin: 150px 0 52px;
        text-align: center;
        text-transform: uppercase;
    }

    &__content {
        padding-left: 540px;
    }

    p {
        font-size: 14px;
        margin: 0 0 .5em;
        max-width: 333px;
    }
}

.error404-buttons {
    margin-top: 3em;

    .btn {
        background: #d8d8d8;
        border-radius: 3px;
        color: #6f7377;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-right: 1em;
        padding: 12px 18px;
        text-decoration: none;
        text-transform: uppercase;

        &--primary {
            background: #3c5ca5;
            color: #b8c9f0;
        }
    }
}


.error404-logo {
    left: 50%;
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
}
