.loading {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: no-repeat center;
    background-size: cover;

    .splash-image(@sport) {
        &.@{sport} {
            @media screen and (min-aspect-ratio: 9/8) {
                background-image: url("/static/favicon/splash-horizontal-@{sport}.jpg");
            }
            @media screen and (max-aspect-ratio: 9/8) {
                background-image: url("/static/favicon/splash-vertical-@{sport}.jpg");
            }
        }
    }

    .splash-image(golf);
    .splash-image(nba);
    .splash-image(nfl);
}
