@charset "utf-8";
/** Import main styles **/
/*================================================================================| TAGS |================================================================================*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Times New Roman;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 11px;
}
/*MAIN*/
.fL {
  float: left;
}
.fR {
  float: right;
}
.clear {
  clear: both;
}
.im {
  margin: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
input,
textarea {
  font: 12px "OpenSans-CondensedLight", Arial, sans-serif;
  color: #333;
  outline: none;
}
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
td {
  margin: 0;
  padding: 0;
}
form {
  padding: 0;
  margin: 0;
}
a {
  color: #000100;
  transition: color 0.0s linear;
  text-decoration: none;
  outline: none;
}
input[type=submit],
input[type=button] {
  -webkit-appearance: none;
}
.clearfix:after,
.wrapper:after,
.content:after,
footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*================================================================================| BG_STYLES |================================================================================*/
/*Animate.css - http://daneden.me/animateLicensed under the MIT licenseCopyright (c) 2013 Daniel EdenPermission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/
body {
  /* Addresses a small issue in webkit:http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.animated.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.animated.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.animated.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
.animated.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
@-webkit-keyframes swing {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.animated.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.animated.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animated.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }
}
@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
.animated.flip {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flip;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flip;
  -o-backface-visibility: visible !important;
  -o-animation-name: flip;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flip;
  animation-name: flip;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.animated.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
.animated.flipOutX {
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
.animated.flipInY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInY;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}
@-webkit-keyframes flipOutY {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
@keyframes flipOutY {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
.animated.flipOutY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipOutY;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipOutY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animated.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animated.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animated.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animated.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animated.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
.animated.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.animated.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
.animated.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}
.animated.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}
@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
.animated.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}
@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
.animated.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
.animated.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}
@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
.animated.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animated.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}
@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}
.animated.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
.animated.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
@keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
.animated.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}
@-webkit-keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
.animated.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}
@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
.animated.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.animated.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.animated.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}
@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.animated.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}
@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.animated.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}
@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.animated.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(200deg);
    opacity: 0;
  }
}
@keyframes rotateOut {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }
}
.animated.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}
@-webkit-keyframes rotateOutUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
}
.animated.rotateOutUpLeft {
  -webkit-animation-name: rotateOutUpLeft;
  animation-name: rotateOutUpLeft;
}
@-webkit-keyframes rotateOutDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes rotateOutDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}
.animated.rotateOutDownLeft {
  -webkit-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
}
@-webkit-keyframes rotateOutUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}
.animated.rotateOutUpRight {
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
}
@-webkit-keyframes rotateOutDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes rotateOutDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
}
.animated.rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}
@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}
.animated.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}
@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
.animated.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
  }
}
@keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}
.animated.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}
/* originally authored by Angelo Rohit - https://github.com/angelorohit */
@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
.animated.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.animated.lightSpeedIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
/* originally authored by Angelo Rohit - https://github.com/angelorohit */
@-webkit-keyframes lightSpeedOut {
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
@keyframes lightSpeedOut {
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
.animated.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
.animated.lightSpeedOut {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
.mainWrapper {
  min-width: 320px;
  overflow: hidden;
  min-height: 100%;
  position: relative;
  z-index: 0;
}
.wrapper {
  min-width: 300px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  position: relative;
}
.content {
  text-align: left;
}
.boxCompanyStrategy {
  background: url(/static/img/about/bg_company_strategy.jpg) no-repeat center top;
  min-width: 320px;
  margin: auto;
  background-size: cover;
  padding-bottom: 47px;
}
.lineCompanyStrategy {
  padding: 31px 0 17px 0;
  overflow: hidden;
}
.lineCompanyStrategy .img {
  float: left;
  width: 300px;
  text-align: center;
  padding: 0 0 0 70px;
}
.lineCompanyStrategy .img img {
  display: inline-block;
}
.lineCompanyStrategy .info {
  float: left;
  width: 100%;
  margin-left: -370px;
  padding: 9px 155px 0 385px;
  text-align: center;
  box-sizing: border-box;
  text-align: left;
}
.lineCompanyStrategy p.title {
  font: bold 20px/26px 'Open Sans';
  color: #ffffff;
  padding: 0 0 16px 0;
}
.boxProductStrategy {
  background: url(/static/img/about/box_product_strategy.jpg) repeat-x center top;
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 120px;
  text-align: center;
}
.boxProductStrategy ul {
  margin: 0 0 0 0;
}
.boxProductStrategy ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding: 39px 0 0 0;
  width: 29%;
  margin-right: -5px;
}
.boxProductStrategy ul li.center {
  padding: 39px 6.5% 0 6.5%;
}
.boxProductStrategy .img {
  width: 100%;
  height: 150px;
}
.boxProductStrategy .img img {
  display: inline-block;
}
.boxProductStrategy p {
  color: #083b50;
}
.boxProductStrategy .title {
  font: bold 20px/26px 'Open Sans';
  color: #083b50;
  padding: 12px 0 8px 0;
  min-height: 52px;
}
.listInfoGame {
  padding: 50px 0 0 0;
}
.listInfoGame ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 27%;
  padding: 12px 0 0 0;
  margin-right: -5px;
}
.listInfoGame ul li.center {
  padding: 12px 9% 0 9%;
}
.listInfoGame p {
  color: #241571;
}
.listInfoGame .name {
  font: bold 25px/30px 'Open Sans';
  color: #36228b;
  padding-bottom: 22px;
}
.boxValueProposition {
  background: url(/static/img/about/bg_value_proposition.jpg) no-repeat center top;
  background-color: #091b47;
  padding-bottom: 89px;
  min-width: 320px;
  background-size: cover;
  margin: 0 auto;
}
.columnValueProposition {
  width: 38%;
  padding: 42px 0 0 5%;
  float: left;
}
.columnValueProposition.right {
  float: right;
  padding: 42px 5% 0 0;
}
.columnValueProposition .title {
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 0 6px 0;
  overflow: hidden;
}
.columnValueProposition .title .icon {
  float: left;
  width: 64px;
}
.columnValueProposition .title p {
  font: bold 16px/18px 'Open Sans';
  color: #ffffff;
  float: left;
  width: 100%;
  margin: 0 0 0 -64px;
  padding: 11px 0 0 64px;
  box-sizing: border-box;
  letter-spacing: -0.4px;
}
.columnValueProposition .title p.font18 {
  font: bold 18px/18px 'Open Sans';
}
.columnValueProposition .cont {
  padding: 3px 8% 0 64px;
}
.columnValueProposition .cont p {
  font: 18px/20px 'Open Sans';
  color: #ffffff;
  padding: 37px 0 0 0;
}
.columnValueProposition .cont p.top {
  padding: 52px 0 37px 0;
}
.boxForFacts {
  padding: 113px 0 100px 0;
  text-align: center;
  background: #ffffff;
  min-width: 320px;
}
.boxFacts {
  background: url(/static/img/about/box_facts.jpg) repeat-y left;
  width: 815px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
  display: inline-block;
}
.boxFactsCont {
  background: #ffffff;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  padding: 45px 43px 56px 75px;
  text-align: left;
}
.boxFacts h2 {
  font: italic 30px/34px 'Open Sans';
  color: #295987;
  padding: 0 0 0 0;
  position: absolute;
  left: 110px;
  top: -55px;
}
.boxFacts:before {
  background: url(/static/img/about/before_facts.jpg) no-repeat left top;
  width: 36px;
  height: 23px;
  position: absolute;
  left: 58px;
  top: -19px;
  content: '';
  display: block;
}
.boxFactsCont .column {
  width: 45%;
  float: left;
}
.boxFactsCont .column.right {
  float: right;
}
.boxFactsCont p {
  font: 18px/22px 'Open Sans';
  color: #294e7a;
  padding: 19px 0 0 0;
}
.boxManagement {
  background: url(/static/img/about/bg_management.jpg) no-repeat center top;
  padding: 0 0 80px 0;
  margin: 0 auto;
  background-size: cover;
}
.listComments {
  padding: 33px 0 0 0;
  position: relative;
  z-index: 3;
}
.listComments ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 46.5%;
  padding: 20px 0 0 0;
  margin-right: -5px;
  min-height: 182px;
}
.listComments ul li:nth-child(even) {
  margin-left: 7%;
}
.listComments .photo {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  overflow: hidden;
  float: left;
  background: #f6f2e9;
}
.listComments .photo img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
}
.comment {
  float: left;
  margin-left: -120px;
  padding: 0 0 0 128px;
  width: 100%;
  box-sizing: border-box;
  height: 215px;
}
.comment .cont {
  background: #f0ebef;
  padding: 29px 30px 30px 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  box-sizing: border-box;
}
.comment .over {
  display: inline-block;
  overflow: hidden;
  height: 157px;
  position: relative;
}
.comment .over:after {
  display: block;
  content: '';
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f0ebef;
  background: linear-gradient(to bottom, rgba(240, 235, 239, 0.5) 0%, #f0ebef 100%);
  -pie-background: linear-gradient(#f0ebef, #f0ebef);
}
.comment p {
  font: 15px/19px 'Open Sans';
  color: #17253e;
  text-indent: 17px;
}
.comment p.name {
  font: 25px/28px 'Open Sans';
  color: #17253e;
  text-indent: 0;
  padding-bottom: 14px;
}
.comment p.job {
  font: 16px/18px 'Open Sans';
  color: #17253e;
  text-indent: 0;
  padding-bottom: 17px;
}
.managment-item.active {
  position: relative;
  z-index: 2;
}
.managment-item.active .comment .cont {
  position: absolute;
  z-index: 2;
  background: #f7f7f7;
  height: auto;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.managment-item.active .photo {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.managment-item.active .over {
  height: auto;
}
.managment-item.active .over:after {
  display: none;
}
/*================================================================================| FOOTER |================================================================================*/
footer {
  width: 100%;
  min-width: 320px;
  text-align: left;
  margin: auto;
  background-size: cover;
  padding-bottom: 60px;
  margin: 0 auto;
}
.parallax-mirror,
.parallax-slider {
  overflow: visible !important;
  visibility: visible !important;
}
footer p {
  font: 20px/22px 'Open Sans';
  color: #d4d4d4;
  padding: 22px 0 0 0;
}
footer p.top {
  text-indent: 0;
  padding-top: 31px;
}
footer p a {
  font: 20px/22px 'Open Sans';
  color: #ff981e;
}
footer p a:hover {
  text-decoration: underline;
}
.boxScrolling {
  position: absolute;
  top: -88px;
  left: 0;
}
.blockSlider {
  position: relative;
  padding: 0 0 0 0;
  z-index: 1;
}
/*
 * jQuery FlexSlider v1.0 (Release)
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Необходимые стили для FlexSlider
*********************************/
.flexslider {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}
/* Тема по умолчанию для FlexSlider
*********************************/
/* Предполагаемый контейнер для устнановок анимации "slides".*/
.flexslider-container {
  position: relative;
}
/* Стиль заголовков */
.textSlider {
  position: absolute;
  left: 0;
  top: 74%;
  width: 100%;
  text-align: center;
}
.textSliderCont {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
.textSlider .line {
  width: 100%;
  max-width: 550px;
  display: inline-block;
  background: #ffffff;
  height: 3px;
  margin: 20px 0 0 0;
}
.textSlider .slide-title {
  font: 800 60px/1 'Open Sans';
  color: #fefefe;
  display: inline-block;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0 0 0 0;
  text-transform: uppercase;
}
.hfg-logo-wrap {
  width: 100%;
}
.hfg-logo-wrap img {
  margin: 0 auto;
  width: 160px !important;
}
.hfg-logo-wrap a {
  display: inline-block;
  vertical-align: middle;
}
.hfg-logo-wrap .title {
  font-size: 30px !important;
  line-height: normal !important;
  vertical-align: middle;
}
.google-map {
  max-width: 1100px;
  margin: 50px auto 0;
}
/* Навигация */
.flex-direction-nav {
  display: none;
}
.flex-direction-nav li {
  list-style-type: none;
}
.flex-direction-nav li a {
  width: 35px;
  height: 91px;
  margin: 0 0 0 0;
  top: 161px;
  display: block;
  position: absolute;
  cursor: pointer;
  text-indent: -9999px;
}
/* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.flex-direction-nav li a.flex-next {
  right: -73px;
}
.flex-direction-nav li a.flex-next:hover {
  background-position: left bottom;
}
.flex-direction-nav li a.flex-prev {
  left: -73px;
}
.flex-direction-nav li a.flex-prev:hover {
  background-position: left top;
}
/* Управление */
.flex-control-nav {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  text-align: center;
  z-index: 10;
  padding: 0 5px 0 5px;
}
/* set negative margin-left equal to half the width on the control-nav for perfect centering */
.flex-control-nav li {
  margin: 0 5px 0 5px;
  display: inline-block;
  list-style-type: none;
  *zoom: 1;
  *display: inline;
}
.blockSliderImg .flex-control-nav li {
  margin: 5px 0 0 0;
}
.flex-control-nav li a {
  text-indent: -10000px;
  list-style-type: none;
  display: block;
  width: 5px;
  height: 5px;
  border: solid 2px #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(css/PIE.htc);
  position: relative;
  cursor: pointer;
  background: none;
}
.flex-control-nav li a:hover {
  background: #ffffff;
}
.flex-control-nav li a.flex-active {
  background: #ffffff;
}
.buttonMenu {
  background: url(/static/img/about/button_menu.png) no-repeat left top;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 18px;
  display: none;
}
.boxLoading {
  display: none;
  height: 100%;
}
.loaded .boxLoading {
  display: block;
  position: relative;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  background: url('/static/img/about/rolling.svg') no-repeat left top;
  z-index: 11;
}
.loaded .blockSlider {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.parallax-container.top {
  background-position: 0 500px !important;
  position: relative;
  top: 300px;
}
.loaded .mainWrapper {
  visibility: hidden;
}
.loaded .parallax-mirror {
  visibility: hidden;
}
.parallax-container.top2 {
  position: relative;
  top: 100px;
}
@media screen and (min-width: 961px) and (max-width: 1100px) {
  .lineCompanyStrategy .img {
    padding: 0 0 0 40px;
  }
  .lineCompanyStrategy .info {
    padding: 9px 65px 0 360px;
    margin-left: -340px;
  }
}
@media screen and (min-width: 861px) and (max-width: 960px) {
  .comment {
    height: 225px;
  }
  .comment .over {
    display: inline-block;
    overflow: hidden;
    height: 165px;
  }
}
@media screen and (max-width: 960px) {
  .lineCompanyStrategy .img {
    padding: 0 0 0 0;
    width: 260px;
  }
  .lineCompanyStrategy .info {
    padding: 9px 40px 0 280px;
    margin-left: -260px;
  }
  .boxGame .img {
    position: relative;
    margin-top: 34px;
    left: 0;
    width: 100%;
    margin-left: 0;
    display: block;
  }
  .boxGame .img img {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .boxProductStrategy ul li {
    padding: 39px 0 0 0;
    width: 30%;
  }
  .boxProductStrategy ul li.center {
    padding: 39px 5% 0 5%;
  }
  .listInfoGame ul li {
    width: 30%;
  }
  .listInfoGame ul li.center {
    padding: 12px 5% 0 5%;
  }
  .boxFacts {
    width: 90%;
  }
  .textSlider p {
    font: 18px/22px 'Open Sans';
  }
  .textSlider p.title {
    font: 800 30px/36px 'Open Sans';
  }
  .parallax-mirror {
    display: none !important;
    background: none;
    visibility: hidden !important;
  }
  .parallax-container {
    display: none !important;
    background: none;
    visibility: hidden !important;
  }
  .boxShowcase {
    background: url(/static/img/about/bg_showcase.jpg) no-repeat center top;
    background-size: cover;
  }
  footer {
    background: url(/static/img/about/bg_contacts.jpg) no-repeat center top;
    background-size: cover;
  }
}
@media screen and (max-width: 860px) {
  .mainLogo img {
    width: 110px;
  }
}
@media screen and (max-width: 767px) {
  .comment p {
    font: 15px/19px 'Open Sans';
    color: #17253e;
    text-indent: 17px;
  }
  .comment p.name {
    font: 19px/19px 'Open Sans';
    color: #17253e;
    text-indent: 0;
    padding-bottom: 12px;
  }
  .comment p.job {
    font: 16px/19px 'Open Sans';
    color: #17253e;
    text-indent: 0;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  .buttonMenu {
    display: block;
  }
  .boxProductStrategy ul li {
    padding: 39px 0 0 0;
    width: 80%;
    margin-right: 0;
  }
  .listComments ul li {
    width: 100%;
  }
  .listComments ul li:nth-child(even) {
    margin-left: 0;
  }
  .textSlider p {
    font: 16px/18px 'Open Sans';
  }
  .textSlider p.title {
    font: 800 24px/26px 'Open Sans';
  }
  .textSlider {
    top: 45%;
  }
}
@media screen and (max-width: 650px) {
  .listInfoGame ul li {
    width: 80%;
    padding: 30px 0 0 0 !important;
  }
  .boxValueProposition {
    text-align: center;
  }
  .columnValueProposition {
    width: 80%;
    padding: 42px 0 0 0 !important;
    float: none !important;
    display: inline-block;
    text-align: left;
  }
  .columnValueProposition p.top {
    padding: 27px 0 0 0 !important;
  }
  .boxShowcase ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 70%;
    padding: 20px 0 10px 0 !important;
    margin-right: 0;
  }
  .boxShowcase ul {
    padding: 13px 0 0 0;
  }
  .boxShowcase h2 {
    font: bold 50px/90px 'Open Sans';
  }
  .lineCompanyStrategy .img {
    width: 200px;
    text-align: center;
    padding: 0 0 0 30px;
  }
  .lineCompanyStrategy .info {
    float: left;
    width: 100%;
    margin-left: -230px;
    padding: 9px 25px 0 265px;
  }
  .boxFactsCont {
    padding: 45px 35px 56px 35px;
  }
  .boxFactsCont .column {
    width: 100%;
    float: none;
  }
  .boxFactsCont .column.right {
    float: none;
  }
  .flexslider .slides img {
    width: auto;
    height: 380px;
  }
}
@media screen and (max-width: 500px) {
  .lineCompanyStrategy {
    padding: 31px 0 17px 0;
    overflow: hidden;
    text-align: center;
  }
  .lineCompanyStrategy .img {
    float: none;
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 0 0 0 0;
  }
  .lineCompanyStrategy .info {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 9px 10% 0 10%;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .listComments ul {
    text-align: center;
  }
  .listComments .photo {
    float: none;
    display: inline-block;
  }
  .comment {
    float: none;
    margin-left: 0;
    padding: 10px 0 0 0;
    text-align: left;
  }
}
.w-1 {
  width: 1%;
}
.w-2 {
  width: 2%;
}
.w-3 {
  width: 3%;
}
.w-4 {
  width: 4%;
}
.w-5 {
  width: 5%;
}
.w-6 {
  width: 6%;
}
.w-7 {
  width: 7%;
}
.w-8 {
  width: 8%;
}
.w-9 {
  width: 9%;
}
.w-10 {
  width: 10%;
}
.w-11 {
  width: 11%;
}
.w-12 {
  width: 12%;
}
.w-13 {
  width: 13%;
}
.w-14 {
  width: 14%;
}
.w-15 {
  width: 15%;
}
.w-16 {
  width: 16%;
}
.w-17 {
  width: 17%;
}
.w-18 {
  width: 18%;
}
.w-19 {
  width: 19%;
}
.w-20 {
  width: 20%;
}
.w-21 {
  width: 21%;
}
.w-22 {
  width: 22%;
}
.w-23 {
  width: 23%;
}
.w-24 {
  width: 24%;
}
.w-25 {
  width: 25%;
}
.w-26 {
  width: 26%;
}
.w-27 {
  width: 27%;
}
.w-28 {
  width: 28%;
}
.w-29 {
  width: 29%;
}
.w-30 {
  width: 30%;
}
.w-31 {
  width: 31%;
}
.w-32 {
  width: 32%;
}
.w-33 {
  width: 33%;
}
.w-34 {
  width: 34%;
}
.w-35 {
  width: 35%;
}
.w-36 {
  width: 36%;
}
.w-37 {
  width: 37%;
}
.w-38 {
  width: 38%;
}
.w-39 {
  width: 39%;
}
.w-40 {
  width: 40%;
}
.w-41 {
  width: 41%;
}
.w-42 {
  width: 42%;
}
.w-43 {
  width: 43%;
}
.w-44 {
  width: 44%;
}
.w-45 {
  width: 45%;
}
.w-46 {
  width: 46%;
}
.w-47 {
  width: 47%;
}
.w-48 {
  width: 48%;
}
.w-49 {
  width: 49%;
}
.w-50 {
  width: 50%;
}
.w-51 {
  width: 51%;
}
.w-52 {
  width: 52%;
}
.w-53 {
  width: 53%;
}
.w-54 {
  width: 54%;
}
.w-55 {
  width: 55%;
}
.w-56 {
  width: 56%;
}
.w-57 {
  width: 57%;
}
.w-58 {
  width: 58%;
}
.w-59 {
  width: 59%;
}
.w-60 {
  width: 60%;
}
.w-61 {
  width: 61%;
}
.w-62 {
  width: 62%;
}
.w-63 {
  width: 63%;
}
.w-64 {
  width: 64%;
}
.w-65 {
  width: 65%;
}
.w-66 {
  width: 66%;
}
.w-67 {
  width: 67%;
}
.w-68 {
  width: 68%;
}
.w-69 {
  width: 69%;
}
.w-70 {
  width: 70%;
}
.w-71 {
  width: 71%;
}
.w-72 {
  width: 72%;
}
.w-73 {
  width: 73%;
}
.w-74 {
  width: 74%;
}
.w-75 {
  width: 75%;
}
.w-76 {
  width: 76%;
}
.w-77 {
  width: 77%;
}
.w-78 {
  width: 78%;
}
.w-79 {
  width: 79%;
}
.w-80 {
  width: 80%;
}
.w-81 {
  width: 81%;
}
.w-82 {
  width: 82%;
}
.w-83 {
  width: 83%;
}
.w-84 {
  width: 84%;
}
.w-85 {
  width: 85%;
}
.w-86 {
  width: 86%;
}
.w-87 {
  width: 87%;
}
.w-88 {
  width: 88%;
}
.w-89 {
  width: 89%;
}
.w-90 {
  width: 90%;
}
.w-91 {
  width: 91%;
}
.w-92 {
  width: 92%;
}
.w-93 {
  width: 93%;
}
.w-94 {
  width: 94%;
}
.w-95 {
  width: 95%;
}
.w-96 {
  width: 96%;
}
.w-97 {
  width: 97%;
}
.w-98 {
  width: 98%;
}
.w-99 {
  width: 99%;
}
.w-100 {
  width: 100%;
}
.header {
  z-index: 10;
}
.header__top {
  transition: 0.2s ease-in-out;
  min-height: 55px;
  background: #0f3659;
}
.header__top-in {
  position: relative;
  padding: 0 10px 6px;
  max-width: 1200px;
  margin: 0 auto;
  height: 55px;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 11px 0 0;
  z-index: 1;
}
.header__img {
  width: 109px;
  height: 32px;
  background-image: url("/static/img/GFS-white.png");
}
.header__img--dark {
  background-image: url("/static/img/GFS-black.png");
  background-size: cover;
}
.header__list {
  display: inline-block;
  vertical-align: middle;
}
.header__user-info {
  position: absolute;
  right: 0;
  top: 11px;
}
.header__user-info .user_name {
  color: white;
}
.header__user-info form {
  display: inline-block;
}
.header__user-info .btn {
  margin: 0 5px 0;
}
.header__user-img,
.header__notification,
.header__money,
.header__add-funds {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.header__user-img {
  width: 30px;
  height: 30px;
  background: black;
}
.header__notification {
  position: relative;
}
.header__user-name {
  color: #ffffff;
  margin: 0 0 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.header__bottom {
  background: rgba(24, 59, 128, 0.8);
}
.header__bottom-in {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.header_landing {
  min-height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header--white {
  background: #ffffff;
}
.page-list {
  list-style-type: none;
  margin: 4px 0 0;
}
.page-list:before,
.page-list:after {
  content: " ";
  display: table;
}
.page-list:after {
  clear: both;
}
.page-list__item {
  float: left;
  margin: 0 10px;
}
.page-list__item a {
  display: block;
  font: 600 13px 'LatoBlack', 'Open Sans', sans-serif;
  padding: 15px 0 5px;
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.page-list__item a:hover {
  color: #b30910;
}
.page-list__item_active a {
  color: #b30910;
}
.page-list--white a {
  color: #171b23;
}
.games-list {
  margin-left: 135px;
}
.games-list:before,
.games-list:after {
  content: " ";
  display: table;
}
.games-list:after {
  clear: both;
}
.games-list__item {
  float: left;
  position: relative;
}
.games-list__item a {
  display: block;
  padding: 7px 5px;
  text-decoration: none;
  font: 300 12px 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
.games-list__item:hover {
  background: #ff8400;
}
.games-list__item:hover a {
  color: #171b23;
}
.games-list__item:hover .games-in-list {
  display: block;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 3px;
  background: transparent;
  outline: none;
  border: none;
  font: 600 12px 'LatoMedium', 'Open Sans', sans-serif;
  letter-spacing: 0;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.btn a {
  text-decoration: none;
  color: #171b23;
}
.btn a:hover,
.btn a:active {
  text-decoration: none;
}
.btn:hover,
.btn:active {
  outline: none;
  text-decoration: none;
}
.btn_orange {
  background: #ff8400;
}
.btn_orange:hover,
.btn_orange:active {
  background: #e67700;
}
.btn_transparent {
  background: transparent;
  border: 1px solid #23334f;
  font: 600 14px 'LatoBlack', 'Open Sans', sans-serif;
}
.btn_transparent:hover,
.btn_transparent:active {
  background: #ffffff;
  color: #292828;
}
.btn_white {
  background: #ffffff;
  color: #171b23;
}
.btn_white:hover,
.btn_white:active {
  background: #b30910;
  color: #ffffff;
}
.btn_big {
  font-size: 20px;
  padding: 12px 50px;
}
.btn_offset {
  margin: 15px 0;
}
.btn_join {
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 27px 30px;
  background: #b30910;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 0 0 20px;
}
.btn_join:hover,
.btn_join:active {
  background: #e40b14;
}
.btn_find {
  background: #b30910;
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 12px 20px;
}
.btn_find:hover,
.btn_find:active {
  background: #e40b14;
}
.btn_submit {
  background: #b30910;
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 20px 28px;
}
.btn_submit:hover,
.btn_submit:active {
  background: #e40b14;
}
.btn_google {
  background: #ff3d3e;
}
.btn_google:hover {
  background: #ff5757;
}
.btn_fb {
  background: #2e5ec1;
}
.btn_fb:hover {
  background: #396ad0;
}
.btn_social {
  padding: 0;
}
.btn_social:before,
.btn_social:after {
  content: " ";
  display: table;
}
.btn_social:after {
  clear: both;
}
.btn_social .icon {
  float: left;
}
.btn_social a {
  float: right;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.9;
  width: 75%;
}
.btn_disabled {
  cursor: default;
  pointer-events: none;
  background: #637392;
}
.icon_inline {
  display: inline-block;
  vertical-align: middle;
}
.icon_block {
  display: block;
}
.icon_pga {
  width: 36px;
  height: 36px;
  background: url("/static/img/landing/pga.png") no-repeat center center;
  background-size: contain;
}
.icon_nba {
  width: 35px;
  height: 35px;
  background: url("/static/img/landing/nba-ball.png") no-repeat center center;
}
.icon_mlb {
  width: 36px;
  height: 36px;
  background: url("/static/img/landing/mlb-ball.png") no-repeat center center;
}
.icon_google {
  width: 32px;
  height: 31px;
  background: url("/static/img/sign-up/google.png") no-repeat center center;
}
.icon_fb {
  width: 32px;
  height: 31px;
  background: url("/static/img/sign-up/facebook.png") no-repeat center center;
}
.icon_bell {
  width: 20px;
  height: 20px;
  background: url("/static/img/home/bell.png") no-repeat center center;
}
.icon_notification {
  display: block;
  position: absolute;
  top: -4px;
  right: -3px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #b30910;
  color: #ffffff;
  text-align: center;
  font: 300 10px 'Open Sans', sans-serif;
}
.icon_dollar,
.icon_token {
  width: 16px;
  height: 16px;
}
.icon_token {
  background: url("/static/img/home/token-icon.png") no-repeat center center;
}
.icon_dollar {
  background: url("/static/img/home/dollar-icon.png") no-repeat center center;
}
.icon_close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: url("/static/img/cross-red.png") no-repeat center center;
  background-size: cover;
}
.money__count {
  font: 300 12px 'Open Sans', sans-serif;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
.ssl {
  display: inline-block;
  vertical-align: middle;
}
.ssl__link {
  text-decoration: none;
  color: #ffffff;
}
.sd {
  margin: 0 100px;
  display: inline-block;
  vertical-align: middle;
}
/** New css styles **/
.titleSection {
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.titleSection.border {
  border-bottom: 1px solid #b16a83;
}
.titleSection.border-blue {
  border-bottom: 1px solid #2c7cd2;
}
.titleSection.border-purple {
  border-bottom: 1px solid #392b99;
}
.titleSection.border-grey {
  border-bottom: 1px solid #8f96a6;
}
.titleSection.top {
  position: absolute;
  top: 0;
  left: calc(-7%);
}
.titleSection .icon {
  display: inline-block;
  margin-top: -32px;
  margin-bottom: 10px;
}
.title {
  font: 600 25px 'Open Sans';
  color: #ffffff;
  padding: 7px 0 7px 0;
}
.title.white {
  color: #ffffff;
}
.title.blue {
  color: #1e344b;
}
.title.bold {
  font-weight: 600;
}
/** Content boxes **/
/*Home slider*/
.slider-item {
  background-size: cover !important;
  height: 710px;
}
.slider-item:nth-child(1) {
  background: url("/static/img/about/home/p1.jpg") no-repeat center center;
}
.slider-item:nth-child(2) {
  background: url("/static/img/about/home/p2.jpg") no-repeat center 0;
}
.slider-item:nth-child(3) {
  background: url("/static/img/about/home/p3.jpg") no-repeat center 0;
}
.slider-item:nth-child(4) {
  background: url("/static/img/about/home/p4.jpg") no-repeat center 0;
}
.boxSelling {
  background-image: linear-gradient(to right top, #27122A 0%, #72243C 42%, #AA4546 78%);
}
.selling-top {
  padding: 60px 0 110px 50px;
  margin: 0 auto;
}
.selling-top p {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
}
.selling-bottom {
  padding: 20px 0;
  max-width: 960px;
  margin: 0 auto;
}
.selling-titles {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 49%;
}
.selling-title {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 40px;
}
.selling-title:before {
  content: '';
  position: absolute;
  left: -17px;
  top: 6px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}
.boxGames {
  background: radial-gradient(ellipse at center, #34526a 0%, #34526a 15%, #061e44 100%);
  /* w3c */
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}
.boxShowcase {
  position: relative;
}
.boxShowcase:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.showcase-info {
  position: absolute;
  right: 10%;
  top: 35%;
  max-width: 700px;
  text-align: left;
}
.showcase-text {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 30px;
}
.showcase-item {
  background-size: cover!important;
  height: 840px!important;
}
.showcase-item:nth-child(1) {
  background: url("/static/img/about/showcase/showcase-1.jpg") no-repeat center center;
}
.showcase-item:nth-child(2) {
  background: url("/static/img/about/showcase/showcase-2.jpg") no-repeat center center;
}
.showcase-item:nth-child(3) {
  background: url("/static/img/about/showcase/showcase-3.jpg") no-repeat center center;
}
.boxPlatform {
  background: linear-gradient(to top, #fffffd, #cce3f5);
}
.platform-top {
  font-size: 20px;
  margin: 30px 0 40px;
}
.platform-title {
  font-size: 20px;
  text-align: center;
  margin: 0 0 30px;
}
.platform-partners {
  text-align: center;
}
.platform-partners:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.platform-bottom {
  padding: 0 0 30px;
}
.platform-img {
  width: 33%;
  margin: 15px 0;
  display: inline-block;
  vertical-align: middle;
}
.games-content {
  padding: 0 0 30px;
}
.games-img-wrap {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
}
.games-img-wrap img {
  max-width: 270px;
}
.games-img-wrap p {
  font-size: 20px;
  color: #ffffff;
  margin: 20px 0 0;
}
.boxDevices {
  background: linear-gradient(to top, #fefefe, #dde3ef);
}
.device-img-wrap img {
  margin: 30px auto;
  display: block;
}
.boxAbout {
  background: linear-gradient(to top, #253b60, #041122);
}
.about-content {
  padding: 60px 0 110px 50px;
}
.about-content p {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
}
/*Footer*/
.contacts {
  margin: 30px 0 0;
}
.contacts-info {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.contacts-img {
  display: inline-block;
  vertical-align: middle;
}
