/* --------------------- reset meyer styles --------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: 0;
}
/* --------------------- END reset meyer styles ---------------------- */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*Users style*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.w-1 {
  width: 1%;
}
.w-2 {
  width: 2%;
}
.w-3 {
  width: 3%;
}
.w-4 {
  width: 4%;
}
.w-5 {
  width: 5%;
}
.w-6 {
  width: 6%;
}
.w-7 {
  width: 7%;
}
.w-8 {
  width: 8%;
}
.w-9 {
  width: 9%;
}
.w-10 {
  width: 10%;
}
.w-11 {
  width: 11%;
}
.w-12 {
  width: 12%;
}
.w-13 {
  width: 13%;
}
.w-14 {
  width: 14%;
}
.w-15 {
  width: 15%;
}
.w-16 {
  width: 16%;
}
.w-17 {
  width: 17%;
}
.w-18 {
  width: 18%;
}
.w-19 {
  width: 19%;
}
.w-20 {
  width: 20%;
}
.w-21 {
  width: 21%;
}
.w-22 {
  width: 22%;
}
.w-23 {
  width: 23%;
}
.w-24 {
  width: 24%;
}
.w-25 {
  width: 25%;
}
.w-26 {
  width: 26%;
}
.w-27 {
  width: 27%;
}
.w-28 {
  width: 28%;
}
.w-29 {
  width: 29%;
}
.w-30 {
  width: 30%;
}
.w-31 {
  width: 31%;
}
.w-32 {
  width: 32%;
}
.w-33 {
  width: 33%;
}
.w-34 {
  width: 34%;
}
.w-35 {
  width: 35%;
}
.w-36 {
  width: 36%;
}
.w-37 {
  width: 37%;
}
.w-38 {
  width: 38%;
}
.w-39 {
  width: 39%;
}
.w-40 {
  width: 40%;
}
.w-41 {
  width: 41%;
}
.w-42 {
  width: 42%;
}
.w-43 {
  width: 43%;
}
.w-44 {
  width: 44%;
}
.w-45 {
  width: 45%;
}
.w-46 {
  width: 46%;
}
.w-47 {
  width: 47%;
}
.w-48 {
  width: 48%;
}
.w-49 {
  width: 49%;
}
.w-50 {
  width: 50%;
}
.w-51 {
  width: 51%;
}
.w-52 {
  width: 52%;
}
.w-53 {
  width: 53%;
}
.w-54 {
  width: 54%;
}
.w-55 {
  width: 55%;
}
.w-56 {
  width: 56%;
}
.w-57 {
  width: 57%;
}
.w-58 {
  width: 58%;
}
.w-59 {
  width: 59%;
}
.w-60 {
  width: 60%;
}
.w-61 {
  width: 61%;
}
.w-62 {
  width: 62%;
}
.w-63 {
  width: 63%;
}
.w-64 {
  width: 64%;
}
.w-65 {
  width: 65%;
}
.w-66 {
  width: 66%;
}
.w-67 {
  width: 67%;
}
.w-68 {
  width: 68%;
}
.w-69 {
  width: 69%;
}
.w-70 {
  width: 70%;
}
.w-71 {
  width: 71%;
}
.w-72 {
  width: 72%;
}
.w-73 {
  width: 73%;
}
.w-74 {
  width: 74%;
}
.w-75 {
  width: 75%;
}
.w-76 {
  width: 76%;
}
.w-77 {
  width: 77%;
}
.w-78 {
  width: 78%;
}
.w-79 {
  width: 79%;
}
.w-80 {
  width: 80%;
}
.w-81 {
  width: 81%;
}
.w-82 {
  width: 82%;
}
.w-83 {
  width: 83%;
}
.w-84 {
  width: 84%;
}
.w-85 {
  width: 85%;
}
.w-86 {
  width: 86%;
}
.w-87 {
  width: 87%;
}
.w-88 {
  width: 88%;
}
.w-89 {
  width: 89%;
}
.w-90 {
  width: 90%;
}
.w-91 {
  width: 91%;
}
.w-92 {
  width: 92%;
}
.w-93 {
  width: 93%;
}
.w-94 {
  width: 94%;
}
.w-95 {
  width: 95%;
}
.w-96 {
  width: 96%;
}
.w-97 {
  width: 97%;
}
.w-98 {
  width: 98%;
}
.w-99 {
  width: 99%;
}
.w-100 {
  width: 100%;
}
@font-face {
  font-family: 'LatoMedium';
  src: url('/static/font/LatoMediumFont/lato-medium-webfont.eot');
  src: url('/static/font/LatoMediumFont/lato-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/static/font/LatoMediumFont/lato-medium-webfont.woff2') format('woff2'), url('/static/font/LatoMediumFont/lato-medium-webfont.woff') format('woff'), url('/static/font/LatoMediumFont/lato-medium-webfont.ttf') format('truetype'), url('/static/font/LatoMediumFont/lato-medium-webfont.svg#latomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBlack';
  src: url('/static/font/MontserratBlackFont/montserrat-black-webfont.eot');
  src: url('/static/font/MontserratBlackFont/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'), url('/static/font/MontserratBlackFont/montserrat-black-webfont.woff2') format('woff2'), url('/static/font/MontserratBlackFont/montserrat-black-webfont.woff') format('woff'), url('/static/font/MontserratBlackFont/montserrat-black-webfont.ttf') format('truetype'), url('/static/font/MontserratBlackFont/montserrat-black-webfont.svg#montserratblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBlack';
  src: url('/static/font/LatoBlackFont/lato-black-webfont.eot');
  src: url('/static/font/LatoBlackFont/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('/static/font/LatoBlackFont/lato-black-webfont.woff2') format('woff2'), url('/static/font/LatoBlackFont/lato-black-webfont.woff') format('woff'), url('/static/font/LatoBlackFont/lato-black-webfont.ttf') format('truetype'), url('/static/font/LatoBlackFont/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-height: 100%;
}
.app {
  border: none;
  position: relative;
  height: 100%;
  min-height: 700px;
}
.app__content {
  position: relative;
  min-width: 800px;
}
.app__content--golf {
  height: calc(100vh - 81px);
  height: -o-calc(100vh - 81px);
  min-height: 100%;
  background: url("/static/img/sports/golf-background.jpg") no-repeat center center;
  background-size: cover;
}
.app__content--nfl {
  height: calc(100vh - 81px);
  height: -o-calc(100vh - 81px);
  min-height: 100%;
  background: url("/static/img/sports/nfl-background.jpg") no-repeat center center;
  background-size: cover;
}
.app__sports-types {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  box-sizing: content-box;
  height: calc(100vh - 100px);
  height: -o-calc(100vh - 100px);
  min-height: 700px;
}
.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: normal;
}
.text_lato-medium {
  font-family: 'LatoMedium', 'Open Sans', sans-serif;
}
.text_lato-black {
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
}
.text_montserrat-black {
  font-family: 'MontserratBlack', 'Open Sans', sans-serif;
}
.text_small {
  font-size: 12px;
  line-height: 1.2;
}
.text_medium {
  font-size: 16px;
}
.text_medium-x {
  font-size: 18px;
}
.text_big {
  font-size: 20px;
}
.text_x-big {
  font-size: 30px;
  line-height: 1.2;
}
.text_xl-big {
  font-size: 40px;
  line-height: 1.2;
}
.text_xxl-big {
  line-height: 1;
  font-size: 55px;
}
.text_bold {
  font-weight: 600;
}
.text_uppercase {
  text-transform: uppercase;
}
.text_centered {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_italic {
  font-style: italic;
}
.text_link {
  text-decoration: none;
  color: #09a7f1;
}
.text_white-link {
  color: #ffffff;
  text-decoration: none;
}
.text_white-link:hover {
  color: #bfbfbf;
}
.text_black {
  color: #171b23;
}
.text_blue {
  color: #0f3659;
}
.text_blue-light {
  color: #d9e3fa;
}
.text_blue-text {
  color: #6c768b;
}
.text_grey {
  color: #666a82;
}
.text_grey-light {
  color: #a6a6a6;
}
.text_grey-ca {
  color: #cacaca;
}
.text_red {
  color: #b30910;
}
.text_yellow {
  color: #ffde00;
}
.text_opacity-45 {
  opacity: .45;
}
.text_opacity-60 {
  opacity: .6;
}
.counter {
  margin: 20px 0 0 0;
}
.counter__title {
  font: 300 18px 'Open Sans', sans-serif;
  color: #ffffff;
  margin: 0 0 15px;
}
.block_inline {
  display: inline-block;
  vertical-align: middle;
}
.article {
  font: 300 12px 'Open Sans', sans-serif;
}
.article__section {
  margin: 0 auto;
}
input[type=checkbox] {
  height: 20px;
  width: 20px;
}
.input {
  border: none;
  outline: none;
  border-radius: 3px;
  background: #ffffff;
  font: 300 12px 'Open Sans', sans-serif;
  color: #0f3659;
  transition: 0.2s ease-in-out;
}
.input:focus,
.input:active {
  outline: none;
}
.input_field {
  border: none;
  outline: none;
  padding: 7px 0 8px 12px;
  box-sizing: border-box;
}
.input_error {
  box-shadow: 0 0 1px 2px #b30910;
}
.input_success {
  box-shadow: 0 0 1px 2px #96e600;
}
.input--email {
  border-radius: 0;
  border: 2px solid #ffffff;
  background: transparent;
  font: 600 14px 'LatoMedium', 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #64656a;
  padding: 15px 28px;
  width: 302px;
  box-sizing: border-box;
}
.input--email:focus,
.input--email:active {
  border-color: #bfbfbf;
}
.input-label {
  position: relative;
}
.input-label .text {
  display: block;
  padding: 0 0 0 25px;
}
.input-label .input {
  position: absolute;
  left: 0;
  top: 2px;
}
.select {
  height: 30px;
  border: none;
  outline: none;
  background: #ffffff;
  font: 300 12px 'Open Sans', sans-serif;
  color: #0f3659;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  padding: 0 0 0 12px;
}
.select:focus,
.select:active {
  outline: none;
}
.header {
  z-index: 10;
}
.header__top {
  transition: 0.2s ease-in-out;
  min-height: 55px;
  background: #0f3659;
}
.header__top-in {
  position: relative;
  padding: 0 10px 6px;
  max-width: 1200px;
  margin: 0 auto;
  height: 55px;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 11px 0 0;
  z-index: 1;
}
.header__img {
  width: 109px;
  height: 32px;
  background-image: url("/static/img/GFS-white.png");
}
.header__img--dark {
  background-image: url("/static/img/GFS-black.png");
  background-size: cover;
}
.header__list {
  display: inline-block;
  vertical-align: middle;
}
.header__user-info {
  position: absolute;
  right: 0;
  top: 11px;
}
.header__user-info .user_name {
  color: white;
}
.header__user-info form {
  display: inline-block;
}
.header__user-info .btn {
  margin: 0 5px 0;
}
.header__user-img,
.header__notification,
.header__money,
.header__add-funds {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.header__user-img {
  width: 30px;
  height: 30px;
  background: black;
}
.header__notification {
  position: relative;
}
.header__user-name {
  color: #ffffff;
  margin: 0 0 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.header__bottom {
  background: rgba(24, 59, 128, 0.8);
}
.header__bottom-in {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.header_landing {
  min-height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header--white {
  background: #ffffff;
}
.page-list {
  list-style-type: none;
  margin: 4px 0 0;
}
.page-list:before,
.page-list:after {
  content: " ";
  display: table;
}
.page-list:after {
  clear: both;
}
.page-list__item {
  float: left;
  margin: 0 10px;
}
.page-list__item a {
  display: block;
  font: 600 13px 'LatoBlack', 'Open Sans', sans-serif;
  padding: 15px 0 5px;
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.page-list__item a:hover {
  color: #b30910;
}
.page-list__item_active a {
  color: #b30910;
}
.page-list--white a {
  color: #171b23;
}
.games-list {
  margin-left: 135px;
}
.games-list:before,
.games-list:after {
  content: " ";
  display: table;
}
.games-list:after {
  clear: both;
}
.games-list__item {
  float: left;
  position: relative;
}
.games-list__item a {
  display: block;
  padding: 7px 5px;
  text-decoration: none;
  font: 300 12px 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
.games-list__item:hover {
  background: #ff8400;
}
.games-list__item:hover a {
  color: #171b23;
}
.games-list__item:hover .games-in-list {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
h1 {
  font-size: 70px;
  margin: 0 0 30px;
}
h2 {
  font-size: 60px;
  margin: 0 0 30px;
}
h3 {
  font-size: 50px;
  margin: 0 0 30px;
}
h4 {
  font-size: 30px;
  margin: 0 0 20px;
}
.title_white {
  color: #ffffff;
}
.title_black {
  color: #171b23;
}
.title_blue {
  color: #0f3659;
}
.title_lato-medium {
  font-family: 'LatoMedium', 'Open Sans', sans-serif;
}
.title_montserrat-black {
  font-family: 'MontserratBlack', 'Open Sans', sans-serif;
}
.flag {
  display: inline-block;
  width: 56px;
  min-width: 56px;
  height: 33px;
  background: url(/static/img/flags.png) no-repeat;
}
.flag.no-flag {
  background: #7ea6c0;
}
.flag.centered {
  margin: auto;
}
.flag.sgp {
  background-position: 0 0;
}
.flag.sct {
  background-position: 0 -33px;
}
.flag.pry {
  background-position: 0 -66px;
}
.flag.pri {
  background-position: 0 -99px;
}
.flag.phl {
  background-position: 0 -132px;
}
.flag.nzl {
  background-position: 0 -165px;
}
.flag.nld {
  background-position: 0 -198px;
}
.flag.nir {
  background-position: 0 -231px;
}
.flag.nam {
  background-position: 0 -264px;
}
.flag.mys {
  background-position: 0 -296px;
}
.flag.mex {
  background-position: 0 -329px;
}
.flag.kor2 {
  background-position: 0 -362px;
}
.flag.kor1 {
  background-position: 0 -395px;
}
.flag.jpn {
  background-position: 0 -428px;
}
.flag.ita {
  background-position: 0 -461px;
}
.flag.irl {
  background-position: 0 -494px;
}
.flag.ind {
  background-position: 0 -527px;
}
.flag.fra {
  background-position: 0 -560px;
}
.flag.fji {
  background-position: 0 -593px;
}
.flag.fin {
  background-position: 0 -626px;
}
.flag.esp {
  background-position: 0 -659px;
}
.flag.eng {
  background-position: 0 -692px;
}
.flag.dnk {
  background-position: 0 -725px;
}
.flag.deu {
  background-position: 0 -758px;
}
.flag.col {
  background-position: 0 -792px;
}
.flag.chn {
  background-position: 0 -824px;
}
.flag.can {
  background-position: 0 -857px;
}
.flag.bra {
  background-position: 0 -890px;
}
.flag.bel {
  background-position: 0 -923px;
}
.flag.aut {
  background-position: 0 -956px;
}
.flag.aus {
  background-position: 0 -989px;
}
.flag.arg {
  background-position: 0 -1022px;
}
.flag.zwe {
  background-position: 0 -1055px;
}
.flag.zaf {
  background-position: 0 -1087px;
}
.flag.wls2 {
  background-position: 0 -1122px;
}
.flag.wls1 {
  background-position: 0 -1154px;
}
.flag.ven {
  background-position: 0 -1187px;
}
.flag.usa {
  background-position: 0 -1220px;
}
.flag.tza {
  background-position: 0 -1253px;
}
.flag.twn {
  background-position: 0 -1286px;
}
.flag.tha {
  background-position: 0 -1319px;
}
.flag.swe {
  background-position: 0 -1352px;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 3px;
  background: transparent;
  outline: none;
  border: none;
  font: 600 12px 'LatoMedium', 'Open Sans', sans-serif;
  letter-spacing: 0;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.btn a {
  text-decoration: none;
  color: #171b23;
}
.btn a:hover,
.btn a:active {
  text-decoration: none;
}
.btn:hover,
.btn:active {
  outline: none;
  text-decoration: none;
}
.btn_orange {
  background: #ff8400;
}
.btn_orange:hover,
.btn_orange:active {
  background: #e67700;
}
.btn_transparent {
  background: transparent;
  border: 1px solid #23334f;
  font: 600 14px 'LatoBlack', 'Open Sans', sans-serif;
}
.btn_transparent:hover,
.btn_transparent:active {
  background: #ffffff;
  color: #292828;
}
.btn_white {
  background: #ffffff;
  color: #171b23;
}
.btn_white:hover,
.btn_white:active {
  background: #b30910;
  color: #ffffff;
}
.btn_big {
  font-size: 20px;
  padding: 12px 50px;
}
.btn_offset {
  margin: 15px 0;
}
.btn_join {
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 27px 30px;
  background: #b30910;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 0 0 20px;
}
.btn_join:hover,
.btn_join:active {
  background: #e40b14;
}
.btn_find {
  background: #b30910;
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 12px 20px;
}
.btn_find:hover,
.btn_find:active {
  background: #e40b14;
}
.btn_submit {
  background: #b30910;
  font-family: 'LatoBlack', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 20px 28px;
}
.btn_submit:hover,
.btn_submit:active {
  background: #e40b14;
}
.btn_google {
  background: #ff3d3e;
}
.btn_google:hover {
  background: #ff5757;
}
.btn_fb {
  background: #2e5ec1;
}
.btn_fb:hover {
  background: #396ad0;
}
.btn_social {
  padding: 0;
}
.btn_social:before,
.btn_social:after {
  content: " ";
  display: table;
}
.btn_social:after {
  clear: both;
}
.btn_social .icon {
  float: left;
}
.btn_social a {
  float: right;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.9;
  width: 75%;
}
.btn_disabled {
  cursor: default;
  pointer-events: none;
  background: #637392;
}
.icon_inline {
  display: inline-block;
  vertical-align: middle;
}
.icon_block {
  display: block;
}
.icon_pga {
  width: 36px;
  height: 36px;
  background: url("/static/img/landing/pga.png") no-repeat center center;
  background-size: contain;
}
.icon_nba {
  width: 35px;
  height: 35px;
  background: url("/static/img/landing/nba-ball.png") no-repeat center center;
}
.icon_mlb {
  width: 36px;
  height: 36px;
  background: url("/static/img/landing/mlb-ball.png") no-repeat center center;
}
.icon_google {
  width: 32px;
  height: 31px;
  background: url("/static/img/sign-up/google.png") no-repeat center center;
}
.icon_fb {
  width: 32px;
  height: 31px;
  background: url("/static/img/sign-up/facebook.png") no-repeat center center;
}
.icon_bell {
  width: 20px;
  height: 20px;
  background: url("/static/img/home/bell.png") no-repeat center center;
}
.icon_notification {
  display: block;
  position: absolute;
  top: -4px;
  right: -3px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #b30910;
  color: #ffffff;
  text-align: center;
  font: 300 10px 'Open Sans', sans-serif;
}
.icon_dollar,
.icon_token {
  width: 16px;
  height: 16px;
}
.icon_token {
  background: url("/static/img/home/token-icon.png") no-repeat center center;
}
.icon_dollar {
  background: url("/static/img/home/dollar-icon.png") no-repeat center center;
}
.icon_close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: url("/static/img/cross-red.png") no-repeat center center;
  background-size: cover;
}
.money__count {
  font: 300 12px 'Open Sans', sans-serif;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
.ssl {
  display: inline-block;
  vertical-align: middle;
}
.ssl__link {
  text-decoration: none;
  color: #ffffff;
}
.sd {
  margin: 0 100px;
  display: inline-block;
  vertical-align: middle;
}
.popup-wrapper {
  display: none;
}
.has-popup .popup-wrapper {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  font-size: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.has-popup .popup-wrapper > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}
.has-popup.popup-visible .popup-wrapper {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}
.popup {
  position: relative;
  top: 70px;
  box-sizing: border-box;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #e4e6ec;
  border-radius: 3px;
  box-shadow: 0 5px 15px -5px #000000;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: opacity 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s, -webkit-transform 0.2s;
}
.popup:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.popup-visible .popup {
  z-index: 100;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.popup .registration {
  padding: 20px 22px;
  width: 335px;
}
.popup .terms {
  width: 500px;
  padding: 20px 30px;
  left: calc(50% - 250px);
  left: -o-calc(50% - 250px);
}
.popup .terms .pop-up__in {
  overflow-y: scroll;
  max-height: 500px;
}
.tournament-info {
  padding: 100px 0 0;
}
.tournament-info .title {
  color: #ffffff;
  font-size: 32px;
}
.stakes-table-wrap {
  margin: 30px 0;
}
.stakes-table {
  font: 600 14px 'Open Sans', sans-serif;
  color: #ffffff;
}
.stakes-table td {
  padding: 5px 20px 5px 0;
}
.stakes-table__head td:nth-child(1),
.stakes-table__head td:nth-child(2) {
  color: #96e600;
}
.stakes-table__body td:nth-child(1),
.stakes-table__body td:nth-child(2) {
  color: #96e600;
}
.news {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 380px;
  min-height: 670px;
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.6);
}
.news .title {
  font-size: 24px;
}
.news__logo {
  position: relative;
  left: -40px;
  margin: 0 0 10px;
}
.news__top {
  padding: 20px;
  margin: 0 0 2px;
  background: #ffffff;
  overflow: hidden;
  max-height: 350px;
}
.news__img-wrap {
  margin: 10px auto;
}
.news__bottom {
  padding: 20px;
  background: #ffffff;
}
.news__bottom p {
  margin: 0 0 10px;
}
.news__button {
  margin: 20px;
}
.news__button a {
  text-decoration: none;
}
.board {
  margin: -50px 0 0;
  font-size: 0;
  z-index: 10;
}
.board:before,
.board:after {
  content: " ";
  display: table;
}
.board:after {
  clear: both;
}
.board__item {
  font-size: 0;
  float: left;
  height: 50px;
  padding: 12px 5px 0;
  background: #ddebf1;
  width: 16.66%;
}
.board__item:first-child {
  font-size: 18px;
  font-weight: 600;
  background: #c9dfe8;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
}
.board__item:last-child {
  padding: 10px 15px;
}
.board__num {
  display: inline-block;
  vertical-align: middle;
  font: 600 20px 'Open Sans', sans-serif;
  color: #171b23;
}
.board__name {
  display: inline-block;
  vertical-align: middle;
  font: 300 15px 'Open Sans', sans-serif;
  color: #171b23;
}
.board__flag {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0;
}
@media (max-width: 1100px) {
  .board__name {
    font-size: 12px;
  }
  .board__num {
    font-size: 15px;
  }
}
.registration__social {
  margin: 20px 0 12px;
}
.registration__social:before,
.registration__social:after {
  content: " ";
  display: table;
}
.registration__social:after {
  clear: both;
}
.registration__social .btn {
  width: 49%;
}
.registration__social .btn:nth-child(1) {
  float: left;
}
.registration__social .btn:nth-child(2) {
  float: right;
}
.registration__form-top .input {
  width: 100%;
  margin: 0 0 12px;
}
.registration__form-bottom:before,
.registration__form-bottom:after {
  content: " ";
  display: table;
}
.registration__form-bottom:after {
  clear: both;
}
.registration__form-bottom .select {
  width: 49%;
}
.registration__form-bottom .select[name="country"] {
  float: left;
}
.registration__form-bottom .select[name="state"] {
  float: right;
}
.registration__form-bottom .select[disabled] {
  opacity: .5;
}
.registration__terms {
  margin: 20px 0 20px;
}
.registration__sign-up {
  text-align: center;
}
.parsley-errors-list.filled > li {
  color: #b30910;
  font-size: 14px;
  margin-bottom: 5px;
}
.landing__item {
  position: relative;
}
.landing__item--1 {
  min-height: 720px;
  background: url("/static/img/landing/landing-1.jpg") no-repeat center top;
  background-size: cover;
}
.landing__item--2 {
  min-height: 707px;
  background: url("/static/img/landing/landing-2.jpg") no-repeat center top;
  background-size: cover;
  padding: 0 0 180px;
}
.landing__item--3 {
  min-height: 660px;
  background: url("/static/img/landing/landing-3.png") no-repeat center top;
  background-size: cover;
  margin: -220px 0 0;
  padding: 140px 0 0;
}
.landing__item--4 {
  min-height: 900px;
  background: url("/static/img/landing/landing-4.png") no-repeat center top;
  background-size: cover;
  z-index: 1;
}
.landing__item--4-2 {
  min-height: 850px;
  background: url("/static/img/landing/landing-4-2.jpg") no-repeat center top;
  background-size: cover;
  z-index: 0;
  margin: -340px 0 0 0;
  padding: 150px 0 0;
}
.landing__item--5 {
  min-height: 630px;
  background: url("/static/img/landing/landing-5.jpg") no-repeat center top;
  background-size: cover;
}
.landing__item--6 {
  min-height: 750px;
  background: url("/static/img/landing/landing-6.jpg") no-repeat center top;
  background-size: cover;
}
.landing__item--6-2 {
  background: url("/static/img/landing/landing-6-2.jpg") no-repeat center top;
  background-size: cover;
}
.landing__item-in {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
.landing__item-in:before,
.landing__item-in:after {
  content: " ";
  display: table;
}
.landing__item-in:after {
  clear: both;
}
.landing__devices {
  position: relative;
}
.landing__devices:before,
.landing__devices:after {
  content: " ";
  display: table;
}
.landing__devices:after {
  clear: both;
}
.float-box--title-1 {
  margin: 140px 0 0 100px;
}
.float-box--title-2 {
  margin: 105px 0 0;
}
.float-box--title-3 {
  float: right;
}
.float-box--title-4 {
  margin: 220px 0 0;
}
.float-box--title-5 {
  margin: 200px 0 0;
  text-align: center;
}
.float-box--title-6 {
  margin: 90px 0 0;
  text-align: center;
}
.float-box--inline {
  vertical-align: middle;
  display: inline-block;
}
.float-box--join-btn {
  margin: 80px 0 0 100px;
}
.float-box--money-back {
  position: absolute;
  bottom: 0;
  right: 0;
}
.float-box--find-btn {
  text-align: center;
}
.float-box--devices {
  float: right;
  margin: 120px 0 0 0;
}
.comments-list-wrap {
  height: 510px;
  overflow-y: auto;
}
.comments-list__item {
  margin: 10px 0 60px;
  position: relative;
}
.comments-list__photo {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #000;
  width: 50px;
  height: 50px;
}
.comments-list__content {
  padding: 0 0 0 70px;
}
.comments-list__text {
  margin-top: 30px;
}
.sport-icons {
  font-size: 0;
  margin: 50px 0 0;
}
.sport-icons__item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 15%;
  margin: 0 30px;
  max-width: 70px;
}
.sport-icons__img {
  margin: 0 0 15px;
}
.started-icons__item {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  padding: 0 20px;
  box-sizing: border-box;
}
.started-icons__item--ball img {
  height: 70px;
  margin: 30px 0 45px;
}
.started-icons__img {
  margin: 20px 0 40px;
  height: 85px;
}
.started-icons__arrow {
  display: inline-block;
  vertical-align: middle;
  opacity: .2;
}
.sports-images {
  font-size: 0;
  text-align: center;
  margin: 80px auto 80px;
}
.sports-images__img {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin: 10px 0;
}
.sports-images__img img {
  max-width: 100%;
}
.foot__in {
  border-top: 1px solid #666a82;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 70px;
}
.foot__in:before,
.foot__in:after {
  content: " ";
  display: table;
}
.foot__in:after {
  clear: both;
}
.foot__resident {
  margin: 0 0 50px;
  opacity: .6;
}
.foot__links {
  margin: 30px 0 0;
}
.foot__links a {
  padding-right: 10px;
}
.foot__left {
  float: left;
  width: 50%;
  padding: 0 20px 0 0;
}
.foot__right {
  float: right;
  width: 45%;
  padding: 0 0 0 20px;
}
.foot__form {
  margin: 50px 0 0;
}
.foot__form input {
  margin: 0 27px 0 0;
}
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden; 
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.flip-clock-dot.top {
  top: 30px; }

.flip-clock-dot.bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.flip-clock-wrapper {
  margin: 10px 0;
}
.flip-clock-wrapper ul {
  width: 50px;
  height: 80px;
  background: #000;
}
.flip-clock-wrapper ul li {
  line-height: 80px;
}
.flip-clock-wrapper ul li a div div.inn {
  color: #000000;
  background-color: #f1f3f4;
  border-radius: 5px;
  font-size: 50px;
  text-shadow: none;
}
.flip-clock-wrapper .flip {
  box-shadow: 0 5px 13px -5px rgba(0, 0, 0, 0.7);
}
.flip-clock-divider {
  width: 10px;
}
.flip-clock-divider.minutes .flip-clock-label,
.flip-clock-divider.seconds .flip-clock-label {
  right: -82px;
}
.flip-clock-divider .flip-clock-label {
  font-size: 12px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #ffffff;
  bottom: -10px;
  top: initial;
  right: -75px;
}
.flip-clock-dot.top {
  display: none;
}
.flip-clock-dot.bottom {
  display: none;
}
