.money {
    position: relative;
    .inline-flex-container(row, center, baseline);

    &__or {
        margin: 0 8px 0 0;
        font-size: 15px;
    }
    &.column {
        flex-direction: column;
        align-items: center;

        .tokens,
        .dollars {
            margin: 5px 0;
        }
    }
    &.medium {
        .tokens,
        .dollars {
            font-size: 20px;
            margin: 0 5px;
        }
    }

    // Adaptive
    @media (max-width: 1024px) {

        &__or {
            font-size: 12px;
        }
    }
}
