@font-face {
    font-family: 'latoblack';
    src: url('/static/font/LatoBlackFont/lato-black-webfont.eot');
    src: url('/static/font/LatoBlackFont/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoBlackFont/lato-black-webfont.woff2') format('woff2'),
    url('/static/font/LatoBlackFont/lato-black-webfont.woff') format('woff'),
    url('/static/font/LatoBlackFont/lato-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy';
    src: url('/static/font/LatoFont/lato-heavy-webfont.eot');
    src: url('/static/font/LatoFont/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoFont/lato-heavy-webfont.woff2') format('woff2'),
    url('/static/font/LatoFont/lato-heavy-webfont.woff') format('woff'),
    url('/static/font/LatoFont/lato-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratblack';
    src: url('/static/font/MontserratBlackFont/montserrat-black-webfont.eot');
    src: url('/static/font/MontserratBlackFont/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/MontserratBlackFont/montserrat-black-webfont.woff2') format('woff2'),
    url('/static/font/MontserratBlackFont/montserrat-black-webfont.woff') format('woff'),
    url('/static/font/MontserratBlackFont/montserrat-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latomedium';
    src: url('/static/font/LatoMediumFont/lato-medium-webfont.eot');
    src: url('/static/font/LatoMediumFont/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoMediumFont/lato-medium-webfont.woff2') format('woff2'),
    url('/static/font/LatoMediumFont/lato-medium-webfont.woff') format('woff'),
    url('/static/font/LatoMediumFont/lato-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


