@import "../normalize";

@import "../common/variables";
@import "../common/template/includes";
@import "../common/template/atoms";
@import "./fonts";
@import "../common/mixins";
@import "../web/animations";

@import "../common/forms/ui";

@import "../common/template/icons";
@import "../common/template/header";
@import "../common/template/footer";
@import "../common/template/buttons";
@import "../web/forms/modals";
@import "../web/blocks/profile";
@import "../web/blocks/deposit-money";
@import "../web/blocks/idology";
@import "../web/blocks/withdraw";
@import "../web/blocks/pageslide-menu";
@import "../web/blocks/user-account";
@import "../common/blocks/user-stats";
@import "../common/blocks/tooltips";
@import "../common/blocks/notifications";
@import "../page404";
@import "../block-screen";


html,
body {
    height: 100%;
}
#app {
    height: 100%;
}

//App styles
.selector-root {
    position: relative;
}
.app {
    height: 100%;
    background: url("/static/img/selector/main-background.jpg") no-repeat top center;
    background-size: cover;
    min-height: 100%;
    &__row {
        margin: 0 auto;
        max-width: 1200px;
        position: relative;
        .clearfix();
    }
    &__in {
        position: relative;
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
        padding: 110px 0 30px 0;
    }
    &__left,
    &__right {
        display: inline-block;
        vertical-align: top;
    }
    &__left {
        width: 66%;
        margin: 0 20px 0 0;
    }
    &__right {
        width: 31%;
    }

    &__foot {
        .flex-container(row, center, stretch);
        padding-top: 30px;
        width: 100%;
        position: relative;
        height: 368px;
        z-index: 90;
    }
    &__unavailable-games {
        .flex-container(column, center, center);
        height: 570px;
        background-size: cover;
        &--basketball {
            background: url("/static/img/selector/basketball-selector-bg.jpg") no-repeat center center;
        }
        &--soccer {
            background: url("/static/img/selector/soccer-selector-bg.jpg") no-repeat center center;
        }
        &--golf {
            background: url("/static/img/selector/golf-selector-bg.jpg") no-repeat center center;
        }
        &--baseball {
            background: url("/static/img/selector/baseball-selector-bg.jpg") no-repeat center center;
        }
    }
    &__game-info {
        text-align: center;
        font: 300 16px @latoBlack;
        text-transform: uppercase;
        color: @white;
        max-width: 680px;
        img {
            margin: 0 0 20px 0;
        }
    }
}

.tokens,
.dollars {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font: 300 15px @latoBlack;
    letter-spacing: 2px;

    &__symb {
        margin-left: 2px;
        font: 300 15px @latoBlack;
        &.medium {
            font-size: 18px;
        }
        &.x-big {
            font-size: 30px;
        }
        &.xl-big {
            font-size: 35px;
        }
    }

    .icon {
        margin: 0 5px 0 0;
    }

    &.x-big {
        font-size: 30px;
    }
    &.xl-big {
        font-size: 35px;
    }
    &.big {
        font-size: 20px;
    }
    &.medium {
        font-size: 18px;
    }
    &.small {
        font-size: 14px;
    }
    &.bold {
        font-weight: 600;
    }
    &.gray {
        color: #a8b1b7;
    }

    // Adaptive
    @media (max-width: 1026px) {
        font-size: 12px;

        &.big {
            font-size: 16px;
        }
    }
}

.text {
    font: 300 11px @latoBlack;
    color: @white;

    &--montserrat-black {
        font-family: @montserratBlack;
    }
    &--lato-medium {
        font-family: @latoMedium;
    }

    &--gray-dark {
        color: @grayDark;
    }
    &--gray-light {
        color: @grayLight;
    }
    &--red {
        color: @red;
    }
    &--blue {
        color: @blue;
    }
    &--green {
        color: @green;
    }
    &--black {
        color: #000000;
    }

    &--size-10 {
        font-size: 10px;
    }
    &--size-12 {
        font-size: 12px;
    }
    &--size-14 {
        font-size: 14px;
    }
    &--size-16 {
        font-size: 16px;
    }
    &--size-24 {
        font-size: 24px;
    }
    &--uppercase {
        text-transform: uppercase;
    }

    &--link-arrow {
        color: @red;
        font: 600 10px @latoBlack;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: lighten(@red, 10);
        }
    }
}

.title {
    color: @white;
    font-family: @montserratBlack;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    &--h1 {
        font-size: 48px;
        margin: 20px 0 10px;
    }
    &--h3 {
        font-size: 20px;
    }
    &--h4 {
        font-size: 14px;
        font-family: @latoBlack;
    }

    &--red {
        color: @red;
    }
    &--gray {
        color: @grayLight;
    }
    &--blue {
        color: @blue;
    }
    &--black {
        color: #000;
    }

    &--lato-black {
        font-family: @latoBlack;
    }
}
//App styles END


//SCHEDULE
.schedule {
    padding: 40px 30px 50px;
    box-sizing: border-box;
    border: 1px solid #383c47;
    border-radius: 5px;
    height: 390px;
    .clearfix();
    &--nfl {
        background: url('/static/img/selector/schedule-background.jpg') no-repeat top center;
        background-size: cover;
    }
    &--nba {
        background: url('/static/img/selector/bg_selector_nba_tournament.png') no-repeat top center;
        background-size: cover;
    }
    &--golf {
        background: url('/static/img/selector/bg_selector_golf_tournament.png') no-repeat top center;
        background-size: cover;
    }

    &__top {
        margin: 0 0 97px;
    }
    &__left {
        width: 60%;
        float: left;
    }
    &__right {
        width: 33%;
        float: right;
    }
    &__item {
        font-size: 0;
        margin: 20px 0 0;
        min-width: 245px;
    }
    &__team,
    &__team-logo,
    &__time {
        display: inline-block;
        vertical-align: middle;
    }
    &__team-logo {
        width: 40px;
        height: 45px;
        overflow: hidden;
        img {
            width: 40px;
            height: 45px;
        }
    }
    &__team {
        border: 1px solid #45536f;
        background-color: #d2d7e1;
        font: 600 12px @latoBlack;
        text-transform: uppercase;
        text-align: center;
        line-height: 45px;
        width: 45px;
        height: 45px;
        &--left {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &--right {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
    &__time {
        text-align: center;
        background-color: #13192f;
        width: 72px;
        height: 33px;
        border-top: 1px solid #3e5270;
        border-bottom: 1px solid #3e5270;
    }
    &__info {
        margin: 80px 0 0;
    }
}

.time-counter {
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
    &__clock {
        margin-left: -8px;
    }
    &__item {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 55px;
        padding: 5px 0 5px 0;
        box-sizing: border-box;
        .text {
            letter-spacing: 2px;
        }
    }
}
//SCHEDULE END



//COMPETITION ROOMS
.competition-rooms {
    background: radial-gradient(at bottom right, #212f4b, #10192a);
    padding: 20px 30px 15px;
    margin: 20px 0 0 0;
    border-radius: 5px;
    min-height: 235px;
    border: 1px solid #383c47;

    .title {
        margin: 0 0 20px;
    }
    &__game {
        position: relative;
        border: 1px solid #363d4c;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
        width: 228px;
        margin: 0 6px;
        cursor: pointer;
        &:hover {
            .competition-rooms__stakes {
                opacity: 0;
            }
            .competition-rooms__btn-enter {
                opacity: 1;
            }
        }
    }
    &__icons {
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        background-color: @red;
        width: 70px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -20px;
            display: block;
            width: 0;
            height: 0;
            border-color: @red;
            border-top: 20px solid @red;
            border-left: 20px solid transparent;
        }
        .icon {
            vertical-align: middle;
            margin: 0 5px 0;
        }
    }
    &__top {
        background-color: #283245;
        padding: 30px 20px 10px;
        font: 300 12px @latoBlack;
        letter-spacing: 1px;
        color: @white;
        height: 95px;
        box-sizing: border-box;
    }
    &__bottom {
        position: relative;
        height: 58px;
        background-color: #1b2332;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }
    &__stakes {
        transition: all .5s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 15px 12px;
        opacity: 1;
        .clearfix();
    }
    &__btn-enter {
        transition: all .3s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        .btn {
            margin: 15px auto 0;
            width: 70px;
            display: block;
        }
    }
    &__entry {
        width:49.9%;
        float: left;
        text-align: left;
    }
    &__prize {
        width:49.9%;
        float: right;
        text-align: right;
    }
}
//COMPETITION ROOMS END



//NEWS
.news {
    background-color: @white;
    border-radius: 5px;
    box-sizing: border-box;
    height: 390px;

    &__btn {
        text-align: center;
    }
    &__top {
        padding: 20px 20px;
        position: relative;
        border-bottom: 1px solid #e7e8e9;
        .text {
            position: absolute;
            top: 25px;
            right: 20px;
        }
    }
    &__content {
        padding: 20px 20px;
    }
    &__item {
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 23px 20px;
        border-bottom: 1px solid #e7e8e9;
        cursor: pointer;
        .clearfix();
        &:hover {
            > .news-popup {
                display: block;
            }
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &__img {
        float: left;
        width: 85px;
    }
    &__brief {
        float: left;
        width: 70%;
    }
}
.news-popup {
    width: 260px;
    height: 260px;
    top: 0;
    left: -275px;
    position: absolute;
    background: #141e32;
    z-index: 5;
    box-shadow: 0 0 7px 0 rgba(0,0,0, .8);
    display: none;

    &:before {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        right: -15px;
        top: 25px;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 15px solid @red;
        border-bottom: 25px solid transparent;
    }

    &__content {
        padding: 25px 15px;
        a {
            display: block;
            margin: 15px 0 0;
        }
    }
}
//NEWS END



//LEADERBOARD
@leaderboardFont: 300 10px @latoBlack;

.leaderboard {
    position: relative;
    height: 235px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    background: url('/static/img/selector/selector-leaderboard-bg.jpg') no-repeat center;
    background-size: cover;
    &__content {
        position: relative;
    }
    &__player {
        position: absolute;
        text-align: center;
        &--left {
            top: 50px;
            left: 0;
        }
        &--center {
            top: 10px;
            left: 30%;
            right: 30%;
        }
        &--right {
            top: 50px;
            right: 0;
        }
    }
    &__player-img {
        margin: 0 auto;
        position: relative;
        top: 18px;
    }
    &__pedestal {
        position: relative;
        text-align: center;
    }
    &__points {
        position: absolute;
        top: 2px;
        left: 30px;
        right: 30px;
        font: @leaderboardFont;
        color: #626262;
    }
    &__name {
        position: absolute;
        top: 21px;
        left: 5px;
        right: 5px;
        text-align: center;
        color: #2e2b2b;
        font: @leaderboardFont;
        text-transform: uppercase;
    }
    &__position {
        position: absolute;
        top: 38px;
        left: 40px;
        right: 40px;
        color: #097b3d;
        font: @leaderboardFont;
    }
}
//LEADERBOARD END



//POPUP
.popup {
    background-color: #fff;
    position: relative;
    padding: 20px;
    min-width: 300px;

    &__close {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &__title {
        margin: 10px 0;
    }
}
.finish-registration-dialog {
    .flex-container(column, start, start);

    &__element {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__label {
        color: @black;
    }

    &__link {
        text-decoration: none;
    }
}
.common-dialog {
    .flex-container(column, start, start);
    background: #ffffff;
    border-radius: 4px;
    padding: 20px;
    font-size: 14px;

    &__title {
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .btn-inline {
        .flex-container(row, space-between, center);
        padding: 10px ;
        margin: 10px 0;
        .btn {

        }
    }
}
//POPUP END


// ARTICLE
.article {
    font-weight: 300;
    font-size: 15px;
    font-family: @regular;
    text-transform: none;
    color: @white;
    padding: 70px 0 0 0;
    max-width: 100%;
    width: 100%;

    p,
    li {
        line-height: 1.6;
    }
    p {
        margin: 10px 0 20px;

        &.bottom-0 {
            margin-bottom: 0;
        }
        &.bottom-10 {
            margin-bottom: 10px;
        }
    }
    &__head {
        .flex-container(row, space-between, center);
    }
    &__title {
        flex-basis: 70%;
    }
    &__close {
        flex-basis: 30%;
        text-align: right;
    }
    &__section {
        margin: 0 auto 20px;
        max-width: 970px;
        h1 {
            margin: 32px 0 20px 10px;
        }
    }
    ul,
    ol {
        margin: 10px 0;
        padding: 0 20px;

        li {
            margin: 0 0 4px;
        }
    }
    ol {
        margin-bottom: 30px;
        list-style: disc;
    }
    a {
        color: @white;

        &:hover,
        &:active,
        &:focus {
            color: @white;
            text-decoration: none;
        }
    }
    .disc-list {
        margin-bottom: 20px;
    }
    &__actions {
        margin: 10px 0;
        text-align: center;
    }
    .table {
        margin-bottom: 20px;

        th {
            padding: 5px 8px;
        }
        td {
            padding: 3px 8px;
        }
    }
}


// GRID
.flex-row-between {
    padding: 5px;
    .flex-container(row, space-between, center);
}
