/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS Reset End */

.landing-wrap {
    width: 100%;
    height: 100%;

}
.landing {
    background: url("landing-FB.jpg") no-repeat bottom center;
    background-size: cover;
    min-height: 680px;
    position: relative;
}
.button {
    padding: 10px 22px;
    border: none;
    outline: 0 none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    top: 55%;
    right: 25%;

    font: 600 30px/1 'Kelson Sans Regular', 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.button.red {
    background: linear-gradient(to bottom, #ff824a, #f73000);
    border-left: 1px solid #dd6868;
    border-right: 1px solid #dd6868;
    border-bottom: 1px solid #a44d4d;
    text-shadow: 1px 2px 1px #b21b00;
}
.button.red:hover {
    background: linear-gradient(to top, #fe7345, #f72901);
}

.button:hover,
.button:active {
     outline: none;
}
.title {
    font: 600 45px/1 'Kelson Sans Regular', 'Open Sans', sans-serif;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    text-shadow: 1px 2px 1px #162764;
    position: absolute;
    top: 30%;
    right: 15%;
    max-width: 500px;
    text-align: center;
}
