/*
  Icon Font: howfar
*/

@font-face {
  font-family: "howfar";
  src: url("./howfar.eot");
  src: url("./howfar.eot?#iefix") format("embedded-opentype"),
       url("./howfar.woff") format("woff"),
       url("./howfar.ttf") format("truetype"),
       url("./howfar.svg#howfar") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "howfar";
    src: url("./howfar.svg#howfar") format("svg");
  }
}

.icon {font-size: 2em;}
.icon-05x {font-size: 1em;}
.icon-15x {font-size: 3em;}
.icon-2x {font-size: 4em}
.icon-3x {font-size: 6em;}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-back:before,
.icon-bubble:before,
.icon-cart:before,
.icon-chart:before,
.icon-checklist:before,
.icon-clock:before,
.icon-close:before,
.icon-crown:before,
.icon-crown-2:before,
.icon-crown-3:before,
.icon-crown-4:before,
.icon-cup:before,
.icon-day:before,
.icon-day-big:before,
.icon-desktop:before,
.icon-edit:before,
.icon-exchange:before,
.icon-facebook:before,
.icon-fri:before,
.icon-gift:before,
.icon-globe:before,
.icon-golf_ball:before,
.icon-grid:before,
.icon-house:before,
.icon-info:before,
.icon-joystick:before,
.icon-lens:before,
.icon-message:before,
.icon-minus:before,
.icon-money:before,
.icon-money-2:before,
.icon-money-3:before,
.icon-money-4:before,
.icon-money-5:before,
.icon-money-6:before,
.icon-money-7:before,
.icon-money_b:before,
.icon-money_bw:before,
.icon-moneybag:before,
.icon-moneybag-move:before,
.icon-moneybag-open:before,
.icon-moneybag-rotate:before,
.icon-my_games:before,
.icon-off:before,
.icon-ok:before,
.icon-pen:before,
.icon-people:before,
.icon-person:before,
.icon-plus:before,
.icon-plus-sign:before,
.icon-question:before,
.icon-rotate:before,
.icon-sat:before,
.icon-settings:before,
.icon-sort-az:before,
.icon-sort-az-rev:before,
.icon-sort-pos:before,
.icon-sort-pos-rev:before,
.icon-sort-wr:before,
.icon-sort-wr-rev:before,
.icon-sort1-2:before,
.icon-spinner:before,
.icon-standings:before,
.icon-submit:before,
.icon-sun:before,
.icon-switch-off:before,
.icon-switch-on:before,
.icon-table:before,
.icon-thu:before,
.icon-unknown:before,
.icon-up-hand:before,
.icon-user:before,
.icon-x:before,
.icon-x-sign:before,
.icon-y:before {
  display: inline-block;
  font-family: "howfar";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-back:before { content: "\f100"; }
.icon-bubble:before { content: "\f101"; }
.icon-cart:before { content: "\f102"; }
.icon-chart:before { content: "\f103"; }
.icon-checklist:before { content: "\f104"; }
.icon-clock:before { content: "\f105"; }
.icon-close:before { content: "\f147"; }
.icon-crown:before { content: "\f106"; }
.icon-crown-2:before { content: "\f107"; }
.icon-crown-3:before { content: "\f108"; }
.icon-crown-4:before { content: "\f109"; }
.icon-cup:before { content: "\f10a"; }
.icon-day:before { content: "\f10b"; }
.icon-day-big:before { content: "\f10c"; }
.icon-desktop:before { content: "\f10d"; }
.icon-edit:before { content: "\f10e"; }
.icon-exchange:before { content: "\f10f"; }
.icon-facebook:before { content: "\f110"; }
.icon-fri:before { content: "\f111"; }
.icon-gift:before { content: "\f144"; }
.icon-globe:before { content: "\f112"; }
.icon-golf_ball:before { content: "\f148"; }
.icon-grid:before { content: "\f113"; }
.icon-house:before { content: "\f114"; }
.icon-info:before { content: "\f115"; }
.icon-joystick:before { content: "\f116"; }
.icon-lens:before { content: "\f117"; }
.icon-message:before { content: "\f118"; }
.icon-minus:before { content: "\f14b"; }
.icon-money:before { content: "\f119"; }
.icon-money-2:before { content: "\f11a"; }
.icon-money-3:before { content: "\f11b"; }
.icon-money-4:before { content: "\f11c"; }
.icon-money-5:before { content: "\f11d"; }
.icon-money-6:before { content: "\f11e"; }
.icon-money-7:before { content: "\f11f"; }
.icon-money_b:before { content: "\f149"; }
.icon-money_bw:before { content: "\f145"; }
.icon-moneybag:before { content: "\f120"; }
.icon-moneybag-move:before { content: "\f121"; }
.icon-moneybag-open:before { content: "\f122"; }
.icon-moneybag-rotate:before { content: "\f123"; }
.icon-my_games:before { content: "\f14a"; }
.icon-off:before { content: "\f124"; }
.icon-ok:before { content: "\f125"; }
.icon-pen:before { content: "\f126"; }
.icon-people:before { content: "\f127"; }
.icon-person:before { content: "\f128"; }
.icon-plus:before { content: "\f129"; }
.icon-plus-sign:before { content: "\f12a"; }
.icon-question:before { content: "\f12b"; }
.icon-rotate:before { content: "\f12c"; }
.icon-sat:before { content: "\f12d"; }
.icon-settings:before { content: "\f12e"; }
.icon-sort-az:before { content: "\f12f"; }
.icon-sort-az-rev:before { content: "\f130"; }
.icon-sort-pos:before { content: "\f131"; }
.icon-sort-pos-rev:before { content: "\f132"; }
.icon-sort-wr:before { content: "\f133"; }
.icon-sort-wr-rev:before { content: "\f134"; }
.icon-sort1-2:before { content: "\f135"; }
.icon-spinner:before { content: "\f136"; }
.icon-standings:before { content: "\f137"; }
.icon-submit:before { content: "\f138"; }
.icon-sun:before { content: "\f139"; }
.icon-switch-off:before { content: "\f13a"; }
.icon-switch-on:before { content: "\f13b"; }
.icon-table:before { content: "\f13c"; }
.icon-thu:before { content: "\f13d"; }
.icon-unknown:before { content: "\f13e"; }
.icon-up-hand:before { content: "\f13f"; }
.icon-user:before { content: "\f140"; }
.icon-x:before { content: "\f141"; }
.icon-x-sign:before { content: "\f142"; }
.icon-y:before { content: "\f143"; }

