@keyframes rotate {
    0% {
        transform-origin: center center;
        transform: rotate(-360deg);
    }

    100% {
        transform-origin: center center;
        transform: rotate(0);
    }
}

.rotate {
    animation-duration: 6s;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotate;
}

.icon-spin {
    display: inline-block;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.pulsar {
    animation-name: pulsar;
}

@keyframes pulsar-mini {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.pulsar-mini {
    animation-name: pulsar-mini;
}


@keyframes drive-from-left {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    60% {
        opacity: 0.5;
        transform: translateX(30px);
    }

    80% {
        opacity: 0.75;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.drive-from-left {
    animation-name: drive-from-left;
}


@keyframes clouds {
    0% {
        left: 1800px;
    }

    100% {
        left: -350px;
    }
}

.clouds {
    animation-name: clouds;
}

@keyframes drive-from-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 0.5;
        transform: translateX(-30px);
    }

    80% {
        opacity: 0.75;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.drive-from-right {
    animation-name: drive-from-right;
}

.animate-from-right {
    animation: drive-from-right 1s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeBackground {
    0% {
        background-color: rgba(21, 53, 63, 0.01);
    }

    25% {
        background-color: rgba(21, 53, 63, 0.25);
    }

    50% {
        background-color: rgba(21, 53, 63, 0.45);
    }

    75% {
        background-color: rgba(21, 53, 63, 0.65);
    }

    100% {
        background-color: rgba(21, 53, 63, 0.75);
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: scale3d(.05, .05, .05);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.appearance {
    animation-name: appearance;
    pointer-events: none;
}

@keyframes shake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(1px, 0, 0);
    }
}

.shake {
    animation-name: shake;
}

// Prediction table animations
@keyframes move-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(50px);
        opacity: 0;
    }
}
.move-right {
    animation-name: move-right;
}
@keyframes move-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50px);
        opacity: 0;
    }
}
.move-left {
    animation-name: move-left;
}



//ReactCSSTransitionGroup animations
.accordion-enter,
.accordion-leave.accordion-leave-active {
    opacity: 0;
    transform: scale(0);
}

.accordion-enter.accordion-enter-active,
.accordion-leave {
    opacity: 1;
    transform: scale(1);
}

.accordion-enter,
.accordion-leave {
    transition: all .4s ease-out;
}



.slide-down-enter {
    opacity: 0;
    max-height: 0;
    min-height: 0;
}
.slide-down-enter.slide-down-enter-active {
    opacity: 1;
    max-height: 387px;
    min-height: 0;
}
.slide-down-leave {
    opacity: 1;
    max-height: 387px;
    min-height: 0;
}
.slide-down-leave.slide-down-leave-active {
    opacity: 0;
    max-height: 0;
    min-height: 0;
}
.slide-down-enter,
.slide-down-leave {
    transition: opacity 1.3s ease-out, max-height .2s ease-out;
}



.appear-enter {
    right: -100%;
    transition: .7s ease-in-out;
}

.appear-enter.appear-enter-active {
    right: 0;
}

.appear-leave {
    right: 0;
}

.appear-leave.appear-leave-active {
    right: -100%;
    transition: .7s ease-in-out;
}



.slide-enter,
.slide-leave.slide-leave-active {
    opacity: 0;
}

.slide-enter.slide-enter-active,
.slide-leave {
    opacity: 1;
}

.slide-enter,
.slide-leave {
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}


.fadeInUp-enter,
.fadeInUp-leave.fadeInUp-leave-active {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

.fadeInUp-enter.fadeInUp-enter-active,
.fadeInUp-leave {
    opacity: 1;
    transform: none;
}

.fadeInUp-enter,
.fadeInUp-leave {
    transition: all .3s ease-in-out;
}



.fadeIn-enter {
    opacity: 0;
    transform: scale3d(0,0,0);

}
.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transform: scale3d(1,1,1);

}
.fadeIn-down-leave {
    opacity: 1;
    transform: scale3d(1,1,1);
}
.fadeIn-leave.fadeIn-leave-active {
    opacity: 0;
    transform: scale3d(0,0,0);
}
.fadeIn-enter,
.fadeIn-leave {
    transition: all .5s ease-out;
}



.popup-enter {
    opacity: 0;
}
.popup-enter.popup-enter-active {
    opacity: 1;
    transition: all .5s ease-in;
}
.popup-leave {
    opacity: 1;
}
.popup-leave.popup-leave-active {
    opacity: 0;
    transition: all .5s ease-in;
}
