h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.1;
}

h1 {
    font-size: 24px;
    margin: 10px 0 8px;
}

h2 {
    font-size: 21px;
    margin: 14px 0 6px;
}

h3 {
    font-size: 16px;
    margin: 12px 0 4px;
}

h4 {
    font-size: 18px;
    margin: 8px 0 2px;
}

h5 {
    font-size: 12px;
    margin: 8px 0 2px;
}

h6 {
    margin: 2px 0;
    font-size: 9px;
    text-transform: uppercase;
}


h1,
h2,
h3,
h4,
h5,
h6 {

    &.title {
        color: #e8f3f8;

        &.white {
            color: @white;
        }
        &.blue {
            color: @activeBlue;
        }
        &.green {
            color: @green;
        }
        &.red {
            color: @red;
        }
        &.no-text-up {
            text-transform: none;
        }
        &.top-0 {
            margin-top: 0;
        }
        &.centered {
            text-align: center;
        }
    }
}
