/* MIXINS
==================================*/

// Colors
@separator: lighten(#5b6d75, 5);
@white: white;
@black: black;
@orange: #ff8900;
@blue: #02b9ff;
@red: #ff3d3e;
@activeBlue: #143c64;
@lightBlue: #1482c8;
@grey: #6f727b;
@green: #96e600;

@disabledInput: rgba(82, 95, 102, .8);

// background colors
@overlayTransparent: rgba(237,246,251,.75);
@overlay: rgba(237, 246, 251, 1);
@blueTransparent: rgba(20,130,200,.75);


// Fonts
@regular: 'Open Sans', sans-serif;
@kelson: 'Kelson Sans Regular', @regular;
@roboto: 'Roboto', @regular;



// Forms
@form-bgc: @white;
@form-bdc: #cccccc;
@form-focus: #ee5f5b;



// Media queries breakpoints
// --------------------------------------------------
// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet:              @screen-sm;

// Medium screen / desktop
@screen-md:                  992px;
@screen-desktop:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-desktop:          @screen-lg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);
