.board {
    margin: -50px 0 0;
    font-size: 0;
    z-index: 10;
    .clearfix();

    &__item {
        font-size: 0;
        float: left;
        height: 50px;
        padding: 12px 5px 0;
        background: #ddebf1;
        width: 16.66%;
        &:first-child {
            font-size: 18px;
            font-weight: 600;
            background: #c9dfe8;
            line-height: 1.6;
            text-transform: uppercase;
            text-align: center;
        }
        &:last-child {
            padding: 10px 15px;
        }
    }
    &__num {
        display: inline-block;
        vertical-align: middle;
        font: 600 20px @PFDinTextCondProRegular;
        color: @black;
    }
    &__name {
        display: inline-block;
        vertical-align: middle;
        font: 300 15px @PFDinTextCondProRegular;
        color: @black;
    }
    &__flag {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0;
    }

    @media(max-width: 1100px) {
        &__name {
            font-size: 12px;
        }
        &__num {
            font-size: 15px;
        }
    }
}
