.news {
    position:absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 380px;
    min-height: 670px;
    padding: 100px 0;
    background: rgba(255,255,255,.6);

    .title {
        font-size: 24px;
    }

    &__logo {
        position: relative;
        left: -40px;
        margin: 0 0 10px;
    }
    &__top {
        padding: 20px;
        margin: 0 0 2px;
        background: @white;
        overflow: hidden;
        max-height: 350px;
    }
    &__img-wrap {
        margin: 10px auto;
    }
    &__bottom {
        padding: 20px;
        background: @white;
        p {
            margin: 0 0 10px;
        }
    }
    &__button {
        margin: 20px;
        a {
            text-decoration: none;
        }
    }
}
