.modal-hider {
    position: absolute;
    left: -99999em;
}

.registration {
    &__social {
        margin: 20px 0 40px;
        .clearfix();
        .btn {
            width: 49%;
            &:nth-child(1) {
                float: left;
            }
            &:nth-child(2) {
                float: right;
            }
        }
    }
    &__form-errors {
    }
    &__form-top {
        .input {
            width: 100%;
            margin: 0 0 20px;
        }
    }
    &__form-bottom {
        .clearfix();
        .select {
            width: 49%;
            &[name="country"] {
                float: left;
            }
            &[name="state"] {
                float: right;
            }

            &[disabled] {
                opacity: .5;
            }
        }
    }
    &__recovery-info {
        margin-top: -10px;
        margin-bottom: 10px;
    }
    &__recovery-success {
        margin-bottom: 20px;
        text-align: center;
    }
    &__forgot {
        text-align: right;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    &__terms {
        margin: 20px 0 20px;
    }
    &__sign-up {
        text-align: center;
    }
}

.parsley-errors-list.filled > li {
    color: @red;
    font-size: 14px;
    margin-bottom: 5px;
}
