.tournament-info {
    padding: 100px 0 0;

    .title {
        color: @white;
        font-size: 32px;
    }
}
.stakes-table-wrap {
    margin: 30px 0;
}
.stakes-table {
    font: 600 14px @PFDinTextCondProRegular;
    color: @white;

    td {
        padding: 5px 20px 5px 0;
    }

    &__head {
        td {
            &:nth-child(1), &:nth-child(2) {
                color: @green;
            }
        }
    }
    &__body {
        td {
            &:nth-child(1), &:nth-child(2) {
                color: @green;
            }
        }
    }
}
