@keyframes rotate {
    0% {
        transform-origin: center center;
        transform: rotate(-360deg);
    }

    100% {
        transform-origin: center center;
        transform: rotate(0);
    }
}

.rotate {
    animation-duration: 6s;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotate;
}

.icon-spin {
    display: inline-block;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes drive-from-left {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    60% {
        opacity: 0.5;
        transform: translateX(30px);
    }

    80% {
        opacity: 0.75;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.drive-from-left {
    animation-name: drive-from-left;
}


@keyframes clouds {
    0% {
        left: 1800px;
    }

    100% {
        left: -350px;
    }
}

.clouds {
    animation-name: clouds;
}

@keyframes drive-from-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 0.5;
        transform: translateX(-30px);
    }

    80% {
        opacity: 0.75;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.drive-from-right {
    animation-name: drive-from-right;
}

.animate-from-right {
    animation: drive-from-right 1s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
.blink {
    animation-name: blink;
}

@keyframes fadeBackground {
    0% {
        background-color: rgba(21, 53, 63, 0.01);
    }

    25% {
        background-color: rgba(21, 53, 63, 0.25);
    }

    50% {
        background-color: rgba(21, 53, 63, 0.45);
    }

    75% {
        background-color: rgba(21, 53, 63, 0.65);
    }

    100% {
        background-color: rgba(21, 53, 63, 0.75);
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: scale3d(.05, .05, .05);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.appearance {
    animation-name: appearance;
    pointer-events: none;
}




//ReactCSSTransitionGroup animations
.accordion-enter,
.accordion-leave.accordion-leave-active {
    opacity: 0;
    transform: scale(0);
}

.accordion-enter.accordion-enter-active,
.accordion-leave {
    opacity: 1;
    transform: scale(1);
}

.accordion-enter,
.accordion-leave {
    transition: all .4s ease-out;
}



.slide-down-enter {
    opacity: 0;
    max-height: 0;
    min-height: 0;
}
.slide-down-enter.slide-down-enter-active {
    opacity: 1;
    max-height: 1100px;
    min-height: 0;
}
.slide-down-leave {
    opacity: 1;
    max-height: 1100px;
    min-height: 0;
}
.slide-down-leave.slide-down-leave-active {
    opacity: 0;
    max-height: 0;
    min-height: 0;
}
.slide-down-enter,
.slide-down-leave {
    transition: opacity 1s ease-out, max-height .1s ease-out;
}



.appear-enter {
    right: -325px;
    transition: .7s ease-in-out;
}

.appear-enter.appear-enter-active {
    right: 0;
}

.appear-leave {
    right: 0;
}

.appear-leave.appear-leave-active {
    right: -325px;
    transition: .7s ease-in-out;
}



.slide-enter,
.slide-leave.slide-leave-active {
    opacity: 0;
}

.slide-enter.slide-enter-active,
.slide-leave {
    opacity: 1;
}

.slide-enter,
.slide-leave {
    transition: opacity 2s cubic-bezier(0.77, 0, 0.175, 1);
}


.zoomIn-enter,
.zoomIn-leave.zoomIn-leave-active {
    opacity: .8;
    transform: scale3d(1.5, 1.5, 1.5);
}

.zoomIn-enter.zoomIn-enter-active,
.zoomIn-leave {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.zoomIn-enter,
.zoomIn-leave {
    transition: all 1s ease-out .2s;
}


.background-enter {
    position: absolute !important;
    transform: translate(100%);
}
.background-enter.background-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in;
}
.background-leave {
    position: absolute !important;
    transform: translate3d(0, 0, 0);
}
.background-leave.background-leave-active {
    transform: translate3d(-2000px, 0, 0);
    transition: transform 500ms ease-in;
}
