.red-border {
    border: 2px solid red !important;
}

.green-border {
    border: 2px solid green !important;
}

.yellow-border {
    border: 2px solid yellow !important;
}

.cyan-border {
    border: 2px solid cyan !important;
}

.blue-border {
    border: 2px solid blue;
}

.black-border {
    border: 2px solid black;
}