@font-face {
    font-family: 'Kelson Sans Regular';
    src: url('/static/font/kelson_sans_regular.eot');
    src: url('/static/font/kelson_sans_regular.eot?#iefix') format('embedded-opentype'),
         url('/static/font/kelson_sans_regular.woff') format('woff'),
         url('/static/font/kelson_sans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/static/font/roboto-regular-webfont.eot');
    src: url('/static/font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/roboto-regular-webfont.woff') format('woff'),
         url('/static/font/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


// NFL fonts

@font-face {
    font-family: 'latoblack';
    src: url('/static/font/LatoFont/lato-black-webfont.eot');
    src: url('/static/font/LatoFont/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoFont/lato-black-webfont.woff') format('woff'),
    url('/static/font/LatoFont/lato-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('/static/font/LatoFont/lato-regular-webfont.eot');
    src: url('/static/font/LatoFont/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoFont/lato-regular-webfont.woff') format('woff'),
    url('/static/font/LatoFont/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy';
    src: url('/static/font/LatoFont/lato-heavy-webfont.eot');
    src: url('/static/font/LatoFont/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoFont/lato-heavy-webfont.woff') format('woff'),
    url('/static/font/LatoFont/lato-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium';
    src: url('/static/font/LatoFont/lato-medium-webfont.eot');
    src: url('/static/font/LatoFont/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/LatoFont/lato-medium-webfont.woff') format('woff'),
    url('/static/font/LatoFont/lato-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratblack';
    src: url('/static/font/MontserratFont/montserrat-black-webfont.eot');
    src: url('/static/font/MontserratFont/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/MontserratFont/montserrat-black-webfont.woff') format('woff'),
    url('/static/font/MontserratFont/montserrat-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
