.to-right {
    float: right;
}

.to-left {
    float: left;
}

.in-10 {
    width: 100%;
    padding: 0 10px;
}

// Flex box layout
.flex-box {
    display: flex;
}

.flex-row-start {
    width: 100%;
    .flex-container(row, space-between, flex-start);
}

.flex-row-center {
    width: 100%;
    .flex-container(row, space-between, center);
}

// Loop for creating flex layout
.flex(@n, @i: 1) when (@i =< @n) {
    .f-@{i} {
        flex-basis: (@i * 100% / @n);
    }
    .flex(@n, (@i + 1));
}
.width(@n, @i: 1) when (@i =< @n) {
    .w-@{i} {
        width: (@i * 100% / @n);
    }
    .width(@n, (@i + 1));
}

// Launch flex layout
.flex(100);

// Launch width layout
.width(100);

.no-indent {
    margin: 0 !important;
    padding: 0 !important;
}

.go-right {
    text-align: right;
}
