@import "../common/mixins";


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

//      Games
    .games {

        &__l {
            width: 69%;
        }
        &__r {
            width: 29%;
        }
    }

    .games-banners {

        &__el {
            flex-basis: auto;
            flex-shrink: 0;
            box-sizing: border-box;
            display: block;

            &:first-child,
            &:last-child {
                width: 30%;
            }
            &:nth-child(2) {
                width: 39%;
            }

        }
    }




//    Header
    .user-stats {
        &__item {
            .flex-container(row, center, center);
        }
    }
    .item-counter {
        top: 2px;
    }



//    Home page.Competitions
    .competition {
        section {
            flex-basis: auto;

            &:nth-child(1) {
                width: 30%;
            }
            &:nth-child(2) {
                width: 10%;
            }
            &:nth-child(3) {
                width: 13%;
            }
            &:nth-child(4) {
                width: 18%;
            }
            &:nth-child(5) {
                width: 29%;
            }
        }
    }
    .public-inactive {
        section {
            .stroke {
                width: 90%;
            }
        }
    }



//      Wizard. Choose round
    .round-switch {
        &__el {
            width: 49.8%;
            flex-basis: auto;
            box-sizing: border-box;
        }
    }
    .tour-switch {
        &__el {
            flex-basis: auto;
            width: 50%;
        }
    }

    .helping-text {

        &__icon,
        &__content,
        &__actions {
            flex-basis: auto;
        }
        &__icon {
            width: 8%;
        }
        &__content {
            width: 74%;
        }
        &__actions {
            width: 18%;
        }
    }

//      Step - Prediction-card
    .golfer-with-tour {
        &__el {
            flex-basis: auto;
            &:nth-child(1) {
                width: 35%;
            }
            &:nth-child(2) {
                width: 50%;
            }
            &:nth-child(3) {
                width: 15%;
            }
        }
    }
    .lock {
        &__in {
            .btn {
                height: 57px;
            }
        }
    }
    .predict {
        &__body {
            .btn {
                border-radius: 0;
            }
        }
        &__anim {
            .icon-up-hand {
                margin-top: 10px;
                margin-left: -16px;
            }
        }
    }

    //      Step - Entry Fee
    .game-table {
        &.entryfee,
        &.competition {
            section {
                flex-basis: auto;
                .stroke {
                    width: 95%;
                }
                &:nth-child(1) {
                    width: 30%;
                }
                &:nth-child(2) {
                    width: 10%;
                }
                &:nth-child(3) {
                    width: 13%;
                }
                &:nth-child(4) {
                    width: 18%;
                }
                &:nth-child(5) {
                    width: 29%;
                }
            }
        }
    }
//    Step - Select Candidate
    .statistics {
        &__el {
            flex-basis: auto;
            width: 25%;
        }
    }


//    Tutorial
    .tutorial {
        &__section-name {
            width: 100%;
        }
        &__text-box {
            width: 85%;
        }
    }



//    Sidebar
    .pageslide-slide-text {
        flex-basis: auto;
        width: 85%;
    }
    .side-menu-active {
        position: fixed;
        top: 0;
        right: 0!important;
        transform: none;
    }



//    Sign Up
    .sign-up {
        &__tabs {
            margin: 0 0 0 70px;
            .flex-container(row, space-between, center);
        }
    }



//    Competition rooms
    .multi-profile {
        .profile {
            &.opened {
                flex-basis: auto;
                width: 40%;
            }
            &.closed {
                flex-basis: auto;
                width: 15%;
            }
        }
    }
}
