.href(@color: @linkColor,
      @colorHover: @linkColorHover,
      @colorActive: @linkColorActive,
      @colorVisited: @linkColorVisited){
    &:visited{
        color: @colorVisited;
    }
    &:link{
        color: @color;
    }
    &:hover{
        color: @colorHover;
    }
    &:active{
        color: @colorActive;
    }
}

.input(@color: @textColor){
    &::-webkit-input-placeholder{
        color: @color;
        text-overflow: ellipsis;
    }
    &:-moz-placeholder{
        color: @color;
        text-overflow: ellipsis;
    }
}

.translucent(@color: @white, @alpha: 0.85) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
}

.flex-container (@direction: row,
                @justify-content: flex-start,
                @align-items: flex-start)
    {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify-content;
    align-items: @align-items;
}

.inline-flex-container (@direction: row,
                        @justify-content: flex-start,
                        @align-items: flex-start) {
    display: inline-flex;
    flex-direction: @direction;
    justify-content: @justify-content;
    align-items: @align-items;
}

.flex-block () {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}

.radial-gradient(@centerX: center, @centerY: center, @shape: circle,
    @size: contain, @startColor: #ffffff, @startPos: 0, @endColor: #333,
    @endPos: 100%) {
    background-color:@endColor;
    background-image: radial-gradient(@shape at @centerX @centerY, @startColor
    @startPos, @endColor @endPos);
}

.clearfix() {
    *zoom:1;
    &:before,
    &:after {
        content: " ";
        display: table;
        height: 0;
    }
    &:after {
        clear: both;
    }
}
