h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @kelson;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.1;
}

h1 {
    font-size: 30px;
    margin: 32px 0 24px;

    @media (max-width: 1024px) {
        margin: 16px 0 8px;
        font-size: 24px;
    }
}

h2 {
    font-size: 25px;
    margin: 26px 0 20px;

    @media (max-width: 1024px) {
        margin: 14px 0 6px;
        font-size: 21px;
    }
}

h3 {
    font-size: 20px;
    margin: 20px 0 14px;

    @media (max-width: 1024px) {
        margin: 12px 0 4px;
        font-size: 16px;
    }
}

h4 {
    font-size: 18px;
    margin: 10px 0 8px;

    @media (max-width: 1024px) {
        margin: 8px 0 2px;
        font-size: 14px;
    }
}

h5 {
    font-size: 16px;
    margin: 8px 0 2px;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
}

h6 {
    margin: 2px 0;
    font-size: 11px;
    text-transform: uppercase;

    @media (max-width: 1024px) {
        font-size: 9px;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {

    &.title {
        color: #e8f3f8;

        &.white {
            color: @white;
        }
        &.gold {
            color: #e9d5af;
        }
        &.blue {
            color: #00a8ff;
        }
        &.dark {
            color: #444;
        }
        &.red {
            color: @red;
        }
        &.green {
            color: @green;
        }
        &.regular {
            font-family: @regular;
        }
        &.no-text-up {
            text-transform: none;
        }
        &.top-0 {
            margin-top: 0;
        }
        &.light {
            font-weight: 300;
        }
        &.centered {
            text-align: center;
        }
        &.black {
            color: #000000;
        }
    }
}
