/* MIXINS
==================================*/

// Colors
@bg: #000d12;
@basic: #cccccc;
@gray: @basic;
@white: white;
@black: black;
@primaryColor: #333;
@siteBlueLight: #7bb5e7;
@blueBackground: #00aaeb;
@blueBorder: #a1d3e6;
@separator: lighten(#5b6d75, 5);
@orange: #ff8900;
@red: #ff3d3e;
@blue: #042849;
@brown: #241101;
@activeBlue: #143c64;
@lightBlue: #1482c8;
@green: #2cd071;


// Platform stylistic
@titleBody: #172227;
@capitalBasic: #24353d;
@bodyMedium: #092b34;
@highLighted: #0c527d;



// Brand colors
// -------------------------
@brand-danger:          #d9534f;


// Fonts
@regular: 'Open Sans', sans-serif;
@arial: Arial, sans-serif;
@kelson: 'Kelson Sans Regular', @regular;
@roboto: 'Roboto', @regular;

@latoMedium: 'LatoMedium', 'Open Sans', sans-serif;
@latoBlack: 'LatoBlack', 'Open Sans', sans-serif;
@montserratBlack: 'MontserratBlack', 'Open Sans', sans-serif;


// Forms
@form-bgc: @white;
@form-bdc: @basic;
@form-focus: #ee5f5b;



// Media queries breakpoints
// --------------------------------------------------
// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet:              @screen-sm;

// Medium screen / desktop
@screen-md:                  992px;
@screen-desktop:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-desktop:          @screen-lg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);


