html {
    height: 100%;
}
body {
    font-family: @openSans;
    height: 100%;
    min-height: 100%;
}

.app {
    border: none;
    position: relative;
    height: 100%;
    min-height: 700px;

    &__content {
        position: relative;
        min-width: 800px;

        &--golf {
            .calc(height; "100vh - 81px");
            min-height: 100%;
            background: url("/static/img/sports/golf-background.jpg") no-repeat center center;
            background-size: cover;
        }

        &--nfl {
            .calc(height; "100vh - 81px");
            min-height: 100%;
            background: url("/static/img/sports/nfl-background.jpg") no-repeat center center;
            background-size: cover;
        }

    }
    &__sports-types {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px 0;
        box-sizing: content-box;
        .calc(height; "100vh - 100px");
        min-height: 700px;
    }
}

.text {
    font-family: @openSans;
    font-size: 14px;
    font-weight: 300;
    color: @white;
    letter-spacing:normal;

    &_lato-medium {
        font-family: @latoMedium;
    }
    &_lato-black {
        font-family: @latoBlack;
    }
    &_montserrat-black {
        font-family: @montserratBlack;
    }
    &_small {
        font-size: 12px;
        line-height: 1.2;
    }
    &_medium {
        font-size: 16px;
    }
    &_medium-x {
        font-size: 18px;
    }
    &_big {
        font-size: 20px;
    }
    &_x-big {
        font-size: 30px;
        line-height: 1.2;
    }
    &_xl-big {
        font-size: 40px;
        line-height: 1.2;
    }
    &_xxl-big {
        line-height: 1;
        font-size: 55px;
    }

    &_bold {
        font-weight: 600;
    }
    &_uppercase {
        text-transform: uppercase;
    }
    &_centered {
        text-align: center;
    }
    &_right {
        text-align: right;
    }
    &_italic {
        font-style: italic;
    }
    &_link {
        text-decoration: none;
        color: #09a7f1;
    }
    &_white-link {
        color: @white;
        text-decoration: none;
        &:hover {
            color: darken(@white, 25);
        }
    }

    // text colors
    &_black {
        color: @black;
    }
    &_blue {
        color: @blue;
    }
    &_blue-light {
        color: @blueLight;
    }
    &_blue-text {
        color: @blueText;
    }
    &_grey {
        color: @grey;
    }
    &_grey-light {
        color: #a6a6a6;
    }
    &_grey-ca {
        color: #cacaca;
    }
    &_red {
        color: @red;
    }
    &_yellow {
        color: @yellow;
    }
    &_opacity-45 {
        opacity: .45;
    }
    &_opacity-60 {
        opacity: .6;
    }
}

.counter {
    margin: 20px 0 0 0;

    &__title {
        font: 300 18px @PFDinTextCondProRegular;
        color: @white;
        margin: 0 0 15px;
    }
}



.block {
    &_inline {
        display: inline-block;
        vertical-align: middle;
    }
}



.article {
    font: 300 12px @PFDinTextCondProRegular;

    &__section {
        margin: 0 auto;
    }
}



input[type=checkbox] {
    height: 20px;
    width: 20px;
}
.input {
    border: none;
    outline: none;
    border-radius: 3px;
    background: @white;
    font: 300 12px @PFDinTextCondProRegular;
    color: @blue;
    transition: .2s ease-in-out;
    &:focus,
    &:active {
        outline: none;
    }

    &_field {
        border: none;
        outline: none;
        padding: 7px 0 8px 12px;
        box-sizing: border-box;
    }
    &_error {
        box-shadow: 0 0 1px 2px @red;
    }
    &_success {
        box-shadow: 0 0 1px 2px @green;
    }
    &--email {
        border-radius: 0;
        border: 2px solid #ffffff;
        background: transparent;
        font: 600 14px @latoMedium;
        text-transform: uppercase;
        color: #64656a;
        padding: 15px 28px;
        width: 302px;
        box-sizing: border-box;
        &:focus,
        &:active {
            border-color: darken(#ffffff, 25);
        }
    }
}
.input-label {
    position: relative;
    .text {
        display: block;
        padding: 0 0 0 25px;
    }
    .input {
        position: absolute;
        left: 0;
        top: 2px;
    }
}
.select {
    height: 30px;
    border: none;
    outline: none;
    background: @white;
    font: 300 12px @PFDinTextCondProRegular;
    color: @blue;
    appearance: none;
    border-radius: 3px;
    padding: 0 0 0 12px;
    &:focus,
    &:active {
        outline: none;
    }
}
