.icon {
    &_inline {
        display: inline-block;
        vertical-align: middle;
    }
    &_block {
        display: block;
    }
    &_pga {
        width: 36px;
        height: 36px;
        background: url("/static/img/landing/pga.png") no-repeat center center;
        background-size: contain;
    }
    &_nba {
        width: 35px;
        height: 35px;
        background: url("/static/img/landing/nba-ball.png") no-repeat center center;
    }
    &_mlb {
        width: 36px;
        height: 36px;
        background: url("/static/img/landing/mlb-ball.png") no-repeat center center;
    }
    &_google {
        width: 40px;
        height: 40px;
        background: url("/static/img/sign-up/google.png") no-repeat center center;
    }
    &_fb {
        width: 40px;
        height: 40px;
        background: url("/static/img/sign-up/facebook.png") no-repeat center center;
    }
    &_bell {
        width: 20px;
        height: 20px;
        background: url("/static/img/home/bell.png") no-repeat center center;
    }
    &_notification {
        display: block;
        position: absolute;
        top: -4px;
        right: -3px;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        background: @red;
        color: @white;
        text-align: center;
        font: 300 10px @PFDinTextCondProRegular;
    }
    &_dollar, &_token {
        width: 16px;
        height: 16px;
    }
    &_token {
        background: url("/static/img/home/token-icon.png") no-repeat center center;
    }
    &_dollar {
        background: url("/static/img/home/dollar-icon.png") no-repeat center center;
    }
    &_close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        background: url("/static/img/cross-red.png") no-repeat center center;
        background-size: cover;
    }
}


.money {
    &__count {
        font: 300 12px @PFDinTextCondProRegular;
        color: @white;
        display: inline-block;
        vertical-align: middle;
    }
}


// SSL Certificate
.ssl {
    display: inline-block;
    vertical-align: middle;
    &__link {
        text-decoration: none;
        color: @white;
    }
}
.sd {
    margin: 0 100px;
    display: inline-block;
    vertical-align: middle;
}
