.btn {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    border: none;
    font: 600 12px @latoMedium;
    letter-spacing: 0;
    line-height: 1;
    color: @white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .35);
    a {
        text-decoration: none;
        color: @black;
        &:hover,
        &:active {
            text-decoration: none;
        }
    }
    &:hover,
    &:active {
        outline: none;
        text-decoration: none;
    }

    // colors
    &_orange {
        background: @orange;
        &:hover,
        &:active {
            background: darken(@orange, 5);
        }
    }
    &_transparent {
        background: transparent;
        border: 1px solid #23334f;
        font: 600 14px @latoBlack;
        &:hover,
        &:active {
            background: @white;
            color: #292828;
        }
    }
    &_red {
        background: #a33333;
        color: @white;
        border: 1px solid transparent;
        &:hover {
            background: #c32b2b;
            color: @white;
        }
        &:active {
            background: #d80000;
        }
    }
    &_white {
        background: @white;
        color: @black;
        &:hover,
        &:active {
            background: @red;
            color: @white;
        }
    }


    &_big {
        font-size: 20px;
        padding: 12px 50px;
    }
    &_offset {
        margin: 15px 0;
    }

    // button types
    &_join-small {
        padding: 20px 19px;
    }
    &_join {
        font-family: @latoBlack;
        text-transform: uppercase;
        padding: 27px 30px;
        background: #b30910;
        font-size: 16px;
        letter-spacing: 3px;
        margin: 0 0 20px;
        &:hover,
        &:active {
            background: lighten(#b30910, 10);
        }

    }
    &_find {
        background: #b30910;
        font-family: @latoBlack;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 12px 20px;
        &:hover,
        &:active {
            background: lighten(#b30910, 10);
        }
    }
    &_submit {
        background: #b30910;
        font-family: @latoBlack;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 20px 28px;
        &:hover,
        &:active {
            background: lighten(#b30910, 10);
        }
    }
    &_google {
        background: @white;
        a {
            background: #ea4335;
        }
        &:hover {
            a {
                font-size: 14px;
                width: 100%;
                background: lighten(#ea4335, 10);
            }
            .icon {
                width: 0;
            }
        }
    }
    &_fb {
        background: #4563a1;
        a {
            background: #3b5998;
        }
        &:hover {
            a {
                font-size: 14px;
                width: 100%;
                background: lighten(#3b5998, 10);
            }
            .icon {
                width: 0;
            }
        }
    }
    &_social {
        padding: 0;
        height: 40px;
        .clearfix();

        .icon {
            float: left;
            transition: all .2s ease-out;
        }
        a {
            float: right;
            display: block;
            height: 100%;
            color: @white;
            text-transform: uppercase;
            width: 74%;
            padding: 14px 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            transition: all .2s ease-out;
        }
    }
    &_disabled {
        cursor: default;
        pointer-events: none;
        background: @disabledButton;
    }
}
