@font-face {
    font-family: 'LatoMedium';
    src: url('/static/font/LatoMediumFont/lato-medium-webfont.eot');
    src: url('/static/font/LatoMediumFont/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/font/LatoMediumFont/lato-medium-webfont.woff2') format('woff2'),
        url('/static/font/LatoMediumFont/lato-medium-webfont.woff') format('woff'),
        url('/static/font/LatoMediumFont/lato-medium-webfont.ttf') format('truetype'),
        url('/static/font/LatoMediumFont/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('/static/font/MontserratBlackFont/montserrat-black-webfont.eot');
    src: url('/static/font/MontserratBlackFont/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/font/MontserratBlackFont/montserrat-black-webfont.woff2') format('woff2'),
        url('/static/font/MontserratBlackFont/montserrat-black-webfont.woff') format('woff'),
        url('/static/font/MontserratBlackFont/montserrat-black-webfont.ttf') format('truetype'),
        url('/static/font/MontserratBlackFont/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBlack';
    src: url('/static/font/LatoBlackFont/lato-black-webfont.eot');
    src: url('/static/font/LatoBlackFont/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('/static/font/LatoBlackFont/lato-black-webfont.woff2') format('woff2'),
        url('/static/font/LatoBlackFont/lato-black-webfont.woff') format('woff'),
        url('/static/font/LatoBlackFont/lato-black-webfont.ttf') format('truetype'),
        url('/static/font/LatoBlackFont/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
