.foot {
    &__in {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0 70px;
        .clearfix();
    }
    &__resident {
        margin: 0 0 50px;
        opacity: .6;
    }
    &__links {
        margin: 30px 0 0;
        a {
            padding-right: 10px;
        }
    }
    &__left {
        float: left;
        width: 50%;
        padding: 0 20px 0 0;
    }
    &__right {
        float: right;
        width: 45%;
        padding: 0 0 0 20px;
    }
    &__form {
        margin: 50px 0 0;
        input {
            margin: 0 27px 0 0;
        }
    }

    @media (max-width: 780px) {
        &__in {
            padding: 10px 0;
        }
        &__left,
        &__right {
            float: none;
            width: 100%;
            padding: 20px 5px;
            text-align: center;
        }
        &__form {
            margin: 20px 0 0;
            .input {
                display: block;
                margin: 0 auto 20px;
            }
            .btn {
                display: block;
                margin: auto;
            }
        }
        &__resident {
            margin: 0;
        }
    }
}
