.header {
    z-index: 10;

    &__top {
        transition: .2s ease-in-out;
        min-height: 55px;
        background: @blue;
    }
    &__top-in {
        position: relative;
        padding: 0 10px 6px;
        max-width: 1200px;
        margin: 0 auto;
        height: 55px;
    }
    &__logo {
        display: inline-block;
        vertical-align: middle;
        margin: 11px 0 0;
        z-index: 1;
    }
    &__img {
        width: 109px;
        height: 32px;
        background-image: url("/static/img/GFS-white.png");
        &--dark {
            background-image: url("/static/img/GFS-black.png");
            background-size: cover;
        }
    }
    &__list {
        display: inline-block;
        vertical-align: middle;
    }
    &__user-info {
        position: absolute;
        right: 0;
        top: 11px;
        .user_name {
            color: white;
        }
        form {
            //float: right
            display: inline-block;
        }
        .btn {
            margin: 0 5px 0;
        }
    }
    &__user-img,
    &__notification,
    &__money,
    &__add-funds {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }
    &__user-img {
        width: 30px;
        height: 30px;
        background: black;
    }
    &__notification {
        position: relative;
    }
    &__user-name {
        color: @white;
        margin: 0 0 0 5px;
        display: inline-block;
        vertical-align: middle;
    }
    &__bottom {
        background: rgba(24, 59, 128, .80);
    }
    &__bottom-in {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    &_landing {
        min-height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    &--white {
        background: #ffffff;
    }


    @media (max-width: 780px) {
        &__top-in {
            padding: 10px 10px 6px;
            height: auto;
            text-align: center;
        }
        &__logo {
            display: block;
            width: 110px;
            margin: 5px auto 10px;
        }
        &__user-info {
            position: relative;
            top: inherit;
            right: inherit;
        }
    }
}

.page-list {
    .clearfix();
    list-style-type: none;
    margin: 4px 0 0;

    &__item {
        float: left;
        margin: 0 10px;
        a {
            display: block;
            font: 600 13px @latoBlack;
            padding: 15px 0 5px;
            margin: 0 15px;
            color: @white;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 3px solid transparent;
            &:hover {
                color: @red;
            }
        }
        &_active {
            a {
                color: @red;
            }
        }
    }
    &--white {
        a {
            color: @black;
        }
    }
}

.games-list {
    .clearfix();
    margin-left: 135px;

    &__item {
        float: left;
        position: relative;
        a {
            display: block;
            padding: 7px 5px;
            text-decoration: none;
            font: 300 12px @PFDinTextCondProRegular;
            text-transform: uppercase;
            color: @white;
        }
        &:hover {
            background: @orange;
            a {
                color: @black;
            }
            .games-in-list {
                display: block;
            }
        }
    }
}
