.landing {
    &__item {
        position: relative;

        &--1 {
            min-height: 720px;
            background: url("/static/img/landing/landing-1.jpg") no-repeat center top;
            background-size: cover;
        }
        &--2 {
            min-height: 707px;
            background: url("/static/img/landing/landing-2.jpg") no-repeat center top;
            background-size: cover;
            padding: 0 0 180px;
        }
        &--3 {
            min-height: 660px;
            background: url("/static/img/landing/landing-3.png") no-repeat center top;
            background-size: cover;
            margin: -220px 0 0;
            padding: 140px 0 0;
        }
        &--4 {
            min-height: 900px;
            background: url("/static/img/landing/landing-4.jpg") no-repeat center top;
            background-size: cover;
            z-index: 1;
        }
        &--4-2 {
            min-height: 850px;
            background: url("/static/img/landing/landing-4-2.jpg") no-repeat center top;
            background-size: cover;
            z-index: 0;
            margin: -340px 0 0 0;
            padding: 150px 0 0;
        }
        &--5 {
            min-height: 630px;
            background: url("/static/img/landing/landing-5.jpg") no-repeat center top;
            background-size: cover;
        }
        &--6 {
            min-height: 750px;
            background: url("/static/img/landing/landing-6.jpg") no-repeat center top;
            background-size: cover;
        }
        &--6-2 {
            background: url("/static/img/landing/landing-6-2-temporary.png") no-repeat center top;
            background-size: cover;
        }
    }
    &__item-in {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: content-box;
        .clearfix();
    }
    &__devices {
        position: relative;
        .clearfix();
    }

    @media (max-width: 780px) {
        &__item--1 {
            min-height: 550px;
        }
    }
}

.float-box {
    &--title-1 {
        margin: 140px 0 0 100px;
    }
    &--title-2 {
        margin: 105px 0 0;
    }
    &--title-3 {
        float: right;
    }
    &--title-4 {
        margin: 220px 0 0;
    }
    &--title-5 {
        margin: 200px 0 0;
        text-align: center;
    }
    &--title-6 {
        margin: 90px 0 0;
        text-align: center;
    }
    &--inline {
        vertical-align: middle;
        display: inline-block;
    }
    &--join-btn {
        margin: 80px 0 0 100px;
    }
    &--money-back {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &--find-btn {
        text-align: center;
    }
    &--devices {
        float: right;
        margin: 120px 0 0 0;
    }

    @media (max-width: 1024px) {
        &--title-1 {
            text-align: center;
        }
    }
    @media (max-width: 780px) {
        &--title-1 {
            margin: 110px auto 0;
            text-align: center;
        }
        &--join-btn {
            margin: 40px auto 0;
            text-align: center;
            .btn {
                margin: 0 0 20px;
            }
        }
        &--money-back {
            position: relative;
            bottom: inherit;
            right: inherit;
            margin: 20px auto 0;
            text-align: center;
            .block_inline {
                display: block;
                width: 100%;
                margin: 10px auto;
            }
        }
    }
}
.comments-list-wrap {
    height: 510px;
}
.comments-list {

    &__item {
        margin: 20px 0 30px;
        position: relative;
    }
    &__photo {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    &__content {
        padding: 0 0 0 70px;
    }
    &__text {
        margin-top: 30px;
    }
}
.sport-icons {
    font-size: 0;
    margin: 50px 0 0;

    &__item {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 13%;
        margin: 0 15px;
        max-width: 70px;
    }
    &__img {
        margin: 0 0 15px;
    }
}
.started-icons {
    &__item {
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        padding: 0 20px;
        box-sizing: border-box;

        &--ball {
            img {
                height: 70px;
                margin: 30px 0 45px;
            }
        }
    }
    &__img {
        margin: 20px 0 40px;
        height: 85px;
    }
    &__arrow {
        display: inline-block;
        vertical-align: middle;
        opacity: .2;
    }
}
.sports-images {
    font-size: 0;
    text-align: center;
    margin: 80px auto 80px;
    &__img {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        margin: 0 0 30px;
        img {
            max-width: 100%;
        }
    }
}
