.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.calc(@prop; @val) {
    @{prop}: calc(~'@{val}');
    @{prop}: -moz-calc(~'@{val}');
    @{prop}: -webkit-calc(~'@{val}');
    @{prop}: -o-calc(~'@{val}');
}

.width(@n, @i: 1) when (@i =< @n) {
    .w-@{i} {
        width: (@i * 100% / @n);
    }
    .width(@n, (@i + 1));
}

// Launch width layout
.width(100);
