.popup-wrapper {
    display: none;

    .has-popup & {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
        opacity: 0;
        font-size: 0;
        transition: opacity 0.2s, z-index 0s 0.2s;
        text-align: center;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;

        > * {
            display: inline-block;
            white-space: normal;
            vertical-align: middle;
            text-align: left;
        }
    }

    .has-popup.popup-visible & {
        z-index: 99;
        opacity: 1;
        transition: opacity 0.2s;
    }
}


.popup {
    position: relative;
    top: 70px;
    box-sizing: border-box;
    max-width: 500px;
    max-height: 600px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background: url('/static/img/sign-up/popup-bg.jpg') no-repeat top center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 5px 15px -5px #000000;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;

    &:before {
        display: inline-block;
        overflow: hidden;
        width: 0;
        height: 100%;
        vertical-align: middle;
        content: "";
    }

    .popup-visible & {
        z-index: 100;
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.2s, transform 0.2s;
    }

    .registration {
        padding: 30px 30px;
        width: 388px;
    }

    .terms {
        width: 500px;
        padding: 20px 30px;
        .calc(left; "50% - 250px");
        .pop-up__in {
            overflow-y: scroll;
            max-height: 500px;
        }
    }
    .temporary {
        padding: 30px 30px;
        width: 388px;
    }
}
