h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}
h1 {
    font-size: 70px;
    margin: 0 0 30px;
}
h2 {
    font-size: 60px;
    margin: 0 0 30px;
}
h3 {
    font-size: 50px;
    margin: 0 0 30px;
}
h4 {
    font-size:30px;
    margin: 0 0 20px;
}


.title {
    &_white {
        color: @white;
    }
    &_black {
        color: @black;
    }
    &_blue {
        color: @blue;
    }

    &_lato-medium {
        font-family: @latoMedium;
    }
    &_montserrat-black {
        font-family: @montserratBlack;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
        margin: 0 0 20px;
    }
}
@media (max-width: 780px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
        margin: 0 0 15px;
    }
}
