// TODO: delete unnecessary fonts variables in all project!!!
// font
@roboto: 'Open Sans', sans-serif;
@robotoLight: 'Open Sans', sans-serif;
@PFDinTextCondProRegular: 'Open Sans', sans-serif;

@openSans: 'Open Sans', sans-serif;
@latoMedium: 'LatoMedium', 'Open Sans', sans-serif;
@latoBlack: 'LatoBlack', 'Open Sans', sans-serif;
@montserratBlack: 'MontserratBlack', 'Open Sans', sans-serif;


// colors
@black: #171b23;
@white: #ffffff;

@green: #96e600;

@orange: #ff8400;
@red: #b30910;
@yellow: #ffde00;

@blue: #0f3659;
@blueLight: #d9e3fa;
@blueText: #6c768b;
@grey: #818181;


@popupBackground: #e4e6ec;
@disabledButton: #637392;

// transitons, animations
@base-transition: .3s ease-in-out;
