.card-table {
    margin: 21px 3px 3px;

    &__title {
        text-transform: uppercase;
        color: @white;

        b {
            font-weight: 400;
            color: @red;
        }
    }
}
