.data-table {
    display: table;
    width: 100%;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 2px 2px;
    font: 400 100% @regular;
    color: #060d10;
    text-align: center;

    &__row {

    }
    &__el {
        background-color: #b2cadf;
        min-width: 45px;

        &.current {
            background-color: #fd595a;
        }
        &.past {
            background-color: #5f84a5;
        }
        &.birdie {
            background-color: #57f832;
        }
        &.eagle {
            background-color: #f6f832;
        }
        &.par {
            background-color: #32f6f8;
        }
        &.albatross {
            background-color: #f13901;
        }
        &.bogey {
            background-color: #e28ee5;
        }
        &.two-bogey {
            background-color: #f832ff;
        }
        &.handicap {
            background-color: #f39500;
            animation: blink 1s;
            animation-iteration-count: 3;
        }
        &.legend-height {
            height: 90px;
            vertical-align: middle;
            .data-table__i {

            }
        }
    }
    &__i {
        padding: 0 5px;
        display: block;
        height: 50px;
        line-height: 51px;
    }
    &__total {
        font-size: 20px;
        font-weight: bold;
        background-color: #b2cadf;
        min-width: 100px;
    }
    &.blue-gray {

        .data-table {

            &__el {
                background-color: #142c41;
            }
        }
    }
    &.text-up {
        text-transform: uppercase;
    }
    &.color-white {
        color: @white;
    }
}

.legend {
    .flex-container(row, flex-start, flex-start);
    margin: 13px 0 0 53px;
    &__color {
        height: 6px;
        width: 100px;
        margin-bottom: 4px;
    }
    &__item {
        font-size: 12px;
        color: #ffffff;
        width: 120px;
        margin: 0 10px 0 0;
    }

    &_handicap {
        background: #061d31;
        margin: 2px 0;
        padding: 10px 36px 5px;
        width: 100%;
    }
}