.game-tables {
    width: 100%;
}



.game-table {
    position: relative;
    .flex-container(row, space-between, stretch);
    .item();
    width: 100%;
    font: 400 14px @regular;
    color: @white;

    &:hover {
        border-top-color: lighten(#0e5f8f, 15);
    }

    section {
        position: relative;
        .flex-container(row, flex-start, stretch);
        padding: 0;

        // Atoms (sections) modifications
        &.bg-light {
            background: linear-gradient(to bottom, #126ea4, #0b4d82);
        }
        &.bg-red {
            background-color: #ff3651;
        }
        &.text-orange {
            color: @orange;
        }
        &.text-green {
            color: #0ad35f;
        }
        &.multi {
            margin-right: 20px;
        }
    }

    &.hole-by-hole,
    &.handicap-the-pros,
    &.five-ball{
        padding: 0 0 0 25px;
    }
    &__delete-btn,
    &__pay-btn {
        position: relative;
        width: 100%;
        font-size: 90%;
        text-align: center;
        cursor: pointer;

        .icon {
            transition: all 0.2s ease-in-out;
        }
    }
    &__delete-btn {
        margin: 6px 0 0;
        opacity: 0.6;
    }
    &__pay-btn {
        top: -5px;

        .icon-cart {
            display: block;
        }
        &:hover {
            .icon {
                color: #5cb85c;
            }
        }
    }
    &__multi-profile {
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        z-index: 10;
        cursor: pointer;

        &.hidden {
            height: 90px;
            overflow: hidden;
            .profile {
                transition: all .3s ease-out;
                max-height: 0;
                opacity: 0;
                 &:nth-child(1) {
                     max-height: 91px;
                     opacity: 1;
                }
            }
        }
        &.open {
            height: auto;
            overflow: visible;
            z-index: 100;
            opacity: 1;
            box-shadow: 0 10px 50px 0 #000000;

            .profile {
                transition: all .2s ease-out;
                background: #0E9FF3;
                max-height: 91px;
                opacity: 1;
            }
        }
    }


    // Table Modifications
    &.column {
        flex-direction: column;
    }
    &.text-up {
        text-transform: uppercase;
    }
    &.dark {
       .item-dark();
        &.dark-small {
            height: 70px;
        }
    }
    &.header {
        .header();
    }
    &.leaderhead {

    }
    &.multi-profile {

        .profile {

            &.opened {
                border-top: 2px solid #ffdd0d;
                background: linear-gradient(to bottom, lighten(#ffb008, 10), darken(#f79306, 10));
                color: #241101;
            }
        }
    }
    &.bottom-0 {
        margin-bottom: 0;
    }
    &.bold {
        font-weight: 600;
    }


    // Sections modifications with parent class
    &.items-align-center {

        section {
            justify-content: center;
            align-items: center;
        }
    }


    // Content modifications
    &.leaderboard {
        section {
            justify-content: center;

            &:nth-child(3) {
                justify-content: flex-start;
            }
            &:nth-child(2) {
                justify-content: flex-start;
                .avatar {
                    margin: 0;
                }
            }
        }
    }
    &.leaderhead {
        section {
            &:nth-child(3) {
                justify-content: flex-start;
            }
            &:nth-child(2) {
                justify-content: flex-start;
            }
        }
    }
    &.entryfee {
        section {
            &:last-child {
                justify-content: flex-start;
                padding-left: 4%;
            }
        }
    }
    &.competition {
        cursor: pointer;
        height: 100px;

        section {
            .flex-container(row, center, center);

            &:first-child {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
        &.disabled {
            cursor: default;
            opacity: 0.4;
            pointer-events: none;
        }
    }
    &.public {
        height: 90px;
        &:hover {
            background: #0c5a99;
        }
    }
    &.public-inactive {
        section {
            &:last-child {
                .flex-container(row, space-between, center);
            }
        }
    }
    &.filters {
        .flex-container(row, flex-start, stretch);
        section {
            align-items: stretch;
            padding-left: 0;
            padding-right: 0;
            cursor: pointer;

            &:hover {
                background-color: #1b2c3b;
            }

            &:first-child {
                .sorting-header {
                    padding-left: 30px;
                }
            }
            &:last-child {
                &:hover {
                    background-color: #0b1c2e;
                }
            }
        }
    }
    &.scraps {
        border-top-color: #6657af;
        background: linear-gradient(to bottom, #483d7a, #473573);

        &:hover {
            background: linear-gradient(
                    to bottom,
                    lighten(#483d7a, 8),
                    lighten(#473573, 8)
            );
        }
    }
    &.candidate {
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
        background: #1b3c5a;
        .flex-container(column, flex-start, stretch);

        .golfer {
            height: 90px;
            padding: 0;
        }

        &.active {
            flex-direction: column;
            height: auto;
            font-weight: 600;
            color: @brown;

            .golfer {
                border-top: 2px solid #ffdd0d;
                background: linear-gradient(to bottom, lighten(#ffb008, 10), darken(#f79306, 10));
            }
            .btn {
                color: #222;
            }
        }

        &.inactive {
            cursor: default;
            opacity: 0.4;
            pointer-events: none;
        }

        &.open-statistic {
            height: auto;
        }

        &:hover {
            background: #0c5a99;
        }

    }
}
