//
// Modals
// --------------------------------------------------

// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

@import "../../common/mixins";
@import "../../common/variables";


@line-height-base:            1.428571429; // 20/14

@modal-inner-padding:         15px;
@modal-title-padding:         15px;
@modal-title-line-height:     @line-height-base;

@modal-header-border-color:   #e5e5e5;
@modal-footer-border-color:   @modal-header-border-color;
@zindex-modal-background:     1040;



// Container that the modal scrolls within
.modal {
    //  display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal-background;
}

.modal-close {
    min-height: 20px;

    .close {
        padding: 5px;
        font-size: 30px;
    }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
    z-index: (@zindex-modal-background + 10);
}

// Actual modal
.modal-content {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    background: #fff;
    // Remove focus outline from opened modal
    outline: none;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: @modal-title-padding;
    border-bottom: 1px solid @modal-header-border-color;
    min-height: (@modal-title-padding + @modal-title-line-height);
}

// Close icon
.modal-header .close {
    margin-top: -2px;
}

// Title text within header
.modal-title {
    margin: 0;
    line-height: @modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: @modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
    margin-top: 15px;
    padding: (@modal-inner-padding - 1) @modal-inner-padding @modal-inner-padding;
    text-align: right; // right align buttons
    border-top: 1px solid @modal-footer-border-color;
}

// Scale up the modal
@media screen and (min-width: @screen-tablet) {

    .modal-dialog {
        left: 50%;
        right: auto;
        width: 460px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

@media (max-width: 480px) {
    .modal-body,
    .model-footer {
        padding: (@modal-inner-padding / 5);
    }

    .modal-dialog {
        padding: 0;
    }

    .modal,
    .modal-dialog,
    .modal-content,
    .modal-body {
        z-index: 9999;
    }
}


.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .flex-container(row, center, center);
    z-index: 1004;

    &__background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: white;
        opacity: 0.85;
    }

    &__content {
        .flex-container(column, flex-start, center);
        z-index: 1;
    }

    &__message {
        font: 600 30px @latoMedium;
        color: black;
        text-shadow: lightgray 4px 4px 2px;
    }
}
