.prediction {
    width: 100%;
}

.substeps {
    width: 100%;
}

.predict {
    width: 100%;
    margin: 2px 0;
    color: @white;
    border-collapse: collapse;

    th {
        border-bottom: 2px solid @bg;
        line-height: 1.2;
        padding: 12px 5px;
    }
    th,
    td {
        min-width: 100px;
        position: relative;
        vertical-align: middle;
        text-align: center;
        background-clip: padding-box;
        //div {
        //    position: relative;
        //    width: 100%;
        //    height: 100%;
        //    .flex-container(row, center, center);
        //}
    }
    &__head {
        .header();
    }
    &__body {

        .btn,
        .btn__text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            transition: all 0.2s ease-in-out;
        }
        .btn {
            &:hover {
                background-color: #0c5a99;
            }
        }

        td {
            position: relative;
            height: 65px - 5 - 5;
            background-color: #142c41;
            border: 1px solid @bg;
            background-clip: padding-box;

            &.predict__target {
                background-color: #1b3c5a;
                min-width: 100px;
                &.next {
                    background-color: #ff4a70;
                }
            }

            &.predict__next {
                background-color: #ff3651;
            }
        }
        .icon-up-hand {
            color: @white;
        }

        &.disabled {
            .btn {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    &__anim {
        position: relative;

        .icon-up-hand {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;
            margin-left: -16px;
        }
    }
    &__selected {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lighten(@highLighted, 10);
        font: 600 30px/1.8 @regular;
        cursor: pointer;

        &.blink {
            animation: blink 1s 1 linear;
        }
    }
    &.bordered {
        position: relative;
        right: -1px;
        border-collapse: separate;

        td {
            border: 1px solid @bg;
        }
    }

    &.with-handicap {

        .predict {

            &__target {
                background-color: lighten(@highLighted, 10);
                cursor: pointer;

                &:hover {
                    background-color: lighten(@highLighted, 15);
                }
                &.disabled {
                    cursor: default;
                    pointer-events: none;
                    background-color: #142c41;

                    &:hover {
                        background-color: #142c41;
                    }
                }
            }
        }
    }
    &.filled {

        .predict {

            &__target {
                background-color: #142c41 !important;
                cursor: default;
            }
        }
    }
}

// Icons for prediction result
.prediction-res {
    .flex-container(row, center, center);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .icon-cross-white {
        background-size: 50%;
    }
    &__el {
        display: inline-flex;
        border: 16px solid #1b3c5a;
        border-radius: 50%;

        .icon {
            margin: auto;
        }
    }
    &.wrong {
        background-color: #fd1f20;
        
        .prediction-res__el {
            border: none;
        }
    }
    &.correct-yours {
        background-color: #06b834;

        .prediction-res__el {
            display: inline-flex;
            border: 16px solid #1b3c5a;
            border-radius: 50%;
        }
    }
    &.correct {
        background-color: #2c7da3;

        .prediction-res__el {
            width: 60px;
            height: 60px;
        }
    }
    &.filled {
        background-color: #2c7da3;

        .prediction-res__el {
            border-color: #0f4e5e;
        }
        .icon {
            color: #082830;
        }
    }
}



