.scorecard-table {
    .flex-container(row, space-between, flex-start);
    width: 100%;
    font: 400 100% @regular;

    &__prop {
        flex-basis: 18%;
    }
    &__val {
        flex-basis: 82%;
    }
    
    // Adaptive
    @media (min-width: 760px) and (max-width: 1200px) {
        overflow-x: scroll;        
    }
}