.search-friend {
    width: 100%;
    .flex-container(row, flex-start, center);

    &__icon {
        flex-basis: 15%;
        text-align: center;
    }
    &__field {
        flex-basis: 80%;
    }
    &__label {
        .flex-container(row, flex-start, center);
        height: 38px;
        padding: 2px;
        background-color: #0c2337;
        border-radius: 3px;
    }
    &__label-text {
        flex-basis: 30%;
        display: block;
        font: 600 110% @regular;
        text-transform: uppercase;
        color: @orange;
        text-align: center;
    }
    &__input {
        flex-basis: 70%;
        height: 34px;
        display: block;
        margin: 0 0 0 10px;
        border: none;
        outline: 0 none;
        font: 500 100% @regular;
        background-color: #0A1A2A;
        padding: 2px 10px;
        color: #fff;
    }
}

.friend {
    width: 100%;
    .flex-container(row, space-between, center);
    background-color: #fff;
    border-bottom: 1px solid @blueBorder;
}