.sign-up {
    position: relative;
    height: 380px;
    min-width: 390px;
    padding-bottom: 5px;
    background: rgba(35, 41, 125, 0.75);
    border-bottom-right-radius: 3px;
    transition: all 0.1s ease-out;

    &__in {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 30;
    }

    &:before {
        transition: all 0.1s ease-out;
        content: '';
        position: absolute;
        left: -44px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 190px 44px 190px 0;
        border-color: transparent rgba(35, 41, 125, 0.75) transparent transparent;
    }

    &__tabs,
    &__social {
        position: relative;
        z-index: 50;
    }
    &__tabs {
        position: relative;
        width: 83%;
        margin: 0 0 0 72px;
        .flex-container(row, space-between, stretch);
        color: #577af1;
        background: #212d82;
        padding-right: 38px;
        height: 50px;
        &:before {
            content: '';
            position: absolute;
            left: -13px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 50px 13px;
            border-color: transparent transparent #212d82 transparent;

        }
    }
    &__tab {
        flex-grow: 1;
        padding: 15px 5px;
        text-align: center;
        font: 600 20px/1 @regular;
        cursor: pointer;

        &.active {
            color: @white;
        }
        &:hover {
            color: #52b5f1;
        }
    }
    &__social {
        .flex-container(row, space-between, stretch);
        margin: 10px 0 15px;

        .btn {
            flex-basis: 48%;
            .icon {

            }
        }
    }
    &__form {
        position: relative;
        margin: 20px 10px 10px;
        padding: 0 80px 0 43px;
        z-index: 50;
        height: 80%;
        max-width: 415px;

        .ui-input {
            margin-bottom: 10px;
            text-align: left;

            &__label {
                font-weight: 700;
                font-family: @kelson;
            }
        }
        .hint {
            text-align: center;
        }
    }
    &__fields {
        margin: 0;
    }
    &__select {
        .flex-container(row, space-between, center);

        select {
            height: 30px;
            -webkit-appearance: menulist-button;
            outline: none;
            border: none;
            border-radius: 3px;
        }
    }
    &__error {
        position: absolute;
        top: -32px;
        left: 43px;
        width: 95%;
        font: 700 18px @regular;
        animation: blink 1.2s 2 linear;
        text-shadow: 1px 1px 1px #170471;
        color: @white;
    }
    &__finish {
        position: absolute;
        bottom: -85px;
        left: 42px;
        text-align: center;
        width: 70%;
    }
    &__pass-forgot {
        .ui-input {
            margin: 0 0 20px;
        }
    }
    &__email-btn {
        .flex-container(row, space-between, center);
    }
    &__pass-email {
        margin: 0 0 10px;
        font: italic 400 12px/1 @regular;
        color: @white;
    }
    &__checkbox-text {
        font: 300 10px @regular;
        margin-left: 15px;
        color: @white;
        .stroke {
            cursor: pointer;
        }
    }
    &__checkbox {
        .flex-container(row, space-between, center);
        position: relative;
    }

    //Modification
    &.login {
        height: 246px;
        &:before {
            border-width: 123px 44px 123px 0;
        }
        .sign-up__finish {
            bottom: -45px;
        }
        .sign-up__tabs {
            margin: 0 0 0 67px;
        }
    }
    &.password {
        height: 220px;
        &:before {
            border-width: 110px 44px 110px 0;
        }
        .sign-up__finish {
            bottom: 25px;
        }
        .sign-up__title {
            height: 25px;
        }
    }


    // Adaptive
    @media (max-width: 1026px) {
        &__finish {
            bottom: -65px;
            left: 45px;
            .btn {
                font-size: 25px;
            }
        }
    }
    @media (max-height: 820px) {
        &__finish {
            bottom: -80px;
            left: 45px;
            .btn {
                font-size: 25px;
            }
        }
    }
    @media (max-width: 768px) {
        min-width: 350px;

        &__form {
            padding: 0 20px 0;
            .ui-input {
                width: 70%;
                margin: 0 auto 10px;
            }
        }
        &__select {
            width: 70%;
            margin: 0 auto;
        }
        &__finish {
            width: 62%;
            left: 66px;
        }
        &__tabs {
            width: 78.5%;
            margin: 0 0 0 74px;
        }
    }
    @media (max-width: 1024px) and (max-height: 820px) {
        height: 445px;
        min-width: inherit;

        &:before {
            display: none;
        }
        &__form {
            padding: 0 40px;
        }
        &__tab {
            font: 600 18px/1 @regular;
            padding: 8px 5px;
        }
        &__tabs {
            height: 40px;
            margin: 0 0 0 57px;

            &:before {
                border-width: 0 0 40px 13px;
            }

        }
        &__social {
            .flex-container(column, space-between, stretch);
            .btn {
                flex-basis: auto;
            }
        }
    }
}
.extra-sign-up{
    &__email{
    margin-bottom: 20px;
        .ui-input__label{
            margin-bottom: 5px;
            color: white;
    }
    }
    &__password {
        margin-bottom: 20px;
    }
    .label {
        color: white;
        padding-bottom: 15px;
    }
    &__error{
        color: red;
        padding-bottom: 15px;
    }
    .link{
        cursor: pointer;
        text-decoration: underline;
        color: #ffff00;
    }
}

.link{
    cursor: pointer;
    text-decoration: underline;
    color: #0000EE;
}