.statistics {
    width: 100%;
    text-shadow: none;

    &__title {
        .flex-container(row, center, center);
        width: 100%;
    }
    &__person {
        margin: 0 5px;
        color: @orange;
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        background-color: #142b3f;
        border: 1px solid #314b63;
        border-left: none;
        border-right: none;
    }
    &__el {
        flex-basis: 25%;
        padding: 10px 15px;
        border: 1px solid #314b63;
        font: 300 12px/1 @regular;
        color: @white;

        b {
            margin: 0 0 0 10px;
            font-weight: 600;
        }
    }
    &__content {

    }
    &__bottom {
        padding: 25px 17px 20px;
        text-align: center;
    }

    &.absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.stats-table {
    width: 100%;
    color: @white;
    background-color: #0b1c2e;
    border-collapse: separate;
    font: 600 14px/1 @regular;
    text-align: center;

    th,
    td {
        vertical-align: middle;
    }
    th {
        padding: 15px 20px;
    }
    td {
        padding: 11px 18px;
    }
    tr {
        border: 2px solid @bg;

        &:last-child {
            border-bottom: none;
        }
    }
    &__head {
        text-transform: uppercase;
    }
    &__body {

        td {
            border: 1px solid #314b63;
        }
    }
    &__tour {
        max-width: 220px;

        .stroke {
            margin-bottom: 3px;
        }
    }
    &__tour-name {
        margin: 0 0 10px;
        text-transform: none;
    }
    &__date {
        color: #487783;
    }
    &__foot {
        text-transform: uppercase;
    }
    &__total {
        text-align: right;
    }
}