.table {
    width: 100%;
    display: table;
    margin: 10px auto;
    font-size: 15px;
    border-spacing: 5px 0;

    &-bordered {
        border: 1px solid #cecece;

        th,
        td {
            border: 1px solid #cecece;
        }
    }
    thead {

        &.bold {
            font-weight: bold;
        }
    }

    td {

        &.text-left {
            text-align: left;
        }
    }

    th,
    td {
        padding: 3px;
    }
}

.table-header {
    .flex-container(row, space-between, center);
    position: relative;
    width: 100%;
    padding: 8px 0;
    background-color: #172227;
    border-bottom: 1px dotted @separator;
    font: 600 12px @regular;
    text-transform: uppercase;
    text-align: center;
    color: @white;

    .red {
        font-weight: 600;
        color: @red;
    }
    &.with-btn {
        padding: 22px 40px 21px;
        border-top: 1px dashed @separator;
        border-bottom: 1px dashed @separator;

        .btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }

    &.big {
        .flex-container(row, flex-start, center);
        height: 50px;
    }

    &__item {
        cursor: pointer;
        text-align: left;
        &:first-child {
            color: #ffb820;
            text-align: center;
        }
        span {
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -20px;
                width: 13px;
                height: 17px;
                background: url("/static/img/filter-arrow.png") no-repeat center
                center;
            }
        }
        &.without-filter {
            span {
                &:before {
                    display: none;
                }
            }
        }
    }
}


.prizes-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    font-weight: 600;
    font-family: @regular;
    text-transform: uppercase;
    color: @white;

    th {
        padding: 1px 0;
    }
    &__head {

        th {
            background-color: #062550;
            font-size: 13px;
        }
    }
    &__body {

    }
    &__row {

    }
    &__el {
        min-width: 80px;
        background-color: #093376;
        font-size: 14px;
        vertical-align: middle;

        &.sorry {
            padding: 10px 0;
        }
    }

    &.centered {
        text-align: center;
    }
}
