.data-table {
    display: table;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    font: 600 12px @roboto;
    color: @white;
    text-align: center;

    &__row {

    }
    &__el {
        background-color: @activeBlue;
        min-width: 35px;
        width: 47px;

        &.current {
            background-color: @green;
            color: @activeBlue;
        }
        &.past {
            background-color: #5f84a5;
        }
        &.birdie {
            background-color: #57f832;
        }
        &.eagle {
            background-color: #f6f832;
            color: @activeBlue;
        }
        &.par {
            background-color: #32f6f8;
        }
        &.albatross {
            background-color: #f13901;
        }
        &.bogey {
            background-color: #e28ee5;
        }
        &.two-bogey {
            background-color: #f832ff;
        }
        &.handicap {
            background-color: #f39500;
            animation: blink 1s;
            animation-iteration-count: 3;
        }
        &.legend-height {
            height: 90px;
            vertical-align: middle;
            .data-table__i {

            }
        }
    }
    &__i {
        padding: 0 5px;
        display: block;
        line-height: 35px;
        white-space: nowrap;
    }
    &__total {
        font-size: 12px;
        font-weight: bold;
        color: @white;
        background-color: @lightBlue;
        min-width: 60px;
    }
    &.blue {
        td {
            background-color: @lightBlue;
        }
    }
    &.fix-height {
        td {
            height: 35px;
        }
    }
}
