.game-tables {
    width: 100%;
}


.tour-head {
    display: block;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 25px;
    font-weight: 700;
    background: #143c64;
    text-align: left;
    text-transform: uppercase;
    color: @white;
    font-size: 10px;
    line-height: 25px;
}


.game-table {
    .flex-container(row, space-between, stretch);
    .item();
    width: 100%;
    font: 700 10px @roboto;
    color: @activeBlue;


    section {
        .flex-container(row, center, center);
        padding: 0;

        // Atoms (sections) modifications
        &.bg-light {
            background: linear-gradient(to bottom, #126ea4, #0b4d82);
        }
        &.bg-red {
            background-color: #ff3651;
        }
        &.text-orange {
            color: @orange;
        }
        &.text-green {
            color: #0ad35f;
        }
        &.hidden {
            overflow: hidden;

            &:hover {
                overflow: visible;
            }
        }

    }

    &__delete-btn,
    &__pay-btn {
        position: relative;
        width: 100%;
        font-size: 90%;
        text-align: center;
        cursor: pointer;

        .icon {
            transition: all 0.2s ease-in-out;
        }
    }
    &__delete-btn {
        margin: 6px 0 0;
        opacity: 0.6;
    }
    &__pay-btn {
        top: -5px;

        .icon-cart {
            display: block;
        }
        &:hover {
            .icon {
                color: #5cb85c;
            }
        }
    }
    &__multi-profile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }


    // Table Modifications
    &.column {
        flex-direction: column;
    }
    &.text-up {
        text-transform: uppercase;
    }
    &.header {
        margin: 0;
        .header();
    }
    &.tour-head {
        margin: 0;
        padding: 0 10px;
        width: 100%;
        height: 25px;
        font-weight: 700;
        background: #143c64;
        text-transform: uppercase;
        color: @white;
        font-size: 10px;
        line-height: 25px;
    }
    &.bottom-0 {
        margin-bottom: 0;
    }
    &.bold {
        font-weight: 600;
    }


    // Sections modifications with parent class
    &.items-align-center {

        section {
            justify-content: center;
            align-items: center;
        }
    }


    // Content modifications
    &.leaderboard {
        section {
            justify-content: center;

            &:nth-child(3) {
                justify-content: flex-start;
            }
            &:nth-child(2) {
                justify-content: flex-start;
                .avatar {
                    margin: 0;
                }
            }
        }
    }
    &.leaderhead {
        section {
            &:nth-child(3) {
                justify-content: flex-start;
            }
            &:nth-child(2) {
                justify-content: flex-start;
            }
        }
    }
    &.entryfee {

    }
    &.competition {
        cursor: pointer;

        section {
            .flex-container(row, center, center);

            &:first-child {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &.public {
        height: 50px;
        margin: 0;
    }
    &.public-inactive {
        section {
            &:last-child {
                .flex-container(row, space-between, center);
            }
        }
    }
    &.filters {
        .flex-container(row, flex-start, stretch);
        section {
            align-items: stretch;
            padding-left: 0;
            padding-right: 0;
            cursor: pointer;

            &:hover {
                background-color: #1b2c3b;
            }

            &:first-child {
                .sorting-header {
                    padding-left: 30px;
                }
            }
            &:last-child {
                &:hover {
                    background-color: #0b1c2e;
                }
            }
        }
    }
    &.scraps {
        border-top-color: #6657af;
        background: linear-gradient(to bottom, #483d7a, #473573);

        &:hover {
            background: linear-gradient(
                    to bottom,
                    lighten(#483d7a, 8),
                    lighten(#473573, 8)
            );
        }
    }
    &.candidate {
        height: 50px;
        margin: 0;
        cursor: pointer;
        font-size: 12px;
        color: @activeBlue;

        .golfer {
            height: 50px;
            padding: 0;
        }

        &.active {
            flex-direction: column;
            height: auto;
            font-weight: 600;
            background: @green;

        }

        &.inactive {
            cursor: default;
            opacity: 0.4;
            pointer-events: none;
        }
    }
}
