.prediction {
    width: 100%;
}

.substeps {
    width: 100%;
}

 .predict {
     width: 100%;
     margin: 2px 0;
     color: @activeBlue;
     border-collapse: collapse;
     font-size: 12px;

     th {
         width: 25%;
         line-height: 1.2;
         padding: 5px 1px;
         font-size: 9px;
     }
     td {
         height: 40px;
     }
     th,
     td {
         vertical-align: middle;
         text-align: center;
         background-clip: padding-box;
     }

     &.results th {
         width: auto;
     }

     &__head {
         font-size: 10px;
         .header();
     }
     &__target {
         .flex-container(row, center, center);
     }
     &__empty {
         display: block;
         width: 13px;
         height: 13px;
         box-sizing: border-box;
         border-radius: 50%;
         box-shadow: 0 0 0 2px #244366;
         background: @white;
         transition: all .5s ease-in-out;
         margin: auto;
     }
     &__selected {
         display: block;
         width: 28px;
         height: 28px;
         border-radius: 50%;
         border: 3px solid @white;
         box-shadow: 0 0 0 2px #244366;
         background: @activeBlue;
         box-sizing: border-box;
         font-size: 15px;
         line-height: 1.5;
         color: @white;
         transition: all .5s ease-in-out;
         margin: auto;
     }
 }

  //Icons for prediction result (mixins)

.cross-res-icon () {
    position: relative;
    &:after,
    &:before {
        position: absolute;
        content: ' ';
        left: -1px;
        top: -6px;
        height: 12px;
        width: 3px;
        background-color: @activeBlue;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.ball-res-icon (){
    width: 28px;
    height: 28px;
    background: @activeBlue;
    border-radius: 50%;
    border: 3px solid @white;
    box-shadow: 0 0 0 2px #244366;
}


 .prediction-res {
     .flex-container(row, center, center);
     height: 100%;
     width: 100%;

     &.wrong {
         background-color: #df2713;
         .result-icon {
             .cross-res-icon();
         }
     }

     &.correct-yours {
         background-color: #96e600;
         .result-icon {
             .cross-res-icon();
         }
     }

     &.correct {
         background-color: #b1c1d2;
         .result-icon {
             .ball-res-icon();
         }
     }

     &.filled {
         .result-icon {
             .ball-res-icon();
         }
     }
 }


.prediction-table {
    width: 100%;
    margin: 2px 0;
    color: @activeBlue;
    border-collapse: collapse;

    &__head {
        .header();
        th {
            padding: 5px 1px;
            line-height: 1.2;
        }
    }

    &__cell {
        height: 40px;
        width: 16.6%;
        background-clip: padding-box;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
    }

    &__cell-in {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.predict-cell {
    display: block;
    width: 100%;
    height: 100%;
    .flex-container(row, center, center);

    &.predicted {
        background: @green;
    }
    &.right {
        background: none;
    }
    &.left {
        background: none;
    }
}
.predict-icon {
    display: block;
    width: 13px;
    height: 13px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #244366;
    background: @white;
    transition: all .5s ease-in-out;

    &.predicted {
        width: 28px;
        height: 28px;
        border: 3px solid @white;
        background: @activeBlue;
    }
    &.right {
        animation: move-right .4s ease-in-out forwards;
    }
    &.left {
        animation: move-left .4s ease-in-out forwards;
    }
}
