.prizes-distribution {
    width: 100%;
    font-weight: 400;
    border-collapse: collapse;
    margin: 10px 0 0 0;

    &__head {
        background-color: rgba(9,102,177, .5);
        font-size: 17px;
        font-family: @roboto;
        text-align: left;
        color: @white;
    }
    &__content {
        background-color: rgba(9,102,177, .5);
        font-size: 15px;
        font-family: @regular;
    }
    th,
    td {
        vertical-align: middle;
        line-height: 1;
    }
    th {
        padding: 12px 20px 12px;
    }
    td {
        padding: 8px 20px;
        color: @white;
        width: 50%;

        &.red {
            color: @red;
        }

    }
}
