.search-friend {
    width: 100%;
    margin: 0 0 5px;

    &__input {
        height: 34px;
        display: block;
        margin: 0 0 0 10px;
        border: none;
        outline: 0 none;
        font: 500 100% @roboto;
        background-color: #0A1A2A;
        padding: 2px 10px;
        color: #fff;
    }
}

.friend {
    width: 100%;
    .flex-container(row, space-between, center);
    background-color: #fff;
    border-bottom: 1px solid #a1d3e6;
}
