@form-error: #d9534f;


.sign-up {
    position: relative;
    transition: all 0.1s ease-out;

    &__in {
        background: @blueTransparent;
        padding: 40px 30px 40px;
        border-radius: 2px;
        margin: 0 10px;
    }
    &__buttons {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 10px;
        height: 50px;
        margin: 0;
        background: @activeBlue;
        .flex-container(row, space-between, center);

        .btn {
            flex-basis: 48%;
        }
    }
    &__finish {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 10px;
        margin: 0;
        background: #113348;
        .flex-container(row, center, center);
    }
    &__logo {
        z-index: 10;
    }
    &__head {
        width: 100%;
        height: 50px;
        background: rgba(24,69,108,1);
        padding: 0 5px;
        z-index: 50;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    &__back {
        width: 50px;
        height: 50px;
        .flex-container(row, center, center);
        .btn {
            margin-bottom: 27px;
        }
    }
    &__info {
        margin: 0 0 10px 5px;
    }
    &__error {
        margin: 0 0 10px 5px;
        animation: blink 1.2s 2 linear;
        color: @form-error;
        text-shadow: 0 0 1px rgba(128, 128, 128, .5);
    }
    &__logo {
        max-width: 190px;
        margin: auto;
        position: relative;
        top: 50px;
        .flex-container(row, center, center);
    }
    &__social {
        position: relative;
        margin: 10px 10px 0;
        padding: 20px 15px 20px;
        border-radius: 2px;
        background: rgba(20,130,200,.75);
    }
    &__social-btn {
        .flex-container(row, space-between, stretch);
        margin: 15px auto 0;
        .btn {
            flex-basis: 48%;
        }
    }
    &__form {
        position: relative;
        margin: 0 10px;
        background: rgba(20,130,200,.75);
        padding: 55px 15px 5px;
        border-radius: 2px;

        .hint {
            text-align: center;
        }
    }
    &__fields {

    }
    &__pass-link {
        margin: 10px 0 5px;
    }
    &__checkbox {
        margin: 10px 0;
    }
    &__checkbox-label {
        .flex-container(row, space-between, center);
    }
    &__checkbox-text {
        font: 300 10px @roboto;
        color: @white;
        margin-left: 15px;
        .stroke {
            cursor: pointer;
        }
    }
    &__checkbox-error {
        font: 300 14px @roboto;
        color: @form-error;
        margin-bottom: 5px;
    }
}

.extra-sign-up {
    &__email {
        margin-bottom: 20px;
        .ui-input__label {
            margin-bottom: 5px;
            color: white;
        }
    }
    &__password {
        margin-bottom: 20px;
    }
    .label {
        color: white;
        padding-bottom: 15px;
    }
    &__error {
        color: @form-error;
        padding-bottom: 15px;
    }
    .link {
        cursor: pointer;
        text-decoration: underline;
        color: #ffff00;
    }
}

.link{
    cursor: pointer;
    text-decoration: underline;
    color: #0000EE;
}
