@form-field-error: #d9534f;
@form-field-success: #26dc54;
@form-field-active: #7bbdd7;

.ui-input-border {
    width: 100%;
    height: 2px;

    content: " ";

    background: #456b7a;

    &:after {
        display: block;
        content: " ";
        height: 2px;

        transition: all .4s ease-in-out;

        transform: scale(0, 1);
        transform-origin: center center;

        .focused &,
        .has-error &,
        .is-valid & {
            transform: scale(1);
        }
    }
}

.ui-input{
    position: relative;
    width: 100%;
    margin: 0 0 5px;

    &__el {
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 10px 10px 0;
        outline: none;
        background-color: transparent;
        border: none;
        font: 300 14px/1.5 @roboto;
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
        color: @activeBlue;
        .input(@activeBlue);

        &[disabled] {
            background-color: transparent;
            border: none;
            color: @disabledInput;
        }

        &.big {
            font-size: 20px;
            line-height: 2;
        }
        &:focus {
            border-color: transparent;
            outline: none;
        }
    }
    &__label {
        position: absolute;
        top: 10px;
        left: 5px;
        font: 300 14px/1.5 @roboto;
        color: @activeBlue;

        transition: all 0.4s ease-in-out;

        .has-value &,
        .focused & {
            top: 0;
            font-size: 11px;
        }
    }
    &__hint,
    &__error,
    &__pass-forgot {
        margin: 10px 0 0;
        width: 100%;
        font: italic 400 12px/1 @roboto;
        color: @white;
    }
    &__hint {
        text-align: right;
        color: @white;
    }
    &__error {
        text-align: left;
        color: @form-field-error;
    }
    &__pass-forgot {
        text-align: right;
        cursor: pointer;
        color: @activeBlue;
    }



    &.focused {
        .ui-input__label {
            color: #7bbdd7;
            font-size: 11px;
            top: 0;
        }
        .ui-input-border:after {
            background: @form-field-active;
        }
    }

    &.disabled {
        .ui-input__label {
            color: @disabledInput;
        }
        .ui-input-border:after {
            background: @disabledInput;
        }
    }

    &.is-valid {
        .ui-input__label {
            color: @form-field-success;
        }
        .ui-input-border:after {
            background: @form-field-success;
        }
    }

    &.has-error {
        .ui-input__label,
        .ui-input__el {
            color: @form-field-error;
        }
        .ui-input-border:after {
            background: @form-field-error;
        }
    }

    &--white {
        .ui-input__el {
            color: @white;
        }
    }
}

input[type=checkbox]{
    min-width: 17px;
    height: 17px;

    &:focus,
    &:active{
        outline: none;
    }
}

.ui-checkbox{
    margin: 0 0 15px;

    input[type=checkbox]{
        display: none;
    }
    &__label {
        .flex-container(row, flex-start, flex-start);
        font: 300 14px @roboto;
        color: @activeBlue;
        transition: all .2s ease-in-out;
        &.checked{
            .ui-checkbox__circle{
                left: 24px;
            }
            .ui-checkbox__block {
                background: @green;
            }
        }
    }
    &__block {
        position: relative;
        width: 45px;
        min-width: 45px;
        height: 21px;
        margin-right: 10px;
        border: 2px solid @activeBlue;
        border-radius: 10px;
        background: @white;
    }
    &__circle {
        position: absolute;
        left: 2px;
        top: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: @activeBlue;
        transition: all .2s ease-in-out;
    }
}

.ui-form {
    width: 100%;
    .flex-container(row, flex-start, center);
}

.ui-label {
    font: 600 11px @roboto;

    &.inline {
        text-align: right;
        display: inline-block;
    }
    &.left {
        margin-right: 15px;
    }
    &.text-up {
        text-transform: uppercase;
    }
}

.ui-select {
    position: relative;
    width: 100%;
    height: 42px;

    &__el {
        appearance: none;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;

        &[disabled] {
            background: transparent;
            border: none;
        }

        &:focus {
            border-color: transparent;
            outline: none;
            opacity: 0;
        }
        option {
            background: #26374d;
            color: @white;
        }
    }
    &__label {
        position: absolute;
        top: 10px;
        left: 5px;
        font: 400 14px/1.5 @roboto;
        color: @activeBlue;

        transition: all 0.4s ease-in-out;

        .has-value &,
        .focused & {
            top: 0;
            font-size: 11px;
        }
    }
    &__inner {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 14px 10px 0;
        font: 300 14px/1.5 @roboto;
        color: @activeBlue;

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 9px;
            top: 20px;
            width: 0;
            height: 0;
            border-top: 4px solid #26374d;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
    }
    &__hint {
        position: absolute;
        bottom: -10px;
        right: 3px;
        width: 100%;
        font: italic 400 12px/1 @roboto;
        color: @white;
        text-align: right;
    }
    &__arrow {
        position: absolute;
        bottom: 15px;
        right: 8px;
        font-size: 12px;
        color: #a4d0e1;
    }
    input {
        appearance: none;
    }

    &.disabled {
        .ui-select__label,
        .ui-select__inner {
            color: @disabledInput;
        }
        .ui-select__inner:after {
            border-top-color: @disabledInput;
        }
        .ui-input-border,
        .ui-input-border:after {
            color: @disabledInput;
        }
    }

    &.focused {
        .ui-select__label {
            color: #7bbdd7;
            font-size: 11px;
            top: 0;
        }
    }

    &.has-error {
        .ui-select__inner,
        .ui-select__label {
            color: @form-field-error;
        }

        .ui-select__inner:after {
            border-top-color: @form-field-error;
        }
    }

    //    Modification
    &_offset {
        .ui-select__el {
            margin: 0;
        }
    }

    &--white {
        .ui-select__inner {
            color: @white;
        }
    }
}

.ui-close {
    display: inline-block;
    padding: 8px 15px 5px;
    background: #ccc;
    border-radius: 5px;
    font: 500 24px/1 @roboto;
    text-transform: uppercase;
    color: @white;
    cursor: pointer;
    z-index: 200;

    // Colors
    &.yellow {
        background-color: #fef5a9;
        color: #6b6b6b;
    }
}

.button-group {
    .flex-container(row, space-between, center);

    &__btn {
        margin-right: 5px;
    }
}

.error-message {
    margin-top: 10px;
    margin-bottom: 10px;
    &__text {
        color: @form-field-error;
    }
}
