
.block-screen {
  margin: 100px 20px 0;
  position: relative;
  max-width: 900px;


  &__in {
    position: relative;
    z-index: 2;

  }

  &__title {
    color: @white;
    font: bold 20px @roboto;
    text-align: center;
    padding: 11px 0;
    border-radius: 4px;
    background: @red;
  }

}
