.filters-nav {
    margin: 0 0 3px;
    color: @white;

    &__bottom {
        height: 25px;
        .flex-container(row, space-between, stretch);
        box-sizing: border-box;
        margin: 0;
        background-color: #143c64;
    }
    &__top-title {
        .header();
        padding: 5px;
        .flex-container(row, space-between, stretch);
        box-sizing: border-box;

        .filters-nav__el {
            .flex-container(row, center, stretch);
            &:nth-child(2),
            &:nth-child(4){
                justify-content: flex-start;
            }
        }
    }
    &__top {
        height: 100px;
        padding: 5px;
        .flex-container(column, space-between, stretch);
        box-sizing: border-box;

        .filters-nav__el {
            margin: 0 auto;
        }
    }
    &__el {
        .flex-container(row, space-between, stretch);
        font: 700 10px/1 @roboto;
        text-transform: uppercase;
        flex-grow: 1;

        .menu-button {
            .flex-container(row, flex-start, center);
            min-width: 79px;
            padding: 0;

            &.active {
                .icon-arrow-sort {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARBAMAAAD00TuvAAAALVBMVEUAAAAAuv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8feHcEAAAADnRSTlMA8Qv7pQTs3r6VeU83G8U75J4AAABLSURBVAjXY2BgkHsnACTx0QZQ+gEyzQqh/d6BgAODOoh6rsDAYwekbYAS64D0AiAd8e7diwAgzZv3Lhesf9+7DWCa8yUDGDA5AQkAR9glzNniCpUAAAAASUVORK5CYII=');
                }
                .icon-arrow-sort-rev {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARBAMAAAD00TuvAAAALVBMVEUAAAAAuv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8feHcEAAAADnRSTlMA8Qv7pQTs3r6VeU83G8U75J4AAABLSURBVAjXY2BgkHsnACTx0QZQ+gEyzQqh/d6BgAODOoh6rsDAYwekbYAS64D0AiAd8e7diwAgzZv3Lhesf9+7DWCa8yUDGDA5AQkAR9glzNniCpUAAAAASUVORK5CYII=');
                    transform: rotate(180deg);
                }
            }
        }
        .icon {
            background-size: 60%;
            margin-right: 3px;
            min-width: 17px;
        }
        &.small {
            font-size: 11px;
        }
        &.centered {
            justify-content: center;
            align-items: center;
        }
        &.grow-2 {
            flex-grow: 2;
        }
    }

    &.items-centered {
        .filters-nav__el {
            margin: auto;
        }
    }

}

.filter {
    .flex-container(row, space-between, center);
    border: 1px solid @white;
    position: relative;
    padding: 5px 10px;
    color: @white;

    .navbar-search {
        width: 65%;
    }
}


