.friends {
    margin: 0;

    &__head {
        width: 100%;
        height: 50px;
        background-color: #0a1a2a;
    }
    &__title {
        display: inline-block;
        height: 50px;
        margin: 0;
        line-height: 50px;
        background-color: #0c2337;
        padding: 0 40px;
    }
    &__action {
        .flex-container(row, center, center);
        width: 100%;
        height: 50px;
        margin: 10px 0;

        .data-item {
            display: flex;
            align-items: center;
        }
    }
    &__counter {
        font-weight: 700;

        b {
            position: relative;
            top: -2px;
            font-size: 30px;
            margin: 0 7px;
        }
    }
    &__row {
        margin: 2px 0;
    }
    &__bottom {
        margin: 30px 0 0;
        text-align: center;
    }
    &__social {
        .flex-container(row, space-between, stretch);
        height: 50px;
    }
}
