@hamburger-color: white;
@hamburger-size: 44px;
@bar-height: 4px;
@hamburger-duration: .2s;

.hamburger {
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: @hamburger-size;
    height: @hamburger-size;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background @hamburger-duration;
    background: transparent;

    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: @hamburger-size / 2 - @bar-height / 2;
        left: @hamburger-size * .2;
        right: @hamburger-size * .2;
        height: @bar-height;
        background: @hamburger-color;
        transition: background 0s @hamburger-duration;
        pointer-events: none;

        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: @hamburger-color;
            content: "";
            transition-duration: @hamburger-duration, @hamburger-duration;
            transition-delay: @hamburger-duration, 0s;
        }

        &::before {
            top: -10px;
            transition-property: top, transform;
        }

        &::after {
            bottom: -10px;
            transition-property: bottom, transform;
        }
    }

    &--active {
        span {
            background: none;

            &::before,
            &::after {
                transition-delay: 0s, @hamburger-duration;
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

