.hello-user {
    position: relative;
    height: 100%;
    transition: all 0.3s ease-in-out;

    &__sign-up {
        margin: 0;
        height: 100%;
    }
}

.about {
    .flex-container(row, space-between, center);

    &__l {
        flex-basis: 70%;
    }
    &__r {
        flex-basis: 29%;
    }
}
