.board-mobile {
    width: 100%;

    &__table {
        width: 100%;
        border-collapse: collapse;
        th, td {
            vertical-align: middle;
        }
    }
    &__head {
        .header();
        border-top: 1px solid @white;
        th {
            height: 25px;
            &:nth-child(1) {
                padding: 0 0 0 15px;
            }
            &:nth-child(5) {
                padding: 0 5px 0 5px;
            }
        }
    }
    &__body {
        font: 700 12px @roboto;
        color: @activeBlue;
        tr {
            .item();
        }
        .avatar {
            margin: 0;
        }
    }
    &__place {
        font: 700 12px/22px @roboto;
    }
    &__place-num {
        text-align: center;
        padding: 0 0 0 15px;
    }
    &__flag {
        text-align: center;
        padding: 0 12px;
    }
    &__name {
        text-align: left;
        width: 120px;
    }
    &__golfer {
        text-align: left;
    }
    &__par {
        text-align: center;
    }
    &__hole {
        text-align: center;
        padding: 10px 20px 10px 5px;
    }
}
