.logo {
    position: relative;
    display: inline-block;
    transition: all 0.6s ease;
    cursor: pointer;

    &__el {
        position: relative;
        display: flex;
        margin: auto;
    }
    &.hole-by-hole-promo,
    &.handicap-the-pros-promo,
    &.five-ball-promo,
    &.draft5-promo {
        animation: appearance 2.5s linear;

        &:hover {
            opacity: 0.7;
        }
    }

    &.hole-by-hole-promo {
        top: 5px;
    }
    &.handicap-the-pros-promo {

    }
    &.five-ball-promo {
        top: -6px;
    }
    &.draft5-promo {

    }
    &.small {
        .logo__el {
            max-width: 80%;
            margin: 0 15px 0 5px;
        }
    }
    &.disabled {
        cursor: default;
    }
}

.logo-title {
  .flex-container(row, flex-start, center);

  .logo {
    top: 10px;
    margin-right: 20px;
  }
}

