.more-info {
    min-height: 100px;


    &__item {
        .flex-container(row, space-around, flex-start);
        .btn {
            max-width: 120px;
        }
    }

    @media(min-width: 770px) and (max-width: 1025px) {
        &__item {
            .btn {
                max-width: 160px;
            }
        }
    }
}