.games-prev {

    &__title {
        margin: 10px 5px;
        text-align: center;
    }
    &__top {
        .flex-container(row, center, stretch);
        width: 100%;
        margin: 2px 0 10px;
    }
    &__el {
        .flex-container(row, center, center);
        flex-grow: 1;
        position: relative;
        padding: 15px 5px;
        font: 600 12px/1 @roboto;
        text-transform: uppercase;
        text-align: center;
        background: @lightBlue;
        color: @white;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &.active {
            cursor: default;
            color: @activeBlue;
            background: #69de2a;
        }
    }
}


.games-item {
    width: 100%;
    margin: 5px 0;

    &__date {
        margin: 10px 0 10px 15px;
        font: 600 12px @roboto;
        text-transform: uppercase;
        color: @activeBlue;
    }
    &__table {
        color: @white;
        width: 100%;
        border-collapse: collapse;
    }
    &__head {
        .header();
        th {
            padding: 0 3px;
            height: 25px;
            vertical-align: middle;
            &:nth-child(1) {
                text-align: left;
                padding: 0 0 0 15px;
            }
        }
    }
    &__body {
        font: 600 13px @roboto;
        color: @activeBlue;
        tr {
            .item();
        }
        td {
            padding: 6px 3px;
            text-align: center;
            vertical-align: middle;
            &:nth-child(1) {
                text-align: left;
                padding: 0 0 0 15px;
            }
        }
    }
}
