.nav-bar {
    font: 400 10px @roboto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: #042e48;

    .flex-container(row, center, stretch);

    &__el {
        position: relative;
        width: 20vw;
        padding: 6px 2px 0;
        height: 50px;
        text-align: center;
        .flex-container(column, flex-start, center);
        cursor: pointer;
        transition: all .3s ease-in;
        color: @white;
        background: #042e48;

        &.active {
            color: #042e48;
            background: #69de2a;
        }
    }

    &__drop-menu {
        .flex-container(column, flex-end, center);
        position: absolute;
        right: 0;
        bottom: -90px;

    }
}

.nav-bar-icon {
    width: 30px;
    height: 23px;
    display: inline-block;

    &.new-game-icon {
        background: url('/static/img/new-game-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/new-game-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
    &.competition-icon {
        background: url('/static/img/competitions-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/competitions-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
    &.my-games-icon {
        background: url('/static/img/my-games-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/my-games-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
    &.more-icon {
        background: url('/static/img/more-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/more-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
    &.rules-icon {
        background: url('/static/img/rules-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/rules-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
    &.leaderboard-icon {
        background: url('/static/img/leaderboard-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/leaderboard-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
    &.note-icon {
        background: url('/static/img/note-icon.png') no-repeat center center;
        background-size: 90%;
        &.active {
            background: url('/static/img/note-active-icon.png') no-repeat center center;
            background-size: 90%;
        }
    }
}
