.swipeable-views {
    overflow-x: hidden;

    &__container {
        display: flex;
    }

    &__slide {
        width: 100%;
        flex-shrink: 0;
        overflow: auto;
    }
}

.new-game {
    &__item {
        height: 128px;
        width: 100%;
        padding: 9px;

        .flex-container(row, space-between, center);
        justify-content: space-around;

        &.five-ball { background-color: rgba(0, 101, 190, 0.66); }
        &.five-ball-tutorial { background-color: rgb(0, 101, 190); }

        &.handicap-the-pros { background-color: rgba(255, 150, 25, 0.75); }
        &.handicap-the-pros-tutorial { background-color: rgb(255, 143, 25); }

        &.hole-by-hole { background-color: rgba(25, 162, 70, 0.66); }
        &.hole-by-hole-tutorial { background-color: rgb(25, 162, 70); }

        .game-logo {
            height: 110px;
            width: 120px;
        }
        .btn {
            width: 110px;
        }
    }
    &__promo-text {
        width: 131px;
    }
}



.tour-info {
    min-height: 85px;
    padding: 7px 18px;
    background: #18456c;
    box-sizing: border-box;
    .flex-container(column, space-between, center);

    &__date-period {
        text-align: center;
    }
}
