.notifications-box {
    position: relative;
    cursor: default;
}

.notifications {
    &__list {
        margin: 0;
        font-family: @roboto;
        text-align: left;
        color: @white;
        list-style: none;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &__el {
        margin: 0 5px 5px;
        padding: 10px 15px 5px;
        background-color: rgba(20, 130, 200, 0.75);
        color: @white;;

        &.read {
            background-color: rgba(25, 166, 255, 0.35);
            color: @activeBlue;
        }

        .icon-tokens,
        .icon-dollars {
            width: 13px;
            height: 13px;
            margin-right: 3px;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: inherit;
        font-size: 22px;
    }
    &__text {
        margin-bottom: 5px;
        font: 400 14px/1.4 @roboto;
        line-height: 1.3;

        .money {
            .dollars, .tokens {
                margin-right: 6px;
                color: @activeBlue;
            }
        }
    }
    &__created {
        font-style: italic;
        color: @activeBlue;
        font-size: 14px;
    }
    &__close {
        position: relative;
        top: 5px;
    }
    .money {
        margin-left: 2px;
    }
    .tokens,
    .dollars {
        margin-right: 0;
    }
}

.notification-popup {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    opacity: 1;

    &__inner {
        position: relative;
        padding: 10px;
        background: #16232c;
    }
}
