.sidemenu {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 50px;
    z-index: 10;

    width: 100%;
    min-height: 100%;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    color: @activeBlue;
    background-color: @overlay;
    font-family: @roboto;
    font-weight: 400;

    &__section {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        margin: 10px 0;
    }

    &__section-title {
        box-sizing: border-box;
        margin: 10px 0 0;
        padding: 0 10px;
        height: 30px;
        width: 100%;
        background: #2678d0;
        font: 400 15px/30px @roboto;
        text-transform: uppercase;
        color: @activeBlue;
    }

    &__menu-item {
        font-weight: 500;
        font-size:18px;
        line-height: 2.5em;
        margin: 0 45px;

        a {
            color: @activeBlue;
            text-decoration: none;
        }
    }

    &__footer {
        box-sizing: border-box;
        height: 50px;
        background: #18456c;
        padding: 10px 30px;
    }
}

.user-info {
    &__name {
        font: 400 20px/1.4em @roboto;
        margin-top: 0;
        text-transform: none;
    }

    &__avatar {
        margin-right: 15px;
        float: left;
    }

    &__datetime {
        font: 400 11px/1.4em @roboto;
    }
}

.funds-info {
    .flex-container(column, flex-start, flex-start);
    padding: 10px;

    &__title {
        margin-left: 25px;
    }

    &__money {
        margin-left: 25px;
    }

    &__btn-wrapper {
        width: 100%;
        padding: 5px 20px;
    }

    &__btn {
        width: 100%;
    }
}
