.payment {
    background-color: @overlay;

    &__inner {
        .flex-container(column, flex-start, stretch);
    }

    &__title {
        height: 30px;
        padding: 0 18px;
        margin: 0 0 10px 0;
        background: #16415a;
        font: 400 15px @roboto;
        line-height: 2;
        text-transform: uppercase;
        color: @white;
    }

    &__bottom {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #18456c;
        padding: 10px 30px;
    }
}

.payment-option {
    border-radius: 0;

    .flex-container(row, space-between, center);
    height: 70px;
    font-family: @roboto;
    font-weight: 700;

    &.active {
        background: @green;
    }
    &.layout {
        .payment-option__total {
            margin-right: 45px;
        }
    }

    &__amount {
        color: @activeBlue;
        font-size: 30px;
        line-height: 70px;
        padding: 0 15px;

        input {
            width: 2.5em;
            color: @activeBlue;
            background: @white;
            border: 2px solid #244366;
            border-radius: 2px;
            padding: 0 0 0 5px;
            margin: 0 0 0 5px;
        }
    }

    &__button {
        padding: 0 10px 0 0;
        width: 50px;
    }
}
