.payment-history {
    width: 100%;
    margin-bottom: .5em;
    font: 300 14px/1.5em @roboto;
    text-align: center;
    color: @activeBlue;
    border-bottom: 1px solid @activeBlue;
    th,
    td {
        padding: 5px;
    }
    &__head {
        font-weight: 600;
    }

    &__row {
        border-top: 1px solid @activeBlue;
    }

}
