.profile {
    .flex-container(row, space-between, center);
    width: 100%;
    padding: 10px 10px 10px 0;

    &__index {
        margin: 0 12px 0 6px;
    }
    &__avatar {
        min-width: 60px;
        text-align: center;
        margin-right: 20px;
    }
    &__person-info {
        margin: 0 5px;
        width: 65%;
    }
    &__my-badge {

        border-radius: 2px;
        min-width: 35px;
        height: 14px;
        margin: -25px 0 3px;
        font: 400 12px/1 @regular;
        text-transform: uppercase;
        text-align: center;
        padding: 2px;
        background: #06a0b5;
        color: @white;
    }
    &__handler {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 17px;
        background: #0a497d;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 31px;
            width: 19px;
            height: 29px;
            .radial-gradient(center, center, circle, contain,
            #ffffff, 2px, transparent, 3px);
            background-size: 100% 10px;
        }
    }
    .person-name {
        top: -12px;
    }

    &.multi {
        height: 90px;
        background: linear-gradient(to bottom, #0d5480, #06335e);
    }
    &.five-ball {
        .profile {
            &__person-info {
                width: 35%;
            }
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        &__handler {
            display: none;
        }
    }
}

.multi-profile {
    .flex-container(row, space-between, stretch);
    width: 100%;
    background: #1b3c5a;

    .profile {
        border-left: 1px solid #00070a;
        border-right: 2px solid #00070a;

        &.opened {
            flex-basis: 60%;
        }
        &.closed {
            flex-basis: 20%;
            justify-content: center;

            &.profile {
                position: relative;
            }
        }
        &:last-child {
            border-right: 2px solid #00070a;
        }
    }
    &.lefted {
        justify-content: flex-start;

        img {
            margin: 0 5px 0 0;
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        .person-info {
            font-size: 12px;
        }
        .stroke {
            font-size: 10px;
        }
    }
}

.profile-index {
    font: 700 16px/1 @regular;
    color: @white;
}
