.round-switch {
    .flex-container(column, space-between, center);
    margin: 1px 0;
    text-transform: uppercase;
    text-align: center;

    .header {
        padding: 0 5px;
    }
    &__els {
        width: 100%;
        .flex-container(row, space-between, center);
        flex-wrap: wrap;
    }

    &__el {
        .flex-container(row, space-between, center);
        box-sizing: border-box;
        width: 50vw;
        height: 95px;
        padding: 5px 15px;
        border: 1px solid #143c64;
        flex-basis: 49.9%;
        background: transparent;
        transition: all .3s ease-in;
        font: 700 20px @roboto;
        color: @activeBlue;
        text-transform: uppercase;
        cursor: pointer;

        &.active {
            background: @green;
        }

        &.inactive {
            cursor: default;
            pointer-events: none;

            color: rgba(20, 60, 100, .4);
            border-color: rgba(20, 60, 100, .4);

            .btn_white-circle {
                background-color: rgba(255, 255, 255, .4);
                box-shadow: 0 0 0 2px rgba(36, 67, 102, .4);
            }
        }

        .btn_select {
            margin: 0;
        }
    }
    &__content {
        display: inline-block;
        padding-right: 8px;
    }
    &__btn {
        width: 45px;
    }
    &__round {
        margin: 0 0 0 3px;
    }

    @media(min-width: 770px) and (max-width: 1025px) {
        &__el {
            padding: 0 40px;
        }
        .header {
            padding: 0 20px;
        }
    }
}
