.rounds-switcher {
    padding: 10px 0 5px;

    &__btn-text {
        margin: 3px 2px 0;
    }

    &__buttons {
        .flex-container(row, center, center);
    }
    &__num {
        font-size: 21px;
        font-weight: 600;
    }
}
.rounds-score-card {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    background: #0b1c2e;
    .flex-container (row, space-between, center);
}
