.scorecard {
    font: 300 12px @roboto;
    color: @white;

    &__title {
        text-align: center;
    }
    &__user {
        .flex-container(row, space-between, center);
        height: 50px;
        padding: 0 10px;
        margin: 5px 0;
        font: 600 12px @roboto;
        color: @activeBlue;

    }
    &__user-info {
        .flex-container(row, flex-start, center);
    }
    &__avatar {
        width: 30px;
        height: 30px;
        background: #2f6698;
        margin: 0 10px 0 0;
    }
    &__position {
        .flex-container(row,space-around, center);
    }
    &__square {
        text-align: center;
        margin: 0 0 0 10px;
    }
    &__user-name {

    }
    &__golfer {
        .flex-container(row, space-between, center);
        height: 65px;
        padding: 0 10px;
        background: #142c41;
        margin: 5px 0;
    }
    &__golfer-info {
        .flex-container(column, flex-start, flex-start);
        padding: 0 1px;
        margin: 0;
        max-width: 20%;
        box-sizing: content-box;

        &.column {
            padding: 10px;
            .flex-container(row, flex-start, center);
            flex-basis: 100%;
            width: 100%;
        }
    }
    &__golfer-name {
        white-space: normal;
        font: 700 10px @roboto;
        color: @activeBlue;
        width: 100%;
    }
    &__tour-info {
        .flex-container(row, space-between, center);
        height: 50px;
        padding: 0 10px;
        background: #142c41;
        margin: 5px 0;
    }
    &__status {
        width: 70px;
        height: 45px;
        font: 600 15px/45px @roboto;
        text-align: center;
        text-transform: uppercase;
    }
    &__points {
        font: 300 12px @roboto;
    }
    &__flags-list {
        .flex-container(row, space-around, stretch);
        height: 103px;
        padding: 2px 0;
        background: #bee6ff;
        transition: all 1s ease;

    }
    &__flag {
        width: 56px;
        height: 33px;
        cursor: pointer;
        margin: 0 0 5px;
        border: 3px solid transparent;
        box-sizing: content-box;

        &.active {
            border: 3px solid #96e600;
            animation: pulsar 1s;
            animation-iteration-count: 2;
        }
    }
    &__golfer-flag {
        width: 56px;
        height: 33px;
        box-shadow: 0 1px 4px 0 #020917;
        background-image: url("/static/img/flags.png");
        background-position: 0 -1220px;
    }
    &__wr {
        font-weight: 300;
    }
}

.score-legend {

    &__table {
        width: 100%;
        color: @activeBlue;
        margin: 10px 0;
        font-weight: 600;
    }
    &__body {
        td {
            &:nth-child(1) {
                width: 32px;
            }
        }

        td {
            vertical-align: middle;
            padding: 5px;

            &.current {
                background-color: #fd595a;
            }
            &.past {
                background-color: #5f84a5;
            }
            &.birdie {
                background-color: #57f832;
            }
            &.eagle {
                background-color: #f6f832;
            }
            &.par {
                background-color: #32f6f8;
            }
            &.albatross {
                background-color: #f13901;
            }
            &.bogey {
                background-color: #e28ee5;
            }
            &.two-bogey {
                background-color: #f832ff;
            }
            &.handicap {
                background-color: #f39500;
            }
        }
    }
    &__square {
        display: block;
        width: 20px;
        height: 20px;
    }
}


.scorecard-ford {
    position: relative;
    max-width: 1024px;

    &__inner {
        .flex-container(row, flex-start, flex-start);
        overflow-x: scroll;
        margin: 10px 71px 0 71px;
    }
    &__right-arrow,
    &__left-arrow {
        position: absolute;
        animation: blink 1s;
        animation-iteration-count: 2;
    }
    &__right-arrow {
        right: 75px;
        top: 70px;
    }
    &__left-arrow {
        left: 75px;
        top: 70px;
    }
    &__val {
        .flex-container(row, flex-start, flex-start);
    }
    &__prop {
        min-width: 71px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        box-shadow: 3px 0 5px -2px #000000;
    }
    &__total {
        min-width: 71px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        box-shadow: -3px 0 5px -2px #000000;
    }
}
