.rooms-list {
    padding: 0 0 50px;

    &__title {
        margin: 10px 5px;
        text-align: center;
    }
    &__controls {
        .flex-container(column, space-between, flex-end);
        margin: 10px 15px;
    }
}


.rooms-item {
    width: 100%;
    margin: 5px 0;

    &__table {
        color: @white;
        width: 100%;
        border-collapse: collapse;

        th, td {
            vertical-align: middle;
            text-align: center;
        }
    }
    &__date {
        margin: 10px 0 10px 15px;
        font: 600 12px @roboto;
        text-transform: uppercase;
        color: @activeBlue;
    }
    &__head {
       .header();
        th {
            text-transform: uppercase;
            height: 25px;
            padding: 0 10px;
            &:nth-child(1) {
                text-align: left;
                padding: 0 0 0 20px;
                width: 80px;
            }
            &:last-child {
                text-align: left;
            }
        }
    }
    &__body {
        font: 600 12px @roboto;
        color: @activeBlue;
        tr {
           .item();
        }
        td {
            padding: 6px 5px;
            &:nth-child(1) {
                text-align: left;
                padding: 6px 0 6px 20px;
            }
        }
    }
    &__entryfee {
        .flex-container(row, space-around, center)
    }
    &__my-badge {
        background: #06a0b5;
        border-radius: 2px;
        width: 22px;
        height: 14px;
        font: 600 10px/1 'Open Sans',sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2px;
        color: #fff;
    }
}


.room-mobile {
    padding: 0 0 50px;
    &__title {
        margin: 10px 5px;
        text-align: center;
    }
    &__rank-title {
        margin: 10px 10px 0;
    }
    &__top {
        color: @activeBlue;
        width: 100%;
        height: 95px;
        margin: 0;
        padding: 5px 10px;
    }
    &__column {
        .flex-container(column, space-between, flex-start);
        padding: 3px 0;
    }
    &__tour,
    &__course {
        font: 300 12px @roboto;
    }
    &__tour-name {
        font-size: 15px;
        font-weight: 700;
    }
    &__table {
        color: @activeBlue;
        width: 100%;
        border-collapse: collapse;
        margin: 15px 0;

        th, td {
            vertical-align: middle;
            text-align: left;
        }
    }
    &__table-info {
        width: 100%;
        margin: 20px 0;
        border-spacing: 0;
        border-collapse: collapse;

        th, td {
            vertical-align: middle;
            text-align: left;
        }
    }
    &__head {
        .header();
        th {
            text-transform: uppercase;
            padding: 0 5px 0 10px;
            height: 25px;
            &:nth-child(3) {
                text-align: center;
            }
        }
    }
    &__head-info {
        .header();
        th {
            text-transform: uppercase;
            padding: 0 5px 0 10px;
            height: 25px;
            width: 50%;
        }
    }
    &__body {
        font: 700 12px @roboto;
        tr {
            .item();
        }
        td {
            padding: 0 5px 0 10px;
            &:nth-child(4) {
                text-align: center;
            }
            &:nth-child(5) {
                text-align: center;
            }

        }
    }
    &__body-info {
        font: 700 12px @roboto;
        tr {

        }
        td {
            padding: 4px 5px 5px 10px;
        }
        .status-badge {
            margin: 0;
            background: none;
            color: #ff840c;
            font-weight: 600;
            padding: 0;
        }
    }
    &__user {
        .flex-container(column, space-between, flex-start);
    }
    &__my-badge {
        background: #06a0b5;
        border-radius: 2px;
        width: 30px;
        height: 14px;
        font: 400 12px/1 @roboto;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2px;
        color: #fff;
    }
}
