.steps {
    width: 100%;
    padding: 1px 0;

    &__list {
        position: relative;
        .flex-container(row, space-between, stretch);
        height: 40px;

    }
}

.step {
    .flex-container(row, space-between, center);
    position: relative;
    flex-basis: 100%;
    font: 600 12px/1 @roboto;
    color: @white;
    background: @lightBlue;
    cursor: pointer;

    &__text {
        font: 600 16px/1 @roboto;
        text-align: center;
        flex-basis: 80%;
    }
    &__count {
        width: 57px;
        height: 40px;
        background: #0064a0;
        .flex-container(row, center, center);
        font: 700 16px/1 @roboto;
    }
    &__right {
        width: 57px;
        height: 40px;
    }


}
