.tour-names {
    margin: 0 0 5px 0;
    &__course {
        margin: 0 10px 0 0;
        font: 700 15px/1 @roboto;
        text-transform: capitalize;
    }
    &__name {
        margin: 0;
        font: 700 15px/1 @roboto;
        text-transform: capitalize;
    }
    &__country {
        position: relative;
        top: 1px;
        display: inline-block;
        line-height: 1px;
    }
}


.tour-dates {
    margin: 0 0 5px;
    font: 300 12px/1 @roboto;
}

.tour-data {
    .flex-container(row, center, stretch);
}

.tour-time-status {
    .flex-container(row, space-around, center);

    &__counter,
    &__status {
        margin: 0 20px;
    }
}

.tour-switch {

    .header {
        padding: 0 5px;
    }
    &__els {
        width: 100%;
        .flex-container(column, space-between, center);
    }
    &__el {
        .flex-container(row, space-between, center);
        height: 95px;
        width: 100%;
        padding: 5px 15px;
        border-bottom: 1px solid #143c64;
        background: transparent;
        font: 700 11px/1 @roboto;
        color: @activeBlue;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s ease-in;
        &.active {
            background: @green;
        }
    }
    &__btn {
        width: 45px;
    }
    &__flag {
        min-width: 75px;
    }

    @media(min-width: 770px) and (max-width: 1025px) {
        &__el {
            padding: 0 40px;
        }
        .header {
            padding: 0 20px;
        }
    }

}

.tour-course-rating {
    .flex-container(column, space-around, center);
    min-width: 95px;
    height: 60px;
    color: @white;

    &__num {
        margin: 12px 0 0;
        font-size: 18px;
    }
    &__text {
        font-size: 14px;
        text-align: center;
        margin: 0;
        text-transform: capitalize;
    }
    &.inherit {
        text-shadow: inherit;
        color: inherit;
    }
    &.bold {
        font-weight: 600;
    }

//    Adaptive
    @media (max-width: 1024px) {
        min-width: 70px;

        &__num {
            font-size: 25px;
            margin: 0 0 10px;
        }
    }
}

