.user-account-wrap {
    width: 100%;
    position: relative;
    padding: 0 0 25px;
}
.user-account-top {
    background: #1482c8;
    height: 10px;
}
.user-account-title {
    .header();
    line-height: 26px;
    padding: 0 0 0 10px;
}
.user-account-main-title {
    margin: 10px 5px;
    text-align: center;
}
.user-account {
    max-width: 1200px;
    margin: 20px auto 0;
    font: 300 16px @regular;
    color: @white;

    &__save {
        .flex-container(column, center, center);
    }
}

.account-settings {
    padding: 0 0 35px;

    &__content {
        padding: 15px 10px 30px;
        .flex-container(column ,flex-start, stretch);
    }
    &__top {
        .flex-container(row, flex-start, flex-start);
    }
    &__upload {
        .flex-container(column, flex-start, flex-start);
        min-width: 80px;
        .stroke {
            align-self: center;
        }
    }
    &__img {;
        margin-bottom: 10px;
        background: #667b8d;
        border: 5px solid @activeBlue;
        border-radius: 2px;
        width: 80px;
        height: 80px;
        img {
            width: 70px;
            height: 70px;
        }
    }
    &__info {
        margin-top: 20px;
    }
    &__select {
        .flex-container(column, space-between, stretch);
    }
    &__input {
        width: 88%;
        margin-left: 20px;
        .ui-input {
            margin-bottom: 10px;
        }
    }
}

.anonymous {
    margin: 0 0 20px;

    &__name {
        height:85px;
        padding: 10px 10px 15px;
        margin: 3px 0;
        .flex-container(column, space-between, stretch);
    }
    &__info {
        padding: 15px 45px 10px 30px;
        color: @activeBlue;
    }
    &__choose-img {
        padding: 15px 10px 15px;
        .flex-container(row, space-between, center);
        flex-wrap: wrap;
        position: relative;

        &--inactive {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: fade(black, 20%);
            cursor: not-allowed;
        }
    }
    &__photo {
        cursor: pointer;
        width: 75px;
        height: 75px;
        border: 5px solid @grey;
        background: #051f35;
        margin: 5px;
        &.active {
            border: 5px solid lighten(green, 20%);
        }
    }
}

.security {
    margin: 0 0 35px;
    &__controls {
        padding: 20px 10px;
        color: @activeBlue;
        .flex-container(column, space-between, center);
        .btn {
            width: 60%;
            min-width: 280px;
        }
    }
}

.social-network {
    margin: 0 0 35px;

    &__item {
        width: 100%;
        margin: 3px 0;
        background: #142b3f;
        padding: 10px 0;
        .flex-container(row, center, center);

        .btn {
            flex-basis: 60%;
        }
    }

    @media (max-width: 515px) {
        &__item {
            .btn {
                flex-basis: 70%;
            }
        }
    }
}

.delete-account {
    &__btn-wrap {
        background: #142b3f;
        padding: 10px 0;
        .flex-container(row, center, center);

        .btn {
            flex-basis: 60%;
        }
    }
    &__info {
        padding: 15px 45px 10px 30px;
    }
}

.subscription-wrap {
    width: 100%;
    position: relative;
    padding: 0 0 100px;
    max-width: 1200px;
    margin: 20px auto 0;
    font: 300 16px @regular;
    color: @white;
}
.subscription {
    &__item {

    }
    &__top-block {
        background: #1482c8;
        height: 10px;
    }
    &__head {
        .header();
        line-height: 25px;
        padding: 0 0 0 10px;
    }
    &__item-head {
        padding: 15px 20px;
        .flex-container(row, space-between, center);
        background: #142b3f;
        cursor: pointer;
    }
    &__content {
        margin: 3px 0;
        padding: 10px 20px;
    }
    &__save {
        .flex-container(row, center, center);
        margin: 30px 0 0;
    }
}
