.user-stats {
    width: 100%;
    .flex-container(row, flex-end, stretch);
    font: 400 16px/1 @regular;

    &__person {
        .flex-container(row, center, center);
        margin: 0 10px;
        color: @white;
        font-size: 14px;
    }
    &__list {
        margin: 0 5px;
        .flex-container(row, space-between, stretch);
    }
    &__item {
        position: relative;
        font-size: 15px;
        margin: auto 5px;
        text-align: center;
        color: @white;

        &.clickable {
            cursor: pointer;
        }
        &.notification {
            background: #16232c;
        }
        .tokens,
        .dollars {
            .flex-container(row, center, center);
        }
        .icon-moneybag {
            position: relative;
            top: -4px;
        }
    }
    &__buttons {
        width: 48px;
    }
}