.withdraw {
    background-color: @overlay;

    &__inner {
        .flex-container(column, flex-start, stretch);
    }
    &__top {
        margin: 0 0 10px;
    }
    &__title {
        .header();
        line-height: 2.5;
        padding: 0 18px;
    }
    &__money {
        padding: 0 18px;
    }

    &__row {
        padding: 0 13px;
    }

    &__bottom {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #18456c;
        padding: 10px 30px;
        margin: 10px 0 0 0;
    }
}
