.wizard {
    padding: 0;

    &__inner {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0 50px;
    }
    &__head {
        width: 100%;
        height: 60px;
        .flex-container(row, space-between, center);
    }
    &__steps {
        position: fixed;
        top: 49px;
        left: 0;
        width: 100%;
        z-index: 9;
    }
    &__row {
        width: 100%;

        &.with-offset {
            padding-top: 95px;
        }
    }
    &__participants {
        flex-basis: 50%;
    }
    &__sidebar {
        position: relative;
        flex-basis: 50%;
        max-height: 100%;
        overflow-y: auto;
        z-index: 20;

        .statistics {
            padding-bottom: 150px;
        }
    }
    &__game-rules {
        padding-right: 15px;
    }
    &__empty {
        background-color: #03222c;
        padding: 32px 20px 31px;
        border-top: 1px dashed #5b6d75;
        border-bottom: 1px dashed #5b6d75;
    }

    // Adaptive
    @media (max-width: 1282px) {

    }
}
