html,
body,
.app-wrapper,
.app-wrapper__in,
.pageslide-body,
.segment,
.app {
    position: relative;
    min-height: 100%;
}

.pageslide-body {
    &.is-blocked {
        color: #000;
        opacity: .2;
    }
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    font-smoothing: antialiased;
}

.app {
    position: relative;
    width: 100%;
    margin: 0;
    font-family: @regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1.6;

    &__head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(35, 35, 35, 0.9);
        color: @white;
        z-index: 100;
    }
    &__container {
        position: relative;
        width: 100%;
        min-height: 1024px;
        padding: 125px 0 0;
        background: #0e1422 url('/static/img/lobby/bg-main.jpg') repeat-y top center;
        background-size: 100% 2230px;
        &.guide {
            padding: 50px 0 10px;
        }
    }
    &__pre-content {
        .flex-container(row, flex-start, stretch);
        position: relative;
        height: 965px;
        z-index: 50;

        &_open {
            height: 1670px;

            .promo {
                position: absolute;
                bottom: 62px;
                right: 6px;
                width: 71%;
            }
        }
    }
    &__content {
        position: relative;
        margin: 20px auto 0;
        background: transparent;
        z-index: 60;
    }
    &__row {
        position: relative;
        padding: 15px 0 45px;
        max-width: 1200px;
        min-width: 725px;
        margin: 0 auto 0;
        &--competition {
            margin: 0 auto;
            padding: 0;
        }
    }
    &__title-wrap {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    &__title {
        &.bottom-0 {
            margin-bottom: 0;
        }
        &.top-25 {
            margin-top: 25px;
        }
        &.hello {
            border: none;
            margin: 0;
            width: auto;
            padding: 0 40px;
            cursor: pointer;

            &.active {
                background: @bodyMedium;
            }
        }
    }
    &__foot {
        .flex-container(row, center, stretch);
        width: 100%;
        position: relative;
        height: 368px;
        z-index: 90;
        background-color: #0e1422;
    }

    &.login-page {
        .app {
            padding-top: 0;
            background: url('/static/img/auth-background.jpg') 0 -216px no-repeat;
        }
    }
    &.blocked {
        .flex-container(column, space-between, center);
    }

    // Adaptive
    @media (max-width: 1438px) {

        &__pre-content {

            &:before,
            &:after {
                background-size: 70%;
            }
            &:before {
                background-position: bottom left;
            }
            &:after {
                background-position: bottom right;
            }
        }
    }
    @media (max-width: 1200px) {
        &__content {
            padding: 0 10px;
        }
    }
    @media (max-width: 1026px) {

        &__pre-content {

            &:before,
            &:after {
                background-size: 50%;
            }
        }
    }
    @media (max-width: 770px) {
        &__container {
            padding: 150px 0 10px;
        }
    }
    @media (max-height: 820px) {
        &.login-page {
            .app {
                padding-top: 0;
                background: url('/static/img/auth-background.jpg') 0 -370px no-repeat;
            }
        }
    }
}
.hole-by-hole,
.handicap-the-pros,
.five-ball,
.leaderboard,
.f-competition,
.challenge{

    .app {
        background: none;
    }
}

.segment {
    &.payment {
        .app__container {
            padding: 0 0 10px;
        }
    }
    &.f-competition {
        .app__container {
            background: url('/static/img/competition-room-bg.jpg') no-repeat top center;
            background-size: cover;
        }
    }
}
