 .underlay-wrap {
    position: relative;
    width: 100%;
    padding: 50px 50px 50px;
    animation: fadeBackground 1.5s linear;
    background: rgba(21, 53, 63, 0.8) url('/static/img/tutorial-back-img.png')
    left top no-repeat;
    .flex-container(row, space-between, stretch);
    z-index: 30;
    min-height: 1024px;
}

.rules-wrap {
    position: relative;
    width: 100%;
    padding: 10px 50px 50px;
    background: url('/static/img/tutorial-back-img.png') left top no-repeat,
    url('/static/img/bg.png');
    .flex-container(row, space-between, stretch);
    z-index: 30;
    min-height: 1024px;
}

.rules {
    &__top {
        .flex-container(row, flex-start, center);
    }
    &__title {
        .flex-container(row, space-between, center);
        border-bottom: 1px dashed #5b6d75;
        width: 90%;
    }
    &__content {
        padding-left: 100px;
        font-size: 16px;
        b {
            font-size: 18px;
        }
    }
    &__scoring {
        .flex-container(row, space-between, center);
        border-bottom: 1px dashed #5b6d75;
    }
    &__bottom {
        margin: 15px 0 5px;
        .flex-container(row, center, center);
    }
}


.golfer {
    width: 100%;
    height: 120px;
    .flex-container(row, space-between, center);
    padding: 15px 0;

    &__el {
        .flex-container(row, center, center);
        flex-grow: 1;

        &.left {
            justify-content: flex-start;
        }
    }
}

.golfer-with-tour {

    &__top {
        width: 100%;
        padding: 0 12px;
        .flex-container(row, center, center);
        .header();
    }
    &__content {
        width: 100%;
        .flex-container(row, flex-start, stretch);
        position: relative;
    }
    &__el {
        .flex-container(row, space-between, center);
        padding: 0 12px;
        border-right: 2px solid #000;
        color: @white;

        &:last-child {
            border-right: none;
            .flex-container(row, center, center);
        }
        .profile {
            width: 85%;
        }
        &.active {
            animation: blink .8s;
            animation-iteration-count: 2;
            .btn {
                color: @brown;
            }
        }
        &.clickable {
            cursor: pointer;
            background-color: #206876;
        }

    }
    .centered {
        text-align: center;
    }
}

.frog {
    position: relative;
    background-color: #0a1826;

    &.static {
        height: auto;
        overflow-y: visible;
    }
}


.parent {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    text-align: center;
    background-color: darkred;
}

.child {
    font: 400 40px @regular;
    color: @white;
}

.sorting-header {
    width: 100%;
    .flex-container(row, flex-start, center);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

    .icon {
        margin-right: 8px;
    }
    &.center {
        justify-content: center;
    }
    &.right {
        justify-content: flex-end;
    }

    // Adaptive
    @media (max-width: 985px) {
        font-size: 10px;
        padding: 0;
    }
}

.first-time {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    height: 350px;

    .title {
        margin-top: 15px;
    }
    &__text {

        p {
            margin-bottom: 15px;
            line-height: 1.6;
        }
    }
    &__discount {
        margin: 20px 0;
    }
    &__bottom {

    }
}

.discount {
    padding: 10px 10px 15px;
    background-color: @highLighted;

    .btn,
    .stroke,
    .ui-input {
        margin: 15px 0 0;
    }
    .stroke {
        margin-top: 3px;
        padding: 10px;
    }
}

b {
    font-weight: 700;
}

.clickable {
    cursor: pointer;
}

.icons {
    width: 100%;
    .flex-container(row, space-between, center);
    flex-wrap: wrap;
    padding: 10px;
}

.stake-select {
    width: 100%;
}


.tour-results {
    width: 100%;
}

.basket-info {
    padding: 15px 15px 5px;
}

.payment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 0 0;
    background-color: rgba(0, 0, 0, 0.5);

    &__in {
        .container();
        .flex-container(column, space-between, flex-start);
    }
    &__head {
        width: 100%;
        padding: 50px 20px 0;

        .title {
            margin-top: 0;
            padding: 0 40px;
        }
        &.centered {
            text-align: center;
        }
    }
    &__top,
    &__bottom{
        width: 100%;
    }
    &_wizard {
        padding-top: 0;
    }
}

.white {
    color: @white;
}

.hint {
    margin: 10px 0;
    padding: 5px 10px;
    background: orange;
    border-radius: 3px;
    font: italic 600 100% @regular;
    text-transform: uppercase;
    color: #fff;
}

.friend-pre {
    margin: 30px 0 0;
    .flex-container(row, center, center);
}


.disc-list {
    padding: 0 15px;
    list-style: disc;
}

.horizontal-list {
    .flex-container(row, flex-start, stretch);
    flex-wrap: wrap;
    margin: -15px 0 0;
    padding: 0;
    list-style: none;

    li {
        margin: 15px 1.5% 5px 0;
    }
}

.scorecard {
    .flex-container(row, space-between, center);

    &__member {
        flex-basis: 18%;
    }
    &__table {
        flex-basis: 81%;
    }
}

.stroke {
    font-weight: 300;
    font-size: 13px;
    font-family: @latoRegular;
    line-height: 1.2;
    letter-spacing: normal;
    color: @white;

    &__el {
        display: inline-block;

        &.right {
            text-align: right;
        }
    }

    //family
    &.lato-black {
        font-family: @latoBlack;
    }
    &.lato-regular {
        font-family: @latoRegular;
    }
    &.lato-heavy {
        font-family: @latoHeavy;
    }
    &.lato-medium {
        font-family: @latoMedium;
    }
    &.montserrat-black {
        font-family: @montserratBlack;
    }

    &.blue {
        color: #09a7f1;
    }

    &.blue-light {
        color: #a4bffd;
    }
    &.blue-dark {
        color: #344e89;
    }
    &.green {
        color: @green;
    }
    &.orange {
        color: @orange;
    }
    &.red {
        color: @red;
    }
    &.white {
        color: @white;
    }
    &.gray {
        color: @grayFont;
    }
    &.black {
        color: @black;
    }


    &.text-up {
        text-transform: uppercase;
    }
    &.italic {
        font-style: italic;
    }
    &.extra-small {
        font-size: 10px;
    }
    &.small {
        font-size: 12px;
    }
    &.medium {
        font-size: 14px;
    }
    &.x-medium {
        font-size: 16px;
    }
    &.x2-medium {
        font-size: 18px;
    }
    &.x3-medium {
        font-size: 19px;
    }
    &.big {
        font-size: 20px;
    }
    &.x-big {
        font-size: 30px;
    }
    &.size-24 {
        font-size: 24px;
    }


    &.bold {
        font-weight: 600;
    }
    &.centered {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.indents {
        margin-bottom: 10px;
    }
    &.inner-indents-20 {
        padding: 0 20px;
    }
    &.cursor {
        cursor: pointer;
    }
    &.opacity-50 {
        opacity: .5;
    }

    // Adaptive
    @media (max-width: 770px) {
        font-size: 12px;

        &.small {
            font-size: 10px;
        }
        &.medium {
            font-size: 13px;
        }
        &.x-medium {
            font-size: 14px;
        }
        &.big {
            font-size: 16px;
        }
    }
}

.candidates {
    position: relative;
    &__title {
        padding: 0 20px;
    }
}

.points-counter {
    margin: 0;
    font: 600 17px/1 @regular;
    color: @white;
    text-shadow: 1px 1px 1px @blue;
    &__amount {
        font-size: 19px;
        font-weight: 900;
    }

    // Adaptive
    @media (max-width: 1026px) {
        font-size: 15px;
        &__amount {
            font-size: 17px;
        }
    }
    @media (max-width: 800px) {
        font-size: 14px;

        &__amount {
            font-size: 16px;
        }
    }
}

.data-items {
    width: 100%;
    height: 100%;
    padding: 20px 20px 25px;
    color: @white;

    &--column {
        flex-direction: column;
        justify-content: center;

        .data-item {
            line-height: 1.4;
        }
    }
    &--tour-column {
        .data-item {
            line-height: 1.4;
        }
    }
    &--row {
        .flex-container(row, space-between, stretch);
    }
    &--row-end {
        .flex-container(row, flex-end, flex-start);
        .data-item {
            margin-left: 10px;
        }
    }
    &--border-right {
        border-right: 1px solid #cccccc;
        padding: 20px 40px 25px 20px
    }
}

.data-item {
    .flex-container(column, space-between, flex-end);
    letter-spacing: 1px;
    text-align: right;
    &--left {
        .flex-container(column, center, flex-start);
    }

    &__text {
        font: 300 10px @latoBlack;
        color: @grayFont;
        text-transform: uppercase;
        margin: 0 0 5px;
        &--white {
            color: @white;
        }
    }
    &__date {
        font: 300 16px/18px @latoBlack;
        color: @black;

        .nowrap {
            white-space: nowrap;
        }
    }
    &__time {
        font: 300 25px/48px @latoBlack;
        color: @black;
    }
    &__num {
        font: 300 20px/20px @latoBlack;
        color: @black;
        text-align: left;
        &--big {
            font: 300 30px/27px @latoBlack;
        }
    }
    &__name {
        font: 300 12px @latoBlack;
        color: @white;
        text-transform: uppercase;
        margin: 10px 0 0;
        text-align: left;
    }
    &__comp-name {
        font: 300 12px @latoBlack;
        color: @black;
    }
    @media(max-width: 1150px) {
        &__num {
            font: 300 20px @latoBlack;
        }
    }
    @media (max-width: 1026px) {
        &__num {
            font: 300 15px @latoBlack;
        }
    }
}
.team-data {
    padding: 20px 5px;
    .flex-container(column, space-between, center);
}

.tokens {
    color: #00baed;

    &__symb {

    }
}
.dollars {

    &__symb {

    }
}

.tokens,
.dollars {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family:@latoBlack;
    font-weight: 300;
    letter-spacing: 2px;

    &__symb {
        margin-left: 2px;
        font-family:@latoHeavy;
        font-weight: 300;
        &.small {
            font-size: 16px;
        }
        &.medium {
            font-size: 20px;
        }
        &.big {
            font-size: 24px;
        }
        &.x-big {
            font-size: 30px;
        }
        &.xl-big {
            font-size: 35px;
        }
    }

    .icon {
        margin: 0 5px 0 0;
    }

    &.x-big {
        font-size: 30px;
    }
    &.xl-big {
        font-size: 35px;
    }
    &.big {
        font-size: 24px;
    }
    &.medium {
        font-size: 18px;
    }
    &.small {
        font-size: 16px;
    }
    &.bold {
        font-weight: 600;
    }
    &.gray {
        color: @grayFont;
    }
    &.white {
        color: @white;
    }
    &.black {
        color: #000;
    }
    &.green {
        color: @green;
    }
}

.money {
    position: relative;
    .inline-flex-container(row, center, baseline);

    &__or {
        margin: 0 8px 0 0;
        font-size: 15px;
    }
    &.column {
        flex-direction: column;
        align-items: center;

        .tokens,
        .dollars {
            margin: 5px 0;
        }
    }
    &.medium {
        .tokens,
        .dollars {
            font-size: 20px;
            margin: 0 5px;
        }
    }

    // Adaptive
    @media (max-width: 1024px) {

        &__or {
            font-size: 12px;
        }
    }
}

.open-handler {
    .flex-container(column, space-around, center);
    padding: 15px 5px;
    cursor: pointer;

    .icon {
        margin: 1px 0;
        font-size: 0.4em;
    }
}

.avatar {
    position: relative;
    display: inline-flex;
    width: 58px;
    min-width: 56px;
    height: 35px;
    margin: 5px 15px;
    box-shadow: 0 1px 4px 0 #020917;
    text-align: center;

    .flag {
        margin: auto;
    }
}

.avatar-list {
    .flex-container(row, flex-start, flex-start);
    padding: 10px 0 10px 10px;

    img {
        margin: 0 3px;
    }
    .avatar {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.not-registered {
    margin: 0 4px;
}

.address {
    text-transform: none;
    .flex-container(row, flex-start,center);
    .stroke {
        margin: 0 5px 0 0;
    }
}

.par-counter {
    .flex-container(row, flex-start, center);
    margin: 0;
    font: 19px/1 @regular;
    text-shadow: 1px 1px 1px @blue;
    color: @white;

    span {
        font-size: 19px;
        font-weight: 900;
    }
    b {
        margin: 0 4px;
        font-size: 12px;
    }
    .wins {
        color: #769324;
    }
    .defeats {
        color: #fe1717;
    }

//    Modification
    &.active {
        color: @brown;
        text-shadow: none;
        .wins,
        .defeats {
            color: @brown;
            text-shadow: none;
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        span {

        }
    }
}

.helping-text {
    position: relative;
    .flex-container(row, space-between, center);
    margin: 3px 0;
    padding: 16px 10px;
    background-color: rgba(0, 167, 94, .55);
    color: @white;
    z-index: 10;

    &__icon {
       flex-basis: 8%;
        text-align: center;
    }
    &__content {
        flex-basis: 74%;
        padding-left: 20px;
        font: 300 15px/1.4 @regular;
    }
    &__actions {
        flex-basis: 18%;
        .flex-container(row, flex-end, center);
    }

    .article {
        &__section {
            padding-right: 10px;
            padding-left: 40px;
        }
    }
}

.copyright {
    font: 300 14px/1.5 @latoRegular;
    color: @white;
    opacity: .6;

    span {
        margin: 0 3px;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        color: #213b4e;
        font-size: 15px;
        font-weight: 600;
    }

    @media (max-width: 770px) {
        font-size: 12px;
        a {
            font-size: 12px;
        }
    }
}
.eligible {
    font: 300 14px/1.5 @latoRegular;
    color: @white;
    opacity: .6;
    a {
        text-decoration: none;
        cursor: pointer;
        color: #213b4e;
        font-size: 15px;
        font-weight: 600;
    }

    @media (max-width: 770px) {
        font-size: 12px;
        a {
            font-size: 12px;
        }
    }
}
.ssl {
    &__link {
        text-decoration: none;
        .flex-container(row, space-between, flex-end);
    }
    &__img {
        height: 55px;
        margin-right: 5px;
    }
    span {
        font-weight: bold;
        font-size: 12px;
        color: #77BAE4;
        display: block;
        margin: 0 0 10px 0;
    }
}

.preloader {
    width: 100%;
    text-align: center;

    &__image {
        width: 50px;
    }

    &--main {
        position: absolute;
        bottom: 15%;
    }
}

.disabled-warning {
    position: fixed;
    top: 20%;
    width: 60%;
    left: 20%;
    padding: 30px;
    background: #fff;
    font-weight: bold;
    border-color: #000;
    z-index: 9999;

    @media (max-width: 480px) {
        width: 90%;
        left: 5%;
    }
}

.actionbar {
    .flex-container(row, center, center);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px !important;
    width: 100%;
    padding: 0 8px;
    background-color: #0b1c2e;
    text-align: center;
    z-index: 100;

    .icon-up-hand {
        font-size: 13px;
    }
    &__el {
        margin: 0 15px;
        position: relative;
    }
}

.text-centered {
    text-align: center;
}

.candidates-layer {
    .flex-container(row, space-around, center);
    padding: 10px;
    background: @highLighted;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 1s ease;

    .avatar {
        margin: 0;
        border: 1px solid #fff;
        cursor: pointer;

        &.placeholder {
            opacity: 0.25;

            &:hover {
                border-color: #fff;
            }
        }
        &.choosen {
            border-color: #ff4700;
        }
        &:hover {
            border-color: @red;
        }
    }
}


// Scroll
.scroll-pane {
    width: 100%;
    height: auto;
    overflow: auto;
}

.ZenboxTabLeft {
    background: url('/static/img/tab_support_bg.png') right bottom no-repeat !important;
    border: none !important;
    top: auto !important;
    left: auto !important;
    right: 0px;
    bottom: 0px;
    width: 78px;
    height: 93px;
    text-align: right;

    img {
        margin: 24px 0 0 19px;
    }

    .icon {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        height: 24px;
        display: block;
        position: absolute;
        bottom: 4px;
        right: 6px;
    }

    &:hover {
        background-image: url('/static/img/tab_support_bg2.png') !important;
    }

    @media (max-width: 480px) {
        display: none !important;
    }
}

.lock-parent {
    position: relative;
}

.lock {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;

    &__in {
        height: 100%;
        display: flex;

        .btn {
            margin: 2em auto auto;
        }
    }
}

.ready-to-transform {
    transition: all .7s cubic-bezier(.67,.22,.45,.97);
}

// Used in Survey
.gray-round {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 95px;
    background-color: #eeeeee;
    border-radius: 50%;
}
// Used in Survey

.gray-border {
    border: 1px solid #bbb;
}

.item-counter {
    position: absolute;
    top: 3px;
    right: 0px;
    min-width: 14px;
    min-height: 13px;
    padding: 0 2px;
    background-color: #dc0d17;
    background-image: linear-gradient(#fa3c45, #dc0d17);
    border-radius: 2px;
    text-align: center;
    font: 700 11px @regular;
    line-height: normal;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

.menu-button {
    position: relative;
    display: block;
    padding: 10px 5px;
    color: @white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }
    &.default {
        cursor: default;
    }
    &.select {
        width: 50px;
    }
    &.active {
        .icon-arrow-sort {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARBAMAAAD00TuvAAAALVBMVEUAAAAAuv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8feHcEAAAADnRSTlMA8Qv7pQTs3r6VeU83G8U75J4AAABLSURBVAjXY2BgkHsnACTx0QZQ+gEyzQqh/d6BgAODOoh6rsDAYwekbYAS64D0AiAd8e7diwAgzZv3Lhesf9+7DWCa8yUDGDA5AQkAR9glzNniCpUAAAAASUVORK5CYII=');
        }
        .icon-arrow-sort-rev {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARBAMAAAD00TuvAAAALVBMVEUAAAAAuv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8feHcEAAAADnRSTlMA8Qv7pQTs3r6VeU83G8U75J4AAABPSURBVAjXY2BgYHJiAAPOlxB637sNIIo3710uiI549+5FAJBe9+7duwUMDDx2QNqGgUH9HRA8V2DwewcCDkAF796JAkkQLYBC20FpOXw0ANDIJcxnnlfEAAAAAElFTkSuQmCC');
        }
    }
}

.sports-data-api-logo {
    display: block;
    margin: 3px 0 0;
    line-height: 1px;
}

// Used in Search

.vertical-text {
    font: 700 70%/1.2 @regular;
    text-transform: uppercase;
    text-align: center;
    color: #B7C7C6;
    word-break: break-all;
}

sup {
    position: relative;
    left: -2px;
    font-size: 65%;
}

.connect-via-social {
    padding: 40px 0 0;
    text-align: center;

    .btn_facebook {
        width: 300px;
    }
}

.video-frame {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.games-banners {
    width: 100%;
    .flex-container(row, center, stretch);
    margin: 35px 0 0;
    position: relative;

    &__el {
        position: relative;
        cursor: pointer;

        img {
            margin: auto;
            max-width: 100%;
            height: auto;
        }
        &:first-child {
            top: 10px;
            max-width: 270px;
        }
        &:nth-child(2) {
            max-width: 360px;
        }
        &:nth-child(3) {
            top: 15px;
            max-width: 290px;
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        &__el {
            align-items: flex-start;
        }
    }
}

.error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font: 300 14px @regular;
    color: #444;
}

.helping-text-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    .flex-container(column, center, center);

    &__splash {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(16,18,20,.8);
        z-index: -1;
    }
}
