/*VARIABLES*/
@greenBtnBasic: #7acf76;
@greenBtnHover: #75e170;
@greenBtnActive: #7acf76;

@redBtnBasic: #a33333;
@redBtnHover: #c32b2b;
@redBtnActive: #d80000;

@grayBtnBasic: #d7d7d7;
@grayBtnHover: lighten(#d7d7d7, 10);

@grayBtnUndraftBasic: #cfcfcf;

@blueBaseBtnBasic: #3c5ca5;
@blueBaseBtnHover: #4e73c7;
@blueBaseBtnActive: #4e73c7;
@blueBaseBtnDisabled: #95999e;
@blueBtnText: #b8c9f0;
@blueBtnTextActive: #ffffff;
@blueBtnTextDisabled: #5f6369;

@notActiveBtn: #878686;


// Filter blue button mixin
.filter-btn-blue (
    @background: @blueBaseBtnBasic,
    @textColor: @blueBtnText,
    @borderColor: #3e64bb,
    @disabled: false,
    @dropBtn: false
    )
{
    background: @background;
    border: 1px solid @borderColor;
    color: @textColor;
    box-sizing: border-box;
    padding: 13px 15px;
    height: 40px;
    &:hover {
        color: @blueBtnTextActive;
        border: 1px solid #5e8fff;
        background: @blueBaseBtnHover;
    }
    &:active {
        color: @blueBtnTextActive;
        border: 1px solid #5e8fff;
        background: @blueBaseBtnActive;
    }

    & when (@disabled = true) {
        cursor: default;
        pointer-events: none;
    }
    & when (@dropBtn = true) {
        .flex-container(row, space-between, center);
        padding: 15px 20px 15px 10px;
        .icon-bg {
            position: absolute;
            top: 13px;
            right: 8px;
        }
    }
}



.btn {
    padding: 13px 20px;
    border: 1px solid transparent;
    outline: 0 none;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    color: @white;
    text-transform: uppercase;
    text-decoration: none;
    font: 300 12px/1 @latoBlack;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .35);

    &--inline-content {
        .flex-container(row, space-between, center);
    }

    &:hover,
    &:active {
        outline: none;
    }
    &__text {
        display: block;
        line-height: 1;
    }

    // Modifications
    &--square {
        padding: 5px 0;
        border-radius: 3px;
        min-width: 40px;
        box-shadow: none;
        .icon-bg {
            height: 28px;
            display: block;
            .icon {
                margin: auto;
            }
        }
        .btn__text {
            font: 300 10px @latoMedium;
            color: @grayFont;
            letter-spacing: normal;
            text-transform: uppercase;
        }
        &.btn--disabled {
            .icon-bg {
                border: none;
                box-shadow: none;
                opacity: .3;
            }
            .btn__text {
                opacity: .3;
            }
        }
    }

    &--transparent-gray {
        box-shadow: none;

        .btn__text {
            color: black;
            position: relative;
            top: 7px;
            letter-spacing: 0;
            opacity: 0.4;
        }
    }

    &--transparent-black {
        box-shadow: none;

        .btn__text {
            color: black;
            position: relative;
            top: 7px;
            letter-spacing: 0;
            opacity: 0.6;
        }
    }

    &--o-50 {
        .icon {
            opacity: 0.5;
        }
    }

    &--o-70 {
        .icon {
            opacity: 0.7;
        }
    }

    &--o-80 {
        .icon {
            opacity: 0.8;
        }
    }

    &--green {
        background: @greenBtnBasic;
        color: #000000;

        &:hover,
        &:active {
            background: @greenBtnHover;
        }
    }

    &--red {
        background: @redBtnBasic;
        &:hover {
            background: @redBtnHover;
        }
        &:active {
            background: @redBtnActive;
        }
    }

    &--gray {
        background: @grayBtnBasic;
        color: #707376;
        &:hover {
            background: @grayBtnHover;
        }
    }

    &--white {
        background: white;
        color: #6f7377;
    }

    &--blue-base {
        .filter-btn-blue();
    }
    &--blue-base-active {
        .filter-btn-blue(
            @blueBaseBtnActive,
            @blueBtnTextActive,
            #5c7fc9
        );
        &:hover,
        &:active {
            border: 1px solid #5c7fc9;
        }
    }
    &--blue-base-disabled {
        .filter-btn-blue(
            @blueBaseBtnDisabled,
            @blueBtnTextDisabled,
            transparent,
            @disabled: true
        );
    }
    &--blue-dropmenu {
        .filter-btn-blue(@dropBtn: true);
    }
    &--transparent-dropdown {
        position: relative;
        font: 300 10px @latoBlack;
        color: #e3e3e3;
        box-shadow: none;
        letter-spacing: 1px;
        .icon-bg {
            position: absolute;
            top: 13px;
            right: 8px;
        }
    }
    &--draft {
        background: @greenBtnBasic;
        padding: 15px 20px;
        color: @white;
        font-size: 12px;
        &:active {
            background: @greenBtnActive;
        }
        &:hover {
            background: @greenBtnActive;
        }
    }
    &--undraft {
        font-size: 12px;
        background: @grayBtnUndraftBasic;
        padding: 15px 20px;
        color: @red;
        box-shadow: none;
        &:hover {
            background: lighten(@grayBtnUndraftBasic, 10);
        }
    }

    &--round {
        padding: 5px 15px;
        background-color: #1b3c5a;
        border-radius: 0;
        font: 300 15px @regular;
        color: @white;
        text-transform: uppercase;
        margin: 0 1px 0;
        .btn__text {
            .flex-container(row, space-between, center);
        }

        &:hover {
            background-color: #0c5a99;
        }
    }
    &--rules {
        font: 300 12px @latoMedium;
        color: #4d68a7;
        box-shadow: none;
    }
    &--funds {
        padding: 8px 10px;
        font: 300 12px @latoBlack;
        letter-spacing: 0;
    }
    &--copy-rounds {
        padding: 13px 15px;
        background-color: #d8d8d8;
        box-shadow: none;
        color: #6f7377;
    }
    &--competition-filter {
        background-color: transparent;
        border: 1px solid #95989c;
        color: #b0b3b8;
        font-size: 10px;
    }


    // Sizes and with other elements
    &--tiny {
        font-size: 9px;
    }
    &--bold {
        font-weight: 700;
    }
    &--small {
        font-size: 12px;
        padding: 10px;
    }
    &--big {
        padding: 21px 23px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    &--text-12 {
        font-size: 12px;
    }
    &--block {
        width: 100%;
    }
    &--wide {
        padding: 10px 45px;
    }
    &--with-icon {

        .btn__text {
            display: inline-block;
        }
    }
    &--pad-0 {
        padding: 0;
    }
    &--roster-icon {
        padding: 0;
        box-shadow: none;
    }
    &--text-red {
        .btn__text {
            color: @red;
        }
    }
    &--left-radius {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &--right-radius {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &--offset-sides {
        margin: 0 10px;
    }


    // States
    &--not-active {
        background-color: @notActiveBtn !important;
        color: #cdcdcd !important;
        cursor: default;
        pointer-events: none;
        border: 1px solid #a3a3a3;
        box-shadow: none;
    }
    &--disabled {
        cursor: default;
        pointer-events: none;
        box-shadow: none;
    }
    &--blink {
        animation: blink 1s 1 linear;
    }


    // Not typical
    &--stake {
        min-width: 180px;
        padding: 6px 10px 10px;
        font-weight: 600;
        font-size: 35px;
        font-family: @regular;
        .flex-container(row, center, center);

        .icon {
            background-size: 90%;
            margin: 0 5px;
        }
        .icon-dollars {
            background-position: 0 0;
            width: 23px;
            height: 29px;
        }
        .icon-tokens {
            background-position: 0 0;
            width: 25px;
            height: 27px;
        }
        .btn__text {
            display: inline-block;
        }
    }
    &--select {
        margin-left: 5px;
        padding: 0;
        text-align: center;

        .icon {
            margin: 0 0 5px;
        }

        &:hover,
        &:active {

            .icon-golf_ball {
                color: @white;
            }
        }
    }
    &--close {
        height: 30px;
        width: 30px;
        padding: 0;
        background-color: #cccccc;
        font-size: 12px;
        font-weight: normal;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: white;

        &:hover,
        &:active {
            background-color: #cccccc;
            color: white;
        }
        .icon-close {
            font-size: 1em;
        }
    }

    &--facebook,
    &--google {
        height: 35px;
        padding: 0;
        text-transform: none;
        font: 400 18px @regular;
        letter-spacing: normal;
        border-radius: 5px;
        overflow: hidden;

        .btn__text,
        .icon {
            position: absolute;
            top: 0;
            height: 100%;
        }
        .btn__text {
            right: 0;
            width: 70%;
            .flex-container(row, center, center);
            transition: all 0.3s ease-in-out;
        }
        .icon {
            left: 17px;
        }
        &:hover,
        &:active {
            .btn__text {
                width: 100%;
            }
            .icon {
                width: 0;
            }
        }
    }
    &--facebook {
        background: #2652ac;
        color: @white;

        .btn__text {
            background-color: #2e5ec1;
            text-shadow: 0 -1px 1px #444;
            color: @white;
        }
        &:hover,
        &:active {
            box-shadow: inset 0 0 8px #203b71;
        }
    }
    &--google {
        background: #ff3d3e;
        color: #ffffff;

        .btn__text {
            background-color: #ff3d3e;
            text-shadow: 0 -1px 1px #ffc3c3;
        }
        .icon {
            left: 5px;
        }
        &:hover,
        &:active {
            color: #ffffff;
        }
    }
    &--sidemenu {
        display: inline-flex;
        width: 27px;
        height: 42px;
        padding: 0;

        .btn__text {
            display: none;
        }
        &:hover {
            .icon {
                transform: scale(1.15);
                transition: all .1s ease-out;
            }
        }
    }
    &--sidebar {
        display: inline-flex;
        height: 43px;
        padding: 0;
        border-radius: 0;
        flex-basis: 15%;
        width: 15%;
        background: #1c2b36;
        border-bottom: 4px solid #17232c;

        .btn__text {
            display: none;
        }
        .icon {
            margin: auto;
            height: 22px;
            width: 20px;
            background-position: -1px 0;
        }
        &:hover {
            .icon {
                transform: scale(1.15);
                transition: all .1s ease-out;
            }
        }
    }
    &--fake-tour, &--fake-tour-wide {
        background-color: #ffffff;
        font-size: 10px;
        padding: 10px 10px;
        color: #123148;
    }
    &--fake-tour-wide {
        padding: 10px 7px;
    }
    &--logout {
        width: 100%;
        font: 300 12px @latoBlack;
        color: #ffffff;
        letter-spacing: 1px;
        height: 40px;
        background-color: #1b496b;
        margin: 20px 0;
    }

    // Adaptive
    @media (max-width: 780px) {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 10px;
    }
}


.button-expand {
    .flex-container(row, space-around, center);
    position: absolute;
    top: 27px;
    right: -18px;
    background-color: #667ec5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    box-shadow: 0 1px 2px -1px @black;
    outline: none;
    border: none;
    cursor: pointer;
    transition: @transition;
    z-index: 20;
    &:hover {
        background-color: lighten(#667ec5, 5);
    }
    &__dot {
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: #b6c7fb;
    }
    &--challenge {
        right: -18px;
    }
}

.abbr {
    cursor: pointer;
    color: #1482c8;
    border-bottom: 1px dashed #1482c8;
    text-decoration: none;
}
