.foot {
    width: 100%;
    padding: 52px 20px 23px;
    .flex-container(column, space-between, center);
    color: @white;

    &__col {
        max-width: 790px;
        .flex-container(row, center, center);
        margin: 0 0 10px;

        &--logos {
            .flex-container(row, space-between, center);
            max-width: 500px;
        }
    }
    &__link {
        font-family: @latoBlack;
        font-size: 12px;
        color: #65718a;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 10px;
        transition: @transition;
        &:hover {
            color: lighten(#65718a, 10);
        }
    }
    &__fsta {
        img {
            max-width: 80px;
        }
    }
}
