.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    &__row {
        margin: 0 auto;
        max-width: 1200px;
        position: relative;
        .clearfix();
    }
    &__top {
        background-color: #27292d;
        height: 50px;
    }
    &__bottom {
        border-top: 2px solid #344e89;
        height: 45px;
        background-color: #e1e1e1;
    }
    &__logo {
        display: inline-block;
        vertical-align: middle;
        width: 17%;
        margin: 9px 0 0;
    }
    &__menu {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #a9a9a9;
        padding: 15px 30px;
        transition: all .3s ease-in-out;
        font: 300 11px @latoBlack;

        &:hover,
        &:active {
            color: @white;
        }
    }
    &__drop-link {
        font: 300 11px @latoBlack;
        text-decoration: none;
        text-transform: uppercase;
        color: #a9a9a9;
        border-radius: 3px;
        border: 1px solid #252b40;
        background-color: #1b2130;
        padding: 9px 10px 9px 20px;
        transition: all .2s ease-in-out;
        &:hover,
        &:active {
            background-color: #181e2c;
            border-color: #252b40;
            color: lighten(#a9a9a9, 10);
        }
        .icon {
            margin: 0 0 0 5px;
        }
    }
    &__left {
        width: 17.5%;
        display: inline-block;
    }
    &__user-info {
        float: right;
        width: 47%;
    }
    &__games-list {
        .clearfix();
        display: inline-block;
        height: 100%;
    }
    &__games-item {
        float: left;
        transition: all .2s ease-in-out;
        display: block;
        height: 45px;
        padding: 0 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #6d6d6d;
        font: 300 11px @latoMedium;
        text-align: center;
        line-height: 45px;
        box-sizing: border-box;
        border-bottom: 4px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        &:hover,
        &:active {
            color: #3c5793;
            background-image: radial-gradient(circle at center center, #cacaca 0%, #b7bac2 80%);
            border-bottom-color: #344e89;
            border-left: 1px solid #afb1b9;
            border-right: 1px solid #afb1b9;
        }
        &--disabled {
            pointer-events: none;
        }
        &--active {
            color: #3c5793;
            background-image: radial-gradient(circle at center center, #cacaca 0%, #b7bac2 80%);
            border-bottom-color: #344e89;
            border-left: 1px solid #afb1b9;
            border-right: 1px solid #afb1b9;
            text-align: left;
        }
        &--drop {
            background-color: #0d121e;
            border-bottom: 1px solid #252b40;
            border-left: 4px solid transparent;
            width: 100%;
            text-align: left;
            &:hover,
            &:active {
                color: #3c5793;
                background-image: radial-gradient(circle at center center, #cacaca 0%, #b7bac2 80%);
                border-left: 4px solid #344e89;
                border-bottom: 1px solid #252b40;
            }
        }
    }

    //  Adaptive
    @media (max-width: 770px) {
        &__top {
            height: auto;
        }
        &__left {
            width: 0;
        }
        &__row {
            text-align: center;
        }
        &__logo {
            display: block;
            width: 100%;
        }
        &__menu {
            display: block;
            width: 100%;
            padding: 15px 0;
        }
        &__user-info {
            float: none;
            width: 100%;
            padding: 5px 10px;
            .user-stats {
                .flex-container(row, space-between, stretch);
            }
        }
    }
}


.dropdown-menu {
    display: inline-block;
    position: relative;

    &__submenu {
        position: absolute;
        top: 26px;
        z-index: 100;
        border-radius: 3px;
        border: 1px solid #252b40;
    }
}
