.container(@max-width: 1200px) {
    min-width: 760px;
    margin: 0 auto;
}

.header (){
    width: 100%;
    height: 50px;
    font-size: 12px;
    border-top: none;
    background: @tableHeadBackground;
    text-transform: uppercase;
    color: @blueFont;
    padding: 0 35px;
    font-family: @latoBlack;
    border-bottom: 1px solid #919296;
    border-top: 1px solid #919296;
}

.base-item (@hover: true){
    .flex-container(row, space-between, center);
    height: 80px;
    background-color: @baseRowBackground;
    padding: 15px 35px;
    border-bottom: 1px solid #a5a5a5;
    transition: @transition;
    color: @black;
    box-sizing: border-box;

    &:hover {
        background-color: @baseRowBackgroundHover;
        transform: scale(1.01);
        box-shadow: 0 4px 10px 0 rgba(0,0,0, .5);
        border-bottom: 1px solid transparent;
        color: @white;
    }
    & when (@hover = false) {
        &:hover {
            background-color: @baseRowBackground;
            box-shadow: none;
            border-bottom: 1px solid #a5a5a5;
            transform: none;
            color: @black;
        }
    }
}
