.pageslide-body {
    min-height: 100%;
    &.is-blocked {
        color: #000;
        opacity: .2;
    }
}
.app-wrapper,
.app-wrapper__in {
    position: relative;
    min-height: 100%;
}

html {
    min-height: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    font-family: @roboto;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    background: #e6f3fc;
}

.app {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: @roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    color: #333;
    line-height: 1.6;

    transition: all .7s ease-out;

    &__head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(35, 35, 35, 0.9);
        color: @white;
        z-index: 100;
    }
    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 0 0;
    }
    &__pre-content {
        .flex-container(row, flex-start, stretch);
        position: relative;
        z-index: 50;

        &_open {
            height: 1670px;

            .promo {
                position: absolute;
                bottom: 62px;
                right: 6px;
                width: 71%;
            }
        }
    }
    &__content {
        position: relative;
        max-width: 1200px;
        min-width: 300px;
        margin: 0;
        padding: 50px 0;

        &.overlay {
            background-color: @overlayTransparent;
            min-height: 100%;
        }
    }
    &__row {
        position: relative;


    }
    &__title-wrap {
        width: 100%;
        height: 60px;
        margin-top: 0;
        padding: 0;
        background: linear-gradient(to bottom, #0b252f, #021c26);

    }
    &__title {
        .flex-container(row, space-between, center);
        height: 60px;
        max-width: 1200px;
        margin: auto;
        font-family: @roboto;
        text-transform: uppercase;
        transition: all 0.4s ease-in-out;

        &_disabled {
            color: #744d3c;

            &:hover {
                color: lighten(#744d3c, 10);
            }
        }
        &.bottom-0 {
            margin-bottom: 0;
        }
        &.top-25 {
            margin-top: 25px;
        }
        &.hello {
            border: none;
            margin: 0;
            width: auto;
            padding: 0 40px;
            cursor: pointer;

            &.active {
                background: #092b34;
            }
        }
    }
    &__foot {
        .flex-container(row, center, stretch);
        width: 100%;
        position: relative;
        height: 65px;
        background: #18242d;
        border-top: 1px dashed #ccc;
        z-index: 990;
    }

    &.login-page {
        .app__container {
            min-height: 100%;
            padding: 0;
            height: 660px;
            max-width: 770px;
            background: url(/static/img/bg-new-min.jpg) no-repeat;
            background-size: auto 100%;
        }
    }
    &.blocked {
        .flex-container(column, space-between, center);
    }
    &.bg-position-1 {
        background-position: -45px 0;
    }
    &.bg-position-2 {
        background-position: -90px 0
    }
    &.bg-position-3 {
        background-position: -270px 0
    }
    &.bg-position-4 {
        background-position: -335px 0
    }
    &.bg-position-3-fb {
        background-position: -135px 0
    }
    &.bg-position-4-fb {
        background-position: -180px 0
    }
    &.bg-position-sub-1 {
        background-position: -135px 0
    }
    &.bg-position-sub-2 {
        background-position: -180px 0
    }
    &.bg-position-sub-3 {
        background-position: -225px 0
    }

}

.player-dash {
    position: relative;
    width: 100%;
    .flex-container(row, space-between, stretch);
    padding: 40px 0 0;
    margin: 0 0 14px;
    z-index: 20;
}

@media only screen and (min-device-width : 370px) and (max-device-width : 1024px) and
                        (orientation : landscape)
{
    .wizard,
    .app,
    .app-wrapper,
    .app-wrapper__in {
        min-height: 500px;
    }
    .app {
        &__content {
            &.overlay {
                min-height: 500px;
            }
        }
    }
}
@media only screen and (min-device-width : 370px) and (max-device-width : 1024px) and (orientation : portrait)
{
    .wizard,
    .app,
    .app-wrapper,
    .app-wrapper__in {
        min-height: 780px;
    }
    .app {
        &__content {
            &.overlay {
                min-height: 780px;
            }
        }
    }
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 630px) and
                        (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
{
    .wizard,
    .app,
    .app-wrapper,
    .app-wrapper__in {
        min-height: 320px;
    }
    .app {
        &__content {
            &.overlay {
                min-height: 320px;
            }
        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 630px) and
                        (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
{
    .wizard,
    .app,
    .app-wrapper,
    .app-wrapper__in {
        min-height: 568px;
    }
    .app {
        &__content {
            &.overlay {
                min-height: 568px;
            }
        }
    }
}
