.article {
    font-weight: 300;
    font-size: 15px;
    font-family: @regular;
    text-transform: none;
    color: @white;
    padding: 10px 0 0 0;
    max-width: 100%;
    width: 100%;

    p,
    li {
        line-height: 1.6;
    }
    p {
        margin: 10px 0 20px;

        &.bottom-0 {
            margin-bottom: 0;
        }
        &.bottom-10 {
            margin-bottom: 10px;
        }
    }
    &__head {
        .flex-container(row, space-between, center);
    }
    &__title {
        flex-basis: 70%;
    }
    &__close {
        flex-basis: 30%;
        text-align: right;
    }
    &__section {
        margin: 0 auto 20px;
        max-width: 970px;
    }
    ul,
    ol {
        margin: 10px 0;
        padding: 0 20px;

        li {
            margin: 0 0 4px;
        }
    }
    ol {
        margin-bottom: 30px;
        list-style: disc;
    }
    a {
        color: @white;

        &:hover,
        &:active,
        &:focus {
            color: @white;
            text-decoration: none;
        }
    }
    .disc-list {
        margin-bottom: 20px;
    }
    &__actions {
        margin: 10px 0;
        text-align: center;
    }
    .table {
        margin-bottom: 20px;

        th {
            padding: 5px 8px;
        }
        td {
            padding: 3px 8px;
        }
    }
}
