.underlay-wrap {
    position: relative;
    width: 100%;
    padding: 10px 15px 50px;
    animation: fadeBackground 1.5s linear;
    background: rgba(21, 53, 63, 0.8) url('/static/img/tutorial-back-img.png')
    left top no-repeat;
    .flex-container(row, space-between, stretch);
    min-height: 1024px;
}

.rules-wrap {
    position: relative;
    width: 100%;
    padding: 10px 5px 10px;
    background: url('/static/img/tutorial-back-img.png') left top no-repeat,
    url('/static/img/bg.png');
    .flex-container(row, space-between, stretch);
    min-height: 1024px;
}

.rules {
    &__top {
        .flex-container(row, flex-start, center);
    }
    &__title {
        .flex-container(row, space-between, center);
        width: 90%;
        padding-right: 20px;
    }
    &__content {
        padding: 0 25px;
        font: 300 12px @roboto;
        b {
            font-size: 14px;
        }
    }
    &__scoring {
        .flex-container(row, space-between, center);
        padding-right: 20px;
        .title {
            width: 75%;
            margin-left: 15px;
        }
    }
    &__bottom {
        margin: 15px 0 5px;
        .flex-container(row, center, center);
    }
    &__play {
        .flex-container(row, center, center);
    }
}


.golfer {
    width: 100%;
    height: 120px;
    .flex-container(row, space-between, center);
    padding: 15px 0;

    &__el {
        .flex-container(row, center, center);
        flex-grow: 1;

        &.left {
            justify-content: flex-start;
        }
    }
}

.golfer-with-tour {

    &__top {
        .flex-container(row, center, center);
        .header();
        width: 100%;
        padding: 0 0 0 30px;
    }
    &__content {
        .flex-container(row, flex-start, stretch);
        width: 100%;
        background: #bee6ff;
        height: 80px;
    }
    &__el {
        margin: 0;
        padding: 10px 5px 5px;

        &:last-child {
            border-right: none;
            padding-right: 0;
        }
        .profile {
            .flex-container(column, flex-start, center);
            width: 100%;
            padding: 0;
        }
        .person-info {
            text-align: center;
            font-size: 10px;
            color: @activeBlue;
        }
        &.active {
            .btn {
                color: #241101;
            }
            .avatar {
                border: 3px solid @green;
                animation: pulsar 1s;
                animation-iteration-count: 1;
            }
        }
        &.clickable {
            cursor: pointer;
            background-color: #206876;
        }

    }
    .centered {
        text-align: center;
    }
}

.frog {
    position: relative;
    background-color: #0a1826;

    &.static {
        height: auto;
        overflow-y: visible;
    }
}


.parent {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    text-align: center;
    background-color: darkred;
}

.child {
    font: 400 40px @regular;
    color: @white;
}

.sorting-header {
    width: 100%;
    .flex-container(row, flex-start, center);
    padding-right: 15px;
    font-size: 14px;

    .icon-arrow-sort,
    .icon-arrow-sort-rev {
        margin-right: 8px;
    }
    &.selected {

        .icon-arrow-sort {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARBAMAAAD00TuvAAAALVBMVEUAAAAAuv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8feHcEAAAADnRSTlMA8Qv7pQTs3r6VeU83G8U75J4AAABPSURBVAjXY2BgYHJiAAPOlxB637sNIIo3710uiI549+5FAJBe9+7duwUMDDx2QNqGgUH9HRA8V2DwewcCDkAF796JAkkQLYBC20FpOXw0ANDIJcxnnlfEAAAAAElFTkSuQmCC');
        }
        .icon-arrow-sort-rev {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARBAMAAAD00TuvAAAALVBMVEUAAAAAuv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8Auv8feHcEAAAADnRSTlMA8Qv7pQTs3r6VeU83G8U75J4AAABPSURBVAjXY2BgYHJiAAPOlxB637sNIIo3710uiI549+5FAJBe9+7duwUMDDx2QNqGgUH9HRA8V2DwewcCDkAF796JAkkQLYBC20FpOXw0ANDIJcxnnlfEAAAAAElFTkSuQmCC');
            transform: rotate(180deg);
        }
    }
    &.center {
        justify-content: center;
    }
    &.indent {
        padding: 0 0 0 25px;
    }

    // Adaptive
    @media (max-width: 985px) {
        font-size: 10px;
        padding: 0;
    }
}

.first-time {
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    height: 320px;

    .title {
        margin-top: 5px;
    }
    &__text {

        p {
            margin-bottom: 5px;
            line-height: 1.6;
        }
    }
    &__discount {
        margin: 20px 0;
    }
    &__bottom {

    }
}

.discount {
    padding: 10px 10px 15px;
    background-color: #0c527d;

    .btn,
    .stroke,
    .ui-input {
        margin: 15px 0 0;
    }
    .stroke {
        margin-top: 3px;
        padding: 10px;
    }
}

b {
    font-weight: 700;
}

.clickable {
    cursor: pointer;
}

.icons {
    width: 100%;
    .flex-container(row, space-between, center);
    flex-wrap: wrap;
    padding: 10px;
}

.stake-select {
    width: 100%;
}


.tour-results {
    width: 100%;
}

.basket-info {
    padding: 15px 15px 5px;
}

.hint {
    margin: 10px 0;
    padding: 5px 10px;
    background: orange;
    border-radius: 3px;
    font: italic 600 100% @regular;
    text-transform: uppercase;
    color: #fff;
}

.play-with-friends {
    width: 100%;
}
.friends-list {
    &__title {
        height: 25px;
        width: 100%;
        padding: 6px 0 0 10px;
        background: #05344e;
        font: 700 10px @roboto;
        text-transform: uppercase;
        color: @white;
    }
}
.friend-pre {
    margin: 30px 0 0;
    .flex-container(row, center, center);
}

.disc-list {
    padding: 0 15px;
    list-style: disc;
}

.horizontal-list {
    .flex-container(row, flex-start, stretch);
    flex-wrap: wrap;
    margin: -15px 0 0;
    padding: 0;
    list-style: none;

    li {
        margin: 15px 1.5% 5px 0;
    }
}


.stroke {
    font: 300 13px @roboto;

    &__el {
        display: inline-block;

        &.right {
            text-align: right;
        }
    }
    &.blue {
        color: @activeBlue;
    }
    &.green {
        color: @green;
    }
    &.orange {
        color: @orange;
    }
    &.red {
        color: @red;
    }
    &.white {
        color: @white;
    }
    &.text-up {
        text-transform: uppercase;
    }
    &.extra-small {
        font-size: 10px;
    }
    &.small {
        font-size: 12px;
    }
    &.medium {
        font-size: 13px;
    }
    &.x-medium {
        font-size: 15px;
    }
    &.x2-medium {
        font-size: 18px;
    }
    &.x3-medium {
        font-size: 19px;
    }
    &.big {
        font-size: 20px;
    }
    &.x-big {
        font-size: 25px;
    }
    &.bold {
        font-weight: 600;
    }
    &.centered {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
    &.indents {
        margin: 10px 0;
    }
    &.underline {
        text-decoration: underline;
    }
}

.candidates {
    &__title {
        padding: 0 20px;
        font-size: 12px;
        color: @activeBlue;
    }
}

.points-counter {
    margin: 0;
    font: 600 17px/1 @regular;
    color: @white;
    text-shadow: 1px 1px 1px #042849;
    &__amount {
        font-size: 19px;
        font-weight: 900;
    }

    // Adaptive
    @media (max-width: 1026px) {
        font-size: 15px;
        &__amount {
            font-size: 17px;
        }
    }
    @media (max-width: 800px) {
        font-size: 14px;

        &__amount {
            font-size: 16px;
        }
    }
}

.data-items {
    display: inline-flex;
    width: 100%;

    &.column {
        flex-direction: column;
        justify-content: center;

        .data-item {
            line-height: 1.4;
        }
    }
    &.tour-column {
        .data-item {
            line-height: 1.4;
        }
    }
    &.row {
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: nowrap;

        .data-item {
            margin-right: 15px;
        }
    }
}

.data-item {
    font: 600 12px @roboto;
    text-shadow: 1px 1px 1px #111;
    color: @white;

    &.medium {
        font-size: 16px;
    }
    &.dark-text {
        color: #444;
    }
    &.centered {
        width: 100%;
        text-align: center;
    }

    // Adaptive
    @media (max-width: 1026px) {

    }
}

.tokens {
    color: #067FA0;

    &__symb {
        transform: rotate(180deg);
    }
}
.dollars {
    color: #317F06;
}
.tokens,
.dollars {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font: 700 13px @roboto;

    &__symb {
        margin-right: 5px;
        font: 700 15px @roboto;
        &.small {
            font-size: 14px;
        }
        &.x-medium {
            font-size: 15px;
        }
        &.medium {
            font-size: 18px;
        }
        &.big {
            font-size: 30px;
        }
        &.blue {
            color: @activeBlue;
        }
    }
    &.big {
        font-size: 30px;
    }
    &.medium {
        font-size: 18px;
    }
    &.x-medium {
        font-size: 15px;
    }
    &.small {
        font-size: 14px;
    }
    &.bold {
        font-weight: 600;
    }
    &.blue {
        color: @activeBlue;
    }
}

.money {
    position: relative;
    .inline-flex-container(row, center, baseline);

    &__or {
        margin: 0 8px 0 0;
        font-size: 15px;
    }
    &.column {
        flex-direction: column;
        align-items: center;

        .tokens,
        .dollars {
            margin: 5px 0;
        }
    }
    &.medium {
        .tokens,
        .dollars {
            font-size: 20px;
            margin: 0 5px;
        }
    }

    // Adaptive
    @media (max-width: 1024px) {

        &__or {
            font-size: 12px;
        }
    }
}

.open-handler {
    .flex-container(column, space-around, center);
    padding: 15px 5px;
    cursor: pointer;

    .icon {
        margin: 1px 0;
        font-size: 0.4em;
    }
}

.avatar {
    display: inline-flex;
    width: 63px;
    min-width: 63px;
    height: 38px;
    margin: 5px 15px;
    text-align: center;

    .flag {
        margin: auto;
        box-sizing: content-box;
    }
}

.avatar-list {
    .flex-container(row, flex-start, flex-start);
    padding: 10px 0 10px 10px;

    img {
        margin: 0 3px;
    }
    .avatar {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.not-registered {
    margin: 0 4px;
}

.person-info {
    margin-left: 5px;
    font: 600 12px/1.2 @roboto;
    color: @activeBlue;

    &__name {
        display: block;
    }
}

.address {
    text-transform: none;
    .flex-container(row, flex-start,center);
    .stroke {
        margin: 0 5px 0 0;
    }
}

.par-counter {
    .flex-container(row, flex-start, center);
    margin: 0;
    font: 19px/1 @roboto;
    text-shadow: 1px 1px 1px #042849;
    color: @white;

    span {
        font-size: 19px;
        font-weight: 900;
    }
    b {
        margin: 0 4px;
        font-size: 12px;
    }
    .wins {
        color: #769324;
    }
    .defeats {
        color: #fe1717;
    }

//    Modification
    &.active {
        color: #241101;
        text-shadow: none;
        .wins,
        .defeats {
            color: #241101;
            text-shadow: none;
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        span {

        }
    }
}

.sponsor-adv {
    width: 100%;
    padding: 20px;
    background: @white;
    text-align: center;

    &__list {
        .flex-container(row, space-between, flex-end);

        a {
            display: block;
            line-height: 1px;
        }
        .brand-f {
            position: relative;
            top: 11px;
        }
    }
    &_dark {
        background: #00070a;
    }
}

.brand-fusion {
    display: block;
    margin: 0 0 10px;
    text-decoration: none;
    cursor: pointer;

    .href(transparent, transparent, transparent, transparent);

    &:hover {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }
}

.helping-text-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    .flex-container(column, center, center);

    &__splash {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(7,25,43,.75);
        z-index: 101;
    }
}

.helping-text {
    position: absolute;
    top: 92px;
    min-height: 82px;
    color: @white;
    z-index: 500;
    width: 300px;
    left: ~"calc(50% - 150px)";

    &__inner {
        background: #ff4b00;
        padding: 10px 15px;
        border-radius: 2px;
        box-shadow: 0 3px 21px 5px rgba(0, 0, 0, 0.77);
        .flex-container(row, flex-start, center);
    }
    &__title {
        color: #ff4b00;
        font: 900 20px/1 @roboto;
        text-align: center;
        padding: 5px 0;
        text-transform: uppercase;
        background: transparent;
    }
    &__icon {
       flex-basis: 8%;
        text-align: center;
    }
    &__content {
        flex-basis: 100%;
        padding-left: 10px;
        font: 400 17px/1.2 @roboto;
    }

    .article {
        &__section {
            padding-right: 10px;
            padding-left: 40px;
        }
    }
}

.total-points {
    margin: 0 5px;

    b {
        font-size: 120%;
    }
}

.name {
    margin: 5px 0;
    font: 400 100%/1.2 @regular;
    color: #444;

    &_wrapped {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &.white {
        color: @white;
    }
    &.text-up {
        text-transform: uppercase;
    }
}

.copyright {
    font: 400 14px/1 @regular;
    text-align: left;
    color: @white;

    span {
        margin: 0 3px;
    }
    a {
        margin: 0 3px;
        .href(darken(#49d4d0, 17), darken(#49d4d0, 17), darken(#49d4d0, 17), darken(#49d4d0, 17));
        text-decoration: underline;

        &:hover,
        &:active {
            text-decoration: none;
        }
    }

    @media (max-width: 770px) {
        font-size: 12px;
    }
}

.bold {
    font-weight: bold;
}

.preloader {
    width: 100%;
    text-align: center;

    &__image {
        width: 50px;
    }

    &--main {
        position: absolute;
        bottom: 15%;
    }
}

.disabled-warning {
    position: fixed;
    top: 20%;
    width: 60%;
    left: 20%;
    padding: 30px;
    background: #fff;
    font-weight: bold;
    border-color: #000;
    z-index: 9999;

    @media (max-width: 480px) {
        width: 90%;
        left: 5%;
    }
}

.actionbar {
    .flex-container(row, center, center);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px !important;
    width: 100%;
    padding: 0 8px;
    background-color: #1b3c5a;
    text-align: center;

    .icon-up-hand {
        font-size: 13px;
    }
    &__el {
        margin: 0 5px;
        flex-basis: 49%;
    }
}

.text-centered {
    text-align: center;
}

.candidates-layer {
    .flex-container(row, space-around, flex-start);
    height: 95px;
    padding: 3px 5px 3px;
    background: #bee6ff;
    transition: all 1s ease;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    color: @activeBlue;

    &__name {
        font: 700 10px @roboto;
        text-align: left;
    }

    .avatar {
        position: relative;
        display: block;
        margin: 0;
        cursor: pointer;
        height: 38px;
        width: 63px;
        border: 5px solid transparent;

        &.choosen {
            border: none;
            .flag {
                border: 5px solid @green;
                animation: pulsar 1s;
                animation-iteration-count: 1;
            }
        }
    }
}


// Scroll
.scroll-pane {
    width: 100%;
    height: auto;
    overflow: auto;
}

.ZenboxTabLeft {
    background: url('/static/img/tab_support_bg.png') right bottom no-repeat !important;
    border: none !important;
    top: auto !important;
    left: auto !important;
    right: 0px;
    bottom: 0px;
    width: 78px;
    height: 93px;
    text-align: right;

    img {
        margin: 24px 0 0 19px;
    }

    .icon {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        height: 24px;
        display: block;
        position: absolute;
        bottom: 4px;
        right: 6px;
    }

    &:hover {
        background-image: url('/static/img/tab_support_bg2.png') !important;
    }

    @media (max-width: 480px) {
        display: none !important;
    }
}

.lock-parent {
    position: relative;
}

.lock {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;

    &__in {
        height: 100%;
        display: flex;

        .btn {
            margin: 5em auto auto;
        }
    }
}

.ready-to-transform {
    transition: all .7s cubic-bezier(.67,.22,.45,.97);
}

// Used in Survey
.gray-round {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 95px;
    background-color: #eeeeee;
    border-radius: 50%;
}
// Used in Survey

.gray-border {
    border: 1px solid #bbb;
}

.item-counter {
    position: absolute;
    top: 1px;
    right: 18px;
    min-width: 12px;
    min-height: 12px;
    padding: 0 2px;
    background-color: #ff430a;
    border-radius: 1px;
    text-align: center;
    font: 700 9px @roboto;
    line-height: normal;
    color: #fff;
    z-index: 99;
}

.menu-button {
    display: block;
    padding: 10px 5px;
    color: @white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }
    &.default {
        cursor: default;
    }
    &.select {
        width: 50px;
    }
}

.sports-data-api-logo {
    display: block;
    margin: 3px 0 0;
    line-height: 1px;
}

// Used in Search
.more {
    position: relative;
    right: -27px;
    display: block;
    width: 82px;
    padding: 15px 0;
    font: 700 110% @regular;
    background: #00aaeb;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transform: rotate(90deg);
}
// Used in Search

.vertical-text {
    font: 700 70%/1.2 @regular;
    text-transform: uppercase;
    text-align: center;
    color: #B7C7C6;
    word-break: break-all;
}

sup {
    position: relative;
    left: -2px;
    font-size: 65%;
}

.connect-via-social {
    padding: 40px 0 0;
    text-align: center;

    .btn_facebook {

        width: 250px;
    }
}

.popup-msg {
    padding: 45px 0 0;
    text-align: center;
}



.error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font: 300 14px @regular;
    color: #444;
}
