.btn {
    position: relative;
    padding: 7px 10px;
    border: none;
    outline: 0 none;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.37);
    font: 700 16px/1 @roboto;
    text-align: center;
    letter-spacing: 0;
    color: @white;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;

    &_no-shadow {
        box-shadow: none;
    }

    &:hover,
    &:active {
        outline: none;
    }
    &__text {
        position: relative;
        display: block;
        line-height: 1;
        &.black {
            color: #241101;
        }
    }
    &:before,
    &:after,
    &__el {
        transition: all 0.3s ease-in-out;
    }
    img {
        max-width: 100%;
    }


    // Modifications
    &_square {
        padding: 0;
        border-radius: 0;

        .icon-bg {
            display: inline-flex;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            box-shadow: 0 4px 11px -3px rgba(0,0,0, .7);

            .icon {
                margin: auto;
            }
        }
        .btn__text {
            margin: 8px 0 0;
        }
    }
    &_red {
        background: @red;
    }
    &_blue {
        background: @blue;
    }
    &_fb-blue {
        background: #2a46cf;
        padding: 11px 10px;
        text-transform: capitalize;
    }
    &_google-red {
        background: #ff3d3d;
        padding: 11px 10px;
        text-transform: capitalize;
    }
    &_green {
        background: @green;
        color: #143c64;
        font-weight: 700;
    }
    &_white {
        background: #fef8ee;
        color: #305673;
    }
    &_grey {
        background: @grey;
    }
    &_orange {
        font: 400 20px/1 @roboto;
        background: #ff6102;
    }
    &_azure {
        background: #3db4ff;
    }
    &_transparent {
        position: relative;
        background: transparent;
        border: transparent;
        box-shadow: none;
        .icon {
            position: absolute;
            left: 0;
            top: 5px;
        }
        .btn__text {
            margin: 0 0 0 10px;
        }
    }
    &_round {
        padding: 5px 10px;
        background-color: @grey;
        border-radius: 0;
        font: 300 14px @regular;
        font-weight: 700;
        letter-spacing: 0;
        color: @white;
        margin: 0 1px 0;
        &.btn_active {
            background: @green;
            color: @activeBlue;
        }
        .btn__text {
            .flex-container(row, space-between, center);
        }
    }


    // Font families and font sizes
    &_regular {
        font-family: @regular;
        text-transform: none;
        letter-spacing: normal;
        text-shadow: none;
    }
    &_roboto {
        font-family: @roboto;
        text-transform: none;
        letter-spacing: normal;
        text-shadow: none;
    }
    &_small {
        font-size: 10px;
        font-weight: 300;
    }
    &_x-small {
        font-size: 12px;
    }
    &_medium {
        font-size: 14px;
    }
    &_x-medium {
        font-size: 16px;
    }
    &_x-medium-bold {
        font: 600 25px @roboto;
    }
    &_big {
        font-size: 30px;
    }
    &_uppercase {
        text-transform: uppercase;
    }
    &_indents {
        margin: 5px 0;
    }

    // Sizes and with other elements
    &_high {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    &_m-high {
        padding: 12px 22px;
    }
    &_x-high {
        padding-top: 22px;
        padding-bottom: 21px;
    }
    &_low {
        padding: 6px 10px 7px;
    }
    &_block {
        width: 100%;
    }
    &_with-icon {

        .btn__text {
            display: inline-block;
        }
    }
    &_pad-0 {
        padding: 0;
    }
    &_wide {
        padding-left: 85px;
        padding-right: 85px;
    }


    // States
    &_not-active {
        background-color: #6f727b !important;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.37);
        color: #968884 !important;
        cursor: default;
        pointer-events: none;
    }
    &_disabled {
        cursor: default;
        pointer-events: none;
        background-color: #6f727b;
        color: #968884;
    }
    &_blink {
        animation: blink 1s 1 linear;
    }
    &_active {
        background: @green;
        color: @activeBlue;
    }


    // Not typical
    &_stake {
        min-width: 180px;
        padding: 6px 10px 10px;
        font-weight: 600;
        font-size: 35px;
        font-family: @regular;
        .flex-container(row, center, center);

        .icon {
            background-size: 90%;
            margin: 0 5px;
        }
        .icon-dollars {
            background-position: 0 0;
            width: 23px;
            height: 29px;
        }
        .icon-tokens {
            background-position: 0 0;
            width: 25px;
            height: 27px;
        }
        .btn__text {
            display: inline-block;
        }
    }
    &_select {
        margin-left: 5px;
        padding: 0;
        text-align: center;

        .icon {
            margin: 0 0 5px;
        }

        &:hover,
        &:active {

            .icon-golf_ball {
                color: @white;
            }
        }
    }
    &_white-circle {
        display: block;
        position: inherit;
        padding: 0;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #244366;
        background: @white;
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        transition: all .5s ease-in-out;

        &.active {
            border: 3px solid @white;
            background: #244366;
            width: 27px;
            height: 27px;
        }
    }
    &_close {
        height: 30px;
        width: 30px;
        padding: 0;
        background-color: #cccccc;
        font-size: 12px;
        font-weight: normal;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: white;
        z-index: 200;

        &:hover,
        &:active {
            background-color: #cccccc;
            color: white;
        }
        .icon-close {
            font-size: 1em;
        }
    }
    &_info-tip {
        width: 36px;
        height: 35px;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 6px;
        background: #ff4b00;
        border-radius: 50%;
        box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.58);
        font: 600 22px/1 @roboto;
        letter-spacing: 0;
    }

    &_sidemenu {
        display: inline-flex;
        width: 46px;
        height: 42px;
        padding: 0;
        box-shadow: none;

        .btn__text {
            display: none;
        }
        .icon {
            margin: auto;
            width: 24px;
            height: 20px;
            background-size: 24px 19px;
        }
        &:hover {
            .icon {
                transform: scale(1.15);
                transition: all .1s ease-out;
            }
        }
    }
    &_sidebar {
        display: inline-flex;
        height: 43px;
        padding: 0;
        border-radius: 0;
        flex-basis: 15%;
        width: 15%;
        background: #1c2b36;
        border-bottom: 4px solid #17232c;

        .btn__text {
            display: none;
        }
        .icon {
            margin: auto;
            height: 22px;
            width: 20px;
            background-position: -1px 0;
        }
        &:hover {
            .icon {
                transform: scale(1.15);
                transition: all .1s ease-out;
            }
        }
    }



    // Controls
    &-inline {
        width: 100%;
        .flex-container(row, space-between, stretch);
        margin: 0 0 0 -15px;

        .btn {
            flex-grow: 1;
            margin-left: 15px;
        }
    }
    &-row {
        margin: 20px 0;
    }

    // Adaptive
    @media (max-width: 780px) {
        &_square {
            padding: 0;
        }
        &_stake-usd,
        &_stake-token {
            font-size: 30px;
        }
        &_white-circle {
            padding: 0;
        }
        &_info-tip {
            padding: 0;
        }
    }
}

.padding-wrapper {
    padding: 10px 30px;
}