.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;

    &__container {
        position: relative;
        .flex-container(row, space-between, center);
        height: 50px;
        padding: 0;
        background-color: #143c64;
        overflow: hidden;
    }
    &__info {
        align-self: center;
    }
    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font: 700 15px @roboto;
        color: @white;
    }
    &__back {
        width: 57px;
        height: 50px;
        background: transparent;
        .flex-container(row, center, center);

        transition: transform .2s ease-in;
        will-change: transform;

        &.hide {
            transform: translate3d(-70px, 0, 0);
        }
    }
    &__menu {
        .flex-container(row, flex-end, stretch);
        background-color: rgba(28, 43, 54, .85);
        border-top: 4px solid #17232c;
    }
    &__menu-wrap {
        .flex-container(row, center, stretch);
        height: 34px;
        flex-basis: 100%;
    }
    &__user {
        .flex-container(row, space-between, stretch);
    }
    &__warning {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        padding: 5px 0;
        background: @orange;
        text-align: center;

        p {
            font: 400 17px/1.4 @roboto;
        }
    }

}

.main-page-menu {
    .flex-container(row, space-between, stretch);
    color: @white;

    li {
        padding: 0 19px;
        font: 400 15px @regular;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        .flex-container(column, center, stretch);
        transition: all .2s ease-in-out;

        &:hover {
            background: #202f3a;
        }
    }

    // Adaptive
    @media (max-width: 1024px) {

        li {
            padding: 0 10px;
        }
    }
}
