.container(@max-width: 1200px) {
    min-width: 760px;
    max-width: @max-width;
    margin: 0 auto;
}

.item () {
    height: 50px;

    &.active {
        background-color: @green;
        color: @activeBlue;

        .dollars,
        .tokens {
            color: @activeBlue;
            &__symb {
                color: @activeBlue;
            }
        }
        .countdown {
            color: @activeBlue;
        }
    }
    &.label {
        background-color: #17505b;
    }
}

.header (){
    width: 100%;
    height: 25px;
    font: 700 9px @roboto;
    border-top: none;
    background: @activeBlue;
    text-transform: uppercase;
    color: @white;
}
