.achiever {
    position: relative;
    .flex-container(row, space-between, stretch);
    cursor: pointer;

    &__top {
        &--right {
            text-align: right;
            width: 100%;
        }
    }
    &__left,
    &__right {
        width: 49%;
        padding: 30px 35px;
        background-color: #101c2b;
        border-radius: 2px;
    }
    &__left {
        background: url("/static/img/lobby/overachievers-bg.jpg") no-repeat center center;
        background-size: cover;
    }
    &__right {
        background: url("/static/img/lobby/underachievers-bg.jpg") no-repeat center center;
        background-size: cover;
    }
    &__week {
        display: block;
        position: absolute;
        left: 35%;
        right: 35%;
        margin: 20px auto 0;
        padding: 10px;
        width: 180px;
        height: 37px;
        font: 300 12px @latoMedium;
        color: @white;
        text-align: center;
        text-transform: uppercase;
        background-color: #4d68a7;
        box-shadow: 0 3px 6px -2px #000000;
        &:before,
        &:after {
            position: absolute;
            content: "";
            width: 15px;
            height: 37px;
            border-radius: 3px;
            background-color: #4d68a7;

        }
        &:before {
            top: 0;
            left: -9px;
            transform: skew(10deg, 0deg);
        }
        &:after {
            top: 0;
            right: -9px;
            transform: skew(-10deg, 0deg);
        }
    }
    &__img {
        position: relative;
        text-align: center;
        height: 85px;
        img {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 75px;
            z-index: 10;
            filter: blur(0);
        }
    }
    &__team-photo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center center;
        opacity: .3;
    }
    &__star {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 25px;
        height: 25px;
        padding: 3px 0 0;
        border-radius: 4px;
        background-color: #3f4658;
    }
    &__data {
        padding: 10px 0;
        background: url("/static/img/lobby/achiever-item-bg.jpg") center center no-repeat;
        background-size: cover;
        height: 85px;
        transition: all .3s ease-in-out;
    }
    &__name {
        font: 300 13px @latoBlack;
        color: @black;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-align: center;
    }
    &__opponent {
        .flex-container(column, space-between, center);
        font: 300 11px @latoBlack;
        color: #5c5c5c;
        text-transform: uppercase;
        padding: 0 35px;
        height: 36px;
    }
    &__points {
        .flex-container(row, space-between, stretch);
        background-color: #e1e1e1;
        transition: all .3s ease-in-out;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__points-devider {
        width: 1px;
        background-color: #d0d2d4;
    }
    &__rank {
        .flex-container(row, flex-start, center);
        font: 300 16px @latoHeavy;
        width: 50%;
        padding: 10px 0 10px 10px;
        text-align: center;
        border-bottom-left-radius: 4px;
        .icon {
            margin: 0 5px;
        }
        &--red {
            color: @red;
        }
        &--green {
            color: #35a865;
        }
    }
    &__fppg {
        font: 300 11px/11px @latoHeavy;
        width: 50%;
        padding: 18px 6px 10px 0;
        text-align: center;
        border-bottom-right-radius: 4px;
        color: #838384;
        box-sizing: border-box;
    }
    &__fppg-small {
        font: 600 9px @latoBlack;
        color: rgba(149,149,149, .8);
        text-transform: uppercase;
    }
    &__content {
        .flex-container(row, space-between, stretch);
    }
    &__item {
        width: 160px;
        background: #e1e1e1;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 5px;
        transition: @transition;
        &:hover {
            box-shadow: 0 4px 10px 0 #000000;
            transform: scale(1.05);
            filter: blur(0);

            .achiever__data {
                background: #344e89;
            }
            .achiever__points{
                background-color: @white;
            }
            .achiever__opponent,
            .achiever__name{
                color: @white;
            }
        }
    }
}
