.dynamic-barchart {
    height: 10px;
    &__bar {
        height: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.radial-chart {
    display: inline-block;
}

.double-area-chart {
    display: inline-block;
}

.volume-chart {
    display: inline-block;
}

.radial-progress-chart {
    background: transparent;
}

.radial-progress-legend {
    .flex-container(column, space-between, stretch);
    height: 100%;
    text-align: center;
    color: @black;
    font: 300 18px @latoHeavy;
    position: relative;
    &__top,
    &__bottom {
        height: 2em;
    }
    &__top {
        position: relative;
        top: -15px;
    }
    &__center {
        font: 300 10px @latoMedium;
        text-transform: uppercase;
        color: #6c6c6d;
        width: 75px;
        margin: 0 auto;
    }
}

.barchart {
    width: 100%;
    &__line {
        height: 7px;
        border-top: 1px solid #ccced1;
        border-right: 1px solid #ccced1;
        background-color: transparent;
    }
}

.players-cards-wrapper {
    position: relative;
    padding: 0 0 60px 0;

    .Grid {
        overflow-y: hidden;
    }
}
.players-cards-btn {
    width: 100%;
    .btn {
        width: 100%;
    }
}

.card-view {
    width: 260px;
    background: @white;
    vertical-align: top;
    border-radius: 3px;
    overflow: hidden;

    &__head {
        position: relative;
        text-align: center;
        height: 120px;
        background-color: #e1e1e1;
    }
    &__team-photo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: .4;
    }
    &__player-photo {
        z-index: 10;
        margin: 10px auto 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__progress-bar {
        width:  100%;
        position: relative;
        .bar {
            position: absolute;
            top: -3px;
            left: 0;
            height: 6px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            background: #e33838;
            z-index: 1;
        }
    }
    &__star-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        padding: 5px 0 0;
        background-color: #b6b9bc;
        border: 1px solid #d0d0d0;
        border-bottom-left-radius: 3px;
        text-align: center;
    }
    &__row {
        padding: 30px 20px 15px;
        position: relative;
        &--name {
            padding: 18px 10px 0;
            height: 70px;
            background-color: #9499a4;
        }
        &--bg-gray {
            background-color: #bdc0c3;
        }
        &--characteristics {
            padding: 5px 20px 7px;
            background-color: #e1e1e1;
        }
        &--bottom {
            height: 151px;
        }
    }
    &__chart-label {
        .flex-container(row, space-between, flex-end);
    }
    &__text-value{
        font: 300 20px @latoBlack;
        color: #4b4b4b;
    }
    &__text-label {
        font: 300 10px @latoMedium;
        text-transform: uppercase;
        color: #6b6c6c;
    }
    &__name {
        font: 300 13px/13px @latoBlack;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 18px;
    }
    &__pos {
        color: @white;
    }
    &__player-name {
        color: #2a2a2b;
    }
    &__progress {
        font: 300 10px/10px @latoBlack;
        text-transform: uppercase;
        text-align: center;
    }
    &__team {
        color: @white;
    }
    &__games {
        color: #2a2a2b;
    }
    &__stats {
        .flex-container(row, space-between, stretch);
        height: 60px;
        padding: 15px 10px 5px;
        background-color: #64c285;
    }
    &__stats-item {
        width: 33.3%;
        text-align: center;
    }
    &__stats-label {
        font: 300 10px @latoMedium;
        color: #363636;
        text-transform: uppercase;
    }
    &__dynamic {
        margin-left: 10px;
    }
    &__dynamic-item {
        margin: 0 0 5px 0;
    }
    &__table {
        background-color: @white;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__table-cell {
        .flex-container(row, space-between, center);
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        width: 100%;
        padding: 5px 20px;
        height: 64px;
        box-sizing: border-box;
    }
    &__cell-title {
        font: 300 9px @latoMedium;
        color: #707c93;
        text-transform: uppercase;
        width: 75px;
    }
    &__cell-value {
        font: 300 14px @latoMedium;
        color: #707070;
        margin-left: 10px;
    }
    &__cell-empty {
        width: 87px;
    }
}


.stats-tabs {
    width: 100%;
    position: relative;
    z-index: 100;

    &__list {
        visibility: hidden;
        width: 100%;
        position: absolute;
        top: 53px;
        left: 0;
        height: 236px;
        z-index: 100;
        overflow-y: scroll;
        &--open {
            visibility: visible;
        }
    }
    &__item {
        display: block;
        width: 100%;
        padding: 10px 20px;
        font: 300 12px/34px @latoBlack;
        color: @white;
        background-color: #344e89;
        text-transform: uppercase;
        cursor: pointer;
        transition: @transition;
        height: 54px;
        &--top {
            .flex-container(row, space-between, center);
        }

        &:hover {
            background-color: lighten(#e1e1e1, 5);
        }
    }
}


.Grid {
    border: none;
    outline: none;
    &:focus,
    &:active {
        border: none;
        outline: none;
    }
}
.card-view-wrapper {
    &:focus {
        outline: none;
    }
}
