.empty-block-notice {
    top: 10em;
    position: relative;
    .flex-container(row, center, center);

    &__text {
        font-size: 30px;
        color: white;
    }
}

.underlined {
    text-decoration: underline;
}

.allwidth {
    width: 100%;
}

.common-top-40 {
    margin-top: 20px;
}
