.competition-item {
    .flex-container(row, space-between, stretch);
    height: 100px;
    background: @baseRowBackground;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    &--my {
        height: 120px;
        border: 10px solid #85cb70;
    }
    &__cell {
        .flex-container(row, flex-start, center);
        position: relative;
    }
    &__name {
        .flex-container(row, flex-start, center);
        font-family: @latoBlack;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0 15px;
        width: 15%;
    }
    &__cell-points {
        .flex-container(column, center, flex-end);
        padding: 0 15px 0 0;
        width: 10%;
    }
    &__players {
        position: relative;
        width: 42%;
    }
    &__title {
        color: #8a8f96;
        text-transform: uppercase;
        font: 300 10px @latoMedium;
        margin: 0 0 12px 0;
    }
    &__points {
        font: 300 30px/30px @latoBlack;
        color: @red;
    }
    &__prize {
        font: 300 30px/30px @latoBlack;
    }
    &__cell-place {
        .flex-container(column, center, flex-end);
        width: 80px;
        height: 100px;
        padding: 0 20px 0 2px;
    }
    &__range {
        font: 300 30px/30px @latoBlack;
        color: @black;
        &--small {
            font: 300 20px/20px @latoBlack;
            white-space: nowrap;
        }
    }
    &__buttons {
        .flex-container(row, center, center);
        width: 100px;
        padding: 0;
        transition: width .3s ease-in-out;
        overflow-x: hidden;
        &--open {
            .flex-container(row, space-between, center);
            padding: 0 20px;
            width: 21%;
        }
    }
}

.competition-item-empty {
    .flex-container(row, flex-start, stretch);
    height: 100px;
    background: rgba(255,255,255, .1);
    margin: 20px 0 0;

    &__place {
        .flex-container(column, center, flex-end);
        width: 80px;
        height: 100px;
        padding:0 10px 0 10px;
    }
    &__game {
        font-size: 10px;
        font-family: @latoMedium;
        color: #8a8e94;
    }
    &__num {
        color: @white;
        opacity: .5;
        font-size: 30px;
        font-family: @latoBlack;
    }
}
