.competition-players {
    width: 100%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: #e1e1e1 url('/static/img/lobby/players-bg.jpg') no-repeat top center;
    background-size: cover;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: @white;
        background-color: rgba(52, 78, 137, 0.8);
        text-align: center;
        z-index: 19;
    }
    &__overlay-text {
        font: 300 20px @latoBlack;
        line-height: 80px;
        white-space: nowrap;
        text-transform: uppercase;
    }
    &__top {
        height: 75px;
        box-sizing: border-box;
        text-align: center;
        z-index: 1;
    }
    &__img-wrapper {
        position: relative;
        width: 470px;
        height: 75px;
        margin: 0 auto;
        &--five {
            width: 270px;
        }
        &--three {
            width: 190px;
        }
        &--empty {
            width: auto;
        }
    }
    &__pos-wrapper {
        .flex-container(row, space-around, center);
        width: 470px;
        height: 25px;
        margin: 0 auto;
    }
    &__bottom {
        height: 25px;
        background-color: #344e89;
        border-top: 1px solid #667fb8;
        z-index: 1;
    }
    &__img-empty {
        width: 100%;
    }
    &__img {
        position: absolute;
        top: 15px;
        img {
            height: 60px;
        }

    }
    &__pos {
        margin: 0;
        color: @white;
        font: 300 10px @latoBlack;
    }
}

.placeholder-img {
    position: relative;
    cursor: pointer;
    &:hover {
        .placeholder-img__name {
            visibility: visible;
        }
    }
    &__name {
        position: absolute;
        top: -14px;
        left: 0;
        visibility: hidden;
        padding: 2px 8px;
        border-radius: 3px;
        background-color: #344e89;
        color: @white;
        font: 300 10px @latoBlack;
        text-transform: uppercase;
        z-index: 20;
        border: 1px solid #667fb8;
    }
}

.img-z-index-loop (@i, @r) when (@i >= 0) {
    .competition-players__img-@{i} {
        z-index: @i;
        left: @r*1px;
    }
    .img-z-index-loop(@i - 1, @r - 50);
}
.img-z-index-loop(8, 400);
