.competition-team {
    .flex-container(row, flex-start, stretch);
    overflow-x: scroll;

    &__item {
        min-width: 160px;
        margin:10px 5px;
        background: #1b2332;
        font: 600 14px @latoMedium;
        color: @white;
        cursor: pointer;
        border-radius: 4px;
    }
    &__img {
        position: relative;
        text-align: center;
        height: 85px;
        background-color: #0a1217;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        img {
            margin: 24px 0 0;
            height: 60px;
        }
    }
    &__data {
        padding: 20px 0 5px;
        background: #1b2332;
        text-align: center;
        transition: all 0.3s ease-in-out;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__pos {
        text-align: center;
        color: #a1a7ad;
        font: 300 12px @latoBlack;
        margin: 0 0 10px;
    }
    &__logo {
        height: 30px;
    }
    &__name {
        font: 300 12px @latoBlack;
        color: #a1a7ad;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-align: center;
    }
    &__row {
        .flex-container(row, space-between, flex-start);
        margin: 5px 0;
    }
    &__teams {
        .flex-container(column, space-between, stretch);
        background: #172227;
        padding: 5px 20px;
    }
    &__points {
        .flex-container(column, space-between, center);
        padding: 10px;
        height: 100px;
        position: relative;
    }
    &__total {
        font-size: 25px;
    }
}
