.countdown {
    margin: 2px 0;
    font: 300 16px @latoBlack;
    min-width: 75px;

    &__text {
        margin-right: 5px;
        font-size: 18px;
    }
    &__els {
        .flex-container(row, space-between, center);
    }
    &__content {
        .flex-container(row, space-between, center);
    }
    &__item {
        color: @white;
        text-align: center;
    }
    &__num {
        font-size: 30px;
        margin: 0 0 5px;
    }
    &__subtext {
        font-size: 12px;
    }
}
