.deposit-money {
    padding: 30px 30px 30px;
    background: url('/static/img/tutorial-back-img.png') left top no-repeat, url('/static/img/bg.png');
    text-align: center;
    min-height: 950px;

    .left{
        text-align: left;
    }

    &__inner {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__deposits {
        .flex-container(row, space-between, center);
        flex-wrap: wrap;

    }
    &__top {
        .flex-container(column, space-between, center);
        margin: 0 0 40px;
    }
    &__head {
        .flex-container(column, space-between, center);
    }
    &__table {
        .flex-container(column, space-between, center);
    }
    &__bottom {
        .flex-container(row, space-between, flex-start);
        margin: 40px 0;
    }
    &__withdraw {
        .flex-container(row, space-between, flex-start);
        border-top: 1px dotted #5b6d75;
        padding: 10px 0 0;
    }
    &__left {
        .flex-container(row, flex-start, center);
        flex-basis: 48%;
        img {
            margin-right: 30px;
        }
        .title {
            margin: 0 0 24px;
        }
    }
    &__secure-text {
        list-style: disc;
        font: 300 16px @regular;
        color: @white;
        text-align: left;
    }
    &__right {
        .flex-container(row, flex-start, center);
        flex-basis: 48%;
        .title {
            margin: 0 0 24px;
        }
        img {
            margin-right: 30px;
        }
        &.column {
            .flex-container(column, flex-start, flex-start);
        }
    }
    &__guarantee {
        .flex-container(column, space-between, flex-start);
    }
    &__el {
        min-width: 180px;
        min-height: 206px;
        margin: 5px;
        background-color: #142b3f;
        color: #0ad35f;

        .btn {
            margin: 20px 0;
        }

        &.selected p, &.selected input {
            color: red!important;
        }
        p{
            text-align: center;
        }
        .total {
            font-size: 22px;
        }
    }
    &__amount {
        padding: 20px 5px 18px;
        font: 400 40px/1 @kelson;
        &.count {
            padding: 13px 5px 12px;
            width: 150px;
            margin: 0 auto;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
       opacity: 1;
    }
    &__select {
        padding: 0 20px;
        background-color: #142b3f;
    }
    &__iframe {
        margin: 25px 0 0;
    }
    &__exit {
        width: 215px;
        margin: 30px 0 0;
    }

    // Adaptive
    @media (max-width: 1050px) {
        &__withdraw {
            .flex-container(column, space-between, stretch);
        }
    }
}

.payment-redirect {
    width: 250px;
    position: absolute;
    font: 17px/26px arial, sans-serif;
    background-color: rgba(16, 64, 77, 0.6);
    padding: 15px;
    color: white;
    top: 100px;
    left: 20px;
    border-radius: 5px;
    button {
        border: 1px solid white;
        border-radius: 2px;
        margin-right: 20px;
        width: 100px;
        float: right;
        box-shadow: 1px 1px 4px -2px black;
    }

    span.link {
        cursor: pointer;
        text-decoration: underline;
    }

    .preloader {
        width: 45px;
        margin: 30px auto;
    }
    .clear {
        clear: both;
    }
}

.payment-history {
    background: #F2F2F2;
    margin: 20px 0;
    border: none;
    width: 100%;

    &__head {
        font-weight: 600;
    }
    th {
        background: #071f38;
        text-transform: uppercase;
    }
    td {
        background: #142c41;
    }
    td, th {
        padding: 7px 15px;
        border: none;
        font-weight: bold;
        color: @white;
    }
}

.withdraw-money {
    &__content {
        .flex-container(row, flex-start, flex-start);
    }
    &__left {
        .flex-container(column, space-between, flex-end);
    }
    &__right {
        .flex-container(column, space-between, flex-start);
        width: 400px;
        text-align: left;
        margin-left: 20px;
    }
    &__pay-btn {
        margin-bottom: 10px;
    }
}
