@borderColor: #f6f6f6;

.rules-dialog {
    position: relative;
    .flex-container(row, flex-start, stretch);
    width: 900px;
    height: 80vh;
    font-size: 12px;

    &__menu {
        .flex-container(column);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #e1e1e1;
        min-width: 230px;
    }

    &__caption {
        margin: 30px 30px 0 30px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        color: #5f6163;

        &--active {
            color: #3c5ca5;
        }
    }

    &__list {
        list-style: disc;
    }

    &__content {
        padding: 30px;
        overflow: scroll;
        font-size: 13px;

        .flex-container(column, flex-start, stretch);
        flex-grow: 10;

        &--table {
            padding: 10px;
        }
    }

    &__inner-title {
        display: inline-block;
        font-weight: 600;
    }

    &__indent {
        margin-left: 30px;
    }

    &__table {
        font-size: 12px;
        border-top: 2px solid @borderColor;
        border-bottom: 2px solid @borderColor;
        border-left: 2px solid @borderColor;
    }

    &__table-footer {
        padding: 20px;
        border-right: 2px solid @borderColor;
    }

    &__table-inner-caption {
        font-weight: 600;
        padding: 10px;
    }

    &__table-row {
        .flex-container();
        height: 40px;
    }

    &__table-cell {
        .flex-container(row, flex-start, center);
        border-right: 2px solid @borderColor;
        border-bottom: 2px solid @borderColor;
        flex-grow: 10;
        flex-basis: 25%;
        padding-left: 7px;
        padding-right: 7px;
        height: 40px;
        line-height: 14px;

        &--value {
            .flex-container(column, center, flex-end);
            padding-right: 20px;
        }

        &--caption {
            .flex-container(row, center, center);
            flex-basis: 50%;
            font-size: 16px;
            font-weight: 600;
        }

        &--inner-caption {
            .flex-container(row, center, center);
            font-weight: 600;
            font-size: 13px;
        }
    }

    &__close-button {
        position: absolute;
        right: -40px;
        top: 0;
        font-size: 24px;
    }
}

.action-dialog {
    .flex-container(column, flex-start, stretch);
    min-width: 500px;


    &__header {
        .flex-container(row, center, center);
        position: relative;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        height: 70px;
        background: @bunker;
        padding: 20px;
    }

    &__body {
        .flex-container(column, flex-start, stretch);
        background: white;
    }

    &__content {
        margin: 50px 30px 10px;
    }

    &__action-bar {
        .flex-container(row, center, center);
        margin: 30px 50px 40px;
    }

    &__close-button {
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 25px;
    }
}

.delete-lineup {
    .flex-container(column, flex-start, center);

    &__text {
        color: @dimGray;
        font-size: 12px;
        font-weight: 600;
    }

    &__name {
        color: @balticSea;
        font-size: 14px;
        font-weight: 700;
    }
}

.save-lineup {
    .flex-container(column, flex-start, stretch);

    &__row {
        .flex-container(row, space-around, center);
    }

    &__input-wrapper {
        .flex-container(column, flex-start, stretch);
    }

    &__cell {
        .flex-container(column, flex-start, flex-end);
    }

    &__title {
        font-size: 10px;
    }

    &__value {
        font-size: 16px;
        font-weight: 700;
    }

    &__input {
        margin: 40px 60px 0;

        .ui-input__el {
            width: 100%;
            background: @whisper;
            text-transform: none;
        }
    }

    &__error {
        margin-top: 15px;
        margin-left: 60px;
        font-size: 12px;
        color: red;
    }
}


.lineup-saved {
    .flex-container(column, flex-start, center);

    color: @dimGray;
    width: 400px;
    background: white;
    padding: 30px 50px 40px;
    font-size: 12px;

    &__name {
        font-size: 16px;
        font-weight: 700;
        color: @mariner;
        text-transform: uppercase;
        margin: 8px 0 12px;
        word-break: break-word;
    }

    &__icon {
        margin-bottom: 20px;
        margin-right: -10px;
    }

    &__btn {
        margin-top: 20px;
    }
}
