.filter-base {
    .flex-container(row, space-between, center);
    padding: 0 0 0 35px;
    height: 100px;
    border-bottom: 1px solid #272f3d;
    background-color: #34373b;

    &__slider {
        .flex-container(row, space-between, center);
        margin: 0 0 10px 100px;
    }
    &__title {
        font: 300 12px @latoBlack;
        color: @white;
        text-transform: uppercase;
        margin: 23px 15px 0 0;
    }
    &__buttons {
        .flex-container(row, space-between, center);
        .btn {
            margin: 0 5px;
        }
    }
    &__more-btn {
        align-self: stretch;
        width: 80px;
        background-color: #4d68a7;
        text-align: center;
        cursor: pointer;
        .icon {
            margin: 40px 0 0;
        }
        &:hover {
            background-color: lighten(#4d68a7, 10);
        }
    }
}

.customized-slider {
    width: 300px;
    margin: 0 7px 0 7px;

    &__label {
        font: 300 16px @latoRegular;
        color: @blueFont;
        margin-bottom: 10px;
    }

    &__rc {
        margin: 0 0 10px;
        width: 92% !important;
        .rc-slider-handle {
            border: 6px solid #4d68a7;
            width: 25px;
            height: 25px;
            margin-top: -11px;
        }
        .rc-slider-track {
            background-color: #4d68a7 !important;
        }
    }

    &__value {
        .flex-container(row, space-between, center);
        margin: 0 0 15px;
        width: 96%;
    }
    &__num {
        font: 300 12px @latoBlack;
        color: @white;
    }
}
