.filter-extend {
    background-color: #34373b;
    padding: 0 35px 0;

    &__row {
        .flex-container(row, space-between, stretch);
    }
    &__type {
        margin: 20px 5px;
        width: 49%;
    }
    &__title {
        font: 300 12px @latoBlack;
        color: #5c7fc9;
        text-transform: uppercase;
        margin: 0 0 10px;

    }
    &__info-icon {
        margin: 0 10px;
        cursor: pointer;
    }
    &__info-content {
        position: absolute;
        bottom: 25px;
        left: 0;
        visibility: hidden;
        z-index: 10;
        max-width: 350px;
        padding: 5px 8px;
        background: @white;
        color: @black;
        font: 600 12px @regular;

    }
    &__info-list {
        list-style: disc;
        padding: 0 0 0 17px;
    }
    &__buttons {
        margin: 15px 0 0;
        .flex-container(row, flex-start, flex-start);
        flex-wrap: wrap;
        .btn {
            margin: 0 5px;
        }
    }
}
