.filter-menu {
    background-color: #33405b;
    width: 220px;
    height: 500px;
    padding: 20px 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    overflow-y: auto;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 10;

    &__search {
        padding: 0 20px 20px;
    }
    &__check-icon {
        color: @blueFont;
    }
    &__link {
        display: block;
        text-decoration: none;
        padding: 10px 20px;
        margin: 2px 0;
        color: #95989a;
        background-color: #33405b;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: lighten(#33405b, 5);
        }
        &--selected {
            .flex-container(row, space-between, center);
            color: #55668a;
            &:hover {
                background-color: #33405b;
            }
        }
        &--drop-link {
            color: @white;
            background-color: #2b3449;
            padding: 10px 20px 10px 30px;
            text-transform: none;
        }
        &--head {
            color: @blueFont;
            background-color: #232938;
            text-transform: uppercase;
            &:hover {
                background-color: #232938;
            }
        }
    }
    &__drop-list {
        transition: all .3s ease-in-out;
        transform: scaleY(0);
        transform-origin: center top;
        height: 0;
        &--visible {
            transform-origin: center top;
            transform: scaleY(1);
            height: auto;
        }
    }
}
