.play-with-friends {
    width: 100%;

    &__content {
        padding: 0 15px;

        .friends__challenge-action {
            .btn {
                font-size: 18px;
            }
        }
    }
}

.connect-facebook {
    padding-top: 320px;
    background: transparent url(/static/img/challenge-friends-bg.jpg) no-repeat;
    background-position-y: -30px;
    width: 1200px;
    height: 770px;
    border-radius: 5px;
    overflow: hidden;

    font: 300 16px/25px @latoMedium;
    color: @white;

    &__row {
        margin-bottom: 40px;
        text-align: center;
    }

    &__text {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__button {
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: #3b5998;
        border: 1px solid lighten(#3b5998, 5%);

        line-height: 25px;

        .icon-wrap {
            padding: 14px 20px;
            border-right: 1px solid lighten(#3b5998, 5%);

            .icon {
                vertical-align: middle;
            }
        }

        .label {
            font: 300 16px/25px @latoBlack;
            letter-spacing: 1px;
            padding: 14px 25px;
        }
    }
}

.friends {
    margin: 0 0 50px;

    &__info {
        .flex-container(row, flex-start, center);
    }
    &__img {
        margin: 0 35px 0 0;
        height: 80px;
    }
    &__name {
        font: 300 20px @latoBlack;
        text-transform: uppercase;
    }
    &__register {
        .flex-container(row, space-between, center);
        font: 300 20px @latoBlack;
    }
    &__button {
        font: 300 20px @latoBlack;
        text-align: center;
    }
    &__item {
        .base-item (@hover: false);
        .flex-container(row, space-between, center);
        padding: 0 35px 0 0;
    }
    &__filters {
        background-color: #42454b;
        height: 100px;
        padding: 10px 35px;
        .flex-container(row, flex-start, center);
    }
    &__search {
        margin: 0 0 0 55px;
    }
    &__title {
        display: inline-block;
        height: 50px;
        margin: 0;
        line-height: 50px;
        background-color: #0c2337;
        padding: 0 40px;
    }
    &__head {
        .header();
        .flex-container(row, space-between, center);
    }
    &__head-item {
        cursor: pointer;
        .icon {
            margin: 0 5px;
        }
    }
    &__row {
        position: relative;
    }
}
