.games-schedule {
    width: 100%;
    position: relative;

    &__content {
        overflow-x: hidden;
        position: relative;
    }
    &__icon-left,
    &__icon-right {
        height: 50px;
        width: 30px;
        padding: 16px 0 0 10px;
        position: absolute;
        top: 0;
        cursor: pointer;
        background-color: #4d68a7;
        border-top: 1px solid #4b505a;
        border-bottom: 1px solid #4b505a;
        .icon {
            opacity: .2;
        }
        &:hover {
            .icon {
                opacity: 1;
            }
        }
    }
    &__icon-left {
        left: 0;
    }
    &__icon-right {
        right: 0;
    }
    &__inner {
        overflow-x: scroll;
        overflow-y: hidden;
        width: auto;
        white-space: nowrap;
    }
    &__day {
        display: inline-block;
        white-space: nowrap;
    }
    &__top {
        .flex-container(row, flex-start, center);
        background-color: #4d68a7;
        padding: 7px 20px 6px 35px;
        height: 50px;
        box-sizing: border-box;
        border-top: 1px solid #4b505a;
        border-bottom: 1px solid #4b505a;
        border-right: 1px solid #344e89;
        border-radius: 3px;
    }
    &__date {
        font: 300 14px @latoHeavy;
        color: @white;
        text-transform: uppercase;
    }
    &__game-count {
        font: 300 10px @latoHeavy;
        color: @white;
        text-transform: uppercase;
    }
    &__item {
        display: inline-block;
        vertical-align: top;
        margin: 10px 15px 0 0;
        background-color: #ffffff;
        border-radius: 2px;
        width: 120px;
        height: 155px;
        box-sizing: border-box;
        color: #434343;
        border: 1px solid #e1e1e1;
        box-shadow: 0 4px 15px -5px #000000;
        transition: @transition;
        &--wide {
            width: 230px;
            height: 130px;
            padding: 20px 10px 10px;
            position: relative;
            text-align: center;
            background: url(/static/img/lobby/schedule-bg.png) no-repeat center center;
            background-size: cover;
            &:hover {
                border: 1px solid #4b505a;
                box-shadow: 0 4px 20px -5px #000000;
                transform: scale(1.03);
                .games-schedule__win {
                    opacity:1;
                }
                .games-schedule__win-info {
                    transform: translateY(0);
                }
                .games-schedule__weather {
                    transform: translateY(0);
                }
            }
        }
    }
    &__items-wrap {
        padding: 0 20px 0 35px;
        border-right: 1px solid #5d697e;
    }
    &__teams {
        .flex-container(row, space-between, flex-start);
        height: 90px;
        padding: 10px 15px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #b4b7bb;
    }
    &__team-abbr {
        font: 600 15px @latoMedium;
        color: @black;
    }
    &__team-item {
        text-align: center;
    }
    &__img {
        height: 35px;
    }
    &__time, &__result {
        height: 65px;
        padding:  23px 0 0;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
        font: 300 14px @latoHeavy;
        color: @black;
        background-color: #e1e1e1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__result {
        padding: 10px 0;
    }
    &__scores {
        .flex-container(row, space-between, center);
        padding: 0 30px 0;
        margin-bottom: 3px;
    }
    &__status {
        color: @red;
    }
    &__tour {
        font: 300 13px @latoHeavy;
        color: #494949;
        white-space: normal;
        margin: 0 0 5px 0;
    }
    &__tour-date {
        font: 300 10px @latoHeavy;
        color: #797a7b;
        white-space: normal;
        margin: 0 0 10px 0;
        text-transform: uppercase;
    }
    &__money {
        font: 300 14px @latoHeavy;
        white-space: normal;
        color: #344e89;
        margin: 0 0 7px 0;
    }
    &__purse {
        font: 300 10px @latoMedium;
        color: #a0a0a0;
        text-transform: uppercase;
    }
    &__win-info {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding: 0 1px;
        white-space: normal;
        text-align: center;
        text-transform: uppercase;
        transition: @transition;
        transform: translateY(-400px);

    }
    &__win {
        opacity: 0;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 25px 12px 5px;
        background: url(/static/img/lobby/schedule-bg-active.png) no-repeat center center;
        background-size: cover;
        transition: @transition;
        overflow: hidden;
        border-radius: 2px;
    }
    &__win-money {
        font-family: @latoHeavy;
        font-size: 14px;
        color: @white;
        margin: 0 0 10px;
    }
    &__win-text {
        font-family: @latoMedium;
        font-size: 8px;
        color: #92b0f6;
    }
    &__weather {
        .flex-container(row, center, center);
        transform: translateY(300px);
        transition: @transition;
    }
    &__weather-info {
        height: 35px;
        width: 24%;
        background-color: #293f71;
        font: 300 14px @latoHeavy;
        color: @white;
        text-transform: uppercase;
        margin: 10px 1px 0 0;
        padding: 6px 0 0;

        &:last-child {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        &:first-child {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
    }
    &__temp {
        font: 300 7px @latoHeavy;
        color: #afb6c4;
    }

    &__no-games {
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: none;
        text-align: center;
        padding: 10px 30px 8px;
        background-color: #42606c;
        border-radius: 3px;
    }
}
