.my-games {
    position: relative;

    &__top {
        background-size: cover;
        padding: 30px 45px;

        > :not(:last-child) {
            margin-bottom: 30px;
        }

        &--golf {
            background: url("/static/img/lobby/mygames-golf-bg.jpg") no-repeat center center;
        }
        &--nfl {
            background: url("/static/img/lobby/mygames-nfl-bg.jpg") no-repeat center center;
        }
        &--nba {
            background: url("/static/img/lobby/mygames-nfl-bg.jpg") no-repeat center center;
        }
    }
    &__filters {
        .flex-container(row, space-between, center);
    }
    &__filter-buttons {
        .btn {
            margin-right: 10px;
        }
    }
    &__play {
        margin: 35px auto 0;
        text-align: center;
    }
    &__more {
        text-align: center;
        padding: 10px 0;
    }
}
