
.golf-game-selector {
    .flex-container(row, space-between, center);

    &__item {
        width: 385px;
        min-height: 465px;
        padding: 20px 40px 10px;
        box-sizing: border-box;
        text-align: center;
        background-color: @white;
        color: @black;
        border-radius: 3px;
        transition: @transition;
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    }
    &__img {
        margin: 0 0 5px;
    }
    &__title {
        font: 300 24px/24px @montserratBlack;
        text-transform: uppercase;
        &--blue {
            color: #499ce3;
        }
        &--green {
            color: #7fb05e;
        }
        &--orange {
            color: #ebab45;
        }
    }
    &__diff {
        font: 300 10px @latoMedium;
        text-transform: uppercase;
        margin: 0 0 10px;
        color: #b5b5b5;
    }
    &__desc {
        font: 300 12px/18px @latoMedium;
        letter-spacing: 1.2px;
        margin: 0 0 10px;
        height: 70px;
        color: #7c7c7c;
    }
    &__btn {
        margin: 0 0 10px;
    }
}
