.handicap-legend {
    .flex-container(row, flex-start, center);
    padding: 30px 0 0;
    background-color: #2d323b;
    min-width: 1200px;
    &__left {
        width: 120px;
        height: 105px;
        font-family: @latoHeavy;
        font-size: 14px;
        color: #7b7e83;
        text-transform: uppercase;
        text-align: center;
    }
    &__right {
        .flex-container(row, flex-start, center);
    }
    &__item {
        width: 152px;
        height: 105px;
        padding: 0 30px 0 22px;
        box-sizing: border-box;
        position: relative;
    }
    &__stroke {
        font-family: @latoHeavy;
        font-size: 10px;
        color: #717785;
        text-transform: uppercase;
    }
    &__type {
        font-family: @latoHeavy;
        font-size: 10px;
        color: #aeb3bd;
        text-transform: uppercase;
        margin: 0 0 12px;
    }
    &__desc {
        font-family: @latoMedium;
        font-size: 12px;
        color: #717785;
    }
}
.legend-icon {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0;
    &--handicap {
        background-color: #4d9466;
    }
    &--albatross {
        background-color: #009bdc;
    }
    &--eagle {
        background-color: #9f62ea;
    }
    &--birdie {
        background-color: #946c4f;
    }
    &--par {
        background-color: #a3bb45;
    }
    &--bogey {
        background-color: #ea5d1f;
    }
    &--double-bogey {
        background-color: #c13636;
    }
}
