.handicap-card {
    &__top {
        margin: 0 0 30px;
    }
    &__title {
        font-family: @latoHeavy;
        font-size: 14px;
        color: @white;
        opacity: .78;
        text-transform: uppercase;
    }
    &__title-small {
        font-family: @latoHeavy;
        font-size: 10px;
        color: @white;
        opacity: .78;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: #5e6877;
        margin: 15px 0 0;
    }
    &__progress {
        height: 1px;
        background-color: #56cc6a;
        position: relative;
    }
    &__circle {
        position: absolute;
        right: -3px;
        top: -3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #d5f0d7;
        box-shadow: 0 0 10px 2px rgba(14, 235, 175, 0.5);
    }

    &__golfer-items {
        .flex-container(row, space-around, center);
        flex-wrap: wrap;
        margin: 0 0 30px;
    }
    &__table {
        width: 100%;
        overflow-x: auto;
    }
    &__item {
        .flex-container(row, space-between, center);
        background-color: #fff;
        border-radius: 3px;
        padding: 10px 20px 0 30px;
        height: 80px;
        cursor: pointer;
        width: 32%;
        min-width: 277px;
        transition: @transition;
        margin: 5px;
        &:hover {
            background-color: #3c5ca5;
            .handicap-card__name {
                color: @white;
            }
            .handicap-card__country {
                color: #99afe2;
            }
        }
        &--active {
            background-color: #3c5ca5;
            .handicap-card__name {
                color: @white;
            }
            .handicap-card__country {
                color: #99afe2;
            }
        }
    }
    &__golfer {
        .flex-container(row, flex-start, center);
    }
    &__golfer-info {
        margin: 0 0 0 30px;
    }
    &__name {
        font-family: @latoBlack;
        font-size: 14px;
        line-height: 14px;
        color: #4d5156;
        text-transform: uppercase;
        margin: 0 0 10px;
    }
    &__country {
        font-family: @latoMedium;
        font-size: 10px;
        color: #a2a2a2;
        text-transform: uppercase;
        .flex-container(row, flex-start, center);
        .flag-wrap {
            margin:0 5px 0 0;
        }
    }
    &__legend {
        width: 100%;
        overflow-x: auto;
    }
}
