.leaderboard {
    &__left,
    &__right {
        display: inline-block;
        vertical-align: top;
    }
    &__left {
        width: 79.9%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        position: relative;
    }
    &__right {
        width: 19.9%;
        background-color: #34373b;
        border-top: 1px solid #3c3f45;
        border-right: 1px solid #3c3f45;
        border-bottom: 1px solid #3c3f45;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__item {
        .base-item(@hover: false);
        background-color: @grayRowBackground;
        height: 60px;
    }
    &__golfers-list {
        height: 300px;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    &__tours-list {
        height: 350px;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    &__item-cell {
        font: 300 12px @latoMedium;
        color: #707070;
        text-align: center;
        box-sizing: border-box;
        &--pos {
            color: #4d68a7;
        }
        &--name {
            font-family: @latoBlack;
            font-size: 12px;
            color: @black;
            text-align: left;
            padding: 0 0 0 20px;
        }
    }
    &__tour-name {
        font: 300 13px/15px @latoHeavy;
        color: #676e77;
    }
    &__tour-info {
        font: 300 12px @latoMedium;
        color: #676e77;
        text-transform: uppercase;
    }
    &__purse {
        font: 300 12px @latoMedium;
        color: #676e77;
        text-transform: uppercase;
    }
    &__purse-count {
        font: 300 12px @latoMedium;
        color: #b4bed5;
    }
    &__tournament {
        padding: 15px 20px 10px;
        cursor: pointer;
        transition: @transition;
        height: 100px;

        &--active {
            background-color: #344e89;
            .leaderboard__tour-info {
                color: #92b0f6;
            }
            .leaderboard__tour-name {
                color: @white;
            }
        }
        &:hover {
            background-color: #344e89;
            .leaderboard__tour-info {
                color: #92b0f6;
            }
            .leaderboard__tour-name {
                color: @white;
            }
        }
    }
}
