.roster-container {
    max-width: 1200px;
    margin: auto;

    &__header {
        .flex-container(row, space-between, flex-start);
        margin: 30px 0;
    }

    &__title {
        color: white;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
    }

    &__buttons {
        .flex-container(row);

        button {
            margin-left: 10px;
        }
    }

    &__input {
        min-width: 588px;

        .ui-input__el {
            text-transform: none;
            width: 100%;
        }
    }

    &__error {
        font-size: 12px;
        color: @redDark;
        padding-top: 10px;
    }
}

.lineups {
    position: relative;

    &__top {
        .flex-container(row, flex-end, center);
        margin: 0 0 10px;
    }
    &__inner {
        overflow-x: scroll;
        width: 100%;
        padding: 10px 15px;
        white-space: nowrap;
    }
    &__head {
        .flex-container(row, space-between, center);
        margin-bottom: 20px;
    }
    &__buttons {
        .flex-container(row, flex-end, center);
        padding: 10px 40px;

        .btn {
            margin: 0 5px;
        }
    }
    &__item {
        width: 576px;
        margin: 5px 10px;
        border: 2px solid @black;
        padding: 10px;
        background: #142c41;
        display: inline-block;
        vertical-align: top;
    }
    &__content {
        overflow-y: scroll;
    }
    &__info {
        margin: 0 0 15px;
    }
    &__data {
        .flex-container(row, space-between, center);
    }
    &__title {
        margin-top: 0;

        &--underlined {
            text-decoration: underline;
        }
    }

    &__title-input {
        margin-bottom: 20px;
    }
}


.lineup-overview {
    .flex-container(row, center, stretch);

    background-color: rgba(133, 167, 230, 0.2);
    box-sizing: border-box;
    padding: 0;
    margin: 10px 40px;
    height: 124px;
    border: 2px solid transparent;

    &--empty {
        .flex-container(column, center, center);

        &:hover {
            border: 2px solid #4d5c81;
            cursor: pointer;
        }
    }

    &__empty-text {
        color: white;
        font-weight: 600;
        font-size: 14px;
    }

    &__info {
        .flex-container(column, space-around, stretch);
        height: 124px;
        margin: 0;
        padding: 20px 30px;
        background: white;

        &--expanded {
            .flex-container(column, flex-end, stretch);
        }
    }

    &__title {
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
    }

    &__info-line {
        .flex-container(row, space-between, stretch);
    }

    &__info-item {
        .flex-container(column, flex-start, flex-end);
    }

    &__item-title {
        color: @lightSlateGray;
        font-weight: 600;
        font-size: 12px;
    }

    &__item-value {
        color: @mariner;
        font-weight: 700;
        font-size: 14px;
    }

    &__buttons {
        .flex-container(row, space-around, center);
        background: white;
        height: 124px;
        padding: 30px;
    }

    &__input {
        border: 1px solid @dimGray;
        border-radius: 2px;

        .ui-input__el {
           text-transform: none;
        }
    }

    &__error {
        font-size: 12px;
        color: @redDark;
    }
}

.competition-players {
    &--lineup {
        border: none;

        .competition-players__top {
            height: 90px;
        }

        .competition-players__bottom {
            height: 34px;
        }

        .competition-players__img {
            top: 20px;

            img {
                height: 70px;
            }
        }

        .competition-players__img-wrapper {
            height: 90px;
        }

        .button-expand {
            top: 37px;
        }

        .competition-players__pos-wrapper {
            .flex-container(row, center, center);
            width: 100%;
        }

        .competition-players__pos {
            width: 60px;

            &--lineup {
                padding-left: 30px;
            }
        }

        .competition-players__img-8 {
            left: 450px;
        }

        .placeholder-img {
            cursor: default;
        }
    }
}

.img-z-index-loop-2 (@i, @r) when (@i >= 0) {
    .competition-players--lineup {
        .competition-players__img-@{i} {
            left: @r*1px;
        }
    }

    .img-z-index-loop-2(@i - 1, @r - 60);
}

.img-z-index-loop-2(7, 340);
