.lineup-edit {
    .flex-container(row, space-between, flex-start);
    margin: 50px 30px;

    &__select-list {
        width: 48%;
        margin: 0 5px;
        box-sizing: border-box;
    }
    &__team-list {
        width: 48%;
        margin: 0 5px;
        box-sizing: border-box;
    }
    &__team-list-inner {

        &--fixed {
            position: fixed;
            top: 95px;
            bottom: 70px;
        }
    }
    &__table {
        height: 100%;
        padding: 0 0 100px;
        overflow-y: scroll;
    }
    &__team-filter {
        margin: 0 0 55px;
    }
    &__filters-top {
        margin: 0 0 20px;
        .flex-container(row, space-between, center);
        .ui-input {
            max-width: 150px;
        }
    }
    &__filters {
        padding: 30px 0 0;
        background: #0e1627;
        z-index: 1;
        &--fixed {
            position: fixed;
            top: 65px;
        }
    }
}
