.next-game-info {
    background:#b4b7bb url("/static/img/lobby/mygames-counter-bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 10px 30px;
    border-top: 1px solid #2a2f39;
    .flex-container(row, space-between, center);

    &__item {
        text-align: center;
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }
    &__weather {
        .flex-container(row, space-between, center);
        padding: 5px 17px;
        margin: 0 10px;
        height: 80px;
    }
    &__temp {
        font: 600 36px @latoHeavy;
        color: @white;
    }
    @media(max-width: 1200px){
        &__temp {
            font: 600 25px @latoHeavy;
        }
    }
}

.game-countdown {

    &__item {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 5px 17px;
        width: 80px;
        margin: 0 5px;
        height: 80px;
    }
    &__num {
        font: 300 36px/47px @latoHeavy;
        color: @white;
    }
    &__text {
        font: 300 10px @latoMedium;
        color: #303e47;
    }
}
