.notifications-box {
    position: relative;
    cursor: default;
}

.notification-popup {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    opacity: 1;

    &__inner {
        position: relative;
        padding: 10px;
        background: #16232c;
    }
}

.notification-item {
    padding: 25px 30px 15px;
    border-bottom: 1px solid #d3d3d3;
    background: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    font: 300 12px @latoHeavy;
    &:hover {
        .notification-item__red-cross {
            display: block;
        }
    }

    &--unread {
        background: @white;
    }
    &__time {
        font: 300 10px @latoHeavy;
        color: #696969;
        position: absolute;
        top: 15px;
        right: 30px;
    }
    &__title {
        position: relative;
        font: 600 12px @latoHeavy;
        margin: 0 0 10px 0;
    }
    &__red-icon {
        position: absolute;
        display: block;
        left: -15px;
        top: 5px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #dc2b2b;
    }
    &__red-cross {
        position: absolute;
        top: 13px;
        right: 10px;
        display: none;
    }
    &__text {
        font: 300 12px @latoHeavy;
    }
}
