@participantBackground: #161e2e;
@participantBackgroundInactive: #2d303b;
@participantBackgroundHover: #252a3d;

.participant-item {
    .flex-container(row, space-between, stretch);
    background: @participantBackground;
    height: 55px;
    cursor: pointer;
    color: @white;
    margin: 2px 0;
    padding:0 10px;

    &:hover {
        background: @participantBackgroundHover;
    }
    &--empty {
        .flex-container(row, flex-start, stretch);
        background: @participantBackgroundInactive;
        color: @grayFont;
        &:hover {
            background: @participantBackgroundInactive;
        }
    }
    &--disabled {
        cursor: default;
        color: @white;
    }
    &--active {
        background: @participantBackgroundHover;
    }
    &--active-hover {
        background: @participantBackgroundHover;
    }
    &__el {
        padding: 5px;
        font: 300 14px @latoMedium;
        .flex-container(column, center, center);

        opacity: 1;
        transition: opacity .2s ease-out;

        &--disabled {
            opacity: 0;
        }

        &--img {
            img {
                height: 26px;
            }
        }
        &--role {
            font-size: 12px;
            .flex-container(row, flex-start, center);
            span {
                padding: 0 5px;
            }
        }
        &--name {
            .flex-container(row, flex-start, center);
        }
        &--red {
            color: @red;
        }
        &--green {
            color: @green;
        }
    }
}
