@colorDimmed: #838383;

.player-photo {
    display: inline-block;
    padding: 9px 0 0;

    &__image {
        display: block;
        height: 100%;
        width: auto;
    }
}

.player-info-dialog {
    position: relative;
    font-family: @latoMedium;
    color: #333;
    min-width: 740px;

    &.common-dialog {
        padding: 0;
    }

    &__close {
        position: absolute;
        right: -40px;
        top: 0;
        font-size: 24px;
    }
    &__star-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 46px;
        padding: 11px 0 0;
        background-color: #e7e7e7;
        border:1px solid #d0d0d0;
        border-bottom-left-radius: 3px;
        text-align: center;
    }
    &__top {
        .flex-container(row, space-between, stretch);
        border-bottom: 1px solid #e5e5e5;
        padding: 30px 30px 0 40px;
    }
    &__row {
        .flex-container(row, space-between, stretch);
        padding: 15px 30px 15px 40px;

        .player-summary {
            flex-grow: 2;
            margin-right: 14px;
        }
        .btn {
            margin: 0 3px;
        }
    }
}

.player-info {
    &__name {
        font: 600 28px @montserratBlack;
        margin: 0 0 5px;
    }
    &__team {
        font: 300 11px @latoMedium;
        color: #009cdd;
        text-transform: uppercase;
    }
    &__num {
        font-size: 11px;
        font-family: @latoBlack;
        color: #666666;
        text-transform: uppercase;
    }
    &__data {
        font-size: 11px;
        font-family: @latoMedium;
        color: #a0a1a1;
        text-transform: uppercase;
    }
    &__game {
        font: 300 11px @latoBlack;
        margin: 0 0 5px;
        color: @colorDimmed;

        strong {
            color: #333;
        }
    }

    &__salary,
    &__fppg {
        font-size: 24px;
        font-weight: 500;
        font-family: @latoBlack;
    }

    &__salary {
        color: @green;
        padding-top: 10px;
    }

    &__fppg {
        color: @black;
        margin-left: 15px;
    }

    &__short-stats {
        .flex-container(row, flex-start, center);
        line-height: 1.5;
        margin-top: 25px;
    }
}

.player-summary {
    .flex-container(row, space-between, stretch);
    padding: 10px 40px;
    background: linear-gradient(to bottom, #061026, #1e2c46);

    &__item {
        text-align: center;
    }

    &__label,
    &__value {
        display: block;
    }

    &__label {
        font: 600 11px @latoBlack;
        text-transform: uppercase;
        color: #5c7fc9;
        margin-bottom: 5px;
    }
    &__value {
        font: 600 18px @latoBlack;
        color: #acb8c0;
        text-transform: uppercase;
    }

    &__content {}
}


.statistics-label {
    text-transform: uppercase;
    cursor: help;
}

@table-border: #efefef;

.game-log-table {
    font: 600 11px @latoBlack;
    color: #777777;

    .public_fixedDataTable_main,
    .public_fixedDataTableRow_main {
        border-color: @table-border;
    }

    .public_fixedDataTableCell_main {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid @table-border;
    }

    .public_fixedDataTable_header {
        background: @table-border;
        font: 600 11px @latoBlack;
        color: #565656;
    }

    &__header-cell {
        text-align: center;
        cursor: default;
        text-transform: uppercase;
    }

    &__data-cell {
        text-align: center;
        cursor: default;
        border-bottom: 1px solid @table-border;
    }
}

.player-chart-custom-tooltip {
    width: 110px;
    background: white;
    border: 1px solid @table-border;
    box-shadow: 0 0 3px #aaa;
    padding: 5px;
    border-radius: 3px;
    color: @colorDimmed;

    strong {
        font-weight: bold;
        color: @black;
    }
}

.player-comparison-legend {
    font-size: 14px;
    border: 1px solid @table-border;
    margin-top: 8px;
    background: white;
    min-width: 200px;

    &__item {
        .flex-container(row, space-between, center);

        height: 36px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    &__item-color {
        width: 8px;
        min-width: 8px;
        height: 36px;
    }

    &__item-color,
    &__item-photo,
    &__item-remove {
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__item-photo {
        margin-right: 4px;
    }

    &__item-value {
        width: 120px;
        text-overflow: ellipsis;
    }

    &__item-value-name,
    &__item-value-team {
        white-space: nowrap;
    }

    &__item-value-team {
        font-size: 12px;
        color: @colorDimmed;
    }
}

.tab-panel {
    &__controls {
        .flex-container(row, space-between, stretch);
        text-align: center;
        line-height: 1.5;
    }

    &__tab {
        height: 55px;
        display: block;
        width: 100%;
        font: 400 14px @latoBlack;
        color: #9a9a9a;
        background-color: #f1f1f1;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;

        [role=label] {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            display: block;
            margin-top: 16px;
        }

        [role=underline] {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background: transparent;
        }

        &--active {
            color: @red;
            background-color: @white;
            [role=underline] {
                background: @red;
            }
        }

    }
}

.season-switcher {
    .flex-container(row, center, center);

    min-width: 700px;
    padding: 2px 0;

    .btn {
        height: 30px;
        box-shadow: none;
    }
    .btn__text {
        white-space: nowrap;
    }
}
