.prediction-card {
    min-width: 1200px;
    border-bottom: 1px solid #3a4049;
    &__top {
        .flex-container(row, space-between, center);
        background-color: #2d323b;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-left: 1px solid #57616c;
        border-top: 1px solid #57616c;
        border-right: 1px solid #57616c;
        padding: 18px 30px;
    }
    &__inner {
        font-size: 0;
    }
    &__left {
        display: inline-block;
        vertical-align: top;
        width: 120px;
    }
    &__right {
        display: inline-block;
        vertical-align: top;
    }
    &__total {
        display: inline-block;
        vertical-align: top;
        width: 100px;
    }
    &__table {
        .flex-container(row, flex-start, center);
    }
    &__column {
        width: 60px;
        &:hover {
            .prediction-card__column-top {
                background-color: @white;
            }
            .prediction-card__column-bottom {
                background-color: #373b42;
            }
            .prediction-cell--empty {
                background-color: #717785;
                border: 3px solid #434851;
            }
        }
        &--result {
            width: 54px;
        }

        &--name {
            .flex-container(column, space-between, flex-start);
            background-color: #cfcfcf;
            font: 300 14px @latoHeavy;
            color: #3c5ca5;
            text-transform: uppercase;
            height: 155px;
            width: 100%;
            padding: 30px 5px 30px 30px;
            box-sizing: border-box;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-left: 1px solid #57616c;
            border-right: 1px solid #d3d3d3;
        }
        &--total {
            text-align: center;
            background-color: #cfcfcf;
            font: 300 14px @latoHeavy;
            color: #3c5ca5;
            text-transform: uppercase;
            height: 155px;
            width: 100%;
            padding: 30px 5px 30px 5px;
            box-sizing: border-box;
        }
        &--legend {
            .flex-container(column, space-around, center);
            height: 130px;
            width: 100%;
            padding: 23px 5px;
            box-sizing: border-box;
            background-color: #2d323b;
        }
        &--hole-by-hole {
            .flex-container(column, space-around, flex-start);
            padding: 23px 5px 23px 30px;
            height: 160px;
            width: 100%;
            box-sizing: border-box;
            font-family: @latoHeavy;
            font-size: 10px;
            color: #697182;
            text-transform: uppercase;
            background-color: #2d323b;
        }
        &--total-hole-by-hole {
            .flex-container(column, space-around, center);
            height: 130px;
            padding: 17px 5px 25px;
            width: 100%;
        }
        &--total-top-five-ball {
            .flex-container(column, space-between, flex-end);
            padding: 26px 28px 26px 5px;
            height: 110px;
        }
        &--total-five-ball {
            .flex-container(column, space-around, flex-end);
            height: 130px;
            padding: 26px 28px 26px 5px;
            width: 100%;
        }
        &--five-ball {
            height: 130px;
        }
        &--name-five-ball {
            height: 110px;
            padding: 26px 5px 26px 30px;
        }
    }
    &__column-bottom {
        .flex-container(column, space-around, center);
        height: 130px;
        padding: 23px 5px;
        transition: @transition;
        border-right: 1px solid transparent;
        box-sizing: border-box;
        background-color: #2d323b;
        &--hole-by-hole {
            height: 160px;
        }
        &--handicap {
            height: 160px;
        }
        &--five-ball {
            height: 130px;
        }
    }
    &__column-top {
        .flex-container(column, space-between, center);
        width: 100%;
        padding: 30px 5px;
        box-sizing: border-box;
        background-color: #e1e1e1;
        transition: @transition;
        font-family: @latoHeavy;
        font-size: 12px;
        color: #717274;
        border-right: 1px solid #d3d3d3;
        height: 155px;
        &--five-ball {
            height: 110px;
            padding: 26px 5px;
        }
    }
    &__cell-hole {
        color: #5f6163;
        font-size: 14px;
    }
    &__cell-legend {
        font: 300 10px @latoHeavy;
        color: #8d8d8d;
        text-transform: uppercase;
        .flex-container(row, flex-start, center);
    }
    &__cell-total {
        background-color: #3c5ca5;
        border-radius: 3px;
        text-align: center;
        width: 43px;
        height: 20px;
        padding: 4px 0;
    }
    &__par-total {
        color: #5f6163;
        font-family: @latoHeavy;
        font-size: 14px;
    }
    &__round-count {
        background-color: #3c5ca5;
        color: @white;
        font: 300 10px @latoHeavy;
        width: 39px;
        height: 20px;
        border-radius: 3px;
        margin: 0 10px 0 0;
        text-align: center;
        padding: 3px 0 0;
        &--finished {
            padding: 4px 0 0;
            background-color: #56cc6a;
        }
    }
}

// Prediction cell types
.prediction-cell {
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: @white;
    font-family: @latoHeavy;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: @transition;
    border: 3px solid transparent;
    margin: 2px 0;
    &--empty {
        background-color: #4f545e;
        &:hover {
            background-color: #717785;
            border: 3px solid #434851;
        }
    }
    &--filled {
        padding: 1px 0 0;
        background-color: #56cc6a;
    }
    &--disabled {
        background-color: #434953;
        cursor: none;
        pointer-events: none;
    }
    &--small {
        border: none;
        padding: 0;
        background-color: #959aa0;
        width: 5px;
        height: 5px;
        cursor: none;
        pointer-events: none;
    }
    &--icon {
        border-radius: 0;
        border: none;
        text-align: center;
        width: auto;
        height: auto;
    }
    &--handicap {
        background-color: #4d9466;
    }
    &--albatross {
        background-color: #009bdc;
    }
    &--eagle {
        background-color: #9f62ea;
    }
    &--birdie {
        background-color: #946c4f;
    }
    &--par {
        background-color: #a3bb45;
    }
    &--bogey {
        background-color: #ea5d1f;
    }
    &--double-bogey {
        background-color: #c13636;
    }
}
