@sortingTableBackground: #0f1727;
@sortingTableBackgroundHover: #1b2c3b;


.sorting-participant {
    border-top: 2px solid @black;
    border-bottom: 2px solid @black;

    &__table-head {
        .flex-container(row, space-between, stretch);
        width: 100%;
        height: 40px;
        padding: 0 10px;
        color: @white;
        background: @sortingTableBackground;
    }
    &__table-item {
        .flex-container(row, center, center);
        font: 300 11px/1.3 @latoMedium;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 auto;
        padding: 5px;

        &:hover {
            background: @sortingTableBackgroundHover;
        }

        &--with-photo {
            cursor: auto;
            &:hover {
                background-color: #0b1c2e;
            }
        }

        &--name {
            .flex-container(row, flex-start, center);
        }

        &--active {
            background: @sortingTableBackgroundHover;
        }
    }
}

.team-count-badge {
    border: 2px solid #caa513;
    border-radius: 3px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: .5em;

    &--full {
        background: #d9b546;
        color: white;
    }
}
