.competition-room {
    &__content {
        position: relative;
        max-width: 1200px;
        margin: auto;
    }
    &__row {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__item {
        margin: 0 0 20px 0;
        &:last-child {
            margin: 0;
        }
    }
}

.competition-head {
    &__title {
        padding: 30px 0;
    }
    &__name {
        .flex-container(row, space-between, center);
    }
    &__room-info {
        padding: 14px 30px;
        background-color: #1b2332;
        box-shadow: 0 2px 0 0 @black;
        .flex-container(row, space-between, center);
    }
    &__room-name {
        .flex-container(row, space-between, center);
        padding: 20px 30px;
        background-color: #344e89;
        border-top: 1px solid #5572b2;
        border-bottom: 1px solid #5572b2;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    &__entry {
        margin: 0 0 0 40px;
    }
    &__content {
        .flex-container(row, space-between, stretch);
        background-size: cover;
        margin: 0 0 50px 0;
    }
    &__icons-row {
        .flex-container(row, space-between, flex-end);
        margin-bottom: 35px;
    }
    &__icon-item {
        padding: 0 5px;
        text-align: center;
        min-width: 80px;
    }
    &__icon {
        .flex-container(row, space-around, center);
        margin: 0 0 5px;
    }
    &__line {
        position: relative;
        top: -4px;
        height: 1px;
        background-color: #a6adb6;
    }
    &__left {
        background: url('/static/img/competitionRoom/competition-room-info-bg.jpg') no-repeat top center;
        background-size: cover;
        width: 67%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 578px;
        &--finished {
            background: url('/static/img/competitionRoom/room_finished4.png') no-repeat -300px 50px;
            background-size: cover;
        }
        &--full {
            background: url('/static/img/competitionRoom/room_full1.png') no-repeat top center;
            background-size: cover;
        }
        &--live {
            background: url('/static/img/competitionRoom/room_live2.png') no-repeat top center;
            background-size: cover;
        }
    }
    &__finished {
        text-align: center;
        font-family: @latoBlack;
        font-size: 16px;
        color: @white;
        text-transform: uppercase;
        background-color: rgba(24,32,52, .8);
        border-radius: 3px;
        padding: 15px 10px;
        margin: 0 auto;
        width: 400px;
    }
    &__full {
        text-align: center;
    }
    &__full-title {
        font: @latoBlack;
        font-size: 16px;
        color: @white;
        text-transform: uppercase;
        margin: 0 21px 0;
    }
    &__timer {
        width: 170px;
        margin: 20px auto 0;
    }
    &__text {
        height: 75%;
        position: relative;
    }
    &__right {
        width: 32%;
    }
    &__text-top {
        font: 300 16px @latoMedium;
        color: @white;
        text-transform: uppercase;
        padding: 0 0 30px 0;
        width: 50%;
    }
    &__text-middle {
        font: 300 16px @latoMedium;
        color: @white;
        padding: 0 0 70px 0;
        width: 50%;
    }
    &__text-bottom {
        font: 300 12px @latoMedium;
        color: #4d68a7;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__info {
        padding: 40px 70px;
        height:  518px;
    }
    &__prizes-table {
        max-height: 500px;
        overflow-y: auto;
    }
}

