.stakeroom-item {
    .base-item();

    &--golf {
        padding: 0 35px 0 0;
    }
    &:hover {
        .stakeroom-item__games-count {
            color: @white;
        }
        .stakeroom-item__max-entries {
            color: #b8c9f0;
        }
    }

    &__icon {
        margin: 0 5px;
    }
    &__name {
        font: 300 13px @latoMedium;
        letter-spacing: normal;
        .flex-container(row, flex-start, center);
    }
    &__games-count {
        letter-spacing: normal;
        color: @blueFont;
        font: 300 16px @latoBlack;
    }
    &__max-entries {
        letter-spacing: normal;
        color: @black;
        font: 300 16px @latoBlack;
    }
    &--stake {
        cursor: pointer;
    }
    &__badge {
        width: 90px;
        height: 100%;
        color: @white;
        font-family: @latoBlack;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        margin-right: 15px;
        .flex-container(row, center, center);

        &--five-ball {
            background-color: #499ce3;
        }
        &--handicap {
            background-color: #7fb05e;
        }
        &--hole-by-hole {
            background-color: #ebab45;
        }
    }
}
