.steps {
    width: 100%;

    &__list {
        position: relative;
        .flex-container(row, space-between, stretch);
        height: 70px;
        background: #161e2e;
    }
}

.step {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px 0 10px;
    font: 300 16px/1 @latoHeavy;
    text-transform: uppercase;
    color: #acb8c0;
    cursor: pointer;
    border-bottom: 6px solid transparent;

    &:hover {
        background: #1f2e47;
        border-bottom: 6px solid #a33333;
    }
    &__number {
        margin: 0 9px 0 0;
        font-size: 24px;
    }
    &__help-btn {
        position: absolute;
        top: 26px;
        right: 9px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    &.active {
        background: #1f2e47;
        color: @blueFont;
        border-bottom: 6px solid #a33333;

        &:hover {
            background: #1f2e47;
            color: @blueFont;
            border-bottom: 6px solid #a33333;
        }
    }
}
