.team-filter {
    .flex-container(row, flex-start, stretch);

    &__games {
        width: 75%;
        overflow-x: hidden;
    }
    &__inner {
        .flex-container(row, flex-start, stretch);
    }
    &__item {
        min-width: 90px;
        height: 90px;
        margin: 0 5px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #353c4a;
        background: #283245;
        color: @white;
        cursor: pointer;
        &:hover {
            background: lighten(#283245, 10);
        }
        &--active {
            background: lighten(#283245, 10);
        }

        &--first {
            .flex-container(column, center, center);
            width: 20%;
            max-width: 100px;
            min-width: initial;
            margin: 0 10px 0 0;
        }
        &--arrow {
            .flex-container(column, center, center);
            background: #1e283c;
            width: 30px;
            min-width: initial;
            margin: 0 2px;
            border-radius: 0;
            &:hover {
                background: #0a2451;
            }
        }
    }
    &__title {
        font: 600 11px/1.3 @latoMedium;
        text-transform: uppercase;
    }
    &__count {
        font: 600 22px @latoMedium;
    }
    &__time {
        height: 30px;
        padding:  6px 0 0;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
        font: 300 12px @latoHeavy;
        color: @grayFont;
        background-color: #1b2332;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__teams {
        .flex-container(row, space-between, center);
        height: 58px;
        font: 600 12px @latoMedium;
        color: @white;
        padding: 10px 15px 0;
    }
}
