.team-info {
    .flex-container(row, space-between, center);
    height: 90px;
    padding: 15px 15px 5px;
    background: #0e1627;

    &__item {
        text-align: center;
    }
    &__type {
        color: @white;
        font: 600 11px/1.3 @latoMedium;
        text-transform: uppercase;
    }
    &__value {
        color: white;
        font-size: 22px;
        &--green {
            color: @green;
        }
    }
}
