
.tooltip {
    position: relative;
    background: @white;
    color: @black;
    &__inner {
        text-indent: 3px;
    }
}

.tooltip {
    &:after,
    &:before {
        top: 100%;
        left: 50%;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
    }
}

.tooltip {
    &:after {
        border-width: 10px;
        margin-left: -10px;
    }
}
.tooltip {
    &:before {
        border-width: 13px;
        margin-left: -13px;
    }
}

.tooltip-position-fix {
    position: absolute;
    left: 50%;
    bottom: 35px;
    width: 120px;
    margin-left: -60px;
}

//-------------------------------------------------


.tooltip-view {
    background: #1496bb;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    position: fixed;
    max-width: 430px;
    z-index: 9999;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-radius: 3px;

    &:before {
        bottom: -15px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &--top.tooltip-view--two-column {
        background: white;
        padding: 0;
        max-width: 600px;
        color: #9a9a9a;

        &:after {
            border-top: solid white 10px;
        }
    }

    &--top {
        &:after {
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-top: solid #1496bb 10px;
            bottom: -10px;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -10px;
            position: absolute;
            width: 0;
        }
    }

    &--bottomLeft {
        &:after {
            content: " ";
            position: absolute;
            bottom: 100%;  /* At the top of the tooltip */
            left: 100%;
            margin-left: -25px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #1496bb transparent;
        }
    }

    &--white {
        background: white;
        color: black;
    }

    &--bottomLeft.tooltip-view--white {
        &:after {
            border-color: transparent transparent white transparent;
        }
    }

    &--light-gray {
        background: #e1e1e1;
    }

    &--bottomLeft.tooltip-view--light-gray {
        &:after {
            border-color: transparent transparent #e1e1e1 transparent;
        }
    }

    &--notification {
        width: 430px;
    }
}

.tooltip-container {
    display: inline-block;
}

.tooltip-content {
    box-shadow: 0 0 12.75px 2.25px rgba(0, 0, 0, 0.35);

    &__close-button {
        position: absolute;
        top: 12px;
        right: 15px;
        cursor: pointer;
    }

    &__header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 10px 30px;
        background: #e1e1e1;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #3c5ca5;
    }

    &__text {
        color: #5f6163;
        padding: 30px;
        background: white;
    }

    &__p {
        margin-top: 10px;

        &--centered {
            text-align: center;
        }
    }

    &__title {
        font: 300 10px @latoHeavy;
        color: #383b3f;
        text-transform: uppercase;
        border-bottom: 1px solid #d3d3d3;
        height: 33px;
        padding: 10px 0 0 30px;
    }

    &--texted {
        padding: 10px;
    }
}

.tooltip-icon {
    cursor: pointer;
}

.two-column-view {
    .flex-container(row, start, start);
    font-size: 12px;

    &__column {
        .flex-container(column, start, start);

        &--dark {
            background: #f1f1f1;
        }
    }

    &__title-row {
        text-transform: uppercase;
        font-weight: 600;
        border-top: 1px solid #eaeaea;
        padding: 3px 10px 3px 20px;
        .flex-container(row, space-between, start);
    }

    &__title {
        padding-right: 20px;
    }

    &__value {
        text-align: right;
        border-top: 1px solid #eaeaea;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 70px;
    }

    &__caption {
        font-size: 14px;
        padding: 10px 25px;
        font-weight: 700;
    }
}

.white-tooltip {
    color: #5f6163;
}
