.tour-switch {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &__head {
        background-color: @white;
        font-family: @latoHeavy;
        font-size: 14px;
        color: #7a7d81;
        text-transform: uppercase;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 25px 10px 0 30px;
        height: 71px;
        box-sizing: border-box;
    }
    &__el {
        height: 171px;
        padding:  20px 25px 25px 30px;
        cursor: pointer;
        .flex-container(row, space-between, center);
        background: url('/static/img/wizard/wizard-tour-bg.jpg') no-repeat center center;
        background-size: cover;
        transition: @transition;

        &:hover {

        }
        &--active {
            background: url('/static/img/wizard/wizard-tour-active-bg.jpg') no-repeat center center;
            background-size: cover;
        }

        &--inactive {
            cursor: default;
            pointer-events: none;
        }
        &--one {
            height: 345px;
        }
    }
    &__info {
        height: 100%;
        width: 80%;
        .flex-container(column, space-between, flex-start);
    }
    &__icon {
        text-align: center;
        width: 40px;
    }
}
.tour-dates {
    font-family: @latoMedium;
    font-size: 10px;
    color: #8b8b8b;
    text-transform: uppercase;
    margin: 0 0 15px;
    &--active {
        color: #d2dfff;
    }
}
.tour-name {
    color: @black;
    text-transform: uppercase;
    width: 100%;
    &__name {
        font: 300 16px/16px @latoHeavy;
        margin: 0 0 5px;
    }
    &__course {
        font-family: @latoMedium;
        font-size: 10px;
        margin: 0 0 20px;
    }
    &--active {
        color: @white;
    }
}
.tour-info {
    width: 70%;
    .flex-container(row, space-between, flex-start);
    &__title {
        font: 300 8px @latoMedium;
        color: #858585;
        text-transform: uppercase;
    }
    &__count {
        font: 300 14px @latoHeavy;
        color: #485ca1;
        margin: 0 0 3px;
    }
    &--active {
        color: @white;
        .tour-info__count {
            color: #dce4ff;
        }
        .tour-info__title {
            color: #bed2ff;
        }
    }

}

.round-switch {

    &__head {
        height:  71px;
        text-transform: uppercase;
        .flex-container(row, space-between, center);
    }
    &__title {
        font: 300 14px @latoHeavy;
        color: @white;
    }
    &__rules {
        font: 300 11px @latoMedium;
        color: #6b7ebe;
        text-decoration: none;
    }
    &__els {
        border-top: 1px solid rgba(255,255,255, .3);
        border-bottom: 1px solid rgba(255,255,255, .3);
    }

    &__el {
        height: 88px;
        padding: 0 20px;
        background-color: transparent;
        border-radius: 3px;
        cursor: pointer;
        transition: @transition;
        font: 300 16px @latoMedium;
        color: @white;
        .flex-container(row, space-between, center);

        &:hover {
            background-color: #85cb70;
            color: @black;
        }

        &--active {
            background-color: #85cb70;
            color: @black;
        }

        &--inactive {
            cursor: default;
            pointer-events: none;
        }
    }
    &__icon {
        text-align: center;
        width: 40px;
    }
}
