.user-stats {
    width: 100%;
    .flex-container(row, flex-end, stretch);

    &__person {
        .flex-container(row, center, center);
        margin: 0 5px;
    }
    &__list {
        margin: 0 20px;
        .flex-container(row, space-between, stretch);
    }
    &__item {
        position: relative;
        font-size: 15px;
        margin: auto 10px;
        text-align: center;
        color: @white;

        &.clickable {
            cursor: pointer;
        }
        &.notification {
            padding: 10px 10px 2px;
            margin: 6px auto;
            &.opened {
                background: #16232c;
            }
        }
        .tokens,
        .dollars {
            .flex-container(row, center, center);
        }
        .icon-moneybag {
            position: relative;
            top: -4px;
        }
    }
    &__buttons {
        width: 28px;
    }

    // Adaptive
    @media (max-width: 960px) {

        &__list {
            margin: 0 10px;
        }
    }
}
