.segment.salarycap .app__container {
    padding-top: 122px;
}


.wizard {
    position: relative;
    padding: 30px 0 0;

    &__head {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;

        background: #232529;
        z-index: 2;
    }

    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        z-index: 1;
    }

    .competitions {
        position: relative;

        &__head {
            z-index: 2;
        }
        &__list {
            z-index: 1;
        }
    }
}


.wizard-head {
    .flex-container(row, space-between, center);
    height: 90px;

    &__right {
        .flex-container(row, space-between, center);
    }


    &__center {
        .flex-container(row, space-between, flex-start);
        width: 46%;
    }
    &__step {
        position: relative;
        text-align: center;
        font: 300 10px @latoBlack;
        height: 65px;
        text-transform: uppercase;
    }
    &__step-name {
        position: absolute;
        bottom: 0;
        left: -38px;
        right: 0;
        width: 120px;
        color: #e0e0e0;
        &--disabled {
            opacity: .3;
        }
        &--active {
            color: @white;
        }
    }
    &__step-img {
        img {
            border-radius: 50%;
        }
        &--active {
            animation: blink 3s ease-in-out;
            img {
                animation: shadowBlink 3s ease-in-out 3s infinite;
                box-shadow: 0 0 20px 0 rgba(14,235,175, .5);
            }
        }
    }
    &__line {
        margin: 20px 5px 0;
        background-color: #75777c;
        height: 2px;
        width: 38%;
        &--half {
            background: linear-gradient(to right, #87cb72, #75777c);
        }
        &--fill {
            background-color: #87cb72;
        }
    }
    &__name {
        font: 300 22px @montserratBlack;
        color: #ffffff;
        opacity: .78;
        text-transform: uppercase;
    }
    &__name-small {
        font: 300 20px @latoMedium;
        color: #aabee5;
        text-transform: uppercase;
    }
}


.roster {
    &__row {
        .flex-container(row, space-between, center);
        width: 100%;
        flex-grow: 2;
    }

    &__left {
        width: 49%;
        min-width: 588px;
    }
    &__right {
        width: 49%;
        min-width: 588px;
    }
    &__info {
        .flex-container(row, space-between, center);

        height: 130px;
        padding: 16px 28px;
        box-sizing: border-box;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        color: @white;
        background: rgba(133, 203, 112, .75) url('/static/img/wizard/green-bg-roster.jpg') no-repeat center center;
        background-size: cover;
    }

    &__toolbar {
        .flex-container(row, space-around, stretch);
        height: 100%;
        margin-top: -15px;
    }
}


.roster-info-item {
    text-align: center;
    text-shadow: 0 0 5px rgba(128, 128, 128, .5);
    margin-bottom: 15px;
    color: @white;

    &__value {
        display: block;
        font: 300 24px @latoBlack;

        .total {
            color: @black;
        }

        &--error {
            color: @red;
        }

        &--small {
            font-size: 18px;
            margin: 13px 0 0;
        }
    }

    &__label {
        display: block;
        text-transform: uppercase;
        font: 300 10px @latoRegular;
    }
}


.wizard-schedule {
    .flex-container(row, flex-start, stretch);
    margin: 0 0 20px;
    width: 100%;

    &__all {
        width: 100px;
        min-width: 100px;
        border-radius: 3px;
        border: 1px solid #b4b8c2;
        overflow: hidden;
        text-align: center;
        margin: 0 20px 0 0;

    }
    &__all-top {
        border-bottom: 1px solid #b4b8c2;
        font: 300 12px @latoHeavy;
        height: 50%;
        box-sizing: border-box;
        text-align: center;
        background-color: @white;
        color: @black;
        padding: 3px 0 0;
    }
    &__games-size {
        font: 300 18px/18px @latoHeavy;
    }
    &__all-button {
        background-color: @white;
        border-radius: 3px;
        font: 300 12px @latoHeavy;
        color: @black;
        width: 90px;
        height: 30px;
        padding: 6px 0 0;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 auto;
        &--active {
            background-color: #3f4f86;
            color: @white;
        }
    }
    &__all-bottom {
        padding: 5px 0 0;
        height:50%;
        background-color: @white;
    }
    &__games {
        overflow-x: hidden;
        position: relative;
        border-radius: 3px;
    }
    &__games-wrap {
        overflow-x: scroll;
        white-space: nowrap;
    }
    &__icon-left,
    &__icon-right {
        position: absolute;
        top: 0;
        cursor: pointer;
        height: 40px;
        width: 30px;
        background-color: #4d68a7;
        padding: 11px 0 0 9px;
    }
    &__icon-left {
        left: 0;
    }
    &__icon-right {
        right: 0;
    }
}
.wizard-schedule-day {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    &__top {
        background-color: #4d68a7;
        height: 40px;
        font: 300 12px @latoHeavy;
        color: @white;
        text-transform: uppercase;
        padding: 12px 20px 12px 30px;
        border-right: 1px solid #344e89;
        box-sizing: border-box;
    }
    &__content {
        background-color: @white;
        padding: 4px 15px 4px 30px;
    }
    &__game {
        background-color: @white;
        display: inline-block;
        height:33px;
        width: 87px;
        font: 300 12px @latoRegular;
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, .2);
        margin-right: 15px;
        color: @black;
        cursor: pointer;
        text-align: center;
    }

    &__divider {
        display: inline-block;
        vertical-align: middle;
        background-color: #e2e2e2;
        width: 2px;
        height: 100%;
    }
    &__team {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 41px;
        padding: 8px 0 0 0;
        &--left {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &--right {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &--active,
        &:hover {
            background-color: #5c73c3;
            color: @white;
        }
    }
}


.wizard-filter {
    background-color: #40454f;
    padding: 20px 10px 20px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--tall {
        height: 130px;
    }

    &__buttons {
        .flex-container(row, space-between, center);
        margin: 0 0 10px;
    }
    .btn {
        margin-right: 5px;
    }
}


.wizard-table {

    .FlexTable__truncatedColumnText {
        width: 100%;
    }

    &__head {
        background-color: #e0e0e0;
        border-bottom: 1px solid #9a9b9b;
        padding: 0 10px;
    }
    &__head-cell {
        font: 300 10px @latoBlack;
        color: #5668a3;
        text-transform: uppercase;
        line-height: 40px;

        &--no-margin {
            margin-right: 0;
        }
    }
    &__row {
        padding: 0 10px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #e1e1e1;
        color: @black;
        transition: @transition;
        font: 300 12px @latoBlack;
        outline: none;
        &--filled {
            background-color: @white;
            color: #6c6f75;
        }
        &--empty {
            background-color: #34373b;
            color: #9b9a9a;
            font: 300 11px @latoMedium;
            border-bottom: 1px solid #808082;
            &:hover {
                background-color: #34373b;
            }
        }
        &--disabled {
            background-color: #e2e2e2;
            color: #9a9b9c;
        }
        &:hover {
            background-color: #485ca1;
            color: @white;
        }
    }
    &__row-cell {
        text-transform: uppercase;

        &--no-margin {
            margin-right: 0;
        }
    }
    &__salary-red {
        color: @red;
    }
}


.wizard-rounds {
    .flex-container(row, space-between, flex-start);
}


.selected-participants {
    width: 41%;

    &__top {
        background-color: #4eae63;
        border-radius: 3px;
        padding: 25px 20px;
    }
    &__title {
        font: 300 14px @latoBlack;
        opacity: .8;
        text-transform: uppercase;
    }
    &__empty {
        border-top: 1px solid #5e6877;
        border-bottom: 1px solid #5e6877;
        padding: 14px 0;
    }
    &__empty-inner {
        border-radius: 3px;
        padding: 40px 20px 10px;
        background-color: transparent;
        font: 300 14px @latoMedium;
        color: #c1c1c1;
        transition: @transition;
        height: 100px;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
            background-color: rgba(255,255,255, .05);
            color: #f2f2f2;
        }
    }
    &__filled {
        height: 120px;
        padding: 0 30px 0 0;
        transition: @transition;
        border: none;
        border-radius: 3px;
        background-color: @white;
        margin-bottom: 10px;
        cursor: pointer;
        .flex-container(row, space-between, center);
    }
    &__photo {
        display: inline-block;
        vertical-align: middle;
        margin: 0 30px 0 0;
        .player-photo {
            margin: 15px 0 0;
        }
    }
    &__name {
        display: inline-block;
        vertical-align: middle;
    }
    &__flag {
        margin: 20px 0 0;
        .flag-wrap {
            vertical-align: middle
        }
    }
    &__country {
        font: 300 12px @latoMedium;
        text-transform: uppercase;
        color: #a2a2a2;
        padding: 0 0 0 10px;
        display: inline-block;
        vertical-align: middle;
    }
}
