.wizard-legend {
    .flex-container(row, space-between, center);
    background: transparent;
    padding: 0;

    &__num {
        font: 300 50px @montserratBlack;
        color: @red;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    &__text {
        font: 300 20px @latoBlack;
        color: #e1e1e1;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1;
    }
}
