/** Import main styles **/
@import "./old-style";
@import "../landing/mixin";
@import "../landing/header";
@import "../landing/variables";
@import "../landing/buttons";
@import "../landing/atoms";
@import "../landing/popups";
@import "../landing/terms";

/** New css styles **/
.titleSection{
    padding-bottom: 30px;
    text-align:center;
    position:relative;
    z-index:2;
}
.titleSection.border {
    border-bottom: 1px solid #b16a83;
}
.titleSection.border-blue {
    border-bottom: 1px solid #2c7cd2;
}

.titleSection.border-purple {
    border-bottom: 1px solid #392b99;
}
.titleSection.border-grey {
    border-bottom: 1px solid #8f96a6;
}
.titleSection.top {
    position: absolute;
    top: 0;
    left: calc(50% - 57px);
}
.titleSection .icon{
    display:inline-block;
    margin-top:-32px;
    margin-bottom: 10px;
}
.title {
    font: 600 25px 'Open Sans';
    color:#ffffff;
    padding:7px 0 7px 0;
}
.title.white {
    color: #ffffff;
}
.title.blue {
    color: #1e344b;
}
.title.bold {
    font-weight: 600;
}



/** Content boxes **/

/*Home slider*/
.slider-item {
    background-size: cover !important;
    height: 710px;
}
.slider-item:nth-child(1) {
    background: url("/static/img/about/home/p1.jpg") no-repeat center center;
}
.slider-item:nth-child(2) {
    background: url("/static/img/about/home/p2.jpg") no-repeat center 0;
}
.slider-item:nth-child(3) {
    background: url("/static/img/about/home/p3.jpg") no-repeat center 0;
}
.slider-item:nth-child(4) {
    background: url("/static/img/about/home/p4.jpg") no-repeat center 0;
}

.boxSelling {
    background-image: linear-gradient(to right top, #27122A 0%, #72243C 42%, #AA4546 78%);
}
.selling-top {
    padding: 60px 0 110px 50px;
    margin: 0 auto;
}
.selling-top p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
}
.selling-bottom  {
    padding: 20px 0;
    max-width: 960px;
    margin: 0 auto;
}
.selling-titles{
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
}
.selling-title {
    position: relative;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 40px;
}
.selling-title:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 6px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}



.boxGames{
    background: radial-gradient(ellipse at center, #34526a 0%, #34526a 15%, #061e44 100%); /* w3c */
    min-width:320px;
    margin:0 auto;
    text-align:center;
}



.boxShowcase {
    position:relative;
}
.boxShowcase:after{
    content:".";
    display:block;
    height:0;clear:both;
    visibility:hidden;
}
.showcase-info {
    position: absolute;
    right: 10%;
    top: 35%;
    max-width: 700px;
    text-align: left;
}
.showcase-text {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 0 30px;
}
.showcase-item {
    background-size: cover!important;
    height: 840px!important;
}
.showcase-item:nth-child(1) {
    background: url("/static/img/about/showcase/showcase-1.jpg") no-repeat center center;
}
.showcase-item:nth-child(2) {
    background: url("/static/img/about/showcase/showcase-2.jpg") no-repeat center center;
}
.showcase-item:nth-child(3) {
    background: url("/static/img/about/showcase/showcase-3.jpg") no-repeat center center;
}




.boxPlatform {
    background: linear-gradient(to top, #fffffd, #cce3f5);
}
.platform-top {
    font-size: 20px;
    margin: 30px 0 40px;
}
.platform-title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px;
}
.platform-partners{
    text-align: center;
}
.platform-partners:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.platform-bottom {
    padding: 0 0 30px;
}
.platform-img {
    width: 33%;
    margin: 15px 0;
    display: inline-block;
    vertical-align: middle;
}



.games-content {
    padding: 0 0 30px;
}
.games-img-wrap {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}
.games-img-wrap img {
    max-width: 270px;
}
.games-img-wrap p {
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0 0;
}




.boxDevices {
    background: linear-gradient(to top, #fefefe, #dde3ef);
}
.device-img-wrap img{
    margin: 30px auto;
    display: block;
}



.boxAbout {
    background: linear-gradient(to top, #253b60,#041122);
}
.about-content {
    padding: 60px 0 110px 50px;
}
.about-content p{
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
}



/*Footer*/
.contacts {
    margin: 30px 0 0;
}
.contacts-info {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.contacts-img {
    display: inline-block;
    vertical-align: middle;
}
