html,
body,
.app-wrapper,
.app-wrapper__in,
.pageslide-body,
.segment,
.app {
    position: relative;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.pageslide-body {
  &.is-blocked {
    color: #000;
    opacity: .2;
  }
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: @primaryColor;
    font-size: 14px;
    line-height: 18px;
    font-smoothing: antialiased;
}

.app {
    position: relative;
    width: 100%;
    margin: 0;
    font-family: @regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    background: transparent url('/static/img/bg.png') 0 0 repeat;
    color: @primaryColor;
    line-height: 1.6;

    &__head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(35, 35, 35, 0.9);
        color: @white;
        z-index: 100;
    }
    &__container {
        position: relative;
        width: 100%;
        min-height: 1024px;
        padding: 15px 0 10px;
        background: transparent url('/static/img/mealow.jpg') top center no-repeat;
        &.guide {
            padding: 50px 0 10px;
        }
    }
    &__pre-content {
        .flex-container(row, flex-start, stretch);
        position: relative;
        height: 965px;
        background: transparent url('/static/img/mealow.jpg') top center no-repeat;
        z-index: 50;

        &_open {
            height: 1670px;

            .promo {
                position: absolute;
                bottom: 62px;
                right: 6px;
                width: 71%;
            }
        }
    }
    &__content {
        position: relative;
        margin: 0 auto;
        background: transparent;
        z-index: 60;
    }
    &__row {
        position: relative;
        padding: 15px 0 0;
        max-width: 1200px;
        min-width: 725px;
        margin: 0 auto 45px;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.top-0 {
            padding-top: 0;
        }
        &.bottom-0 {
            margin-bottom: 0;
        }
    }
    &__title-wrap {
        width: 100%;
        height: 60px;
        margin-top: 0;
        padding: 0;
        background: linear-gradient(to bottom, #0b252f, #021c26);
        border-top: 1px dashed @separator;
        border-bottom: 1px dashed @separator;
    }
    &__title {
        .flex-container(row, space-between, center);
        height: 60px;
        max-width: 1200px;
        margin: auto;
        font-family: @kelson;
        text-transform: uppercase;
        transition: all 0.4s ease-in-out;

        &_disabled {
            color: #744d3c;

            &:hover {
                color: lighten(#744d3c, 10);
            }
        }
        &.bottom-0 {
            margin-bottom: 0;
        }
        &.top-25 {
            margin-top: 25px;
        }
        &.hello {
            border: none;
            margin: 0;
            width: auto;
            padding: 0 40px;
            cursor: pointer;

            &.active {
                background: @bodyMedium;
            }
        }
    }
    &__foot {
        .flex-container(row, center, stretch);
        width: 100%;
        position: relative;
        height: 140px;
        background: #18242d;
        border-top: 1px dashed #ccc;
        z-index: 990;
    }

    &.login-page {
        .app__container {
            padding-top: 0;
            background: url('/static/img/auth-background.jpg') 0 -216px no-repeat;
        }
    }
    &.blocked {
        .flex-container(column, space-between, center);
    }

    // Adaptive
    @media (max-width: 1438px) {

        &__pre-content {

            &:before,
            &:after {
                background-size: 70%;
            }
            &:before {
                background-position: bottom left;
            }
            &:after {
                background-position: bottom right;
            }
        }
    }
    @media (max-width: 1200px) {
        &__content {
            padding: 0 10px;
        }
    }
    @media (max-width: 1026px) {

        &__pre-content {

            &:before,
            &:after {
                background-size: 50%;
            }
        }
    }
    @media (max-width: 770px) {

        &__title {
            padding-left: 18px;
        }
    }
    @media (max-height: 820px) {
        &.login-page {
            .app__container {
                padding-top: 0;
                background: url('/static/img/auth-background.jpg') 0 -370px no-repeat;
            }
        }
    }
}

.player-dash {
    position: relative;
    width: 100%;
    .flex-container(row, space-between, stretch);
    padding: 40px 0 0;
    margin: 0 0 14px;
    z-index: 20;

    &_games {

    }
    &_tutorial {

    }
}

.hole-by-hole,
.handicap-the-pros,
.five-ball,
.leaderboard,
.f-competition,
.challenge{

    .app__container {
        background: none;
    }
}

.segment {
    &.payment {
        .app__container {
            padding: 0 0 10px;
        }
    }
}
