.btn {
    position: relative;
    padding: 10px 22px;
    border: none;
    outline: 0 none;
    background-color: transparent;
    border-radius: 5px;
    font: 600 30px/1 @kelson;
    text-align: center;
    letter-spacing: 1px;
    color: @white;
    line-height: 1;
    cursor: pointer;

    &:hover,
    &:active {
        outline: none;
    }
    &__text {
        position: relative;
        display: block;
        line-height: 1;
        &.black {
            color: #241101;
        }
    }

    &:before,
    &:after,
    &__el {
        transition: all 0.3s ease-in-out;
    }
    img {
        max-width: 100%;
    }


    // Modifications
    &_square {
        padding: 0;
        border-radius: 0;
        min-width: 48px;

        .icon-bg {
            display: inline-flex;
            width: 48px;
            height: 48px;
            border-radius: 5px;
            box-shadow: 0 4px 11px -3px rgba(0,0,0, .7);

            .icon {
                margin: auto;
            }
        }
        .btn__text {
            margin: 8px 0 0;
        }
    }
    &_blue {

        .icon-bg {
            background: linear-gradient(to bottom, #33D2FF,#0083D0);
            border-bottom: 4px solid #0069A9;
        }
        &:hover,
        &:active {

            .icon-bg {
                background: linear-gradient(to bottom, #00daff, #009dfa);
                border-bottom: 4px solid #006fb3;
            }
        }
    }
    &_white {

        .icon-bg {
            background: linear-gradient(to bottom, #fffff4, #d9d9c6);
            border-bottom: 4px solid #9a9a8d;
        }

        &:hover,
        &:active {

            .icon-bg {
                background: linear-gradient(to bottom, #fffff5, #f0f0e6);
                border-bottom: 4px solid #acaca4;
            }
        }
    }
    &_red-linear {
        background: linear-gradient(to bottom, #ff824a, #f73000);
        border-left: 1px solid #dd6868;
        border-right: 1px solid #dd6868;
        border-bottom: 1px solid #a44d4d;
        text-shadow: 1px 2px 1px #b21b00;
        box-shadow: inset 0 -3px 0 #b12200;

        &:hover,
        &:active {
            background: linear-gradient(to top, #fe7345, #f72901);
        }
    }
    &_blue-linear {
        background: linear-gradient(to bottom, #1faaff, #0060d5);
        border: 1px solid;
        border-top-color: #2386e5;
        border-left-color: #106dca;
        border-right-color: #106dca;
        border-bottom-color: darken(#426793, 15);
        text-shadow: 1px 2px 1px #054277;
        box-shadow: inset 0 -3px 0 #004498;

        &:hover,
        &:active {
            background: linear-gradient(to top, #198bf1, #006ad8);
        }
    }
    &_green-linear {
        background: linear-gradient(to bottom, #5bde00, #0ca200);
        text-shadow: 1px 2px 1px #067400;
        box-shadow: inset 0 -3px 0 #067300;

        &:hover,
        &:active {
            background: linear-gradient(to top, #59dc00, #0ca200);
        }
    }
    &_green {
        background: @green;
        color: @black;

        &:hover,
        &:active {
            background: lighten(@green, 5);
        }
    }
    &_orange-linear {
        background: linear-gradient(to bottom, #ffc129, #f57c00);
        text-shadow: 1px 2px 1px darken(#f08300, 10);
        box-shadow: inset 0 -3px 0 #b05700;

        &:hover,
        &:active {
            background: linear-gradient(to top, #faac04, #f08300);
        }
    }
    &_orange {
        background: linear-gradient(to bottom, #ffc129, #f57c00);
        text-shadow: 1px 2px 1px darken(#f08300, 10);
        box-shadow: inset 0 -3px 0 #b05700;

        &:hover,
        &:active {
            background: linear-gradient(to top, #faac04, #f08300);
        }
    }
    &_white-linear {
        background: linear-gradient(to bottom, #fef8ee, #d4cabb);
        text-shadow: 1px 2px 1px #ffffff;
        box-shadow: inset 0 -3px 0 #978f85;
        color: #004f88;

        &:hover,
        &:active {
            background: linear-gradient(to top, #fef8ee, #d4cabb);
            color: #204b70;
        }
    }
    &_azure-linear {
        background: linear-gradient(to bottom, #00c7ff, #0085e1);
        text-shadow: 1px 1px 1px #0056b8;
        box-shadow: inset 0 -3px 0 #005da0;
        border: 1px solid;
        border-top-color: #00c7ff;
        border-right-color: #0097ed;
        border-left-color: #0097ed;
        border-bottom-color: #005da0;

        &:hover,
        &:active {
            background: linear-gradient(to bottom, #0085e1, #00c7ff);
        }
    }
    &_red-social {
        background: linear-gradient(to bottom, #df412f, #dd201d);
        border-radius: 1px;
        border-top: 2px solid #f1694a;
        text-shadow: 1px 1px 1px #ad1d1a;
        flex-basis: 24.7%;
        .flex-container(row-reverse, center, center);

        .icon {
            margin-left: 10px;
        }

        &:hover,
        &:active {
            background: linear-gradient(to bottom, #dd201d, #df412f);
        }
    }
    &_round {
        padding: 5px 15px;
        background-color: #1b3c5a;
        border-radius: 0;
        font: 300 15px @regular;
        color: @white;
        text-transform: uppercase;
        margin: 0 1px 0;
        .btn__text {
            .flex-container(row, space-between, center);
        }

        &:hover {
            background-color: #0c5a99;
        }
    }


    // Font families and font sizes
    &_regular {
        font-family: @regular;
        text-transform: none;
        letter-spacing: normal;
        text-shadow: none;
    }
    &_roboto {
        font-family: @roboto;
    }
    &_small {
        font-size: 10px;
        font-weight: 300;
    }
    &_x-small {
        font-size: 15px;
    }
    &_medium {
        font-size: 18px;
    }
    &_x-medium {
        font-size: 25px;
    }
    &_x-medium-bold {
        font: 600 25px @kelson;
    }
    &_big {
        font-size: 30px;
    }
    &_x-big {
        font-size: 40px;
    }
    &_uppercase {
        text-transform: uppercase;
    }

    // Sizes and with other elements
    &_high {
        padding-top: 14px;
        padding-bottom: 13px;
    }
    &_m-high {
        padding: 12px 22px;
    }
    &_x-high {
        padding-top: 22px;
        padding-bottom: 21px;
    }
    &_low {
        padding: 6px 10px 7px;
    }
    &_block {
        width: 100%;
    }
    &_with-icon {

        .btn__text {
            display: inline-block;
        }
    }
    &_pad-0 {
        padding: 0;
    }
    &_wide {
        padding-left: 85px;
        padding-right: 85px;
    }
    &_left-radius {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &_right-radius {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &_offset-sides {
        margin: 0 10px;
    }


    // States
    &_not-active {
        background-color: #5a514f !important;
        box-shadow: inset 0 -3px 0 #413a39;
        color: #968884 !important;
        cursor: default;
        pointer-events: none;
    }
    &_disabled {
        cursor: default;
        pointer-events: none;
        .icon-bg {
            border: none;
            box-shadow: none;
            background: #155187;
            .icon-pencil-disabled {
                margin: auto 5px 12px 13px;
            }
        }
        &:hover {
            .icon-bg {
                background: #155187;
                border-bottom: none;
            }
        }
    }
    &_blink {
        animation: blink 1s 1 linear;
    }
    &_active {
        background: linear-gradient(to bottom, lighten(#ffb008, 10), darken(#f79306, 10));
        color: #241101;

        &:hover {
            color: #241101;
        }
    }


    // Not typical
    &_stake {
        min-width: 180px;
        padding: 6px 10px 10px;
        font-weight: 600;
        font-size: 35px;
        font-family: @regular;
        .flex-container(row, center, center);

        .icon {
            background-size: 90%;
            margin: 0 5px;
        }
        .icon-dollars {
            background-position: 0 0;
            width: 23px;
            height: 29px;
        }
        .icon-tokens {
            background-position: 0 0;
            width: 25px;
            height: 27px;
        }
        .btn__text {
            display: inline-block;
        }
    }
    &_select {
        margin-left: 5px;
        padding: 0;
        text-align: center;

        .icon {
            margin: 0 0 5px;
        }

        &:hover,
        &:active {

            .icon-golf_ball {
                color: @white;
            }
        }
    }
    &_close {
        height: 30px;
        width: 30px;
        padding: 0;
        background-color: #cccccc;
        font-size: 12px;
        font-weight: normal;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: white;

        &:hover,
        &:active {
            background-color: #cccccc;
            color: white;
        }
        .icon-close {
            font-size: 1em;
        }
    }

    //  Social
    &_blue-linear-facebook,
    &_red-linear-google,
    &_grey-linear-twitter {
        min-height: 50px;
        padding: 0 10px 0 0;
        .btn__text,
        .icon {
            position: absolute;
            top: 0;
            height: 100%;
        }
        .btn__text {
            left: 0;
            width: 82%;
            padding-left: 20px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            .flex-container(row, center, center);
            transition: all 0.3s ease-in-out;
        }
        &:hover,
        &:active {
            .btn__text {
                width: 100%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .icon {
                width: 0;
            }
        }
    }
    &_blue-linear-facebook {
        background: linear-gradient(to bottom, #0f9de3, #004faa);
        border: 1px solid;
        border-left-color: #106dca;
        border-right-color: #106dca;
        border-top-color: #2386e5;
        border-bottom-color: darken(#426793, 15);
        text-shadow: 1px 2px 1px #054277;
        box-shadow: inset 0 -3px 0 #004498;

        .btn__text {
            background: linear-gradient(to bottom, #0fb4ff, #006ada);
            box-shadow: inset 0 -3px 0 #004a9b;
        }
        .icon {
            right: 22px;
        }
    }
    &_red-linear-google {
        background: linear-gradient(to bottom, #fa5500, #cc0800);
        border-left: 1px solid #dd6868;
        border-right: 1px solid #dd6868;
        text-shadow: 1px 2px 1px #b21b00;
        box-shadow: inset 0 -3px 0 #920400;

        .btn__text {
            background: linear-gradient(to bottom, #ff824a, #f73000);
            box-shadow: inset 0 -3px 0 #b12200;
        }
        .icon {
            right: 13px;
        }
    }
    &_grey-linear-twitter {
        background: linear-gradient(to bottom, #939fa7, #48565f);
        border-bottom: 1px solid #474d51;
        text-shadow: 1px 2px 1px #a4a6a8;
        box-shadow: inset 0 -3px 0 #323b42;

        .btn__text {
            background: linear-gradient(to bottom, #afb5ba, #676e75);
            box-shadow: inset 0 -3px 0 #484e52;
        }
        .icon {
            right: 13px;
        }
    }
    &_delete {
        background: linear-gradient(to bottom, #fffefd, #dcd2cf);
        box-shadow: inset 0 -3px 0 #9e9694;
        border: 3px solid #ee2308;
        color: #ee2308;

        &:hover,
        &:active {
            transition: all 0.3s ease-in-out;
            background: linear-gradient(to top, #dcd2cf, #fffefd);
            border: 3px solid #142b3f;
            color: #142b3f;
        }
    }

    &_facebook,
    &_google {
        height: 35px;
        padding: 0;
        text-transform: none;
        font: 400 18px @regular;
        letter-spacing: normal;
        border-radius: 5px;
        overflow: hidden;

        .btn__text,
        .icon {
            position: absolute;
            top: 0;
            height: 100%;
        }
        .btn__text {
            right: 0;
            width: 70%;
            .flex-container(row, center, center);
            transition: all 0.3s ease-in-out;
        }
        .icon {
            left: 17px;
        }
        &:hover,
        &:active {
            .btn__text {
                width: 100%;
            }
            .icon {
                width: 0;
            }
        }
    }
    &_facebook {
        background: #2652ac;
        color: @white;

        .btn__text {
            background-color: #2e5ec1;
            text-shadow: 0 -1px 1px #444;
            color: @white;
        }
        &:hover,
        &:active {
            box-shadow: inset 0 0 8px #203b71;
        }
    }
    &_google {
        background: #ff3d3e;
        color: #ffffff;

        .btn__text {
            background-color: #ff3d3e;
            text-shadow: 0 -1px 1px #ffc3c3;
        }
        .icon {
            left: 5px;
        }
        &:hover,
        &:active {
            color: #ffffff;
        }
    }
    &_sidemenu {
        display: inline-flex;
        width: 46px;
        height: 42px;
        padding: 0;

        .btn__text {
            display: none;
        }
        .icon {
            margin: auto;
            width: 24px;
            height: 20px;
            background-size: 24px 19px;
        }
        &:hover {
            .icon {
                transform: scale(1.15);
                transition: all .1s ease-out;
            }
        }
    }
    &_sidebar {
        display: inline-flex;
        height: 43px;
        padding: 0;
        border-radius: 0;
        flex-basis: 15%;
        width: 15%;
        background: #1c2b36;
        border-bottom: 4px solid #17232c;

        .btn__text {
            display: none;
        }
        .icon {
            margin: auto;
            height: 22px;
            width: 20px;
            background-position: -1px 0;
        }
        &:hover {
            .icon {
                transform: scale(1.15);
                transition: all .1s ease-out;
            }
        }
    }
    &_games-vertical,
    &_games-horizontal {
        position: relative;
        width: 50px;
        height: 50px;
        padding: 0;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(to bottom, #79a5ec, #2b5aba);
        box-shadow: inset 0 -13px 0 0 #1c48a3;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &.active {
            background: rgba(255, 255, 255, 1);
            box-shadow: inset 0 -13px 0 0 #8497c2;

            &:hover {
                background: @white;
                box-shadow: inset 0 -13px 0 0 #9fb5e9;
            }
        }
        &:hover {
            background: rgba(255, 255, 255, 0.6);
            box-shadow: inset 0 -13px 0 0 rgba(255, 255, 255, .2);
        }
    }
    &_games-vertical {
        border-bottom-left-radius: 0;
        border-left: 1px solid #000000;

        &:before {
            width: 30px;
            height: 10px;
            margin-left: -15px;
            margin-top: -5px;
            background-color: @white;
        }

        &.active {
            &:before {
                background: #4673cc;
            }
        }
    }
    &_games-horizontal {
        border-bottom-right-radius: 0;
        border-right: 1px solid #000000;

        &:before {
            transform: rotate(90deg);
            width: 14px;
            height: 30px;
            margin-left: -7px;
            margin-top: -15px;
            background-image: linear-gradient( #ffffff 8px, transparent 0);
            background-size: 100% 11px;
        }
        &.active {
            &:before {
                background-image: linear-gradient( #4673cc 8px, transparent 0);
            }
        }
    }



    // Controls
    &-inline {
        width: 100%;
        .flex-container(row, space-between, stretch);
        margin: 0 0 0 -15px;

        .btn {
            flex-grow: 1;
            margin-left: 15px;
        }
    }
    &-row {
        margin: 20px 0;
    }

    // Adaptive
    @media (max-width: 1024px) and (max-height: 820px) {
        &_facebook,
        &_google {
            margin: 2px 0;

            .btn__text {
                width: 80%;
            }
        }

    }
    @media (max-width: 1024px) {
        &_x-medium {
            font-size: 22px;
        }

        &_blue-linear-facebook,
        &_red-linear-google,
        &_grey-linear-twitter {

            .btn__text {
                width: 72%;
            }
        }
    }
    @media (max-width: 780px) {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px;

        &_square {
            padding: 0;
        }
        &_small {
            font-size: 10px;
        }
        &_x-small {
            font-size: 12px;
        }
        &_facebook,
        &_google {
            font-size: 13px;
        }
        &_stake-usd,
        &_stake-token {
            font-size: 30px;
        }
    }
}

.abbr {
    cursor: pointer;
    color: #1482c8;
    border-bottom: 1px dashed #1482c8;
    text-decoration: none;
}
