.foot {
    width: 100%;
    padding: 10px 20px;
    .flex-container(column, space-between, center);
    color: @white;

    &__col {
        max-width: 1200px;
        .flex-container(row, space-between, center);

        &.logos {
            width: 50%;
        }
    }
    &__nav {
        flex-grow: 2;
        padding: 0 0 0 20px;
        font: 400 15px/1 @regular;

        span {
            margin: 0 30px 0 0;
            text-decoration: none;
            color: @white;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__logo {
        .logo {
            &__el {
                width: 90px;
            }
        }
    }
    &__fsta {
        img {
            max-width: 80px;
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        &__nav {
            font-size: 11px;
        }
    }
}
