.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    &__row {
        margin: 0 auto;
        max-width: 1200px;
        position: relative;
        .clearfix();
    }
    &__top {
        background-color: #0d121e;
        height: 50px;
    }
    &__bottom {
        height: 45px;
        background-color: #121b2d;
        border-top: 1px solid #1f2739;
        border-bottom: 1px solid #1f2739;
    }
    &__logo {
        display: inline-block;
        vertical-align: middle;
        width: 17%;
        margin: 9px 0 0;
    }
    &__menu {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #626b72;
        padding: 15px 30px;
        transition: all .3s ease-in-out;
        font: 300 11px @latoBlack;

        &:hover,
        &:active {
            color: @white;
        }
    }
    &__drop-link {
        font: 300 11px @latoBlack;
        text-decoration: none;
        text-transform: uppercase;
        color: #a1a9af;
        border-radius: 3px;
        border: 1px solid #252b40;
        background-color: #1b2130;
        padding: 9px 10px 9px 20px;
        transition: all .3s ease-in-out;
        &:hover,
        &:active {
            background-color: #181e2c;
            border-color: #252b40;
            color: #40454f;
        }
        .icon {
            margin: 0 0 0 5px;
        }
    }
    &__left {
        width: 16%;
        display: inline-block;
    }
    &__user-info {
        float: right;
        width: 41%;
    }
    &__games-list {
        .clearfix();
        display: inline-block;
        height: 100%;
    }
    &__games-item {
        float: left;
        transition: all .3s ease-in-out;
        display: block;
        height: 43px;
        padding: 0 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #626b72;
        font: 600 11px @latoBlack;
        text-align: center;
        line-height: 43px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        &:hover,
        &:active {
            color: @white;
            background-color: #162138;
            border-bottom: 2px solid #bd2f2f;
        }
        &--active {
            color: @white;
            background-color: #162138;
            border-bottom: 2px solid #bd2f2f;
        }
        &--drop {
            background-color: #0d121e;
            border-bottom: 1px solid #252b40;
            border-left: 2px solid transparent;
            width: 100%;
            &:hover,
            &:active {
                background-color: #232938;
                border-left: 2px solid #bd2f2f;
                border-bottom: 1px solid #252b40;
            }
        }
    }
}


.dropdown-menu {
    display: inline-block;
    position: relative;

    &__submenu {
        position: absolute;
        top: 30px;
        z-index: 100;
        border-radius: 3px;
        border: 1px solid #252b40;
    }
}
