.container(@max-width: 1200px) {
    min-width: 760px;
    max-width: @max-width;
    margin: 0 auto;
}

.item () {
    height: 90px;
    margin: 2px 0 3px;
    border-top: 2px solid lighten(#0e5f8f, 10);
    background: linear-gradient(to bottom, #0d5480, #06335e);

    &.active {
        border-top-color: #ffdd0d;
        background: linear-gradient(
                to bottom,
                lighten(#ffb008, 10),
                darken(#f79306, 10)
        );
        font-weight: 600;
        color: @brown;
        text-shadow: 1px 1px 0 #EAA527;

        .dollars,
        .tokens {
            color: @brown;
            text-shadow: 1px 1px 0 #EAA527;
            &__symb {
                color: @brown;
                text-shadow: 1px 1px 0 #EAA527;
            }
        }
        .countdown {
            color: @brown;
            text-shadow: 1px 1px 0 #EAA527;
        }

        &:hover {
            border-top-color: #ffdd0d;
            background: linear-gradient(
                    to bottom,
                    lighten(#ffb008, 10),
                    darken(#f79306, 10)
            );
        }
    }
    &.label {
        background-color: #17505b;
        .profile.two-golfers,
        .multi-profile .profile {
           background-color: #206876;
        }
    }
}

.item-dark (){
    .item();
    background: #142c41;
    border-top: none;

    &.active {


        &.multi-profile {
            background: #142c41;
        }
    }
    .five-ball {
        text-shadow: none;
        color: @white;
    }
    .game-settings {
        text-shadow: none;
        color: @white;
    }

}

.header (){
    width: 100%;
    height: 50px;
    border-top: none;
    background: #101b23;
    text-transform: uppercase;
    color: #526d80;

    section {
        justify-content: center;
    }
}
