.custom-table {

    .fixedDataTableCellLayout_main {
        border: none;
    }
    &__row {
        background: #1b3c5a;
        color: @white;
        font: 600 12px @regular;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background:#0c5a99;
        }
        &--disabled {
            cursor: default;
            color: @gray;
        }
        &--active {
            background: linear-gradient(to bottom, lighten(#ffb008, 10), darken(#f79306, 10));
            color: @brown;
            &:hover {
                background: linear-gradient(to bottom, lighten(#ffb008, 10), darken(#f79306, 10));
            }
        }
        &--selected-row {
            background:#0c5a99;
        }
    }
    &__head {
        background-color: #0b1c2e;
        text-transform: uppercase;
        padding-left: 10px;
        border-top: 2px solid @black;
        border-bottom: 2px solid @black;
        a {
            color: @white;
            font: 600 11px/1.3 @regular;
            text-decoration: none;
        }
        &--sorting {
            cursor: pointer;
        }
    }
    &__head-content {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1px;
    }
    &__cell {
        padding-left: 10px;
        border-top: 1px solid @black;
        border-bottom: 1px solid @black;
    }
}
