.game-table {
    .flex-container(row, space-between, stretch);
    position: relative;
    height: 100px;
    margin: 1px 0;
    padding: 0;
    background-color: @baseRowBackground;

    &__buttons {
        .flex-container(row, center, center);
        position: relative;
        width: 100px;
        padding: 0;
        transition: width .3s ease-in-out;
        overflow-x: hidden;
        .btn {
            margin: 0 5px 0 0;
        }
        &--open {
            width: 20%;
        }
    }
    &__players {
        position: relative;
    }
    &__data {
        position: relative;
    }
    &__challenge {
        .flex-container(row, flex-start, center);
        width: 330px;
        padding: 0 50px 0 0;
        box-sizing: content-box;
    }
    &__opponent {
        .flex-container(row, space-between, center);
        position: relative;
        background-color: #4e73c7;
        height: 100px;
        width: 230px;
        padding: 15px 5px 15px 20px;
        &:after {
            content: '';
            position: absolute;
            right: -51px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 100px 52px 0 0;
            border-color: #4e73c7 transparent transparent transparent;
        }
        &.expired {
            background-color: #8a8f96;
            &:after {
                border-color: #8a8f96 transparent transparent transparent;
            }
        }
    }

    // Table Modifications
    &--text-up {
        text-transform: uppercase;
    }
    &--header {
       .header();
    }
    &--entryfee {
        font-size: 12px;
        font-weight: 600;
    }
    &--nfl{
        padding: 0 10px 0 35px;
        min-width: 1050px;
        &:hover {
            background-color: @baseRowBackground;
        }
    }
    &--golf {
        padding:0 35px 0 20px;
    }
    &.golf {
        padding: 0 35px 0 0;
    }
}


.room-status-icon {
    .flex-container(column, center, center);
    width: 100px;
    height: 100px;
    min-width: 100px;
    font: 300 12px @latoMedium;
    color: @white;
    text-transform: uppercase;

    img {
        margin: 0 10px 0;
    }

    &--not-started {
        background: #ffc664;
    }

    &--full {
        background: #ffc664;
    }

    &--started {
        background: #bd2f2f;
    }

    &--finished {
        background: #85cb70;
    }
}
