.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background: rgba(120, 120, 120, 0.6);
    z-index: 1005;
}

.popup {
    top: 42% !important;
    overflow: visible !important;
    color: #5f5f5f;

    &__dialog {

    }
    &__close {
        position: absolute;
        top: -8px;
        right: -8px;
        cursor: pointer;
        z-index: 999;
    }
    &__close-btn {
        display: block;
        width: 25px;
        height: 25px;
        background-color: #000;
        border: 2px solid @white;
        text-align: center;
        color: @white;
        line-height: 1.4;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: -1px 1px 1px 1px lighten(#444, 10);

        .icon-close {
            font-size: 0.9em;
            cursor: pointer;
        }
    }

    &__content {
        position: relative;
    }
    &__header {

    }
    &__title {
        font-family: Arial;
        font-weight: bold;
        color: #5f5f5f;
    }
    &__body {

        p {
            line-height: 1.5;
        }
    }
    &__footer {

    }
    .icon-info {
        cursor: default;
    }

    @media screen and (min-width: @screen-tablet) {

        &__dialog {
            width: 480px;
        }
    }
}

.blue-popup {
    .flex-container(row, center, center);
    padding: 20px;
    border: 5px solid #2771d7;
    border-radius: 3px;
    background-color: lighten(#2781ff, 5);
    font: 700 200%/1.6 @kelson;
    text-shadow: 1px 1px 1px #1b5fbe;
    color: @white;

    &_right-arrow {

        &:before {
            right: -53px;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before {
            border-color: rgba(39, 113, 215, 0);
            border-left-color: #2771d7;
            border-width: 27px;
            margin-top: -26px;
        }
    }
}

.flash-popup {

    &__msg {
        font-family: @kelson;
        font-size: 25px;
        line-height: 1.3;
        margin: auto;
        padding: 20px;
    }
    .btn_white-box {
        position: absolute;
        top: 5px;
        right: 5px;
        min-width: 38px;
        margin: 10px;
        padding: 0 !important;
    }
    .game-embed {
        overflow-y: hidden;
        top: 30%;
        color: @white;

        &__body {
            padding: 0 !important;
            .flex-container(row, center, flex-start);
        }
        &__dialog {
            width: 550px;
        }
        &__content {
            height: 250px !important;
        }
        &__close {

            .ui-close {
                position: absolute;
                top: -5px;
                left: 50%;
                margin-left: -48px;
            }
        }
    }

    &.big {
        .game-embed {
            top: 0;

            &__content {
                height: 100% !important;
            }
            &__dialog {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.small-popup {

    .game-embed {
        overflow-y: hidden;
        top: 30%;

        &__dialog {
            width: 550px;
        }
        &__content {
            height: 250px !important;
        }
        &__close {

            .ui-close {
                position: absolute;
                top: -6px;
            }
        }
    }
    .title {
        margin-top: 0;
    }
    .stroke {
        margin-bottom: 20px;
    }
    .btn-inline {
        margin-bottom: 0;
    }
}

.game-embed {

    &__content {
        border: 3px solid #3f85a9;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__dialog {
        padding-top: 15px;
        padding-bottom: 15px;
        max-width: 580px;
    }
    &__close {
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 200;

        .btn {
            margin: auto;
            display: block;
        }
    }
    &__body {
        z-index: 100;
    }

    // Adaptive
    @media (min-width: 1020px) {

        &__dialog {
            width: 580px;
        }
    }
    @media (min-width: 760px) and (max-width: 1020px) {

        &__dialog {
            width: 750px;
        }
    }
}

.dark-embed {

    .game-embed {

        &__content {
            background-color: #091018;
        }
    }
}

.change-pass {
    .game-embed {

        &__body {
            padding: 15px 25px;
        }
        &__dialog {
            width: 450px;
        }
        .ui-input {
            margin: 20px 0;
        }
        .title {
            margin: 10px 0 15px;
        }
        .btn-inline {
            margin: 15px 0 0;
            .btn {
                width: 49%;
                margin: 0;
                flex-grow: inherit;
            }
        }
    }
}

.popup-container {
    z-index: 200;
    width: 100%;
    .flex-container(row, center, center)
}

.common-dialog {
    .flex-container(column, start, start);
    background: #ffffff;
    border-radius: 3px;
    padding: 20px;

    &--no-pad {
        padding: 0;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    &__action-bar {
        margin-top: 10px;
        .flex-container(row, space-around, start)
    }
    .btn-inline {
        .flex-container(row, space-between, center);
        padding: 10px ;
        margin: 10px 0;
        .btn {

        }
    }
}

.reset-password-dialog {
    min-width: 280px;

    &__input {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.finish-registration-dialog {
    .flex-container(column, start, start);

    &__element {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__label {
        color: @black!important;
    }

    &__link {
        text-decoration: none;
    }
}

.account-exists-dialog {
    &__password {
        margin-top: 10px;
    }
}
