.prizes-distribution {
    background-color: #f6f6f6;
    height: 578px;
    position: relative;
    padding: 0 0 100px 0;
    border-radius: 3px;
    &--table-full {
        padding: 0 0 10px 0;
    }

    &__entries-wrap {
        .flex-container(row, space-between, flex-start);
        padding: 20px 30px 0;
    }
    &__games-count {
        color: #4d68a7;
        font-family: @latoBlack;
    }
    &__max {
        color: @black;
        font-family: @latoBlack;
    }
    &__entry {
        font-size: 22px;
        text-align: right;
    }
    &__entry-title {
        font-family: @latoBlack;
        font-size: 8px;
        color: #8a8e94;
        text-transform: uppercase;
    }
    &__table-wrap {
        overflow-y: auto;
        height: 403px;
        &--table-full {
            height: 500px;
        }
    }
    &__table {
        width: 100%;
        font-weight: 400;
        border-collapse: collapse;
    }
    &__head {
        font: 300 12px @latoBlack;
        text-align: center;
        color: @blueFont;
        text-transform: uppercase;
        border-bottom: 1px solid #c5c5c5;
    }
    &__btn {
        text-align: center;
        padding: 19px 0 0 0;
        height: 100px;
        background-color: #f6f6f6;
        border-top: 1px solid #c5c5c5;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__money {
        font-size: 22px;
    }
    &__cell-left {
        font-size: 12px;
        font-family: @latoBlack;
        text-transform: uppercase;
        width: 70%;
        padding: 26px 0 26px 30px;
    }
    &__cell-right {
        width: 30%;
        padding: 26px 30px 26px 0;
        text-align: right;
    }

    th,
    td {
        vertical-align: middle;
        line-height: 1;
    }
    th {
        padding: 20px 20px 20px;
    }
    td {
        color: @black;

        &.red {
            color: @red;
        }
    }

    // Adaptive
    @media (max-width: 770px) {

        &__head {
            font-size: 16px;
        }
        &__content {
            font-size: 12px;
        }
    }
}
