.table-header {
    .flex-container(row, space-between, stretch);
    position: relative;
    width: 100%;
    padding: 8px 0;
    text-transform: uppercase;
    text-align: center;
    font: 600 12px @latoMedium;
    background-color: @tableHeadBackground;
    color: @blueFont;

    &.big {
        .flex-container(row, flex-start, center);
        height: 50px;
    }

    &__item {
        cursor: pointer;
        text-align: left;
        padding:0 10px;
    }
}
