.ui-input{
    position: relative;

    &__in {
        position: relative;
    }
    &__label{
        color: @white;
        display: block;
        margin: 0 0 5px 0;

        &--theme-black {
            color: @black;
        }
    }
    &__el{
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0 10px;
        outline: 0 none;
        background-color: @white;
        border: none;
        font: 300 12px/1.4 @latoMedium;
        text-transform: uppercase;
        box-sizing: border-box;
        border-radius: 3px;
        color: #9d9d9d;
        transition: all .3s ease-in-out;

        &.error-value {
            box-shadow: 0 0 0 2px #d90f13;
            .input(#d90f13);
        }
        &.success-value {
            box-shadow: 0 0 0 2px #2bd910;
        }
        &.dark {
            height: 50px;
            background-color: #011320;
            box-shadow: none;
            border: 3px solid #142b3f;
            outline: none;
            color: #0ad35f;
            .input(#0ad35f);
            &:focus {
                border-color: #2c5f8b;
                outline: none;
                box-shadow: none;
            }
        }
        &.offset {
            margin: 0 0 10px;
        }
        &.big {
            font-size: 25px;
            font-weight: 600;
        }
        &:focus {
            border-color: transparent;
            outline: none;
        }
    }
    &__hint,
    &__error,
    &__pass-forgot {
        margin: 10px 0 0;
        width: 100%;
        font: italic 400 12px/1 @regular;
        color: @white;
    }
    &__hint {
        text-align: right;
        color: @white;
    }
    &__error {
        text-align: left;
        color: @red;
    }
    &__pass-forgot {
        text-align: right;
        cursor: pointer;
        color: @white;
    }
    &__success {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
    &__loader {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
    .icon {
        position: absolute;
        right: 10px;
        bottom: 5px;
    }

// modifications
    &.offset {
        margin: 0 0 10px;
    }
}

.ui-input-message {
    position: absolute;
    top: 0;
    left: -180px;
    z-index: 999;
    opacity: 1;
    padding: 10px;
    width: 160px;
    height: auto;
    border-radius: 4px;
    background: #F1E6DC;
    color: #000000;
    font-size: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    &__arrow {
        position: absolute;
        right: -18px;
        top: 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent #F1E6DC;
    }

//    modifications
    &.checkbox {
        top: 6px;
        left: -192px;
        width: 170px;
    }
}

.ui-checkbox{
    .flex-container(row, flex-start, center);
    margin: 5px 1px;
    line-height: 1;

    input[type=checkbox]{
        &.ui-checkbox__el{
            margin: 0 10px 0 0;
            cursor: pointer;
            min-width: 17px;
            height: 17px;

            &:focus,
            &:active{
                outline: none;
            }
        }
    }
    &__label {
        margin: 0 0 0 5px;
        font: 300 12px @regular;
        color: @white;
        cursor: pointer;
        .flex-container(row, space-between, center);
        &.big {
            font-size: 15px;
        }
    }
}

.ui-form {
    width: 100%;
    .flex-container(row, flex-start, center);
}

.ui-label {
    font: 600 11px @regular;

    &.inline {
        text-align: right;
        display: inline-block;
    }
    &.left {
        margin-right: 15px;
    }
    &.text-up {
        text-transform: uppercase;
    }
}

.ui-select {
    position: relative;

    &__el {
        width: 100%;
        margin: 0 0 10px;
        height: 30px;
        -webkit-appearance: menulist-button;
        outline: none;
        border: none;
        border-radius: 3px;
    }
    &__hint {
        position: absolute;
        bottom: -10px;
        right: 3px;
        width: 100%;
        font: italic 400 12px/1 @regular;
        color: @white;
        text-align: right;
    }
    input {
        appearance: none;
    }
    &_row {
        width: 49%;
    }
}

.ui-close {
    display: inline-block;
    padding: 8px;
    background: transparent;
    text-decoration: none;

    &--light {
        color: #c0c0c0;
    }

    &--dark {
        color: @primaryColor;
    }
}

.button-group {
    .flex-container(row, space-between, center);

    &__btn {
        margin-right: 5px;
    }
}

.error-message {
    margin-top: 10px;
    margin-bottom: 10px;
    &__text {
        color: red;
    }
}

.ui-checkbox-circle{
    cursor: pointer;

    input[type=checkbox]{
        display: none;
    }
    &__label {
        transition: all .2s ease-out;
    }
    &__block {
        position: relative;
        width: 90px;
        min-width: 90px;
        height: 30px;
        border: 1px solid #3fa9f5;
        border-radius: 20px;
        background: #3fa9f5;
        cursor: pointer;

        &--checked {
            background: transparent;
            border-color: @red;
        }
    }
    &__circle {
        position: absolute;
        left: 1px;
        top: 2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #0083c4;
        transition: all .2s ease-out;

        &--checked {
            left: 62px;
            background: @red;
        }
    }
    &__text {
        position: absolute;
        font: 300 10px @latoBlack;
        color: @black;
        opacity: .6;
        text-transform: uppercase;
        left: 32px;
        top: 6px;

        &--checked {
            top: 6px;
            left: 15px;
            color: lighten(@red, 20%);
        }
    }
}
